<MDCard Class="mb-4 pb-3">

    @if (string.IsNullOrWhiteSpace(Model.MainPicture) == false)
    {
        <img src="@Model.MainPicture" alt="@Model.Name" style="width:100%">
    }
    <div class="ps-3 pe-3 ">
        <div class="pt-4 pb-3">
            <h1 class="fw-bold text-center h3">@Model.Name</h1>
        </div>
        <span class="text-truncate-4" style="white-space: pre-line;">
            @Model.BriefIntroduction
        </span>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="mt-3">
                    <ExtraButtonCard Model="Model" StateChanged="StateChanged" />
                </div>
            </Authorized>
        </AuthorizeView>
    </div>


</MDCard>

@code {
    [Parameter]
    public LotteryViewModel Model { get; set; }
    [Parameter]
    public EventCallback StateChanged { get; set; }

}
