

@if (Model.Any(s => s.Users.Any()))
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="中奖用户" Icon="@IconType.Users.ToIconString()" Class="mb-4" Outline Collapable>
        @foreach (var item in Model.Where(s => s.Users.Any()))
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@item.Name" Icon="@IconType.Gift.ToIconString()" Class="mb-4" Outline Small Collapable>
                <div class="row">
                    @foreach (var infor in item.Users)
                    {
                        <div class="col-12 col-md-6 col-lg-12 mb-4">
                            <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Users.InfoCard Model="infor" Small Class="w-100" ShowOnlyOneRank />
                        </div>
                    }
                </div>
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
        }

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
}

@code {
    [Parameter]
    public List<LotteryAwardViewModel> Model { get; set; }
}
