
<div class="introduce-card">
    <div class="title-card">@Model.Name</div>
    @if (string.IsNullOrWhiteSpace(Model.BriefIntroduction) == false)
    {
        <div class="content-card">@Model.BriefIntroduction</div>
    }
</div>
@if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Introduction) == false || string.IsNullOrWhiteSpace(Model.MainPage) == false)
{
    <CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard Title="Introduction 介绍" Icon="IconType.Story" Class="story-card">
        <div class="markdown-body">
            @if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Introduction))
            {
                @((MarkupString)Model.MainPage)
            }
            else
            {
                @((MarkupString)Model.WebsiteAddInfor.Introduction)
            }
        </div>
    </CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard>

}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

}
