
<div class="introduce-card">
    <div class="title-card">@Model.Name</div>
    @if (string.IsNullOrWhiteSpace(Model.BriefIntroduction) == false)
    {
        <div class="content-card">@Model.BriefIntroduction</div>
    }
</div>
@if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Introduction) == false || string.IsNullOrWhiteSpace(Model.MainPage) == false)
{
    <CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard Title="Introduction 介绍" Icon="IconType.Story" Class="story-card">
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.Markdown.MarkdownViewTip IsNeedHighlight="false" Text="@(string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Introduction)?Model.MainPage:Model.WebsiteAddInfor.Introduction)" />
    </CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard>

}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

}
