
<CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard Title="Story 故事" Icon="IconType.Story" Class="story-card">
    <div class="content-card">当人们脑海中回想起梦想这个词时，总会带着无奈的苦笑与惋惜。梦想总是伴随着生活的重压，在口袋里慢慢瘪了气，而曾经怀揣梦想的我们，也往往向现实低头。

        但如果你有了一个能与现实对抗，去实现梦想的机会，你会作何选择？

        在本作中，五位少女也将面临种种现实与抉择，她们能否守护好那似远似近的梦想呢？

        请去见证吧，见证那独属于勇敢追梦者的故事。</div>
</CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Magazine.Others.SectionCard>

@code {

}
