@inject IDataCacheService _dataCacheService


<div class="mb-3">

    @foreach (var item in Model.Items.Skip((Model.CurrentPage - 1) * Model.MaxCount).Take(Model.MaxCount))
    {
        <CommentPartTip Model="item" IsChild="false" OnRefresh="OnRefrsh"
                        CanDeleted="CanDeleted"></CommentPartTip>
    }

    @if (Model.TotalPages > 1)
    {
        <MPagination Value="@Model.CurrentPage" Class="my-4" Length="@Model.TotalPages" ValueChanged="OnPageClick" Color="@_dataCacheService.ThemeSetting.Theme"></MPagination>
    }
</div>



@code {
    [Parameter]
    public CommentCacheModel Model { get; set; }
    [Parameter]
    public bool CanDeleted { get; set; }
    [Parameter]
    public EventCallback OnRefrsh { get; set; }

    private Task OnPageClick(int pageIndex)
    {
        Model.CurrentPage = pageIndex;
        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task PageToEnd()
    {
        Model.CurrentPage = Model.TotalPages;
        StateHasChanged();
        return Task.CompletedTask;
    }
}
