@inherits LayoutComponentBase
@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager


<MApp Dark="_dataCacheService.ThemeSetting.IsDark">
    @if (_dataCacheService.IsApp)
    {
        <MAppBar App Color="@(_dataCacheService.ThemeSetting.IsDark?null:_dataCacheService.ThemeSetting.Theme)" Dark Dense>
            <MAppBarNavIcon @onclick="@(()=>SetDrawer())"></MAppBarNavIcon>

            <CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard @ref="homeTitleCard" />
            <MSpacer></MSpacer>

            <MButton Icon OnClick="OnClickSearch">
                <MIcon>mdi-magnify</MIcon>
            </MButton>
        </MAppBar>
        <CnGalWebSite.Shared.MasaComponent.App.Admin.NavMenu  @ref="navButton" OnRefresh="OnRefreshLayout" />

    }
    <MMain>

        <CascadingValue Value="this" IsFixed="true">
            <CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>
                @if (_dataCacheService.IsApp == false)
                {
                    <div style=" min-height: 100vh; top: 0px; max-height: calc(100% - 0px);width: 300px; position: fixed; min-width: 300px;" class="me-4 rounded shadow-sm  bg-opacity ">
                            <div style="display: flex; justify-content: center; " class="mt-6 mb-6">
                                <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip OnClick="OnRefreshLayout" Admin/>
                            </div>
                            <CnGalWebSite.Shared.MasaComponent.PC.Admin.LeftMenu Style="overflow-y: auto; height: calc(100vh - 85px);" Class="scroll"/>
                    </div>
                    <div style=" margin-left: 317px; margin-bottom: 17px;">
                        <div style=" position: fixed; right: 0; z-index: 3; left: 317px;top:0">
                            <CnGalWebSite.Shared.MasaComponent.PC.Admin.TopBar @ref="topBar"/>
                        </div>
                        <div style="margin-top: 85px;">
                            @Body

                        </div>
                    </div>
                }
                else
                {
                    <MContainer>
                        @Body
                    </MContainer>
                }


            </CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>
        </CascadingValue>


    </MMain>
</MApp>

@code {

    CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard homeTitleCard;
    CnGalWebSite.Shared.MasaComponent.PC.Admin.TopBar topBar;
    CnGalWebSite.Shared.MasaComponent.App.Admin.NavMenu navButton;

    public async Task ChangeTitle(string title)
    {
        if (homeTitleCard != null)
        {
            await homeTitleCard.ChangeTitle(title);
        }
        if (topBar != null)
        {
            await topBar.ChangeTitle(title);
        }
    }
    public Task OnClickSearch()
    {
        NavigationManager.NavigateTo("/search");
        return Task.CompletedTask;
    }

    public async Task SetDrawer()
    {
        if (navButton != null)
        {
            await navButton.SetDrawer(true);
        }
    }

    public async Task OnRefreshLayout()
    {
        NavigationManager.NavigateTo("/");
        await Task.Delay(1000);
        await _dataCacheService.RefreshApp.InvokeAsync();
    }
}
