@inherits LayoutComponentBase
@implements IDisposable
@inject HttpClient Http
@inject ToastService? ToastService
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IAuthService _authService


<StyleTip ColorString="@_dataCacheService.ThemeSetting.Theme" IsDark="_dataCacheService.ThemeSetting.IsDark" IsOnMouse="false" IsOnBgImage="_dataCacheService.ThemeSetting.IsOnBgImage"></StyleTip>
<ImagesLargeViewTip></ImagesLargeViewTip>
@if (_dataCacheService.ThemeSetting.IsDark == false)
{
    <style>
        .bg-opacity {
            background-color: transparent;
        }
    </style>
}

<div class="" style="@(_dataCacheService.ThemeSetting.IsDark?"":"display: flex; min-height: calc(100vh); background-color: rgba(255,255,255,.7);")">
    <CascadingValue Value="this" IsFixed="true">
        @Body
    </CascadingValue>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    System.Threading.Timer mytimer;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var userId = "";

            //需要调用一次令牌刷新接口 确保登入没有过期
            var result = await _authService.Refresh();
            if (result != null && result.Code != LoginResultCode.OK)
            {
                ErrorHandler.ProcessError(new Exception(result.ErrorDescribe), "尝试自动登入失败");
                StateHasChanged();
            }
            else
            {
                var user = await authenticationStateTask;

                var userName = user.User.Identity.Name;
                foreach (var item in user.User.Claims)
                {
                    if (item.Type == "userid")
                    {
                        userId = item.Value;
                    }
                }
                //记录数据
                if (string.IsNullOrWhiteSpace(userName) == false && string.IsNullOrWhiteSpace(userId) == false)
                {
                    try
                    {
                        await JS.InvokeAsync<string>("trackEvent", "登入", userId, userName, "1", "login");
                    }
                    catch (Exception)
                    {

                    }
                }
            }

            //设置用户身份
            try
            {
                await JS.InvokeAsync<string>("setCustomVar", "登录状态", string.IsNullOrWhiteSpace(userId) ? "未登入" : "已登入");
            }
            catch (Exception)
            {

            }
            //启动定时器
            mytimer = new System.Threading.Timer(new System.Threading.TimerCallback(Send), null, 0, 1000 * 60 * 10);
        }


        //删除多余的滚动条
        try
        {
            await JS.InvokeAsync<string>("deleteDiv", "slimScrollBar");
        }
        catch
        {

        }
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //清楚登入令牌
        _dataCacheService.LoginKey = "";
        _dataCacheService.IsOnThirdPartyLogin = true;
        _dataCacheService.ThirdPartyLoginTempModel = null;


        //刷新用户状态
        //await RefreshUserInfor();
    }

    public async void Send(object o)
    {
        try
        {
            var authState = await authenticationStateTask;
            var user = authState.User;
            if (user.Identity.IsAuthenticated)
            {
                await InvokeAsync(() => Http.GetFromJsonAsync<Result>(ToolHelper.WebApiPath + "api/account/MakeUserOnline"));
            }
        }
        catch
        {

        }
    }



    /*  public async Task RefreshUserInfor()
      {
          var user = await authenticationStateTask;
          if (user.User.Identity.IsAuthenticated == false)
          {
              return _dataCacheService.UserInfor = new UserInforViewModel { Ranks = new List<RankViewModel>() };
          }

          try
          {
              string userId = "";
              foreach (var item in user.User.Claims)
              {
                  if (item.Type == "userid")
                  {
                      userId = item.Value;
                  }
              }

              if (string.IsNullOrWhiteSpace(userId))
              {
                  return _dataCacheService.UserInfor = new UserInforViewModel { Ranks = new List<RankViewModel>() };
              }
              var model = await Http.GetFromJsonAsync<UserInforViewModel>(ToolHelper.WebApiPath + "api/space/GetUserData/" + userId);

              StateHasChanged();
              return _dataCacheService.UserInfor = model;
          }
          catch
          {
              await ToastService.Error("获取用户信息失败", "未知错误，请在确保网络正常后联系开发人员");
              return _dataCacheService.UserInfor = new UserInforViewModel { Ranks = new List<RankViewModel>() };
          }
      }*/

    #region 释放实例

    public void Dispose()
    {
        if (mytimer != null)
        {
            mytimer.Dispose();
            mytimer = null;
        }
        GC.SuppressFinalize(this);
    }
    #endregion

}
