@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IServiceProvider Provider

@inject IDataCacheService _dataCacheService

<MApp>
    <MAppBar App Color="white">
        <MToolbarTitle>
            <div style="width:300px;" class="ms-4">
                <CnGalWebSite.Shared.MasaComponent.Shared.LogoTip />
            </div>
        </MToolbarTitle>
        <MTabs Color="pink lighten-3">
            <MTab>首页</MTab>
            <MTab>随机</MTab>
            <MTab>词条</MTab>
            <MTab>文章</MTab>
            <MTab>广场</MTab>
        </MTabs>
        <MSpacer></MSpacer>

        <CnGalWebSite.Shared.MasaComponent.Shared.MasaButton Icon="mdi-magnify" Class="mr-6" Tooltip="搜索" />

        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton/>
    </MAppBar>

    <MMain>
        <MContainer>
            <div class="mt-3">
                @Body
            </div>
           
        </MContainer>
    </MMain>

    <MFooter App Padless Absolute Color="white">
        <CnGalWebSite.Shared.MasaComponent.Shared.MainFooterTip />
    </MFooter>
</MApp>

@code {

}
