<div class="container" style="padding-right: 0; padding-left: 0">

    <div class="@(IsNeedLayput?" rounded shadow-sm  ps-4 pe-4 pt-3 pb-3 mb-3 bg-opacity rounded":"") " style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <div style="width: 100%;">
            <img src="//app.cngal.org/_content/CnGalWebSite.Shared/images/UserMessagesNotFound.png" style="width: 70%;margin-left: 15%;margin-right: 15%;">
            <h4 class="text-center mt-4" style=" font-weight: 600;">找不到这个用户哦......有点可怕呢~</h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsNeedLayput { get; set; }
}
