@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject ToastService ToastService
@inject IJSRuntime JS
@inject HttpClient Http

<div class="p-3">
    <h1 class="h4 mb-3 text-center">这里似乎没有东西呢......</h1>
    <p class="mb-4" style=" font-size: initial;">@("我们会在 "+seconds+" 秒后帮你返回")<TabLink Text="主页" Url="/home" Icon="fa fa-home" class="alert-link">主页</TabLink>哦~</p>
</div>
@code {

    System.Threading.Timer mytimer;
    int seconds = 5;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //启动定时器
            mytimer = new System.Threading.Timer(new System.Threading.TimerCallback(Send), null, 0, 1000);
        }
    }

    public async void Send(object o)
    {
        await InvokeAsync(() =>
        {

            seconds--;
            if (seconds <= 0)
            {
                mytimer.Dispose();
                try
                {
                    NavigationManager.NavigateTo(Provider, "/home", "主页", "fa fa-home");
                }
                catch
                {
                    try
                    {
                        NavigationManager.NavigateTo(Provider, "/home", "主页", "fa fa-home");
                    }
                    catch
                    {

                    }
                }
            }
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        mytimer?.Dispose();
    }
}
