@inject IHttpService _httpService

@inject ILocalStorageService _localStorage


@inject NavigationManager NavigationManager
@inject IPopupService PopupService


@if (string.IsNullOrWhiteSpace(Model.Name) == false)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="@("编辑 " + Model.Name)"/>
}
else
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip/>

}

<AutoSaveTip TItem="EditMainViewModel" Item="Model" DataLoaded="DataLoaded" @ref="autoSave" />

<div>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.EditSummaryTip Type="ExaminedNormalListModelType.Entry" Class="mb-3" />
    @if (isReady == false)
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Cards.ProgressingCard Page Fill />
    }
    else
    {

        @if (Model.Type == EntryType.Staff)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Error" Class="mb-3">
                这个词条可能涉及到现实人物，请勿过分较真，也请谨慎编辑，仔细斟酌词句
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>
        }
        @if (Model.Type == EntryType.Game)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Entries.SynchronousSteamInforCard MainModel="Model" OnSynchronized="OnSynchronized" />
        }


        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@($"编辑 {Model.Name}（Id:{Model.Id}）")" Icon="@IconType.Entry.ToIconString()" Outline>
            <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Entries.MainCard Model="Model" Class="mb-4" />
            <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.SubmitButton OnSubmit="OnSubmit" Model="Model" />
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    }
</div>

@code {


    [Parameter]
    public string Id { get; set; }
    public EditMainViewModel Model { get; set; } = new EditMainViewModel();
    private bool isReady = false;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    AutoSaveTip<EditMainViewModel> autoSave { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取词条信息
            Model = await _httpService.GetAsync<EditMainViewModel>("api/entries/editmain/" + Id);
            isReady = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "获取编辑词条主要信息失败");
        }
    }
    public void OnSynchronized()
    {
        StateHasChanged();
    }

    private async Task OnSubmit()
    {
        //上传
        try
        {
            var obj = await _httpService.PostAsync<EditMainViewModel, Result>("api/entries/editmain", Model);
            //判断结果
            if (obj.Successful == false)
            {
                await PopupService.ToastErrorAsync("保存词条主要信息失败", obj.Error ?? "请上传图片");
            }
            else
            {
                await autoSave.Clean();
                await PopupService.ToastSuccessAsync("保存成功", "保存词条主要信息成功，等待审核通过");
                NavigationManager.NavigateTo( "/entries/index/" + Model.Id);
            }
        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "保存词条主要信息失败");
        }
    }


    private void DataLoaded(EditMainViewModel model)
    {
        isReady = false;
        StateHasChanged();
        Model = model;
        isReady = true;
        StateHasChanged();

    }
}
