

<TitleTip Title="词条" Description="查看免费游戏，打折游戏，游戏CG预览，画师作品，角色展示等众多内容"></TitleTip>

<div>
    <div class="mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.Home.FreeGameGroup />

    </div>
    <div class="mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.Home.DiscountGameGroup />

    </div>
    <div>
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.Home.CGSlideGroup />
    </div>
    <div class="mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.Home.GameRoleGroup />
    </div>
</div>

@code {
   
}

