@if (Model.Pictures.Count != 0)
{
    <div class="mt-3">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="相册" />
        <div class="mt-3">
            <CnGalWebSite.Shared.AppComponent.Normal.Images.ListImagesView Model="Model.Pictures" />
        </div>
    </div>

}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
}
