<div>
    @{ bool isFirstBadge = true;}
    @foreach (var item in Model)
    {
        <TagButton Model="@item" IsFrist="isFirstBadge" ></TagButton>
        isFirstBadge = false;
    }
</div>

@code {
    [Parameter]
    public List<TagsViewModel> Model { get; set; } = new List<TagsViewModel>();
}
