
/*分享库存*/
.anniversary-page .user-steam-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

    .anniversary-page .user-steam-card .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
    }

        .anniversary-page .user-steam-card .user-info .image {
            height: 6rem;
            border-radius: 50%;
        }

        .anniversary-page .user-steam-card .user-info .name {
            font-size: large;
            font-weight: bold;
            color: var(--main-color);
        }

    .anniversary-page .user-steam-card .goal .key {
        font-size: large;
        color: var(--active-color);
    }

    .anniversary-page .user-steam-card .goal .value {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--main-color);
    }
