
html {
    height: auto;
    width: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 500;
}


.carousel .carousel-item img {
    max-width: 100%;
    height: auto;
    width: 100% !important;
}

html, body, button, .popover {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

hr {
    opacity: 0.1;
}

del {
    text-decoration: none;
    color: #b30000;
    text-decoration: line-through;
    background: #fadad7;
}


ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}

.bg-tran {
    background-color: transparent;
}

.layout.is-page .layout-side .layout-banner .layout-logo {
    width: 32px;
}

.layout.is-page .layout-header .layout-avatar-right {
    width: 32px;
    height: 32px;
}
.layout.is-page .layout-right, .layout.is-page .layout-main {
    background-color: #F5F6F7;
}
/*展示颜色样式*/
.color1, .layout.is-page.color1 .layout-header {
    background-color: #5E9CFB;
}
.color2, .layout.is-page.color2 .layout-header {
    background-color: #28B559;
}

.color3, .layout.is-page.color3 .layout-header {
    background-color: #D979A2;
}

.color4, .layout.is-page.color4 .layout-header {
    background-color: #EC8904;
}

.color5, .layout.is-page.color5 .layout-header {
    background-color: #17a2b8;
}
.color6, .layout.is-page.color6 .layout-header {
    background-color: #9D91CA;
}

.is-page{
    background-color:transparent;
}


.layout-header-bar .fa-bars {
    color: white;
}


.layout.is-page .layout-footer {
    height: auto;
}

.layout.is-page .layout-main {
    min-height: calc(100vh - 142px);
}
.img-fluid {
    width: 100%;
    height: auto;
}
.layout-gotop{
    display:none;
}
/*徽章按钮样式 一般*/
.badge-btn {
    cursor: pointer;
    /* padding-left: 5px; */
    padding: 1px 7px 1px 7px;
    font-size: 16px;
    font-weight: 600;
}
/*.btn-info:hover {
    color: white;
    background-color: #117a8b;
    border-color: #117a8b;
}
.btn-info {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
    .btn-info:active {
        color: white;
        background-color: #117a8b;
        border-color: #117a8b;
    }
.btn-info:focus {
    color: white;
    background-color: #117a8b;
    border-color: #117a8b;
}
.text-info {
    color: #17a2b8 !important;
}*/

.alert {
    padding: .75rem 1.25rem;
}
.form-group {
    margin-bottom: 1rem;
}
/*黑白*/
/*
html {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid: DXImageTransform. Microsoft. BasicImage(grayscale=1);
    filter: gray;
}*/

.btn-info.disabled, .btn-info:disabled {
    color: white;
}

.layout-menu .scroll {
    overflow-x: hidden;
}
.dropdown-arrow.arrow-primary {
    display: none;
}
.layout.is-page .layout-side {
    box-shadow: none;
}
.layout.is-page .layout-user-state {
    background-color: white;
}
span#cnzz_stat_icon_1280206141 {
    display: none;
    margin-top: -30px;
}

.layout-menu {
    overflow: hidden;
}
input.te-image-file-input {
    display: none;
}
.tabs-border-card {
    background: transparent;
}
.upload .upload-body.is-avatar .upload-item .avatar {
    background-color: transparent;
}

.layout.is-page .layout-header {
    justify-content: space-between;
}
.alert-link {
    font-weight: bolder;
}
.menu .nav-link {
    color: white;
}
.overflow-hidden {
    overflow: auto !important;
}
.link-primary:focus, .link-primary:hover {
    color: #26adf8;
}
.link-primary {
    color: #009ef7;
}


/*自定义主题色*/




.layout-item .layout-left .layout-left-header {
    background-color: var(--hover-color);
}

.layout-item .layout-right .layout-right-header, .layout-item .layout-top {
    background-color:  var(--main-color);
}
.btn-info-1 {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

.btn-info-1:hover {
    background-color:var(--hover-color);
    color: white;
    border-color: var(--hover-color);
}

.btn-info-1:active {
    background-color:  var(--active-color);
    color: white;
    border-color:  var(--active-color);
}

/*弹窗边框消除*/
.table-modal-footer {
    border: 0;
}
.modal-content {
    border: 0;
}
.modal-header {
    border: 0;
}


.skeleton-content.active .skeleton-row, .skeleton-content.active .skeleton-avatar {
    background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}


.editormd-mask {
    background: #000 !important;
    opacity: .2 !important;
}
/*Markdown编辑器*/
.markdown-body img {
    background-color: transparent;
    height: auto;
}

.markdown-body {
    background-color: transparent;
   
}

.markdown-body b, .markdown-body strong {
    font-weight: bolder;
}

/*修正Masa样式对Bootsharp的影响*/
.row {
    margin-bottom: 0;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    padding-bottom: 0;
    padding-top: 0;
}
.m-main__wrap {
    background-color: #f5f6f7;
}
.m-application ul, .m-application ol {
    padding-left: 0;
}
.theme--light.m-application code {
     background-color: transparent;
}
.modal-open{
    padding-right: 0;
}

@media (min-width: 960px){
    .d-md-none-co {
        display: none!important;
    }
}
.editormd-toolbar {
    z-index: 4!important;
}
.editormd .CodeMirror {
   z-index: 4!important;
}
.editormd-fullscreen{
    z-index: 10000!important;
}
