/*全局*/
:root {
    --home-bg-color: #f8fafd;
    --home-text-color: #1f1f1f;
    --home-subtle-color: gray;
    --home-border-radius: 12px;
    --home-active-border-radius: 24px;
}

#home-page {
    padding-left: 5rem;
    padding-right: 5rem;
}
    /*幻灯片组*/
    #home-page .m-slide-group__content {
        gap: 1rem;
        padding: .5rem 0;
    }

    #home-page .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/*字体*/
#home-page {
    letter-spacing: .05rem;
    font-family: "Google Sans Text", sans-serif;
    color: var( --home-text-color);
}
    /*分栏*/
    #home-page .left-content, #home-page {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

        #home-page .right-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        /*卡片组*/
        #home-page h2 {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: .4rem;
            margin-left: 5rem;
        }

        #home-page section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        /*单个卡片*/
        #home-page .item {
            display: flex;
            border-radius: var( --home-border-radius);
            background-color: var(--home-bg-color);
            color: var(--home-text-color);
            transition: .3s;
            cursor: pointer;
            white-space: normal;
        }

            #home-page .item:hover {
                background-color: var( --hover-color);
            }

            #home-page .item:active {
                border-radius: var( --home-active-border-radius);
            }

            #home-page .item > img, #home-page .item .image {
                transition: .3s;
                border-radius: var( --home-border-radius);
                width: 100%;
            }

            #home-page .item:active > img, #home-page .item:active .image {
                border-radius: var( --home-active-border-radius);
            }
            /*内部纸片*/
            #home-page .item .m-chip {
                transition: .3s;
            }

            #home-page .item:hover .m-chip {
                background-color: var(--active-color) !important;
                border-color: var(--active-color) !important;
            }

            #home-page .item:hover .m-chip--outlined {
                background-color: transparent !important;
                color: var(--active-color) !important;
                caret-color: var(--active-color) !important;
            }

/*查看更多卡片*/
.item.more-link {
    flex-direction: column !important;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 10rem !important;
}

    .item.more-link:hover i {
        color: var(--active-color);
    }


/*轮播图*/
.carousels-card {
    border-radius: 24px !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.01) !important;
}

    .carousels-card img, .carousels-card .m-responsive__content, .carousels-card .m-window-item, .carousels-card .m-responsive {
        border-radius: 24px !important;
    }

    .carousels-card .m-responsive__content {
        border-radius: 24px !important;
    }
/*游戏列表*/
.published-games-card .item, .upcoming-games-card .item, .free-games-card .item, .discount-games-card .item {
    display: flex;
    flex-direction: column;
}

    .published-games-card .item .content, .upcoming-games-card .item .content, .free-games-card .item .content, .discount-games-card .item .content {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: space-between;
        height: 100%;
    }

    .published-games-card .item .name, .upcoming-games-card .item .name, .free-games-card .item .name, .discount-games-card .item .name {
        font-size: 1.5rem;
    }



/*近期发布游戏*/

.published-games-card .item {
    width: 17rem;
}

/*即将发布的游戏*/

.upcoming-games-card .item {
    width: 17rem;
}

/*免费的游戏*/
.free-games-card .item {
    width: 17rem;
}
/*折扣中的游戏*/
.discount-games-card .item {
    width: 20rem;
}

/*最新动态*/



.news-card .item {
    display: flex;
    width: 28rem;
    gap: 1rem;
    padding: .7rem;
    cursor: pointer;
}

.news-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news-card img {
    width: 3rem;
    border-radius: 50%;
}

.news-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card .head {
    display: flex;
    gap: .5rem;
}

.news-card .name {
    color: var( --home-text-color);
    font-weight: bold;
}

.news-card .time {
    color: var( --home-subtle-color);
}

.news-card .text {
    color: var( --home-text-color);
}

/*最新文章*/
.latest-articles-card .row {
    margin-left: 3rem;
}

.latest-articles-card .item {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.latest-articles-card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .latest-articles-card .content .name {
        color: var( --home-text-color);
        font-size: 1.5rem;
    }

    .latest-articles-card .content .brief {
        color: var( --home-text-color);
    }

.latest-articles-card .addinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

    .latest-articles-card .addinfo .m-chip {
        min-width: 4rem;
    }

.latest-articles-card .author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.latest-articles-card .user-image {
    width: 1.5rem;
    border-radius: 50%;
}

.latest-articles-card .author .name {
    color: var( --home-text-color);
}

.latest-articles-card .time {
    color: var( --home-subtle-color);
    word-break: keep-all;
}

.latest-articles-card .head {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
/*边栏*/
#home-page .right-content h2 {
    font-size: 2rem !important;
    margin-left: 1rem !important;
    margin-top: 1rem;
}

/*社区*/
.community-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.community-card .item {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: .5rem 1rem;
}

.community-card .content {
    display: flex;
    flex-direction: column;
}

    .community-card .content .name {
        font-weight: bold;
    }

.community-card .item:hover i {
    color: var(--active-color);
}

/*最近编辑*/

.recently-edited-games-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recently-edited-games-card img {
    width: 8rem !important;
}

.recently-edited-games-card .name {
    font-size: 1rem;
}

.recently-edited-games-card .time {
    color: var( --home-subtle-color);
}

.recently-edited-games-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4rem 1rem;
}
/*最新视频*/
.latest-videoes-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest-videoes-card .item {
    flex-direction: row;
    width: 30rem;
}

.latest-videoes-card .image {
    width: 15rem !important;
}

.latest-videoes-card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .latest-videoes-card .content .name {
        color: var( --home-text-color);
        font-weight: bold;
        font-size: 1rem;
    }

    .latest-videoes-card .content .brief {
        color: var( --home-text-color);
    }

.latest-videoes-card .addinfo {
    display: flex;
    justify-content: space-between;
}

.latest-videoes-card .author {
    display: flex;
    align-items: center;
    gap: .5rem;
}


    .latest-videoes-card .author .name {
        color: var( --home-text-color);
    }

.latest-videoes-card .time {
    color: var( --home-subtle-color);
    word-break: keep-all;
}

.latest-videoes-card .head {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
/*公告*/

.announcements-card .content {
    display: flex;
    flex-direction: column;
}

.announcements-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcements-card .item {
    display: flex;
    justify-content: flex-start;
    padding: .5rem 1rem;
    gap: .5rem;
}

    .announcements-card .item:hover i {
        color: var(--active-color) !important;
    }

.announcements-card .name.active {
    font-weight: bold;
}
/*友情链接*/
.friend-links-card .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3.5rem;
    margin-right: 3rem;
    gap: 1rem;
}

.friend-links-card .item {
    display: flex;
    flex-direction: column;
    width: 11rem;
}

.friend-links-card .content {
    padding: 1rem;
}

.friend-links-card .name {
    font-size: 1rem;
}
/*关于我们*/

.about-card {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

    .about-card .head {
        display: flex;
        gap: 6rem;
        flex-wrap: wrap;
    }

    .about-card .links-groups {
        display: flex;
        gap: 4rem;
        margin-top: 3rem;
    }

    .about-card .links-item {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

.links-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.about-card .quote-card {
    max-width: 68rem;
}

.links-group h3 {
    font-size: inherit;
}

.links-item a {
    font-size: 1rem;
    font-weight: bold;
}

.about-card .introduce img {
    height: 50px;
    aspect-ratio: 23/5;
}

.about-card .introduce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40rem;
    gap: 1rem;
}

.about-card .text {
    line-height: 1.3rem;
}

.about-card .addinfo {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

    .about-card .addinfo div {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .about-card .addinfo a {
        color: var(--home-text-color) !important;
    }

.about-card a:hover {
    text-decoration: underline;
}

/*推荐*/
.recommends-group {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.recommends .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recommends h2 {
    margin-left: 3rem !important;
}

.recommends .completed-card .content {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 1rem;
}
/*纯文本*/
.plain-text-card.item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

    .plain-text-card.item img {
        min-width: 25rem !important;
        width: 25rem !important;
        height: fit-content;
    }

    .plain-text-card.item .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .plain-text-card.item .name {
        font-size: 2rem;
    }
/*图墙*/
.masa-image .m-image__image {
    border-radius: var( --home-border-radius);
    transition: .3s;
}

.masa-image .item-image:active .m-image__image {
    border-radius: var( --home-active-border-radius);
}

.sub-group > .row {
    row-gap: 1.5rem;
}

.masa-image .image-name {
    display: none;
    transition: .3s;
}

.masa-image .item-image:hover .image-name {
    display: flex;
    /*调用动画效果*/
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .3s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

.masa-image .item-image:active .image-name {
    border-radius: var( --home-active-border-radius);
}

.masa-image .image-name {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 70%,rgba(0,0,0,.7));
    height: 100%;
    width: 100%;
    align-items: flex-end;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: var( --home-border-radius);
}

/*动画效果*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }

    20% {
        opacity: .2;
    }

    50% {
        opacity: .5; /*中间状态 透明度为0.5*/
    }

    70% {
        opacity: .7;
    }

    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
/*画廊 游戏相册*/
.gallery-card {
    display: flex;
    flex-direction: column;
}

.gallery-card {
    display: flex;
    border-radius: var(--home-border-radius);
    background-color: var(--home-bg-color);
    color: var(--home-text-color);
    transition: .3s;
    white-space: normal;
}

    .gallery-card .head {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
    }

        .gallery-card .head img {
            width: 13rem;
            height: fit-content;
            border-radius: 12px;
        }

    .gallery-card .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem 1.5rem;
        gap: .5rem;
    }

    .gallery-card .name {
        font-size: 2rem;
    }

    .gallery-card .gallery img {
        height: 20rem;
        width: fit-content;
    }

    .gallery-card .actions {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }

    .gallery-card button {
        transition: .3s;
    }

        .gallery-card button:hover {
            background-color: var(--main-color) !important;
            border-color: var(--main-color) !important;
            color: white !important;
        }

    .gallery-card .m-image {
        border-radius: 12px;
        cursor: pointer;
    }
/*每周速报*/
.weekly-news-card .content {
    display: flex;
    flex-direction: column;
}

.weekly-news-card .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.weekly-news-card .item {
    display: flex;
    justify-content: flex-start;
    padding: .5rem 1rem;
    gap: .5rem;
}

    .weekly-news-card .item:hover i {
        color: var(--active-color) !important;
    }

.weekly-news-card .name.active {
    font-weight: bold;
}
/*生日角色*/
.birthday-card .default.item {
    padding: 1rem;
    gap: 1rem;
}

.birthday-card .default .content {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.birthday-card .default .head {
    font-size: 3rem;
}

.birthday-card .group .item {
    padding: .5rem 1rem;
    gap: 1rem;
    align-items: center;
}

    .birthday-card .group .item img {
        width: 5rem !important;
        height: 5rem;
        border-radius: 50% !important;
    }

    .birthday-card .group .item .content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
    }

    .birthday-card .group .item .head {
        display: flex;
        gap: .5rem;
        align-items: flex-end;
    }

    .birthday-card .group .item .name {
        font-size: 1.5rem;
    }

    .birthday-card .group .item .debut-game {
        color: var( --home-subtle-color);
    }

.birthday-card .group {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
/*一言*/
.quote-card .quote-content {
    margin-left: 0 !important;
    font-size: 2rem !important;
    font-weight: bold;
    letter-spacing: .1rem;
}

.quote-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .quote-card .quote-by {
        font-size: 0.8rem;
        letter-spacing: .05rem;
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
    }
/*看板娘*/
.kanban-card {
    display: flex;
    align-items: center;
    gap: 3rem !important;
}

    .kanban-card .quote-card + img {
        transform: rotateY(180deg);
    }

    .kanban-card .quote-card {
        max-width: 70rem;
    }

    .kanban-card img {
        width: 12rem;
    }

    .kanban-card .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
/*专题推荐*/
.evaluations-group {
    margin-left: 2.5rem;
    row-gap: 2rem;
    padding-right: 2rem;
}

.evaluations-card .articles-group img {
    width: 10rem !important;
}

.evaluations-card .head {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem 1rem;
    justify-content: space-between;
}

.evaluations-card .content {
    font-size: 1rem;
    font-weight: bold;
}

.evaluations-card .addinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.articles-group {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.evaluations-card .type {
    color: var( --home-subtle-color);
}

.evaluations-card .evaluations-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/*最新评论*/
.latast-comments-card .item {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: row;
}

.latast-comments-card .user-image {
    width: 3rem !important;
    border-radius: 50% !important;
    height: 3rem !important;
}

.latast-comments-card .content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    word-break: break-word;
    width: 100%;
}

.latast-comments-card .name {
    font-size: 1rem;
    font-weight: bold;
}

.latast-comments-card .time {
    text-align: end;
    color: gray;
}

.latast-comments-card .group {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
/*热门标签*/
.hot-tags-card .group {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

.hot-tags-card .item {
    padding: .25rem .5rem;
    gap: .5rem;
}

.hot-tags-card .content {
    display: flex;
    align-items: center;
}

.hot-tags-card .item:hover i {
    color: var(--active-color);
}
/*CV专题页*/
/*动态*/
.cv-news .item {
    display: flex;
    width: 28rem;
    gap: 1rem;
    cursor: pointer;
}

.cv-news .group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-news img {
    width: 3rem;
    border-radius: 50%;
}

.cv-news .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cv-news .head {
    display: flex;
    gap: .5rem;
}

.cv-news .name {
    color: var( --home-text-color);
    font-weight: bold;
}

.cv-news .time {
    color: var( --home-subtle-color);
}

.cv-news .text {
    color: var( --home-text-color);
}
