 .steam-infor-price {
    width: 60px;
    border-radius: 4px;
    text-align-last: center;
    border: 1px solid  var(--main-color);
    transition: all .6s ease;
    color:   var(--main-color);
}

.steam-infor-price:hover {
    background-color:  var(--main-color);
    border: 1px solid  var(--main-color);
    color: white;
}

.steam-infor-cut {
    width: 60px;
    border-radius: 4px;
    background-color:   var(--main-color);
    text-align-last: center;
    transition: all .6s ease;
    border: 1px solid   var(--main-color);
    color: white;
}

.steam-infor-cut:hover {
    background-color: transparent;
    border: 1px solid   var(--main-color);
    color:   var(--main-color);
}


 .font-color {
    color:  var(--main-color);;
}
.tabs-border-card > .tabs-header .tabs-item:hover {
    color:  var(--main-color);
}

.tabs-border-card > .tabs-header .tabs-item.active {
    color:  var(--main-color);
}
.comment-tag {
    background-color:  var(--main-color);
}
.message-link-color {
    border-color:  var(--main-color);
    color: white;
    background-color:  var(--main-color);
}

.message-link-color:hover {
    border-color:  var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}
.page-dto-part-color {
    border-color:  var(--main-color);
    color:  var(--main-color);
    background-color: transparent;
}

.page-dto-part-color-active {
    border-color:  var(--main-color);
    color: white;
    background-color:  var(--main-color);
}

.page-dto-part-color:hover {
    border-color:  var(--main-color);
    color: white;
    background-color:  var(--main-color);
}

.page-dto-btn-color {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}

.page-dto-btn-color:hover {
    border-color: var(--main-color);
    color: white;
    background-color:  var(--main-color);
}
a:hover {
    color:  var(--hover-color);
}
a {
    color: var(--main-color);
}
.article-home-tag {
    background-color:  var(--main-color);
}
.comment-reply-layout-btn-color {
    border-color: var(--main-color);
    color: white;
    background-color:  var(--main-color);
}


.comment-reply-layout-btn-color:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}
.tabs-item.active {
    color: var(--main-color);
}
.tabs-item:hover {
    color: var(--main-color);
}
.tabs-active-bar {
    background-color: var(--main-color);
}
.comment-reply-color:hover {
    border-color: var(--main-color);
    color:  var(--main-color);
    background-color: transparent;
}
.comment-reply-color {
    border-color:  var(--main-color);
    color: white;
    background-color:  var(--main-color);
}
.btn-check:active + .btn-outline-dark, .btn-check:checked + .btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: #fff!important;
    background-color: var(--main-color);
    border-color:  var(--main-color);
}
.btn-outline-dark:hover {
    color: #fff!important;
    background-color:  var(--main-color);
    border-color:  var(--main-color);
}
.btn-outline-dark {
    color:  var(--main-color)!important;
    border-color:  var(--main-color);
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #fff!important;
    background-color:  var(--main-color);
    border-color:  var(--main-color);
}
.btn-check:active + .btn-dark, .btn-check:checked + .btn-dark, .btn-dark.active, .btn-dark.dropdown-toggle.show, .btn-dark:active {
    color: #fff!important;
    background-color: var(--hover-color);
    border-color:  var(--hover-color);
}
.btn-dark:hover {
    color:var(--main-color)!important;
    background-color:  transparent;
    border-color:  var(--main-color);
}
.btn-dark {
    color:  white!important;
    border-color:  var(--main-color);
     background-color: var(--main-color);
}
.btn-dark.disabled, .btn-dark:disabled {
    color: #fff!important;
    background-color:  var(--main-color);
    border-color:  var(--main-color);
}
.btn-check:focus+.btn-dark, .btn-dark:focus {
    color: #fff!important;
    background-color: var(--hover-color);
    border-color:var(--hover-color);
}
.form-check-input:checked {
    background-color: var(--main-color);
    border-color:var(--main-color);
}
.article-tag-text-color-large {
    color:  var(--main-color)!important;
}

.article-tag-color-large {
    border-color:  var(--main-color);
    color: white!important;
    background-color:  var(--main-color);
}

.article-tag-color-large:hover {
    border-color:  var(--main-color);
    color: var(--main-color)!important;
    background-color: transparent;
}

.menu .nav .dropdown-menu .nav-link:not(.disabled):hover, .menu .nav .dropdown-menu .nav-link.active, .menu .submenu .nav-link.active, .menu .submenu .nav-link:not(.disabled):hover, .cascade .dropdown-item:not(.disabled):hover, .cascade .dropdown-item.active, .cascade .nav .nav-link:not(.disabled):hover, .cascade .nav .nav-link.active {
    background-color: var(--hover-color);
    color: white;
}
/*Tab栏样式*/
.tab-color {
    color:var(--main-color);
    background-color: transparent;
    transition: all .6s ease;
}

.tab-color.active {
    background-color: var(--main-color) !important;
    color: white !important;
}

.tab-color:hover {
    background-color:var(--main-color) !important;
    color: white !important;
}
.tab-Bottom-color {
    color:gray;
    background-color: transparent;
    transition: all .6s ease;
}

.tab-Bottom-color.active {
    color:var(--main-color) !important;
}

.tab-Bottom-color:hover {
    color:var(--main-color) !important; 
}
.tab-Pivot-color {
    color:gray;
    background-color: transparent;
    transition: all .6s ease;
}

.tab-Pivot-color.active {
    color:var(--main-color) !important;
}

.tab-Pivot-color:hover {
    color:var(--main-color) !important;
}
.tab-Pivot-color .line{
    background-color: transparent;
    transition: all .6s ease;
}
.tab-Pivot-color.active .line {
    background-color:var(--main-color) !important;
}
.tab-Pivot-color:hover .line{
    background-color:var(--main-color) !important;
}
.tab-Pivot-color.active {
    color:var(--main-color) !important;
}

.tab-Badge-color .line{
    border-radius: 5px;
    word-break: keep-all;
    background: #F0F0F0;
    color: gray;
    transition: all .6s ease;
}
.tab-Badge-color.active .line {
    background-color:var(--main-color) !important;
    color:white;
}
.tab-Badge-color:hover .line{
    background-color:var(--main-color) !important;
    color:white;
}

.bg-title-color-main {
    color: white;
    background-color: var(--main-color);
}

.bg-context-main:hover {
    color: white;
    background-color: var(--main-color);
}

.bg-context-main {
    color:var(--main-color);
    border-color: var(--main-color);
}

.bg-color-main {
    color: var(--main-color);
}
    .bg-main {
    background-color: var(--main-color);
}
.page-item.active .page-link {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.page-link:hover {
    color:white;
    background-color: var(--main-color);
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:var(--main-color);
}
