
#top {
    position: relative;
    height: calc(100vh - 64px);
    min-height: calc(100vw * 0.5);
    max-height: calc(100vw * 0.7);
    background-size: cover;
    background-position: center 70%;
    color: #fff;
    overflow: hidden;
}
#top .copy {
    position: absolute;
    left: 8%;
    top: 20%;
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.3rem;
}
#top .logo_area .lead {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    padding: 0 30px;
}
#top .logo_area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4vh;
}
    #top .logo_area h1 {
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #top .logo_area h1 img {
        color: #fff;
        width: 50%;
        min-width: 300px;
    }
        #top .logo_area h1 span {
            font-size: 7rem;
            display: flex;
            text-align: center;
            justify-content: center;
            font-family: 华文行楷;
            width: 70%;
            min-width: 300px;
        }
.official-website section h2::before {
    display: block;
    content: " ";
    height: 2px;
    width: calc((100% - 1200px) / 2 - 20px);
    min-width: 20px;
    background: var(--main-color);
    margin-right: 20px;
}
.official-website section h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 6rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.5rem;
}
.official-website section {
    margin: 0 0 10rem;
}

.official-website section h2 {
    font-weight: bold;
    color: var(--main-color);
}
.official-website .markdown-body h2 {
    padding: 0 0 .3rem;
}
.character-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    gap: 10px 3%;
}
.character-card img {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-top: 20px;
    width: 45%;
    max-width: 330px;
}
    .character-card .caption {
        max-width: 460px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        border-left: 2px solid var(--main-color);
        color: var(--main-color);
        padding-left: 20px;
    }
.character-card .caption .name {
    font-size: 2.5rem;
    margin-bottom: 15px;
    letter-spacing: 0.2rem;
    line-height: 3rem;
}
.character-card .caption .cv {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
}
.character-card .caption .description {
    font-size: 1.1rem;
}
.character-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.character-list .m-card {
    border-radius: 50%;
}

.character-icon.active {
    background-color: var(--main-color);
}

.character-list .m-slide-group__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 20px;
    gap: 15px;
}
