.layout.is-page .layout-right, .layout.is-page .layout-main {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color6 {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color5 {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color4 {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color3 {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color2 {
    background-color: transparent;
}

.section.layout.has-sidebar.is-page.color1 {
    background-color: transparent;
}

.layout.is-page .layout-side {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.layout.is-page .layout-footer {
    background-color: transparent !important;
}
body {
    background-color:  var(--main-color);
}
.menu .nav-link {
    color:  var(--main-color);
}
.layout-title .nav-link {
    color:  var(--main-color);
}
.layout.is-page .layout-user-state {
    background-color: var(--main-color);
}
