.admin-overview-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
    .admin-overview-card .item-card {
        display: flex;
        align-items: center;
        gap:1rem;
    }
.name-card {
    font-size: large;
    font-weight: bold;
}
