
.commodity-kanban-card {
    align-items: center;
    gap: .5rem;
}

    .commodity-kanban-card img {
        width: 70%;
    }

.commodity-item-card .content-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}
.commodity-code-card {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
}
.commodity-code-image-card a{
    display:flex;
}
.commodity-code-image-card img {
    width: 100%;
}
