/*外层*/
.magazine-layout {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: calc(100vh);
    flex-direction: row;
    scroll-behavior: smooth;
}

/*分栏*/
.magazine-columns.full-screen {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh);
}

    .magazine-columns.full-screen > div, .magazine-columns.full-screen > section {
        width: calc(100vw);
    }

.magazine-columns.half-screen {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh);
}

    .magazine-columns.half-screen > div, .magazine-columns.half-screen > section {
        width: calc(50vw);
    }

.magazine-style::-webkit-scrollbar {
    display: none;
}

/*分栏列表*/
.magazine-style .columns-layout {
    height: 100%;
    columns: 1;
    column-gap: 0;
}

/*未分栏内容*/
.magazine-context.full-screen {
    min-width: 100%;
}

.magazine-context.half-screen {
    min-width: 50%;
}

.magazine-context > div {
    height: calc(100vh);
    position: relative;
}
/*隐藏头部尾部*/


/*换页按钮*/
.magazine-style .page-button-card {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    right: 50%;
    width: max-content;
    padding: 0 1rem;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
/*内容*/
.magazine-style section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.magazine-style .magzine-content-card.magazine-context {
    padding: 3rem 0;
    gap: unset;
}

    .magazine-style .magzine-content-card.magazine-context > div, .magazine-style .magzine-content-card.magazine-context > section {
        padding: 0 3rem;
        overflow-x: auto;
        padding-bottom: 10rem;
    }
/*章节标题*/
.magazine-style .section-title {
    white-space: pre;
    display: flex;
    padding-top: 5rem;
    align-items: center;
}

/*首页*/
.magazine-style .main-card img {
    height: calc(100vh);
    width: 100%;
    object-fit: cover;
}

/*标题和介绍*/
.magazine-style .introduce-card .title-card {
    height: 47px;
    font-size: 36px;
    font-weight: 800;
    font-family: 'MiSans-Heavy';
    margin-top: 25px;
}

.magazine-style .introduce-card .content-card {
    margin-top: 16px;
    white-space: pre-line;
}

/*故事*/
.magazine-style .markdown-body h1, .magazine-style .markdown-body h2 {
    color: var(--md-sys-color-primary);
}

.magazine-style .markdown-body h2 {
    font-size: 1.2em;
}

.magazine-style .markdown-body h3 {
    font-size: 1em;
}
/*角色*/
.magazine-style .character-item-card {
    display: flex;
    padding-top: 1rem;
    gap: 3rem;
}

    .magazine-style .character-item-card img {
        align-self: center;
        max-height: 500px;
    }

    .magazine-style .character-item-card .caption-card {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        align-content: center;
        border-left: 2px solid var(--md-sys-color-primary);
        padding-left: 20px;
        letter-spacing: 0.05rem !important;
        line-height: 1.8rem !important;
        font-size: 1rem !important;
        margin-top: 3rem;
    }


        .magazine-style .character-item-card .caption-card .name {
            font-size: 1.5rem;
            color: var(--md-sys-color-primary);
            letter-spacing: 0.2rem;
            line-height: 3rem;
            font-weight: bold;
        }

        .magazine-style .character-item-card .caption-card .cv {
            letter-spacing: 0.1rem;
            margin-top: 15px;
        }

        .magazine-style .character-item-card .caption-card .audio {
            margin-top: 15px;
        }

            .magazine-style .character-item-card .caption-card .audio + .infor {
                margin-top: 15px;
            }

        .magazine-style .character-item-card .caption-card .infor {
            margin-top: 35px;
        }

            .magazine-style .character-item-card .caption-card .infor div {
                letter-spacing: 0.1rem;
                margin-top: 5px;
                font-weight: bold;
            }

        .magazine-style .character-item-card .caption-card .description {
            margin-top: 40px;
            white-space: pre-line;
        }

.magazine-style .character-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50% !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.magazine-style .character-list .m-card {
    border-radius: 50%;
    margin: 16px;
}


.magazine-style .character-card .character-icon.active {
    background-color: var(--md-sys-color-primary);
}

.magazine-style .character-card .m-slide-group__content {
    gap: 1rem;
    padding: 3px;
}

    .magazine-style .character-card .m-slide-group__content .m-card {
        height: 100px;
        margin: 0;
    }

        .magazine-style .character-card .m-slide-group__content .m-card > :first-child:not(.m-btn):not(.m-chip):not(.m-avatar) {
            border-radius: 50% !important;
        }
/*staff*/
.magazine-style .staff-card {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-between;
    gap: 1rem;
}

    .magazine-style .staff-card .group {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }

        .magazine-style .staff-card .group .items {
            display: flex;
            flex-direction: column;
            gap: .4rem;
        }

        .magazine-style .staff-card .group > .name {
            background-color: var(--md-sys-color-primary);
            color: white;
            display: flex;
            justify-content: center;
            font-weight: bold;
            padding: 0 1rem;
        }

    .magazine-style .staff-card .posts {
        display: flex;
    }

        .magazine-style .staff-card .posts .items {
            display: flex;
            flex-direction: column;
            gap: .4rem;
        }

        .magazine-style .staff-card .posts > .name {
            margin-right: 1rem;
            width: 84px;
            font-weight: bold;
            line-height: 18px;
        }

    .magazine-style .staff-card .group-no {
        width: 100%;
    }

        .magazine-style .staff-card .group-no > .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
        }

    .magazine-style .staff-card .staff-name {
        width: 84px;
        line-height: 18px;
    }
