.periphery-overview-card a {
    color: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity)) !important;
}

.basic-info-group-card {
    display: flex;
    flex-direction: column;
    gap: .15rem;
    padding: 4px !important;
    padding-top: 0;
}

.basic-info-group-card >div {
    display: flex;
}
