.sedai-card {
}

    .sedai-card .title-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: larger;
        font-weight: bold;
        padding: 1rem;
        flex-wrap: wrap;
    }

    .sedai-card .table-card {
        display: flex;
        flex-direction: column;
    }

    .sedai-card .item-card {
        display: flex;
        width: 100%;
        min-height: 4rem;
        border-top: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity)) 1px solid;
    }

    .sedai-card .games-card {
        display: flex;
        width: 100%;
        font-size: 14px;
      
    }

.sedai-page .actions-card {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.sedai-card .game-card {
    width: 8.33%;
    word-break: break-word;
    text-align: center;
    align-content: center;
    padding: 5px;
    border-left: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity)) 1px solid;
    cursor: pointer;
}
    .sedai-card .game-card.active {
        background-color: rgba(var(--m-theme-secondary));
        color: rgba(var(--m-theme-on-secondary));
    }
.sedai-card .year-card {
    word-break: break-word;
    text-align: center;
    align-content: center;
    width: 7.69%;
    font-weight: bold;
    background-color: rgba(var(--m-theme-primary));
    color: rgba(var(--m-theme-on-primary));
}
.sedai-page .about-card {
    padding: 1rem;
    text-align: center;
}
.sedai-card .site-card {
    font-size: medium;
    color: gray;
    font-weight: normal;
}

.sedai-card .table-card {
    border-bottom: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity)) 1px solid;
    border-radius: var(--md-card-border-radius);
}
