<MDCard Href="@("/peripheries/index/"+Model.Id)" Class="h-100 elevation-2">
    <img src="@Model.Image" class="card-img-top" style="aspect-ratio: 460/215; width: 100%;" alt="@Model.Name" />
    <div class="pa-2">
        <span class="label-large text-truncate-2">@Model.Name</span>
    </div>
</MDCard>

@code {
    [Parameter]
    public GameOverviewPeripheryModel Model { get; set; }
}
