
/*分享库存*/
.anniversary-page .user-steam-card {
    gap: .5rem;
}

    .anniversary-page .user-steam-card .user-info {
        gap: .5rem;
    }

        .anniversary-page .user-steam-card .user-info .image {
            height: 4rem;
        }

        .anniversary-page .user-steam-card .user-info .name {
            font-size: inherit;
            font-weight: bold;
        }

    .anniversary-page .user-steam-card .goal .key {
        font-size: inherit;
    }

    .anniversary-page .user-steam-card .goal .value {
        font-size: large;
        font-weight: bold;
    }
/* 制作组列表*/
.anniversaries-group-card .content-card {
    padding: .5rem;
    gap: .3rem;
}

.anniversaries-group-card .name {
    font-size: inherit;
}


/*全局*/
#home-page h2 {
    font-size: 1.5rem;
    letter-spacing: inherit;
    font-weight: inherit;
    margin-left: 0;
}

#home-page {
    padding-left: 0rem;
    padding-right: 0rem;
}

    #home-page .right-content h2 {
        font-size: 1.5rem !important;
        margin-left: 0 !important;
        margin-top: 0;
    }

    /*卡片间距*/
    #home-page .left-content, #home-page, #home-page .right-content, #home-page > .row {
        gap: 1.5rem;
        padding-bottom: 1rem;
    }


        /*最新动态*/
        #home-page .news-card .item {
            width: 20rem;
            padding: .5rem;
        }
        /*卡片内容*/
        #home-page .published-games-card .item .content, .upcoming-games-card .item .content, .free-games-card .item .content, .discount-games-card .item .content {
            gap: 0;
        }
        /*近期发布的游戏*/
        #home-page .published-games-card .brief, #home-page .upcoming-games-card .brief {
            display: none;
        }

        #home-page .published-games-card .item {
            width: 10rem;
        }

        #home-page .published-games-card .name {
            font-size: 1rem !important;
            font-weight: inherit;
        }

        #home-page .published-games-card .item .content, #home-page .upcoming-games-card .item .content, #home-page .free-games-card .item .content, #home-page .discount-games-card .item .content {
            margin: .5rem 1rem;
        }
        /*即将发布*/
        #home-page .upcoming-games-card .item {
            width: 15rem;
        }

        #home-page .upcoming-games-card .name {
            font-size: 1rem !important;
            font-weight: inherit;
        }
        /*最新文章*/

        #home-page .latest-articles-card .content {
            gap: .5rem;
        }

        #home-page .latest-articles-card .head {
            gap: .5rem;
        }
        /*最新视频*/

        #home-page .latest-videoes-card .group {
            flex-direction: row;
        }

        #home-page .latest-videoes-card .item {
            flex-direction: column;
            width: 12rem;
        }

        #home-page .latest-videoes-card .image {
            width: 100% !important;
            height: min-content;
        }

        #home-page .latest-videoes-card .head {
            gap: .5rem;
        }

        #home-page .latest-videoes-card .addinfo {
            word-break: keep-all;
            flex-wrap: wrap;
        }
        /*角色生日*/
        #home-page .birthday-card .default.item {
            padding: .5rem;
        }
        /*友情连接*/
        #home-page .friend-links-card .group {
            margin: 0;
        }

        #home-page .friend-links-card .item {
            width: 10rem;
        }
        /*一言*/
        #home-page .quote-card .quote-content {
            font-size: 1.2rem !important;
            letter-spacing: .2rem;
        }
        /*关于我们*/
        #home-page .about-card .head {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
        }

        #home-page .about-card .links-groups {
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            gap: 0rem;
            word-break: keep-all;
            margin: 0;
        }


#home-page .about-card .addinfo {
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: .5rem;
}

#home-page .about-card {
    gap: 2rem !important;
}
/*专题推荐*/
#home-page .evaluations-item {
    padding: 0;
}

#home-page .evaluations-group {
    margin: 0;
    padding: 0;
}

#home-page .evaluations-card .articles-group img {
    width: 9rem !important;
}

#home-page .articles-group .item {
    flex-direction: column;
    width: calc((100% - 1rem)*0.5);
}

    #home-page .articles-group .item img {
        width: 100% !important;
    }

#home-page .articles-group {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

    #home-page .articles-group .head {
        gap: .5rem;
    }

    #home-page .articles-group .addinfo {
        word-break: keep-all;
        flex-wrap: wrap;
    }

    #home-page .articles-group .name {
        -webkit-line-clamp: 2;
    }

#home-page .evaluations-card .content {
    font-size: inherit;
}
/*免费游戏*/
#home-page .free-games-card .name {
    font-size: 1rem !important;
    font-weight: inherit;
}

#home-page .free-games-card .brief {
    display: none;
}

#home-page .free-games-card .item {
    width: 10rem;
}
/*打折游戏*/
#home-page .discount-games-card .item {
    width: 13rem;
}

#home-page .discount-games-card .name {
    font-size: 1rem !important;
    font-weight: inherit;
}
/*看板娘*/
#home-page .kanban-card .content {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

/*个性化推荐*/
#home-page .recommends-group {
    gap: 1rem;
}

/*纯文本*/
#home-page .plain-text-card.item {
    flex-direction: column;
    gap: 0rem;
}

    #home-page .plain-text-card.item img {
        width: 100% !important;
        height: auto !important;
        min-width: auto !important;
    }

    #home-page .plain-text-card.item .name {
        font-size: 1.5rem;
    }


/*相册*/
#home-page .gallery-card .actions {
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    justify-content: space-between;
}

#home-page .gallery-card .head {
    gap: .5rem;
    flex-direction: column;
    align-items: flex-start;
}

#home-page .gallery-card .name {
    font-size: 1.5rem;
}

#home-page .gallery-card {
    padding: 1rem;
    gap: 1rem;
}

    #home-page .gallery-card .content {
        padding: 0;
    }
/*图墙*/
#home-page .masa-image .item-image .image-name {
    opacity: 1;
    display: flex;
    font-size: 1rem;
}

#home-page .image-games-card {
    row-gap: 1rem;
}
/*标签*/
#home-page .hot-tags-card .item {
    padding: .2rem .5rem .2rem .5rem;
}

#home-page .hot-tags-card .group {
    gap: .5rem;
}
/*随机推荐*/
#home-page .recommends .container {
    padding: 0;
}
/*轮播图*/
#home-page .carousels-card img, #home-page .carousels-card .m-responsive__content, #home-page .carousels-card .m-window-item, #home-page .carousels-card .m-responsive .cv-carousel-card img, .cv-carousel-card .m-responsive__content, .cv-carousel-card .m-window-item, .cv-carousel-card .m-responsive {
    border-radius: var( --md-card-border-radius);
}
/*底部广告*/

.bottom-flaoting-ads-card {
    bottom: 3.5rem;
}

/*关于我们*/

.cngal-about-card .links-groups {
    gap: 3rem;
}

.cngal-about-card .addinfo {
    flex-wrap: wrap;
    gap: .5rem;
}

.cngal-about-card .head {
    gap: 1rem;
}

.cngal-about-card {
    gap: 1rem;
}
/*平台判断*/
.d-pc {
    display: none;
}

.d-app {
    display: flex;
}


.entry-card-default.relevance-card .main-card img {
    width: 160px;
}

.entry-card-default.relevance-card .content-card .name > span {
    font-size: .8rem;
    line-height: inherit;
}

.entry-card-default.relevance-card:not(.hide-title) .content-card .brief {
    -webkit-line-clamp: 2;
    font-size: .8rem;
}

.entry-card-default.relevance-card .content-card .name {
    -webkit-line-clamp: 1;
}

.entry-card-default.relevance-card {
    padding: 0;
}

    .entry-card-default.relevance-card .info-card {
        display: none;
    }

    .entry-card-default.relevance-card .main-card {
        gap: 0;
    }

    .entry-card-default.relevance-card .content-card {
        padding: .2rem .5rem;
    }

    .entry-card-default.relevance-card .title-card .name {
        line-height: 1rem;
    }

    .entry-card-default.relevance-card .main-card img.thum {
        width: 90px;
        padding: .5rem;
        padding-right: 0;
    }

    .entry-card-default.relevance-card.big-card-style .content-card {
        padding-top: .5rem;
    }

        .entry-card-default.relevance-card.big-card-style .content-card .brief {
            -webkit-line-clamp: 2;
        }

    .entry-card-default.relevance-card.hide-title .content-card .brief {
        -webkit-line-clamp: 4;
        white-space:inherit;
    }

/*折扣页面*/
.discount-screen-card .title-card {
    align-items: center;
    gap: .5rem;
    align-items: flex-end;
}

.discount-screen-card .input-card {
    justify-content: space-between;
}

.article-main-card {
    gap: 1rem;
}

    .article-main-card h1 {
        font-size: 1.5rem;
    }

#top .button-area > div {
    min-width: 100px;
}

.information .jacket {
    width: 100%;
    max-width: 350px;
}

.information .description {
    width: 100%;
    max-width: 350px;
}

.character-card .caption .name {
    font-size: 1.5rem;
}

.character-card .caption .cv {
    margin-top: 0;
}

.character-card .caption .audio {
    margin-top: 10px;
}

.character-card .caption .infor div {
    margin-top: 0;
    letter-spacing: 0;
}

.character-card .caption .audio + .infor {
    margin-top: 10px;
}

.character-card .caption .infor {
    margin-top: 20px;
}

.character-card .caption .description {
    margin-top: 20px;
}

.character-icon {
    width: 50px;
    height: 50px;
}

.character-list .m-card {
    margin: 6px;
}

.character-card .caption {
    max-width: 450px;
    width: 100%;
    padding: 20px 0 0px;
    border-left: none;
    border-top: 2px solid var(--md-sys-color-primary);
    line-height: 1.25rem !important;
    font-size: .875rem !important;
}

.character-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px;
}

.official-website section h2 {
    padding-bottom: 3rem;
}

.official-website section {
    margin: 0 0 4rem;
}

#top .logo-area h1 span {
    font-size: 4rem;
}

#top .logo-area {
    bottom: 18%;
}

    #top .logo-area .lead {
        font-size: 1rem;
    }

#top .copy {
    font-size: 1rem;
}

#top {
    max-height: none;
    height: calc(100vh - 48px);
}

.information .description .detail > div.title dd {
    font-size: 1.5rem;
    line-height: inherit;
}

.staff-card .group-no > .items {
    font-size: 0.8rem;
}

    .staff-card .group-no > .items > .posts {
        margin: 0;
    }

.staff-card .posts > .name {
     margin-right: 0; 
}

.revenues-page .game-card .head-card img {
    width: 180px;
}

.revenues-page .game-card .head-card .text-card {
    font-size: 0.9rem;
}

.revenues-page .game-card .head-card .number-card {
    font-size: 1.3rem;
}

.revenues-page .game-card .content-card .name-card {
    font-size: 1.1rem;
}

.revenues-page .game-card .content-card {
    gap: .3rem;
}

    .revenues-page .game-card .content-card .info-crad, .revenues-page .game-card .content-card .publisher-card {
        font-size: .75rem;
    }

    .revenues-page .game-card .content-card .divider-crad {
        height: 10px;
    }

.revenues-page .brief-card .line-1 {
    font-size: 1rem;
    font-weight: bold;
}

.revenues-page .brief-card .line-2 {
    font-size: .8rem;
}

.revenues-page .index-card {
    font-size: 1rem;
}

.lottery-home-page > .md-card {
    flex-direction:column;
}
.lottery-home-page .image-card {
    width: 100%;
    aspect-ratio: 460 / 215;
}

.lottery-home-page .head-card {
    width: 100%;
}
    .lottery-home-page .head-card .title-text {
        font-size: larger;
    }
.lottery-home-page .image-link-card {
    display: flex;
    width: 100%;
}

.lottery-home-page .image-card {
    width: 100%;
    aspect-ratio: 460 / 215;
}
