/*关于我们*/

.cngal-about-card .links-groups {
    gap: 3rem;
}

.cngal-about-card .addinfo {
    flex-wrap: wrap;
    gap: .5rem;
}

.cngal-about-card .head {
    gap: 1rem;
}

.cngal-about-card {
    gap: 1rem;
}
/*平台判断*/
.d-pc {
    display: none;
}

.d-app {
    display: flex;
}
/*通用行列组件*/
.compact-row {
    margin: -4px!important;
}
.compact-row .col,
.compact-row .col-1, 
.compact-row .col-10, 
.compact-row .col-11, 
.compact-row .col-12, 
.compact-row .col-2, 
.compact-row .col-3, 
.compact-row .col-4, 
.compact-row .col-5, 
.compact-row .col-6, 
.compact-row .col-7, 
.compact-row .col-8, 
.compact-row .col-9, 
.compact-row .col-auto, 
.compact-row .col-lg, 
.compact-row .col-lg-1, 
.compact-row .col-lg-10, 
.compact-row .col-lg-11, 
.compact-row .col-lg-12, 
.compact-row .col-lg-2, 
.compact-row .col-lg-3, 
.compact-row .col-lg-4, 
.compact-row .col-lg-5, 
.compact-row .col-lg-6, 
.compact-row .col-lg-7, 
.compact-row .col-lg-8, 
.compact-row .col-lg-9, 
.compact-row .col-lg-auto, 
.compact-row .col-md, 
.compact-row .col-md-1, 
.compact-row .col-md-10, 
.compact-row .col-md-11, 
.compact-row .col-md-12, 
.compact-row .col-md-2, 
.compact-row .col-md-3, 
.compact-row .col-md-4, 
.compact-row .col-md-5, 
.compact-row .col-md-6, 
.compact-row .col-md-7, 
.compact-row .col-md-8, 
.compact-row .col-md-9, 
.compact-row .col-md-auto, 
.compact-row .col-sm, 
.compact-row .col-sm-1, 
.compact-row .col-sm-10, 
.compact-row .col-sm-11, 
.compact-row .col-sm-12, 
.compact-row .col-sm-2, 
.compact-row .col-sm-3, 
.compact-row .col-sm-4, 
.compact-row .col-sm-5, 
.compact-row .col-sm-6, 
.compact-row .col-sm-7, 
.compact-row .col-sm-8, 
.compact-row .col-sm-9, 
.compact-row .col-sm-auto, 
.compact-row .col-xl, 
.compact-row .col-xl-1, 
.compact-row .col-xl-10, 
.compact-row .col-xl-11, 
.compact-row .col-xl-12, 
.compact-row .col-xl-2, 
.compact-row .col-xl-3, 
.compact-row .col-xl-4, 
.compact-row .col-xl-5, 
.compact-row .col-xl-6, 
.compact-row .col-xl-7, 
.compact-row .col-xl-8, 
.compact-row .col-xl-9, 
.compact-row .col-xl-auto {
        padding: 4px!important;
    }
