/*关于我们*/

.cngal-about-card .links-groups {
    gap: 3rem;
}

.cngal-about-card .addinfo {
    flex-wrap: wrap;
    gap: .5rem;
}

.cngal-about-card .head {
    gap: 1rem;
}

.cngal-about-card {
    gap: 1rem;
}
/*平台判断*/
.d-pc {
    display: none;
}

.d-app {
    display: flex;
}
