<div class="almanac-border-line-1" />
<div class="almanac-border-line-2" />
<div class="almanac-border-line-3" />
<div class="almanac-border-line-4" />
<img class="almanac-border-image-title" src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/almanac/home-title.png" />

<div class="almanac-border-title-name">
    年鉴
</div>
<div class="almanac-border-sub-title-name">
    （内部测试中）
</div>
<img class="almanac-border-image-code" src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/almanac/home-code.png" />

@code {

}
