<div class="section-title-card">
    <div class="year-almanac-name-card">
        <div class="year">2023</div>
        <div class="almanac-name">CNGAL年鉴</div>
    </div>
    <div class="name-cn-en-card">
        <div class="name-en">@EnglishName</div>
        <div class="name">@Name</div>
    </div>
</div>

@code {
    [Parameter]
    public string Name{ get; set; }
    [Parameter]
    public string EnglishName { get; set; }
}
