@using CnGalWebSite.SDK.MainSite.Models

@if (!string.IsNullOrWhiteSpace(Model.MainPageHtml))
{
    <div class="cg-markdown-body">
        @((MarkupString)Model.MainPageHtml)
    </div>
}
else
{
    <div class="cg-space-main-empty">
        <CgMdiIcon Name="mdiTextBoxOutline" aria-hidden="true" />
        <p>这个人很懒，还没有写个人介绍~</p>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public required SpaceDetailViewModel Model { get; set; }
}