@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>CnGal资料站 - 开放平台</PageTitle>
<MApp>
    <MMain Class="main-content">
        <div Class="overflow-hidden">
            <MAppBar Absolute Color="primary" Class="app-bar"
                     ShrinkOnScroll
                     Prominent
                     Src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/game_head.png"
                     FadeImgOnScroll
                     ScrollTarget="#main-sheet">
                <ImgContent>
                    <MImage Gradient="to top right, rgb(240 98 146 / 50%), rgb(240 98 146 / 50%)" @attributes="@context"></MImage>
                </ImgContent>

                <ChildContent>
                    <MAppBarNavIcon @onclick="() => _drawer = !_drawer"></MAppBarNavIcon>
                    <MAppBarTitle>CnGal资料站 - 开放平台</MAppBarTitle>
                    <MSpacer></MSpacer>
                    <CnGalWebSite.IdentityServer.Admin.Shared.Components.Layout.UserButton />
                </ChildContent>
                <ExtensionContent>
                    <MTabs AlignWithTitle Routable>
                        <MTab Href="/">主页</MTab>
                        <MTab Href="/users/index">个人信息</MTab>
                        <MTab Href="/users/clients">应用列表</MTab>

                        <AuthorizeView Roles="Admin">
                            <MTab Href="/admin/users">用户列表</MTab>
                            <MTab Href="/admin/roles">角色列表</MTab>
                            <MTab Href="/admin/clients">客户端列表</MTab>
                            <MTab Href="/admin/examines">审核列表</MTab>
                            <MTab Href="/admin/apiscopes">API范围列表</MTab>
                            <MTab Href="/admin/identityresources">身份资源列表</MTab>
                            <MTab Href="/admin/records">操作记录列表</MTab>
                        </AuthorizeView>

                    </MTabs>
                </ExtensionContent>
            </MAppBar>
            <MSheet Class="overflow-y-auto" Id="main-sheet">
                <MContainer Style=" margin-top: 250px;">
                    <ErrorHandler ShowDetailedErrorInfor>
                        @Body
                    </ErrorHandler>
                </MContainer>
            </MSheet>
        </div>
    </MMain>
    <MNavigationDrawer @bind-Value="_drawer" Absolute Temporary>
        <div class="nav-drawer">
            <MButton Text Block Color="primary" Href="/">
                <MIcon Left>mdi-home</MIcon>
                主页
            </MButton>
            <MButton Text Block Color="primary" Href="/users/index">
                <MIcon Left>mdi-account</MIcon>
                个人信息
            </MButton>
            <MButton Text Block Color="primary" Href="/users/clients">
                <MIcon Left>mdi-application-outline</MIcon>
                应用列表
            </MButton>
            <AuthorizeView Roles="Admin">
                <MButton Text Block Color="primary" Href="/admin/users">
                    <MIcon Left>mdi-account-group</MIcon>
                    用户列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/roles">
                    <MIcon Left>mdi-account-lock</MIcon>
                    角色列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/clients">
                    <MIcon Left>mdi-application</MIcon>
                    客户端列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/examines">
                    <MIcon Left>mdi-bell-outline</MIcon>
                    审核列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/apiscopes">
                    <MIcon Left>mdi-lock</MIcon>
                    API范围列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/identityresources">
                    <MIcon Left>mdi-forest</MIcon>
                    身份资源列表
                </MButton>
                <MButton Text Block Color="primary" Href="/admin/records">
                    <MIcon Left>mdi-record</MIcon>
                    操作记录列表
                </MButton>
            </AuthorizeView>

        </div>
    </MNavigationDrawer>
    <MFooter App Absolute>
        &copy; 2025 - CnGal资料站
        &nbsp;&nbsp;&nbsp;<a target="_blank" href="http://beian.miit.gov.cn" one-link-mark="yes">粤ICP备15055899号</a>
        &nbsp;&nbsp;&nbsp;<a href="https://icp.gov.moe/?keyword=20225899" target="_blank" one-link-mark="yes">萌ICP备20225899号</a>
        &nbsp;&nbsp;&nbsp;不良信息举报邮箱：help@cngal.org
    </MFooter>
</MApp>




@code {
    private bool? _drawer = false;
    private StringNumber _value = default;

    void ValueChanged(StringNumber value)
    {
        _value = value;
        _drawer = false;
    }
}
