@page "/account/ChooseVerificationMethod/{*returnURL}"

@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IDataCacheService _dataCacheService

@inject IJSRuntime JS

<TitleTip Title="选择二次身份验证方式"></TitleTip>
<CnGalWebSite.Shared.MasaComponent.Shared.Tips.LoginPagesRoot>

    <div class="p-3">
        <h1 class=" login-h1-text mb-3 text-center">请选择一种方式验证身份</h1>
        <p class="mb-4 text-center">根据国家法律法规，在登入之前我们必须验证你的真实身份，你可以选择下方任一一种方式进行验证</p>
        <div class="row">
            <div class="form-group col-12">
                <Button Color="Color.Dark" style="width:100%" Text=" 手机" IsOutline="true" Icon="fa fa-phone" Size="Size.None" @onclick="OnClickPhone"></Button>
            </div>
            <div class="form-group col-12">
                <Button Color="Color.Dark" style="width:100%" Text=" QQ" IsOutline="true" Icon="fa fa-qq" Size="Size.None" @onclick="OnClickQQ"></Button>
            </div>
        </div>
    </div>

</CnGalWebSite.Shared.MasaComponent.Shared.Tips.LoginPagesRoot>


@code {
    [Parameter]
    public string returnURL { get; set; }


    public async void OnClickPhone()
    {
        try
        {
            NavigationManager.NavigateTo("/account/addphonenumber/" + returnURL);

        }
        catch
        {
            await ToastService.Error("尝试导航失败", "请尝试刷新页面");
        }
    }
    public async void OnClickQQ()
    {
        try
        {
            NavigationManager.NavigateTo(ToolHelper.GetThirdPartyLoginUrl(returnURL, ThirdPartyLoginType.QQ));

        }
        catch
        {
            await ToastService.Error("尝试导航失败", "请尝试刷新页面");
        }
    }
}
