@page "/account/ConfirmEmailRegister/{*ReturnUrl}"
@inject IAuthService AuthService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IAppHelper _appHelper
@inject ToastService? ToastService
@inject ILocalStorageService _localStorage
@inject IDataCacheService _dataCacheService

@inject IAuthService AuthService

<TitleTip Title="验证电子邮箱"></TitleTip>
<CnGalWebSite.Shared.AppComponent.Normal.Redirections.MakeAccountLayoutRight />

<div class="p-3">
    <h1 class="h4 mb-3 text-center">验证电子邮箱</h1>
    <p class="mb-4" style=" font-size: initial;">我们已经向你的电子邮箱发送了一封验证邮件，请在下方填写其中的验证码。如果没有在收件箱找到邮件，请检查垃圾箱</p>
    <div   class="form-group mt-4  mb-0">

        <div class="row">
            <div class="form-group col-12">
                <div id="captcha-box"></div>
            </div>
            <div class="form-group col">
                <BootstrapInput @bind-Value="Model.NumToken" ShowLabel="true"/>
            </div>
            <div class="form-group col-auto" style=" display: flex; align-items: flex-end;">
                <PostVerificationCodeTip UserName="@_dataCacheService.UserName" IsFrist="false"></PostVerificationCodeTip>
            </div>
            <div class="form-group col-12">
                <Button Color="Color.Dark"  IsAsync="true" style="width:100%" OnClick="HandleConfirm">验证</Button>
            </div>

        </div>
    </div>

</div>
@code {

    [Parameter]
    public string ReturnUrl { get; set; }

    private ConfirmEmailRegisterModel Model = new ConfirmEmailRegisterModel();
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    private async Task HandleConfirm()
    {

        try
        {
            Model.UserName = _dataCacheService.UserName;
            var result = await AuthService.ConfirmEmailRegister(Model);

            if (result.Successful)
            {
                if (await AuthService.Login(result.Token) == false)
                {
                    await ToastService.Success("出现一个错误", "验证邮件成功，但是尝试登入失败");
                }
                //保存令牌
                _dataCacheService.LoginKey = result.LoginKey;
                //尝试保存在本地
                await _localStorage.SetItemAsStringAsync("LoginKey", result.LoginKey);

                await ToastService.Success("验证邮箱成功", "验证邮箱成功");
                NavigationManager.NavigateTo("/account/ChooseVerificationMethod/" + ReturnUrl);
                //NavigationManager.NavigateTo(Provider,string.IsNullOrWhiteSpace(ReturnUrl) ? "/" : ToolHelper.Base64DecodeUrl(ReturnUrl));
            }
            else
            {
                await ToastService.Error("验证邮箱失败", result.Error);

            }
        }
        catch(Exception ex)
        {
            ErrorHandler.ProcessError(ex, "验证邮箱失败");
        }

    }

}
