@page "/account/register/{*ReturnUrl}"
@page "/account/register/"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@inject ToastService? ToastService
@inject IHttpService _httpService
@inject IDataCacheService _dataCacheService


<TitleTip NoIndex Title="注册"></TitleTip>
<CnGalWebSite.Shared.MasaComponent.Shared.Tips.LoginPagesRoot>

    <div class="p-3">
        <h1 class="login-h1-text mb-4 text-center">欢迎来到CnGal资料站</h1>
        <div>
            <MTextField @bind-Value="Model.Email"
                        
                        Label="电子邮件"></MTextField>

            <MTextField Dense Label="用户名" 
                        @bind-Value="Model.Name"></MTextField>

            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaPasswordInput Placeholder="请输入密码" Label="密码"
                                                                                   @bind-Value="Model.Password" />

            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaPasswordInput Placeholder="请输入密码" Label="确认密码"
                                                                                   @bind-Value="Model.ConfirmPassword" />

            <div class="mb-4">
                <a href="/privacy">CnGal资料站隐私协议</a>
            </div>
            <div class="mb-4">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="注册" IsAsync="true" OnClick="OnClickRegiste" Class="w-100" Rounded Depressed />
            </div>

            <span class=" d-flex" style="justify-content: center; ">
                已经有账号了？ <a style="float:right" href="/account/login">立即登入</a>
            </span>
        </div>
    </div>

</CnGalWebSite.Shared.MasaComponent.Shared.Tips.LoginPagesRoot>

<CnGalWebSite.Shared.MasaComponent.Shared.Components.HumanMachineVerification @ref="humanMachineVerification" OnVerficated="OnVerficated" WaitChecked />
<CnGalWebSite.Shared.MasaComponent.Shared.Components.DeviceIdentification @ref="deviceIdentification" />



@code {
    [Parameter]
    public string ReturnUrl { get; set; }

    private int widgetId = -1;

    private DotNetObjectReference<Register> objRef;

    private RegisterModel Model = new RegisterModel();

    bool isSuccess = true;

    string Challenge = "";
    string Validate = "";
    string Seccode = "";
    bool IsInitGeetest = false;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    CnGalWebSite.Shared.MasaComponent.Shared.Components.HumanMachineVerification humanMachineVerification;
    CnGalWebSite.Shared.MasaComponent.Shared.Components.DeviceIdentification deviceIdentification;


    public async Task OnClickRegiste()
    {
        //判断输入是否正确
        if (Model.Password != Model.ConfirmPassword)
        {
            await ToastService.Error("注册失败", "两次输入的密码不一致");
            return;
        }
        if (string.IsNullOrWhiteSpace(Model.Name))
        {
            await ToastService.Error("注册失败", "请输入用户名");
            return;

        }
        if (Model.Name.Length > 20)
        {
            await ToastService.Error("注册失败", "用户名必须少于20个字符");
            return;
        }
        if (string.IsNullOrWhiteSpace(Model.Email))
        {
            await ToastService.Error("注册失败", "请输入电子邮件");
            return;

        }
        if (System.Text.RegularExpressions.Regex.Match(Model.Email, "^[\\w-]+@[\\w-]+\\.[\\w-]+$").Success == false)
        {
            await ToastService.Error("注册失败", "输入的电子邮件无效");
            return;
        }

        await humanMachineVerification.StartVerification();
    }


    public async Task OnVerficated(HumanMachineVerificationResult model)
    {
        try
        {
            Model.Verification = model;
            if (deviceIdentification != null)
            {
                Model.Identification = await deviceIdentification.GetDeviceIdentificationModel();
            }


            var result = await AuthService.Register(Model);

            if (result.Successful)
            {
                _dataCacheService.UserName = Model.Name;
                _dataCacheService.UserEmail = Model.Email;
                NavigationManager.NavigateTo("/account/ConfirmEmailRegister/" + ReturnUrl);
            }
            else
            {
                await ToastService.Error("注册失败", "参数错误 " + result.Error);
                isSuccess = false;
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "注册失败");
            isSuccess = false;
        }
    }

    private async void OnLogin()
    {
        try
        {
            NavigationManager.NavigateTo( "/account/login/" + ReturnUrl);
        }
        catch
        {
            await ToastService.Error("尝试导航失败", "请尝试刷新页面");
        }
    }
}
