@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager


<div class="mb-4 rounded shadow-sm  bg-opacity d-flex p-3 ">
    <MSpacer></MSpacer>
    <CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard @ref="homeTitleCard" Min/>
    <MSpacer></MSpacer>
    <MTooltip Bottom>
        <ActivatorContent>
            <MButton Icon Dark Color="@_dataCacheService.ThemeSetting.Theme" Class="mr-6" OnClick="OnNavSearchClick">
                <MIcon>mdi-magnify</MIcon>
            </MButton>
        </ActivatorContent>
        <ChildContent>
            <span>搜索</span>
        </ChildContent>
    </MTooltip>

    <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />
</div>

@code {
    CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard homeTitleCard;

    public async Task ChangeTitle(string title)
    {
        if (homeTitleCard != null)
        {
            await homeTitleCard.ChangeTitle(title);
        }
    }

    public Task OnNavSearchClick()
    {
        NavigationManager.NavigateTo("/home/search/全部");
        return Task.CompletedTask;
    }
}
