@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<CnGalWebSite.Shared.MasaComponent.App.Shared.RefreshableLayout Title="打折游戏" Icon="@IconType.Discount.ToIconString()" Class="@Class" MoreUrl="/discount" RefreshText="换一组打折游戏" OnClickRefresh="Refresh">
    <div class="row">
        @foreach (var item in _dataCacheService.DiscountPageCatcheHelper.Items.Take(2))
        {
            <div class="col-12 col-md-6 mb-3">
                <CnGalWebSite.Shared.MasaComponent.PC.Entries.Home.DiscountGameViewTip Model="item" />
            </div>
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.App.Shared.RefreshableLayout>
@code {
    [Parameter]
    public string Class { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (_dataCacheService.DiscountPageCatcheHelper.IsInit == false)
                {
                    _dataCacheService.DiscountPageCatcheHelper.Init(await Http.GetFromJsonAsync<List<SteamInforTipViewModel>>(ToolHelper.WebApiPath + "api/steam/GetAllDiscountSteamGame", ToolHelper.options));

                    try
                    {
                        _dataCacheService.DiscountPageCatcheHelper.PurchasedGames = await Http.GetFromJsonAsync<List<int>>(ToolHelper.WebApiPath + "api/playedgame/GetUserInSteamGameIds", ToolHelper.options);
                    }
                    catch
                    {

                    }

                }
                _dataCacheService.DiscountPageCatcheHelper.Model.Random();

                StateHasChanged();

            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "获取词条主页免费游戏列表失败");
            }
        }
    }

    public Task Refresh()
    {
        _dataCacheService.DiscountPageCatcheHelper.Model.Random();
        return Task.CompletedTask;
        }

}
