@inject IHttpService _httpService
@inject ToastService? ToastService
@inject DialogService DialogService
@inject NavigationManager NavigationManager


<div style=" display: flex; flex-direction: column; justify-content: center;" class="me-2 font-color" @onclick="OnClickStar">
    <i class="@(IsCollected?"fa fa-check fa-fw ":"fa fa-shopping-basket fa-fw ")" style=" font-size: 20px;"></i>
</div>


@code {
    [Parameter]
    public long Id { get; set; }

    [Parameter]
    public bool IsCollected { get; set; }

    [Parameter]
    public EventCallback<bool> CollectionChanged { get; set; }


    bool isReady = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    private async Task OnClickStar()
    {
        //判断用户是否登录
        var user = await authenticationStateTask;
        if (user.User.Identity.IsAuthenticated)
        {
            if (IsCollected)
            {
                await UnCollected();
            }
            else
            {
                await Collect();

            }
        }
        else
        {
            NavigationManager.NavigateTo("account/apps/login/"+ToolHelper.Base64EncodeUrl(NavigationManager.Uri));
        }

    }


    private async Task UnCollected()
    {
        try
        {
            Result obj = await _httpService.GetAsync<Result>("api/peripheries/UnCollectPeriphery/" + Id);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("取消拥有周边失败", obj.Error);
            }
            else
            {
                IsCollected = false;
                await  CollectionChanged.InvokeAsync(IsCollected);
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "取消拥有周边失败");
        }
    }
    private async Task Collect()
    {
        try
        {
            Result obj = await _httpService.GetAsync<Result>("api/peripheries/CollectPeriphery/" + Id);

            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("拥有周边失败", obj.Error);
            }
            else
            {
                IsCollected = true;
                await CollectionChanged.InvokeAsync(IsCollected);

                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "拥有周边失败");
        }
    }
}
