@inject IDataCacheService _dataCacheService

<div style=" background: #f0f0f0; border-radius: 5px; " class="ps-2 pe-2">
    @if (Type == DisplayMode.Image)
    {
        <div @onclick="@(()=> ChangeModel(DisplayMode.Text))">
            <i class="fa fa-fw fa-th-large"></i>图片模式
        </div>
    }
    else
    {
        <div @onclick="@(()=>ChangeModel(DisplayMode.Image))">
            <i class="fa fa-fw fa-th-list"></i>列表模式
        </div>

    }
</div>

@code {

    public DisplayMode Type { get; set; }
    [Parameter]
    public EventCallback<DisplayMode> OnChangeType { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Type = _dataCacheService.ThemeSetting.ListDisplayMode;
    }

    private async Task ChangeModel(DisplayMode type)
    {
        Type = type;
        StateHasChanged();
        await OnChangeType.InvokeAsync(type);
    }


}
