@inject IJSRuntime JS
@inject NavigationManager NavigationManager


<div style=" display: flex;  flex-direction: column; justify-content: center;" class="font-color" @onclick="OnClickShare">
    <i class="fa fa-share-alt fa-fw " style=" font-size: 20px;"></i>
</div>

@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Image { get; set; }

    private async Task OnClickShare()
    {
        await JS.InvokeAsync<string>("shareLink", "", "", NavigationManager.Uri, "");
    }
}
