/*参数*/
:root {
    --md-card-border-radius: 12px;
    --md-card-active-border-radius: 24px;
}

:root {
    --md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);
    --md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);
    --md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);
    --md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);
    --md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);
}

/*全局*/
body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

/*背景图*/
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.bg-opacity {
    background-color: white !important;
}

.bg-theme {
    background-color: white !important;
}

/*大图预览*/
.largeimage-bg {
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0,0,0,.7);
    position: fixed;
    z-index: 1050;
}



.largeimage-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.largeimage-btn-close {
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.largeimage-layout-in {
    height: 100%;
    width: 100%;
    justify-content: center;
}

.largeimage-btn-left {
    position: fixed;
    left: 1rem;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}

.largeimage-btn-right {
    position: fixed;
    right: 1rem;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}

.largeimage-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    /*height: fit-content;*/
    align-self: center;
}

.largeimage-a {
    max-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.largeimage-layout-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*固定行数*/
.text-truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.outline-button-title {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
    font-size: small !important;
    padding-top: 6px;
    font-weight: normal;
}

.outline-button-null-url {
    /* transition: all .6s ease; */
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}

.outline-button-normal {
    /* transition: all .6s ease; */
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}
/*页脚*/
.load-footer a:hover {
    color: var(--hover-color) !important;
}

.load-footer a {
    color: gray !important;
}

.pointer {
    cursor: pointer !important;
}

.login-h1-text {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
}
/*相册查看组件*/
.image-overlays {
    opacity: .4;
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
}

    .image-overlays.active {
        opacity: 1 !important;
    }

    .image-overlays:hover {
        opacity: 1;
    }

.image-contain {
    height: 100%;
    background-position: center top;
    background-size: cover;
}

/*移动端 小卡片 标签样式*/
.app-card-tag {
    background-color: var(--md-sys-color-primary);
    color: #fff;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}


/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}
/*视觉反馈*/
a:focus-visible {
    outline: thin dotted;
}

code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

/*旋转*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.icon-rotate {
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

/*删除与新增*/
del {
    text-decoration: none;
    color: #b30000;
    text-decoration: line-through;
    background: #fadad7;
}

ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}
/*字体*/
.fw-bold {
    font-weight: bold;
}
/*幻灯片组*/
.slide-group-garp .m-slide-group__content {
    gap: 1rem;
}
/*页面内容距离顶部*/
.variable.container {
    padding-top: 24px;
}
