
/*背景图*/
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    zoom: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}




.outline-button-title {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
    font-size: small !important;
    padding-top: 6px;
    font-weight: normal;
}

.outline-button-null-url {
    /* transition: all .6s ease; */
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}

.outline-button-normal {
    /* transition: all .6s ease; */
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}
/*页脚*/
.load-footer a:hover {
    color: var(--hover-color) !important;
}

.load-footer a {
    color: gray !important;
}


.login-h1-text {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
}
/*相册查看组件*/
.image-overlays {
    opacity: .4;
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
}

    .image-overlays.active {
        opacity: 1 !important;
    }

    .image-overlays:hover {
        opacity: 1;
    }

.image-contain {
    height: 100%;
    background-position: center top;
    background-size: cover;
}

/*移动端 小卡片 标签样式*/
.app-card-tag {
    background-color: rgba(var(--m-theme-primary));
    color: #fff;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}
