@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<MAppBar App Style="background-color: rgba(var(--m-theme-surface-container-low))!important;" Dense>
    <div style="color: rgba(var(--m-theme-primary))!important;">
        <MAppBarNavIcon @onclick="@(()=>SetDrawer())"></MAppBarNavIcon>
    </div>

    <CnGalWebSite.GameSite.Shared.Components.Layout.TitleCard />
    <MSpacer></MSpacer>

    <MButton Icon Href="/" Color="primary">
        <MIcon>mdi-home</MIcon>
    </MButton>
</MAppBar>
<CnGalWebSite.GameSite.Shared.Components.Layout.NavButton Drawer="drawer" @ref="navButton" />

<MMain Class="pb-0">
    <CascadingValue Value="this" IsFixed="true">
            <CnGalWebSite.Components.Containers.MasaContainer>
             <ErrorHandler ShowDetailedErrorInfor>
                    @Body
                </ErrorHandler>

            </CnGalWebSite.Components.Containers.MasaContainer>
    </CascadingValue>
</MMain>

@code {
    bool drawer { get; set; }
    CnGalWebSite.GameSite.Shared.Components.Layout.NavButton navButton;

    public void SetDrawer()
    {
        if (navButton != null)
        {
            navButton.SetDrawer(true);
        }
    }
}
