@model VerificationMsgViewModel
@using CnGalWebSite.IdentityServer.Models.ViewModels.Messages
@using CnGalWebSite.Extensions


<div>
    <table align="center" cellpadding="0" cellspacing="0"
           style="font-family:Tahoma,Helvetica,Arial,sans-serif,Microsoft YaHei;" width="700">
        <tbody>
            <tr>
                <td align="center" colspan="2" height="100"
                    style="border: 2px solid #bc004b;border-right-width: 0;border-left-width: 0;color: #bc004b;font-size: 30px;font-weight: bold;">
                    <p>CnGal 中文GalGame资料站</p>
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="font-size:15px; line-height:1.75; padding:0 25px; color:#514242;padding-top: 30px;">
                    <p style="text-align: left;">
                        @Model.UserName，你好！<br />
                        欢迎来到 CnGal资料站，在完成 <strong>@Model.Purpose</strong> 之前，我们需要验证一下你的邮箱<br />
                    </p>
                    <p style="text-align: left;font-size: 20px;font-weight: bold;">🔢 验证码：@Model.Code</p>
                    <p style="text-align: left;">

                        最后，感谢您的访问，祝您使用愉快！
                    </p>

                </td>
            </tr>

            <tr>
                <td colspan="2" height="50" style="font-size:12px;color: #bc004b;padding: 20px;padding-top: 0;">
                    <p style="margin-top: 30px;color: #bc004b;    font-size: 15px;">
                        CnGal资料站 管理团队
                    </p>
                    此为系统邮件，请勿回复 <br> 请保管好您的邮箱，避免账号被他人盗用
                </td>
            </tr>
            <tr>

                <td width="230" style="padding-left:20px; font-size:13px; color:#bc004b; border-top:1px dashed #bc004b;"
                    valign="middle">
                    <img src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/footer_logo.png"
                         style="float:left;" height="40">
                </td>


                <td align="right" width="470"
                    style="padding-right:20px; font-size:13px; color:#bc004b; border-top:1px dashed #bc004b;"
                    valign="middle">
                    <span style="float:right;">
                        © 2025 - CnGal资料站
                    </span>
                </td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
