
<div class="card h-100  rounded shadow-sm  bg-opacity p-4" style="border:0px">
    <div style="height:100%">
        <h1 class="fw-bold h4 font-color">
              <i class="@("fa "+Icon)"></i>&nbsp;&nbsp;@Title
        </h1>
        <p class="" style="color: gray;margin-top:20px">
            @BriefIntroduction
        </p>

    </div>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <div class="card-footer" style="background-color: transparent; border: 0px; padding: 0px">
                <Button style="width: 100px" @onclick="OnToolClick" IsAsync="true" Color="Color.Success" IsOutline="true" Icon="fa fa-plus" Text="创建"></Button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [Parameter]
    public EventCallback OnToolClick { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string BriefIntroduction { get; set; }
}
