@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="@((IsShadow?"shadow-sm":"")+" apps-headbar-layout")">
    <div style="display: flex; height: 45px; flex-direction: row; align-items: center;" class="ms-2 me-2">
        <div style=" display: flex; flex-direction: column; justify-content: center;" class="me-2" @onclick="OnClickBack">
            <i class="fa fa-home fa-fw " style=" font-size: 17px;"></i>
        </div>
        <div style=" width: 100%; font-size: 16px; text-align: center; margin-right: 30px; " class="text-truncate">
            @Title
        </div>
        @if (string.IsNullOrWhiteSpace(SteamId))
        {
            <div style=" display: flex; flex-direction: column; justify-content: center;" class="ms-2" @onclick="OnEditSteam">
                <i class="fa fa-link fa-fw " style=" font-size: 17px;"></i>
            </div>
        }
        <div style=" display: flex; flex-direction: column; justify-content: center;" class="ms-2" @onclick="OnRefresh">
            <i class="fa fa-rotate-left fa-fw " style=" font-size: 17px;"></i>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public bool IsShadow { get; set; }
    [Parameter]
    public string SteamId { get; set; }

    [Parameter]
    public EventCallback OnEditSteam { get; set; }
    [Parameter]
    public EventCallback OnRefresh { get; set; }
    public async void OnClickBack()
    {
        //await JS.InvokeAsync<string>("goback");
        NavigationManager.NavigateTo("/");
    }


}

