@inject NavigationManager NavigationManager

<Scroll style="max-height:475px;">
    <div class="row m-0">
        @foreach (var item in Model.Roles)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-2 mt-2">
                <RoleViewTip Model="item" />
            </div>
        }

    </div>
</Scroll>


@code {
    [Parameter]
    public GameRoleModel Model { get; set; }


    public void OnClickArticle(long id)
    {
        NavigationManager.NavigateTo("/articles/index/" + id);
        
    }
}
