@inject HttpClient Http
@inject ToastService? ToastService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<TitleTip Title="资料站数据汇总"></TitleTip>

<div class="">
    <div class="  rounded shadow-sm  bg-opacity pt-4 pb-3 mb-3">
        <div>
            <h2 class="h4 font-color fw-bold text-center">CnGal资料站数据汇总</h2>
            <div class="d-flex" style="color: gray; justify-content: center;">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Entry" Color="grey" />
                <span class="me-4">@(Model.EntriesCount + "个词条")</span>

                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Article" Color="grey" />
                <span class="me-4">@(Model.ArticlesCount + "篇文章")</span>

                <br class="d-flex d-md-none " />
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.EditTime" Color="grey" />
                <span>@(Model.LastEditTime?.ToString("yyyy-MM-dd HH:mm"))</span>
            </div>
        </div>
    </div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               Color="@_dataCacheService.ThemeSetting.Theme">

            <MTab Value="1">
                游戏<MIcon>mdi-gamepad-square</MIcon>
            </MTab>
            <MTab Value="2">
                制作组<MIcon>mdi-account-multiple </MIcon>
            </MTab>
            <MTab Value="3">
                STAFF<MIcon>mdi-magic-staff</MIcon>
            </MTab>
            <MTab Value="4">
                制作人<MIcon>mdi-coffee-maker-outline</MIcon>
            </MTab>
            <MTab Value="5">
                角色<MIcon>mdi-clover </MIcon>
            </MTab>
            <MTab Value="6">
                游戏价格<MIcon>mdi-currency-usd </MIcon>
            </MTab>
            <MTab Value="7">
                游戏评分<MIcon>mdi-star</MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.GamesTableViewTip />
            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.GroupsTableViewTip />
            </div>
        </MTabItem>
        <MTabItem Value="3">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.StaffsTableViewTip />
            </div>
        </MTabItem>
        <MTabItem Value="4">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.MakersTableViewTip />
            </div>
        </MTabItem>
        <MTabItem Value="5">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.RolesTableViewTip />
            </div>
        </MTabItem>
        <MTabItem Value="6">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Tables.SteamsTableViewTip />
            </div>
        </MTabItem>
        <MTabItem Value="7">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.MasaComponent.PC.Tables.ScoresTable />
            </div>
        </MTabItem>
    </MTabsItems>
</div>
@code {
    private StringNumber TabIndex { get; set; } = 1;

    public TableViewModel Model = new TableViewModel();
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }



    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取服务器基本信息
            Model = await Http.GetFromJsonAsync<TableViewModel>(ToolHelper.WebApiPath + "api/tables/Gettableview", ToolHelper.options);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取汇总数据失败");
        }
    }
}
