@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authentication
@namespace CnGalWebSite.IdentityServer.Admin.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="galgame,国产galgame,中文galgame,gal,二次元,国产gal,中文gal">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="icon-512.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <base href="~/" />

    <!--masa blazor css style-->
    <link rel="stylesheet" href="https://app.cngal.org/_content/Masa.Blazor/css/masa-blazor.min.css" />
    <link rel="stylesheet" href="https://cdn.masastack.com/npm/vditor/3.8.12/dist/index.css" />

    <!--icon file,import need to use-->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/MaterialDesign-Webfont/6.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />


    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/CnGalWebSite.IdentityServer.Admin.Shared/css/site.css">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
    @{
        var accessToken = await HttpContext.GetTokenAsync("access_token").ConfigureAwait(false);
        var refreshToken = await HttpContext.GetTokenAsync("refresh_token").ConfigureAwait(false);
    }
    <component type="typeof(App)" render-mode="ServerPrerendered" param-AccessToken="accessToken" param-RefreshToken="refreshToken" />

    <div id="blazor-error-ui">
        发生了一个未知错误，请加群 761794704 反馈，或者按下F12查看控制台输出
        <a href="" class="reload">刷新</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="https://app.cngal.org/_framework/blazor.server.7.0.js"></script>
    <script src="https://app.cngal.org/_content/BlazorComponent/js/blazor-component.js"></script>
    <script>
    Blazor.start({
        reconnectionOptions: {
            maxRetries: 3,
            retryIntervalMilliseconds: 2000
        }
    });
</script>
</body>
</html>
