@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authentication
@namespace CnGalWebSite.IdentityServer.Admin.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="galgame,国产galgame,中文galgame,gal,二次元,国产gal,中文gal">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="icon-512.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <base href="~/" />

    <!--组件库-->
    @* <link rel="stylesheet" href="_content/Masa.Blazor/css/masa-blazor.min.css" /> *@
    <link rel="stylesheet" href="https://app.cngal.org/_content/Masa.Blazor/css/masa-blazor.min.css" />

    <!--图标-->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/MaterialDesign-Webfont/6.5.95/css/materialdesignicons.min.css">

    <!--自定义样式-->
    @* <link rel="stylesheet" href="_content/CnGalWebSite.Shared/css/bundle.css"> *@
    <link rel="stylesheet" href="https://app.cngal.org/_content/CnGalWebSite.Shared/css/bundle.min.css">

    <!--不同屏幕大小自适应样式-->
    @* <link rel="stylesheet" href="_content/CnGalWebSite.Shared/css/break-point.css"> *@
    <link rel="stylesheet" href="https://app.cngal.org/_content/CnGalWebSite.Shared/css/break-point.css">

    <!--主题颜色-->
    <link rel="stylesheet" href="https://app.cngal.org/_content/CnGalWebSite.Components/css/material-theme/color-tokens/color-pink-tokens.css">

    <!--亮色模式-->
    <link rel="stylesheet" href="https://app.cngal.org/_content/CnGalWebSite.Shared/css/light/bundle-light.min.css" />
    @* <link rel="stylesheet" href="_content/CnGalWebSite.Shared/css/light/bundle-light.css" /> *@

    <link rel="stylesheet" href="_content/CnGalWebSite.IdentityServer.Admin.Shared/css/site.css">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui" data-nosnippet>
        <div class="background-card">
            <div class="main-card">
                <img src="https://tucang.cngal.top/api/image/show/47560a67088d68778f872c64ba8ad338?https://image.cngal.org/images/upload/20231108/b10db068dafcc6df54bb6a665a7070d7c7331196.png" style="width: 70%;">
                <div class="content-card">
                    <h1>发生未知错误</h1>
                    <div>
                        <div>
                            请尝试刷新页面，如果问题无法解决，可加 QQ群 <a class="primary-text" href="https://jq.qq.com/?_wv=1027&k=JzuI1IkF">761794704</a> 进行反馈
                        </div>
                    </div>
                </div>
                <div class="action-card">
                    <button class="m-btn m-btn--is-elevated m-btn--has-bg m-size--default error pointer mb-3 me-3 m-btn--rounded" onclick="navigateTo('/')">
                        <span class="m-btn__content">
                            <i class="m-icon m-icon--left theme--dark mdi mdi-refresh "></i>
                            刷新
                        </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div id="components-reconnect-modal">
    </div>

    <script src="_content/CnGalWebSite.IdentityServer.Admin.Shared/js/site.js"></script>

    <!--图片裁剪-->
    <script src="https://res.cngal.org/_content/Chronos.Blazor.Cropper/CropHelper.js"></script>

    <!--组件库-->
    @* <script src="_content/BlazorComponent/js/blazor-component.js"></script> *@
    <script src="https://app.cngal.org/_content/BlazorComponent/js/blazor-component.js"></script>

    @* <script src="_framework/blazor.web.js"></script> *@
    <script src="https://res.cngal.org/_framework/blazor.web.8.0.js" autostart="false"></script>

    <script>
        Blazor.start({
            ssr: { disableDomPreservation: true }
        });
    </script>
</body>
</html>
