
<div class="@Class">
    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <div class="rounded shadow-sm  bg-opacity mb-4 p-3 ">
            <MarkdownViewTip Text="@Model.MainPage" IsNeedHighlight="true" />
        </div>
    }
    @if (Model.Pictures.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.ImageListCard Model="Model.Pictures" />
    }
    @if (Model.Texts.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.TextListCard Model="Model.Texts" />
    }
    @if (Model.Relevances.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.RelevanceListCard Model="Model.Relevances" />
    }
    @if (Model.Outlinks.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.OutlinkListCard Model="Model.Outlinks" />
    }
</div>


@code {
    [Parameter]
    public ExaminePreDataModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }

}
