.expo-lottery-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expo-lottery-page .booking-card {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.banner-image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.banner-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.title-card {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 3rem;
}

.title-card span {
    background: linear-gradient(45deg, var(--cg-color-primary) 0%, var(--cg-color-primary-hover) 100%) no-repeat right bottom;
    background-size: 100% 3px;
    transition: background-size 1000ms;
    padding-bottom: .5rem;
}

@media (max-width: 960px) {
    .expo-lottery-page {
        padding-bottom: 2rem;
    }

    .title-card {
        font-size: large;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}
