@page "/expo/anniversary"

@rendermode InteractiveServer

<CgPageMeta Title="CNGAL周年庆展示会 - 直播抽号" />

<div class="expo-anniversary-page">
    <div class="banner-image">
        <a href="https://space.bilibili.com/145239325/dynamic" target="_blank">
            <img src="https://image.cngal.org/images/upload/20260720/6a4228a91665db19cfb1a13c092e38e133686677.jpg" alt="展会横幅" />
        </a>
    </div>
    <CgTabs Variant="underline"
            Items="_tabs"
            DefaultActiveKey="anniversary"
            HrefTemplate="/expo/{0}" />
    <AnniversaryCard />
</div>

@code {
    private static readonly IReadOnlyList<CgTabItem> _tabs = [
        new("lottery", "预约抽奖"),
        new("anniversary", "直播抽号")
    ];
}
