body {
}

.home-article-card {
    flex-direction: column;
}

.home-interview-card .item {
    width: 250px;
}

.home-article-card img {
    width: 100%;
}

.home-projct-position-group-card .info-card-project-position {
    width: 20rem;
}

.home-stall-group-card .info-card-stall {
    width: 250px;
}

.info-card-stall .info-card {
    flex-direction: column;
}

.info-card-stall .price-card {
    justify-content: flex-end;
}

.info-card-project-position .title-large {
    font-size: 1rem;
}

.user-info-card .head-card img {
    width: 5rem;
}

.user-info-card .head-card .name-card .name > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-info-card .head-card {
    margin-top: -2.5rem;
}

    .user-info-card .head-card .name-card {
        margin-bottom: -3rem;
    }

.user-info-card .content-card {
    padding-top: 3rem;
}
