.home-article-card {
    flex-direction: column;
}

.home-interview-card .item {
    width: 250px;
}

.home-article-card img {
    width: 100%;
}

.home-projct-position-group-card .info-card-project-position {
    width: 20rem;
}

.home-stall-group-card .info-card-stall {
    width: 250px;
}
