.user-info-card .head-card img {
    width: 5rem;
}

.user-info-card .head-card .name-card .name > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-info-card .head-card {
    margin-top: -2.5rem;
}

    .user-info-card .head-card .name-card {
        margin-bottom: -3rem;
    }

.user-info-card .content-card {
    padding-top: 3rem;
}

.user-info-card .blank-card {
    padding-top: 4rem;
}
