@inject IDataCacheService _dataCacheService


@if (_dataCacheService.ThemeSetting.IsTransparent)
{
    <AuthorizeView>
        @if (string.IsNullOrWhiteSpace(_dataCacheService.UserInfor?.MBgImage) == false)
        {
            <div id="web_bg" style="@($"background-image: url({_dataCacheService.UserInfor?.MBgImage})")" class=" d-none d-sm-block"></div>
        }
        @if (string.IsNullOrWhiteSpace(_dataCacheService.UserInfor?.SBgImage) == false)
        {
            <div id="web_bg" style="@($"background-image: url({_dataCacheService.UserInfor?.SBgImage})")" class="d-md-none"></div>
        }
    </AuthorizeView>
    @if (_dataCacheService.ThemeSetting.IsDark)
    {
        <div id="web_bg" style="background-color: rgba(36,36,36,0.9);z-index:-8"></div>
    }

}

@code {
    public void Refresh()
    {
        StateHasChanged();
    }
}
