<div style="display: flex; justify-content: center;">
    <div class="rounded  bg-opacity  p-3" style="width: 570px;">
        <div class="text-center">
            <img src="https://app.cngal.org/_content/CnGalWebSite.Shared/images/head_logo_6th.png" style="height:150px;">
        </div>
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Error" Class=" mt-4">
            因迁移重构鉴权系统，我们将于 <strong>2023年3月18日</strong> 开始升级维护。<br />
            期间会关闭除 <strong>正常登入</strong> 外的所有功能。<br />
            具体结束时间请等待最新公告，或者加群 <a href="https://jq.qq.com/?_wv=1027&k=mG6qNvyg" target="_blank" class="error--text fw-bold" rel="noreferrer">128446539</a> 咨询。<br />
            不便之处，敬请谅解。
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>

        <div class="mt-3">
            @ChildContent
        </div>
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
