@inherits LayoutComponentBase

<div class="main-shell">
    <aside class="main-shell__sidebar">
        <NavMenu />
    </aside>

    <main class="main-shell__content">
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
