
@inject HttpClient Http
@inject ToastService? ToastService

<div>
    @if (isReady)
    {
        @if (Model.Count == 0)
        {
            <NotFoundTip IsNeedLayput="true"/>
        }
        @foreach (var item in Model)
        {
            <div class=" rounded shadow-sm  bg-opacity ps-4 pe-4 pt-3 mb-3">
                <PeripheryOverViewTip Model="item" Outline/>
            </div>
        }
    }
</div>



@code {
    [Parameter]
    public string UserId { get; set; }

    public List<GameOverviewPeripheriesModel> Model { get; set; }

    bool isReady = false;
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            Model = await Http.GetFromJsonAsync<List<GameOverviewPeripheriesModel>>(ToolHelper.WebApiPath + "api/peripheries/GetUserOverviewPeripheries/" + UserId, ToolHelper.options);
            isReady = true;
        }
        catch(Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取用户相关周边集合列表失败");
        }
    }
}
