<CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineColumn Id="almanac-top-card">
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.SectionTitleCard Name="年度总览" EnglishName="TOP" />
    <div>
        在常用的社交分享组件中，微信（微信好友和朋友圈）、微博、QQ（QQ好友和QQ空间）是三大主要平台，而其中微信凭借高达9.38亿的月活跃用户以及高达29%的日均手机应用使用率，成为各款APP选择最...
    </div>
    <div class="game-count-group">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.KeyValueCard Key="2023年度公布游戏数" Value="2000" />
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.KeyValueCard Key="2023年度上市游戏数" Value="200" />
    </div>
    <div>
        在常用的社交分享组件中，微信（微信好友和朋友圈）、微博、QQ（QQ好友和QQ空间）是三大主要平台，而其中微信凭借高达9.38亿的月活跃用户以及高达29%的日均手机应用使用率，成为各款APP选择最...
    </div>
    <div class="model-worker-group">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.KeyValueCard Key="2023年度劳模小组" Value="?" />
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.KeyValueCard Key="2023年度劳模小组" Value="?" />
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineColumn>
@code {

}
