<div class=" ">
        <h5 class="mb-2 fw-bold">CnGal资料站</h5>
        <p class="mb-2">
            组织架构：<a href="/articles/index/150" class="word-warp-break">CnGal中文galgame资料站组织结构</a>
        </p>

        <p class="mb-2">
            新浪微博：<a href="https://weibo.com/cngalorg" target="_blank" class="word-warp-break">https://weibo.com/cngalorg</a>
        </p>

        <p class="mb-2">
            玩家交流群：<a rel="点击链接加入群聊【CnGal资料站】" href="https://jq.qq.com/?_wv=1027&k=mG6qNvyg"  target="_blank" class="word-warp-break">128446539</a>
        </p>
        <p class="mb-4">
            爱发电：<a rel="https://afdian.net/@@CnGal" href="https://afdian.net/@@CnGal"  target="_blank" class="word-warp-break">https://afdian.net/@@CnGal</a>
        </p>

        <h5 class="mb-2 fw-bold">版权信息</h5>
        <p class="mb-4">
            CnGal资料站全部内容禁止商业使用。<br />
            文本内容除特殊注明外,均在&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"  target="_blank" class="word-warp-break">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>&nbsp;下提供,附加条款亦可能应用。<br />

            其他类型作品版权归原作者所有，如有作者授权则遵照授权协议使用。无作者授权协议情况下，以评论，报道为目的，遵照 <a href="https://flk.npc.gov.cn/detail2.html?ZmY4MDgwODE3NTJiN2Q0MzAxNzVlNDc2NmJhYjE1NTc%3D" target="_blank" class="word-warp-break">《中华人民共和国著作权法》</a>第二十四条、<a href="https://flk.npc.gov.cn/detail.html?ZmY4MDgwODE2ZjNjYmIzYzAxNmY0MTM5OTJiMjFkYjk%3D" target="_blank" class="word-warp-break">《信息网络传播权保护条例》</a>第六条“合理使用”原则使用，标注来源。<br />

            CnGal资料站遵守<a href="https://flk.npc.gov.cn/detail.html?ZmY4MDgwODE2ZjNjYmIzYzAxNmY0MTM5OTJiMjFkYjk%3D" target="_blank" class="word-warp-break">《信息网络传播权保护条例》</a>第十四至十七条“避风港”原则，在正式收到版权人删除内容通知书后，24小时内删除侵权内容。被删除内容的用户也可以提交反通知进行恢复。<br />
        </p>

        <h5 class="mb-2 fw-bold">下载</h5>
        <p class="mb-4">
            API接口对外开放，欢迎适配：<a href="//www.cngal.org/swagger/index.html" target="_blank" class="word-warp-break">https://www.cngal.org/swagger/index.html</a>
        </p>

        <h5 class="mb-2 fw-bold">未来规划</h5>
        <p class="mb-4">未来将添加游戏周边信息，附加周边收集进度显示</p>
</div>


@code {

}
