<div class=" ">
    <h5 class="mb-2 fw-bold">引用的其他项目或代码</h5>
    <h5 class="mb-2">
        BootstrapBlazor：
        <a href="https://www.blazor.zone/" target="_blank" class="word-warp-break">
            https://www.blazor.zone/
        </a>
    </h5>
    <p class="mb-2">
        Elasticsearch：
        <a href="https://www.elastic.co/cn/elasticsearch/" target="_blank" class="word-warp-break">
            https://www.elastic.co/cn/elasticsearch/
        </a>
    </p>
    <p class="mb-2">
        NEST：
        <a href="https://github.com/elastic/elasticsearch-net" target="_blank" class="word-warp-break">
            https://github.com/elastic/elasticsearch-net
        </a>
    </p>
    <p class="mb-2">
        Chronos.Blazor.Cropper：
        <a href="https://github.com/Chronostasys/Blazor.Cropper" target="_blank" class="word-warp-break">
            https://github.com/Chronostasys/Blazor.Cropper
        </a>
    </p>
    <p class="mb-2">
        Markdig：
        <a href="https://github.com/lunet-io/markdig" target="_blank" class="word-warp-break">
            https://github.com/lunet-io/markdig
        </a>
    </p>
    <p class="mb-2">
        Editor.md：
        <a href="https://github.com/Run2948/editor.md" target="_blank" class="word-warp-break">
            https://github.com/Run2948/editor.md
        </a>
    </p>
    <p class="mb-2">
        github-markdown.css：
        <a href="https://github.com/sindresorhus/generate-github-markdown-css" target="_blank" class="word-warp-break">
            https://github.com/sindresorhus/generate-github-markdown-css
        </a>
    </p>
    <p class="mb-2">
        highlight.js：
        <a href="https://highlightjs.org/" target="_blank" class="word-warp-break">
            https://highlightjs.org/
        </a>
    </p>

    <p class="mb-2">
        Steam信息来源：isthereanydeal
        <a href="https://isthereanydeal.com/" target="_blank" class="word-warp-break">
            https://isthereanydeal.com/
        </a>
    </p>
    <p class="mb-2">htmldiff.net：<a href="https://github.com/Rohland/htmldiff.net" target="_blank" class="word-warp-break">https://github.com/Rohland/htmldiff.net</a></p>
    <p class="mb-2">
        Microsoft.AspNetCore.Identity.EntityFrameworkCore：
        <a href="https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.EntityFrameworkCore/" target="_blank" class="word-warp-break">
            https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.EntityFrameworkCore/
        </a>
    </p>
    <p class="mb-2">
        Blazored.LocalStorage：
        <a href="https://github.com/Blazored/LocalStorage" target="_blank" class="word-warp-break">
            https://github.com/Blazored/LocalStorage
        </a>
    </p>
    <p class="mb-2">
        Pomelo.EntityFrameworkCore.MySql：
        <a href="https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql" target="_blank" class="word-warp-break">
            https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql
        </a>
    </p>
    <p class="mb-2">
        SixLabors.ImageSharp：
        <a href="https://github.com/SixLabors/ImageSharp" target="_blank" class="word-warp-break">
            https://github.com/SixLabors/ImageSharp
        </a>
    </p>
    <p class="mb-2">
        System.Linq.Dynamic.Core：
        <a href="https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.2.9" target="_blank" class="word-warp-break">
            https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.2.9
        </a>
    </p>
    <p class="mb-2">
        Newtonsoft.Json：
        <a href="https://www.newtonsoft.com/json" target="_blank" class="word-warp-break">
            https://www.newtonsoft.com/json
        </a>
    </p>
    <p class="mb-2">
        BootSharp：
        <a href="https://www.bootcss.com/" target="_blank" class="word-warp-break">
            https://www.bootcss.com/
        </a>
    </p>
    <p class="mb-2">
        Zack.EFCore.Batch：
        <a href="https://github.com/yangzhongke/Zack.EFCore.Batch" target="_blank" class="word-warp-break">
            https://github.com/yangzhongke/Zack.EFCore.Batch
        </a>
    </p>
    <p class="mb-2">
        NativeShare.js：
        <a href="https://github.com/fa-ge/NativeShare" target="_blank" class="word-warp-break">
            https://github.com/fa-ge/NativeShare
        </a>
    </p>

    <p class="mb-4">
        Font Awesome：
        <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank" class="word-warp-break">
            https://github.com/FortAwesome/Font-Awesome
        </a>
    </p>
</div>


@code {

}
