@inject ToastService ToastService
@inject DialogService DialogService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<MDialog @bind-Value="Dialog"
         Width="800">
    <MCard>
        <MCardTitle Class="text-h5">
            创建收藏夹
        </MCardTitle>
        <MCardText>
            公开的收藏夹也可用作“目录”、“合集”......
        </MCardText>
        <MCardText Class="pb-0">
            <div style="color: black;">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa fa-fw fa-image" Title="图片" Class="mb-4" Collapable Outline OutlineHead>
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-4">
                            <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.ImageUploadButton ShowCropper @bind-ImagePath="@Model.MainImage" Type="ImageAspectType._16_9" Text="上传主图"/>
                        </div>
                    </div>
                </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa fa-fw fa-home" Title="信息" Class="mb-4" Collapable Outline OutlineHead>
                    <div class="row">
                        <div class="col-12  col-sm-6">
                            <MTextField @bind-Value="Model.Name" Label="名称"  />
                        </div>
                        <div class="col-12">
                            <MTextarea Rows="3" @bind-Value="Model.BriefIntroduction" Label="简介"  />
                        </div>
                        <div class="col-12 col-md-6">
                            <MCheckbox @bind-Value="Model.ShowPublicly"
                                       Label="公开" Class="m-0"
                                       HideDetails="true"
                                       ></MCheckbox>
                        </div>
                        <div class="col-12 col-md-6">
                            <MCheckbox @bind-Value="Model.IsDefault"
                                       Label="默认收藏夹" Class="m-0"
                                       HideDetails="true"
                                       ></MCheckbox>
                        </div>
                        <div class="col-12 col-md-6">
                            <MCheckbox @bind-Value="Model.IsHidden"
                                       Label="不展示在个人主页中" Class="m-0"
                                       HideDetails="true"
                                       ></MCheckbox>
                        </div>
                    </div>
                </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
            </div>
        </MCardText>


        <MCardActions>
            <MSpacer></MSpacer>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="创建" IsAsync="true" OnClick="OnCreate" Icon="mdi-check" Color="green" TextStyle />
        </MCardActions>
    </MCard>
</MDialog>
@code {

    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public EventCallback OnCreated { get; set; }

    bool Dialog { get; set; }

    CreateFavoriteFolderViewModel Model = new CreateFavoriteFolderViewModel();


    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public async Task OnCreate()
    {
        try
        {
            var result = await Http.PostAsJsonAsync<CreateFavoriteFolderViewModel>(ToolHelper.WebApiPath + "api/favorites/CreateFavoriteFolder", Model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);


            if (obj.Successful == false)
            {
                await ToastService.Error("创建收藏夹失败", obj.Error);
            }
            else
            {

                await ToastService.Success("创建收藏夹成功", "创建收藏夹成功");
                Dialog = false;
                StateHasChanged();
                await  OnCreated.InvokeAsync();

            }

        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "创建收藏夹失败");
        }
    }

    public void Refrsh()
    {
        Dialog = true;
        StateHasChanged();
        
    }
}
