@inject HttpClient Http
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

<div class=" rounded shadow-sm  bg-opacity rounded ps-3 pe-3 pt-2 pb-2 mb-2" style="display: flex; flex-direction: row; justify-content: space-between;">
    <h5 class="fw-bold font-color m-0" ><i class="fa fa-folder-open"></i>&nbsp;&nbsp;@Title</h5>
    <div class="float: right">
        @if (IsCurrentUser)
        {
            <Button @onclick="OnManage" class=" me-2" Color="Color.Dark" IsOutline="true" Size="Size.ExtraSmall" Icon="fa fa-pencil-square" Text="管理"/>

        }
        <Button @onclick="OnReturn" Color="Color.Dark" IsOutline="true" Size="Size.ExtraSmall" Icon="fa fa-rotate-left" Text="返回"/>
    </div>
   

</div>

@if (is404 == true)
{
    <NotFoundTip IsNeedLayput="true"></NotFoundTip>
}

<div>

    <Virtualize ItemsProvider="@LoadArticles" @ref="virtualize">
        <div class="mb-3">
            @if (context.entry != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="context.entry" ColorNum="main" />

            }
            else if (context.article != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip Model="context.article" />
            }
            else if (context.periphery != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip Model="context.periphery" />
            }
        </div>
     
    </Virtualize>
</div>



@code {
    [Parameter]
    public PagedSortedAndFilterInput Input { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public bool IsCurrentUser { get; set; }

    [NotNull]
    public Virtualize<FavoriteObjectAloneViewModel>? virtualize { get; set; }
    [Parameter]
    public EventCallback<NavigateModel> OnClickUrl { get; set; }
    [Parameter]
    public EventCallback OnReturn { get; set; }

    private bool is404 = false;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    private async Task<PagedResultDto<FavoriteObjectAloneViewModel>> OnGetNewItems()
    {
        try
        {
            var result = await Http.PostAsJsonAsync<PagedSortedAndFilterInput>(ToolHelper.WebApiPath + "api/favorites/GetUserFavoriteObjectList", Input);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            return JsonSerializer.Deserialize<PagedResultDto<FavoriteObjectAloneViewModel>>(jsonContent, ToolHelper.options);
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "无法获取收藏夹内容");
            return new PagedResultDto<FavoriteObjectAloneViewModel> { Data = new List<FavoriteObjectAloneViewModel>() };
        }
    }

    private async ValueTask<ItemsProviderResult<FavoriteObjectAloneViewModel>> LoadArticles(ItemsProviderRequest request)
    {
        Input.CurrentPage = request.StartIndex;
        Input.MaxResultCount = request.Count;
        var articles = await OnGetNewItems();

        if (is404 != (articles.TotalCount == 0))
        {
            is404 = (articles.TotalCount == 0);
            StateHasChanged();
        }

        return new ItemsProviderResult<FavoriteObjectAloneViewModel>(articles.Data, articles.TotalCount);
    }

    public async Task RefreshDataAsync()
    {
        await virtualize.RefreshDataAsync();
    }
    public async Task OnManage()
    {
        await OnClickUrl.InvokeAsync(new NavigateModel
        {
            Title = "管理收藏夹",
            Icon = "fa fa-folder-open",
            Url = "/space/EditSpaceFavoriteObjects/" + Id + "/" + ToolHelper.Base64EncodeName(Title)
        });
    }
}
