@inject ToastService ToastService
@inject IDataCacheService _dataCacheService
@inject HttpClient Http


<MDialog @bind-Value="Dialog"
         Width="500">
    <MCard>
        <MCardTitle Class="text-h5">
            移动收藏
        </MCardTitle>
        <MCardText>
            在下方选择要移动到的收藏夹，可以选中多个
        </MCardText>
        <MCardText Class="pb-0">
            <div style="display:flex;">
                @foreach (var item in UserFavoriteInfor.Favorites)
                {
                    <MCheckbox Value="SelectedItemIds.Contains( item.Id)" ValueChanged="@((e) => { if (e) SelectedItemIds.Add(item.Id); else SelectedItemIds.RemoveAll(s => s == item.Id); })"
                               Label="@item.Name" Class="m-0 me-4"
                               HideDetails="true"
                               Color="@_dataCacheService.ThemeSetting.Theme"/>
                }

            </div>

        </MCardText>


        <MCardActions>
            <MSpacer></MSpacer>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="移动" IsAsync="true" OnClick="OnMove" Icon="mdi-check" Color="green" TextStyle />
        </MCardActions>
    </MCard>
</MDialog>
@code {
    [Parameter]
    public EventCallback OnMoved { get; set; }
    [Parameter]
    public long Id { get; set; }

    public FavoriteFoldersViewModel UserFavoriteInfor { get; set; } = new FavoriteFoldersViewModel();


    List<long> SelectedItemIds = new List<long>();
    bool Dialog { get; set; }
    List<KeyValuePair<FavoriteObjectType, long>> ObjectIds;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public Task Refresh(List<KeyValuePair<FavoriteObjectType, long>> objectIds, FavoriteFoldersViewModel userFavoriteInfor)
    {
        if(SelectedItemIds.Any())
        {
            SelectedItemIds.Clear();
        }
        UserFavoriteInfor = userFavoriteInfor;
        ObjectIds = objectIds;
        Dialog = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task MoveFavoriteObjects(IEnumerable<long> folderIds, List<KeyValuePair<FavoriteObjectType, long>> objectIds)
    {
        //调用API
        try
        {
            var result = await Http.PostAsJsonAsync<MoveFavoriteObjectsModel>(ToolHelper.WebApiPath + "api/favorites/MoveFavoriteObjects", new MoveFavoriteObjectsModel { CurrentFolderId = Id, FolderIds = folderIds.ToArray(), ObjectIds = objectIds });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);

            if (obj.Successful == false)
            {
                await ToastService.Error("移动收藏失败", obj.Error);
            }
            else
            {

                await ToastService.Success("移动收藏成功", "移动收藏成功");
                Dialog = false;
                StateHasChanged();
                await OnMoved.InvokeAsync();

            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "移动收藏失败");
        }
    }

    public async Task OnMove()
    {
        if (SelectedItemIds.Any()==false)
        {
            await ToastService.Error("请选择要移动到的收藏夹", "请选择要移动到的收藏夹");
            return;
        }
        await MoveFavoriteObjects(SelectedItemIds, ObjectIds);
    }
}
