@inject HttpClient Http
@inject IDataCacheService _dataCacheService


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@Title" Icon="@TitleIcon" Class="mb-4">
    <ButtonContent>

        <MButton Text Block  OnClick="GetNewRandomList">
            <MIcon Left>mdi-refresh </MIcon>
            换一组
        </MButton>


    </ButtonContent>
    <ChildContent>
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <div class="@(IsTransverse?"col-12 col-xl-6":"col-12" )">
                    <NormalPerfectionCheckTipView Model="@item"></NormalPerfectionCheckTipView>
                </div>
            }
        </div>
    </ChildContent>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {

    public List<PerfectionCheckViewModel> Model { get; set; } = new List<PerfectionCheckViewModel>();

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string TitleIcon { get; set; }
    [Parameter]
    public PerfectionCheckLevel Level { get; set; }
    [Parameter]
    public bool IsTransverse { get; set; }
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await Http.GetFromJsonAsync<List<PerfectionCheckViewModel>>(ToolHelper.WebApiPath + "api/perfections/GetPerfectionCheckLevelRadomList/" + (int)Level, ToolHelper.options);
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取随机词条完善度检查明细列表失败");
        }
    }


    public async Task GetNewRandomList()
    {
        await OnInitializedAsync();
    }
}
