@inject IUserService _userService

<MDCard Class="pa-4 edit-user-link-card mb-4">
    <div class="icon-card">
        <MIcon Large Color="primary">@IconType.QQ.ToIconString()</MIcon>
        </div>
        <div class="content-card">
            <div class="title-large">绑定QQ</div>
            <div class="label-large">绑定QQ并添加看板娘好友后，可以接收站内消息通知</div>
        </div>
        <div class="action-card">
            <CnGalWebSite.Components.Buttons.MasaButton Rounded Href="@($"https://app.cngal.org/space/editdata/{_userService.UserInfo.Id}")" Target="_blank" Text="前往CnGal资料站" />
     </div>
 </MDCard>

 @code {

}
