<MDCard Class="pa-4 edit-user-security-card mb-4">
    <div class="icon-card">
        <MIcon Large Color="primary">@IconType.Security.ToIconString()</MIcon>
    </div>
    <div class="content-card">
        <div class="title-large">账户安全</div>
        <div class="label-large">修改密码、邮箱、手机号、第三方登入等信息</div>
    </div>
    <div class="action-card">
        <CnGalWebSite.Components.Buttons.MasaButton Rounded Href="https://oauth2.cngal.org/Account/SelectModifyField" Target="_blank" Text="前往安全中心" />
    </div>
</MDCard>

@code {

}
