@page "/admin"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>CNGAL周年庆展示会 - 管理员后台</PageTitle>

<div class="admin-page">
    <MCard Class="mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow CenterActive>
             <MTab Value="1">
                游戏<MIcon>mdi-gamepad-variant</MIcon>
             </MTab>
             <MTab Value="2">
                标签<MIcon>mdi-tag-multiple</MIcon>
             </MTab>
            <MTab Value="3">
                任务<MIcon>mdi-calendar-check</MIcon>
            </MTab>
            <MTab Value="4">
                奖品<MIcon>mdi-gift</MIcon>
            </MTab>
            <MTab Value="5">
                问卷<MIcon>mdi-clipboard-list</MIcon>
            </MTab>
        </MTabs>
    </MCard>

    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
           <CnGalWebSite.Expo.Components.Cards.Admin.Games.ListCard/>
        </MTabItem>
        <MTabItem Value="2">
            <CnGalWebSite.Expo.Components.Cards.Admin.Tags.ListCard/>
        </MTabItem>
        <MTabItem Value="3">
            <CnGalWebSite.Expo.Components.Cards.Admin.Lotteries.ListCard />
        </MTabItem>
        <MTabItem Value="4">
            <CnGalWebSite.Expo.Components.Cards.Admin.Lotteries.Awards.ListCard />
            <div class="mb-4"></div>
            <CnGalWebSite.Expo.Components.Cards.Admin.Lotteries.Prizes.ListCard/>
        </MTabItem>
        <MTabItem Value="5">
            <CnGalWebSite.Expo.Components.Cards.Admin.Questionnaires.ListCard/>
        </MTabItem>
    </MTabsItems>
</div>

@code {
    public StringNumber TabIndex { get; set; } = 1;
}
