
<TitleTip Title="关于我们"></TitleTip>


<div class="">
    <div class="  rounded shadow-sm  bg-opacity pt-4 pb-1 mb-3">
        <div>
            <h2 class="fw-bold text-center">关于我们</h2>
            <p class="text-center ms-3 me-3 mt-2 mb-2" style="color: gray;">
                CnGal是一个非营利性的，立志于收集整理国内制作组创作的中文Galgame/AVG的介绍、攻略、评测、感想等内容的资料性质的网站。
                此外，CnGal官方还会与圈内中文AVG制作组进行友好合作，如免费提供Banner广告位，网站服务器资源等。
            </p>
        </div>
    </div>
    <div class="  rounded shadow-sm  bg-opacity  mb-3">
        <Tab>
            <TabItem Text="基本信息" Icon="fa fa-bank">
                <AboutBasicInforTip></AboutBasicInforTip>
            </TabItem>
            <TabItem Text="更新日志" Icon="fa fa-cloud-upload">
                <AboutUpdateInforTip></AboutUpdateInforTip>
            </TabItem>
            <TabItem Text="引用项目" Icon="fa fa-star">
                <AboutQuoteInforTip></AboutQuoteInforTip>
            </TabItem>
        </Tab>
    </div>

</div>

@code {


}
