
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip/>

<style>
    .variable.container {
        max-width: none;
    }

    .load-footer {
        display: none;
    }
</style>
<div id="home-page">
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.CarouselsCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.RecommendsCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.PublishedGamesCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.UpcomingGamesCard />
    <div class="row">
        <div class="left-content col-12 col-md-9 col-lg-10">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.NewsCard />
        </div>
        <div class="right-content col-12 col-md-3 col-lg-2">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.WeeklyNewsCard />
        </div>
    </div>
    <div class="row">
        <div class="left-content col-12 col-md-9">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.LatestArticlesCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.LatestVideoesCard />
            @if (_dataCacheService.IsApp)
            {
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.CommunityCard />
            }
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.FriendLinksCard />
        </div>
        <div class="right-content col-12 col-md-3">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.BirthdayCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.AnnouncementsCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.RecentlyEditedGamesCard />
            @if(_dataCacheService.IsApp==false)
            {
                            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.CommunityCard />
            }
        </div>
    </div>
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Segmented.AboutCard />
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <div class="row">
            <div class="left-content col-12 col-md-9">
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.EvaluationsCard />
            </div>
            <div class="right-content col-12  col-md-3">
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.HotTagsCard />
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.LatastCommentsCard />
            </div>
        </div>
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.FreeGamesCard />
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.DiscountGamesCard />
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Segmented.KanbanCard />

        <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Recommends.MainCard  />

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
  
</div>


@code{

}
