@inject HttpClient Http
@inject ToastService? ToastService
@inject IJSRuntime JS
@inject IDataCacheService _dataCacheService


<TitleTip></TitleTip>



<div>
    <div class=" mb-4">
        <BootstrapBlazor.Components.Carousel Images="@Images" IsFade="true" OnClick="OnClick" class="rounded shadow-sm"></BootstrapBlazor.Components.Carousel>
    </div>

        <CnGalWebSite.Shared.MasaComponent.Shared.Cards.NoticeCard Class="rounded shadow-sm p-2 bg-opacity mb-4"/>

    <div class=" mb-4">
        <HomeNewsViewTip></HomeNewsViewTip>
    </div>
    <div class=" mb-4">
        <HomeViewTip></HomeViewTip>
    </div>
</div>




@code {

    private List<string> Images = new List<string>();
    private List<CarouselViewModel> Carousels { get; set; } = new List<CarouselViewModel>();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    #region 新建标签页
    public async void OpenNewPage(string url)
    {
        await JS.InvokeAsync<string>("openNewPage", url);
    }
    #endregion


    protected override async Task OnInitializedAsync()
    {

        try
        {
            Carousels = await _dataCacheService.HomePageCarouselsCatche.GetCatche(ToolHelper.WebApiPath + "api/home/GetHomeCarouselsView", true);

            Images = Carousels.OrderByDescending(s=>s.Priority).Take(3).Select(s => s.Image).ToList();
            if(Carousels.Count>=6)
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x) == false).ToList().Random().Take(3).Select(s=>s.Image));

            }
            else
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x) == false).Select(s=>s.Image));
            }


        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取主页轮播图列表失败");
        }


    }


    private async Task OnClick(string imageUrl)
    {
        ErrorHandler.ProcessError(new Exception(),"测试");
        return;
        var item = Carousels.FirstOrDefault(s => s.Image == imageUrl);
        if (item != null)
        {
            try
            {
                await JS.InvokeAsync<string>("trackEvent", "轮播图", "点击", item.Note ?? item.Link, "1", "click");
            }
            catch (Exception exc)
            {

            }
            OpenNewPage(item.Link);
        }
    }


}
