
@inject IDataCacheService _dataCacheService

<TitleTip></TitleTip>

<style>
    body {
        background-color: #fff;
    }
</style>

<style>
    .variable.container {
        max-width: none;
        padding: 0;
    }

    .load-footer {
        display: none;
    }
</style>
<div id="home-page">
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.CarouselsCard />
    <div class="row">
        <div class="left-content col-12 col-lg-10">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.NewsCard />
        </div>
        <div class="right-content col-12 col-lg-2">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.WeeklyNewsCard />
        </div>
    </div>
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.PublishedGamesCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.UpcomingGamesCard />
    <div class="row">
        <div class="left-content col-12 col-lg-9">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.LatestArticlesCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.LatestVideoesCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.FriendLinksCard />
        </div>
        <div class="right-content col-12 col-lg-3">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.BirthdayCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.AnnouncementsCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.RecentlyEditedGamesCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Chronological.CommunityCard />

        </div>
    </div>
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Segmented.AboutCard />

    <div class="row">
        <div class="left-content col-12 col-lg-9">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.EvaluationsCard />
        </div>
        <div class="right-content col-12 col-lg-3">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.HotTagsCard />
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.LatastCommentsCard />
        </div>
    </div>
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.FreeGamesCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Thematic.DiscountGamesCard />
    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Segmented.KanbanCard />

    <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Recommends.MainCard Lock="Lock" />
</div>


@code{
    [Parameter]
    public bool Lock { get; set; }

}
