/*参数*/
:root {
    --md-card-border-radius: 12px;
    --md-card-active-border-radius: 24px;
}

:root {
    --md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);
    --md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);
    --md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);
    --md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);
    --md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);
}

/*全局*/
body {
    /*     font-family: 'Noto Sans SC', sans-serif;
 */
    font-family: "Google Sans Text",sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}


/*固定行数*/
.text-truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}
/*视觉反馈*/
a:focus-visible {
    outline: thin dotted;
}

code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

/*旋转*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.icon-rotate {
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

/*删除与新增*/
del {
    text-decoration: none;
    color: #b30000;
    text-decoration: line-through;
    background: #fadad7;
}

ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}

/*字体*/
.fw-bold {
    font-weight: bold;
}

/*幻灯片组*/
.slide-group-garp .m-slide-group__content {
    gap: 1rem;
    padding: 3px;
}

/*页面内容距离顶部*/
.variable.container {
    padding-top: 24px;
}

/*输入框*/
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--md-sys-color-on-background);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--md-sys-color-on-background);
}
