
/*去掉下划线*/
a {
    text-decoration: none;
}

/*黑白*/
/*
html {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid: DXImageTransform. Microsoft. BasicImage(grayscale=1);
    filter: gray;
}*/

/*修正Masa样式的影响*/
.m-application {
    font-family: inherit !important;
    background-color: transparent!important;
}

.m-card__title {
    font-weight: bold;
}

.theme--dark.m-application code {
    background-color: transparent;
    text-shadow: none;
}


.m-toast-detail {
    white-space: pre-line;
}

.m-rating .m-icon {
    padding: 0.1rem;
}

.theme--light.m-tabs > .m-tabs-bar {
    background-color: transparent;
}

.theme--light.m-tabs-items {
    background-color: transparent;
}
/*表格背景色*/


/*表格边框*/
.m-sheet.m-toolbar.m-toolbar--flat {
    border-radius: var(--md-card-border-radius) !important;
}

/*页脚*/
.img-fluid {
    width: 100%;
}

/*步骤条*/
.m-stepper__wrapper.active {
    height: auto !important;
}
/*Toast*/
.m-enqueued-snackbars .error {
    height: unset !important;
}

.m-snack__content > div {
    white-space: pre-line;
}

.nav-loading .m-snack__content > div {
    white-space: normal !important;
}
/*页面跳转Alert*/
.nav-loading .m-snack__content {
    padding: 0;
}
/*Masa卡片*/

    .theme--light.m-card > .m-card__subtitle, .theme--light.m-card > .m-card__text, .m-toast-detail {
        color: inherit
    }

.m-alert:not(.m-sheet--tile) {
    border-radius: var( --md-card-border-radius);
}

.m-sheet.m-card, .m-dialog, .m-menu__content {
    border-radius: var(--md-card-border-radius);
}

.m-tabs {
    border-radius: var(--md-card-border-radius) !important;
}
/*下拉列表*/
.m-sheet.theme--light.m-list.m-select-list {
    background-color: rgba(var(--m-theme-surface-container-low));
}
/*步骤条*/
.m-stepper.theme--light.m-card, .m-stepper.theme--light.m-sheet {
    background: transparent;
}
/*对话框*/
.m-dialog, .m-snack__wrapper.m-sheet.theme--light {
    background-color: rgba(var(--m-theme-surface-container-low));
}
/*Markdown*/
.markdown-body h1, .markdown-body h2 {
    border-bottom: 2px solid rgba(var(--m-theme-primary)) !important;
}

.markdown-body blockquote {
    color: rgba(var(--m-theme-secondary)) !important;
    border-left: .25em solid rgba(var(--m-theme-secondary)) !important;
    display: flex;
    flex-direction: column;
}

.markdown-body hr {
    height: .1em !important;
    background-color: rgba(var(--m-theme-primary)) !important;
}

.markdown-body li > p {
    margin-top: 0 !important;
    margin-bottom: 0;
}

.markdown-body ol, .markdown-body ul {
    display: flex;
    flex-direction: column;
}

/*输入框*/
.m-text-field input {
    line-height: unset;
}
/*卡片标题字体*/
.m-application .text-h5, .m-application .text-h6 {
    font-family: inherit !important;
}
/*警告条*/
.tertiary--text {
    color: var(--md-sys-color-tertiary) !important;
}
/*默认字体颜色*/
.theme--light.m-label {
    color: inherit;
}

.theme--light.m-input, .theme--light.m-input input, .theme--light.m-input textarea {
    color: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity)) !important;
}

.theme--light.m-select .m-select__selections {
    color: inherit;
}

.theme--light.m-list-item:not(.m-list-item--active):not(.m-list-item--disabled) {
    color: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity));
}

.theme--light.m-icon {
    color: var(--md-sys-color-secondary);
}

.m-chip:not(.m-chip--outlined).primary {
    color: rgba(var(--m-theme-on-primary))!important;
}

/*边框颜色*/
.theme--light.m-text-field > .m-input__control > .m-input__slot:before {
    border-color: inherit;
}

.theme--light.m-text-field:not(.m-input--has-state):hover > .m-input__control > .m-input__slot:before {
    border-color: inherit;
}
/*表格*/
.theme--light.m-data-table {
    background-color: inherit;
    color: inherit;
    border-radius: var(--md-card-border-radius) !important;
}

.theme--light.m-toolbar.m-sheet {
    background-color: inherit;
}

.m-data-table .m-toolbar__content, .m-tabs {
    border-radius: var(--md-card-border-radius) !important;
}

.theme--light.m-data-table > .m-data-table__wrapper > table > thead > tr > th {
    color: inherit;
}

.theme--light.m-data-table .m-data-table-header th.sortable.active, .theme--light.m-data-table .m-data-table-header th.sortable.active .m-data-table-header__icon, .theme--light.m-data-table .m-data-table-header th.sortable:hover {
    color: inherit;
}

.theme--light.m-data-table .m-data-table__empty-wrapper {
    color: inherit;
}

/*步骤条*/
.theme--light.m-stepper .m-stepper__label {
    color: inherit;
}

.theme--light.m-stepper .m-stepper__step:not(.m-stepper__step--active):not(.m-stepper__step--complete):not(.m-stepper__step--error) .m-stepper__step__step {
    background-color: rgba(var(--m-theme-accent));
}
/*底部导航栏激活样式*/
.nav-bottom-tab-active {
    color: rgba(var(--m-theme-primary)) !important;
}

.theme--light.m-bottom-navigation .m-btn:not(.m-btn--active) {
    color: var(--md-sys-color-secondary) !important;
}

.theme--light.m-bottom-navigation {
    background-color: rgba(var(--m-theme-surface-container-low));
    color: rgba(var(--m-theme-primary)) !important;
}
/*icon按钮*/
.theme--light.m-btn.m-btn--icon {
    color: inherit;
}

.theme--light.m-btn {
    color: inherit;
}

/*侧边导航栏*/

.theme--light.m-navigation-drawer .m-navigation-drawer__content {
    background-color: rgba(var(--m-theme-accent));
}

/*溢出的tab栏*/
.m-tabs:not(.cngal-main-tab-card) .m-slide-group__wrapper {
    border-radius: var(--md-card-border-radius) !important;
}

.m-tabs:not(.cngal-main-tab-card) .m-slide-group__content {
    border-radius: var(--md-card-border-radius) !important;
}

.cngal-main-tab-card .m-toolbar__content, .m-tabs {
    background-color: transparent;
}
/*扩展卡片*/
.m-expansion-panels:not(.m-expansion-panels--accordion):not(.m-expansion-panels--tile) > .m-expansion-panel--active {
    border-radius: var(--md-card-border-radius);
}

.m-expansion-panels {
    border-radius: var(--md-card-border-radius);
    padding-bottom: 1rem;
}
/*树状列表*/
.theme--light.m-treeview {
    color: inherit;
}
/*背景透明*/
.m-main__wrap {
    background-color: transparent;
}
/*下拉框*/
.m-select__selection--comma {
    overflow: inherit;
}
/*相册*/
.m-card > :first-child:not(.m-btn):not(.m-chip):not(.m-avatar) {
    border-radius: var(--md-card-border-radius) !important;
}
/*tab标签*/
.m-window-item {
    padding: 3px;
}
/*列表*/
.theme--light.m-list {
    background-color: inherit;
    color: inherit;
}
/*图标按钮*/
.m-btn--fab {
    display: flex;
    justify-content: center;
}
/*tab栏*/

.m-toolbar {
    transition: none;
}

.m-tabs .m-slide-group__next--disabled, .m-tabs .m-slide-group__prev--disabled {
    display: none !important;
}
/*聚焦边框去除*/
:focus-visible {
    outline: none;
}
/*错误提示标题栏换行*/
.m-alert__title {
    word-break: break-all;
}
/*分页*/
.theme--light.m-pagination .m-pagination__navigation {
    background: rgba(var(--m-theme-surface-container-low)) !important;
}

.theme--light.m-pagination .m-pagination__item {
    background: rgba(var(--m-theme-surface-container-low));
    color: rgba(var(--m-theme-on-surface),var(--m-high-emphasis-opacity));
}

.theme--light.m-pagination .m-pagination__item--active {
    color: rgba(var(--m-theme-on-primary)) !important;
    background: rgba(var(--m-theme-primary)) !important;
}

/*弹出菜单*/
.theme--light.m-menu__content {
    background: none!important;
}
/*弹窗*/
.theme--light.m-dialog__content .m-dialog {
    background: none !important;
}

.m-tabs-items{
    background-color:transparent;
}
