
<div class="pt-3" style=" display: flex; flex-direction: column; align-items: center; align-content: center; ">
    <img src="@Model.Thumbnail" alt="@Model.Name" style="width:200px;border-radius:50%;" />

    <div class="m-3 mb-0" style=" display: flex; flex-direction: column; align-items: center; ">
        <div style=" font-size: larger; ">@Model.Name</div>
        <div style=" font-size: smaller;color:gray; " class="mt-1 mb-2 text-center">@Model.BriefIntroduction</div>
        <div class="">
            <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.ListTagButton Model="Model.Tags" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
}
