@inject ToastService ToastService
@inject IHttpService _httpService
@inject IDataCacheService _dataCacheService
@inject IStructuredDataService _structuredDataService
@inject NavigationManager NavigationManager
@inject IMauiService _mauiService
<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip/>

<div itemscope itemtype="https://schema.org/WebSite" style="display:none;">
    <meta itemprop="url" content="https://m.cngal.com/" />
    <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
        <meta itemprop="target" content="https://m.cngal.com/search?Text={search_term_string}" />
        <input itemprop="query-input" type="text" name="search_term_string" required />
        <input type="submit" />
    </form>
</div>

<style>
    .font-color {
        color: var(--main-color) !important;
    }
</style>
<MTabsItems Value="_dataCacheService.HomeTabIndex"Class="pb-12">
    <MTabItem Value="0">
        <div style=" padding: .1rem;">
            <CnGalWebSite.Shared.Pages.Webs.Home.Index Lock="_dataCacheService.HomeTabIndex!=0" />
        </div>
    </MTabItem>
    <MTabItem Value="1">
        <CnGalWebSite.Shared.Pages.Normal.Home.Anniversaries />
    </MTabItem>
    <MTabItem Value="2">
        <div style=" padding: .1rem;">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.ThematicPages.HomeCard />
        </div>
    </MTabItem>
    <MTabItem Value="3">
        <AuthorizeView>
            <Authorized>
                <CnGalWebSite.Shared.Pages.Webs.Space.Index Id="@_dataCacheService.UserInfor.Id"></CnGalWebSite.Shared.Pages.Webs.Space.Index>
            </Authorized>
            <NotAuthorized>
                <div class="w-100" style="height: calc(100vh); display: flex; justify-content: center; align-items: center; ">
                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="登入后进入个人空间" Icon="mdi-login" OnClick="OnLogin" />
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </MTabItem>
</MTabsItems>

<MFooter Fixed Padless>
    <MBottomNavigation Value="_dataCacheService.HomeTabIndex"  ValueChanged="ValueChanged" Shift Grow>
        <MButton ActiveClass="font-color" Value="0">
            <span>主页</span>

            <MIcon>mdi-home-outline </MIcon>
        </MButton>
        <MButton ActiveClass="font-color" Value="1">
            <span>周年庆</span>

            <MIcon>mdi-cake</MIcon>
        </MButton>

        <MButton ActiveClass="font-color" Value="2">
            <span>专题</span>

            <MIcon>mdi-align-vertical-top </MIcon>
        </MButton>
        <MButton ActiveClass="font-color" Value="3">
            <span>空间</span>

            <MIcon>mdi-account-outline</MIcon>
        </MButton>
    </MBottomNavigation>
</MFooter>

@code {

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
            //通知MAUI
            _mauiService.OnLoaded();
        }
    }


    protected void OnLogin()
    {
        InteractiveRequestOptions requestOptions = new()
        {
            Interaction = InteractionType.SignIn,
            ReturnUrl = NavigationManager.Uri,
        };


        if (ToolHelper.IsSSR)
        {
            NavigationManager.NavigateTo($"Account/Login?returnUrl={NavigationManager.Uri}", true);
        }
        else
        {
            NavigationManager.NavigateToLogin("authentication/login", requestOptions);
        }
    }
    public void ValueChanged(StringNumber value)
    {
        _dataCacheService.NewsSummaryCache.TabIndex = value.ToInt32();
    }
}
