
@if (Model.ChildTagsState == EditState.Preview)
{
        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/tags/EditChildTags/" + Model.Id)" ExamineType="Operation.EditTagChildTags" OnClickRevoke="OnClickRevoke"/>

}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="子标签" Icon="@IconType.Tags.ToIconString()">
    <div>
        @foreach (var item in Model.ChildrenTags)
        {
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Shared.IconChip Icon="IconType.None" Text="@item.Name" Href="@("/tags/index/"+item.Id)" />
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();
    [Parameter]
    public EventCallback<Operation> OnClickRevoke { get; set; }
}
