
@inject IHttpService _httpService
@inject ToastService? ToastService
@inject NavigationManager NavigationManager

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="编辑收藏夹"/>

<AutoSaveTip TItem="EditFavoriteFolderViewModel" Item="Model" DataLoaded="DataLoaded" @ref="autoSave" />

@if (isReady == false)
{
    <div class="  rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-4 pb-4">
        <SkeletonParagraph />
        <div class="mt-2">
        </div>
        <SkeletonParagraph />
        <div class="mt-2">
        </div>
        <SkeletonParagraph />
        <div class="mt-2">
        </div>
        <SkeletonParagraph />
        <div class="mt-2">
        </div>
        <SkeletonParagraph />
    </div>
}
else
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="编辑收藏夹" Icon="fa fa-fw  fa-folder-open" Outline>
        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Users.FolderMainCard Model="Model" Class="mb-4" />

        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Info" Class="mb-3">
            下方的编辑会实时生效
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>

        <EditFavoriteObjectesTip Id="@FolderId"></EditFavoriteObjectesTip>

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.SubmitButton OnSubmit="OnSubmit" Model="Model" Class="mb-4" />

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
}


@code {
    [Parameter]
    public string UserId { get; set; }
    [Parameter]
    public long FolderId { get; set; }

    public EditFavoriteFolderViewModel Model { get; set; } = new EditFavoriteFolderViewModel();
    bool isReady = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    AutoSaveTip<EditFavoriteFolderViewModel> autoSave { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Model = await _httpService.GetAsync<EditFavoriteFolderViewModel>("api/favorites/EditFavoriteFolder/" + FolderId);
                isReady = true;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "获取编辑收藏夹基本信息失败");
            }
        }
    }


    private async Task OnSubmit()
    {
        //上传
        try
        {
            //处理数据
            if (string.IsNullOrWhiteSpace(Model.Name))
            {
                await ToastService.Error("必须填写收藏夹名称", "必须填写收藏夹名称");
                return;
            }


            var obj = await _httpService.PostAsync<EditFavoriteFolderViewModel, Result>("api/favorites/EditFavoriteFolder", Model);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("保存收藏夹基本信息失败", obj.Error);
            }
            else
            {
                await autoSave.Clean();

                await ToastService.Success("保存收藏夹基本信息成功", "保存收藏夹基本信息成功");

                if (string.IsNullOrWhiteSpace(UserId))
                {
                    NavigationManager.NavigateTo("/favoritefolders/index/" + FolderId);

                }
                else
                {
                    NavigationManager.NavigateTo("/space/EditSpaceFavoriteFolders/" + UserId);
                }


            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "保存收藏夹基本信息失败");
        }
    }
    private void DataLoaded(EditFavoriteFolderViewModel model)
    {
        isReady = false;
        StateHasChanged();
        Model = model;
        isReady = true;
        StateHasChanged();
        
    }

}
