<div class="community-links-content__qr-card">
    <img src="https://image.cngal.org/images/2022/06/02/76142d8159b0.jpg" alt="CnGal 微信公众号二维码" />
    <span>扫码加入微信公众号</span>
</div>

<div class="community-links-content__link-list">
    <a class="community-links-content__link" href="https://weibo.com/cngalorg?sudaref=www.cngal.org" target="_blank" rel="noopener noreferrer">
        <CgMdiIcon Name="mdiSinaWeibo" aria-hidden="true" />
        <span>微博</span>
    </a>
    <a class="community-links-content__link" href="https://qm.qq.com/q/bgKC6yy5ri" target="_blank" rel="noopener noreferrer">
        <CgMdiIcon Name="mdiQqchat" aria-hidden="true" />
        <span>QQ 群</span>
    </a>
</div>
