@if (Model.MainState == EditState.Preview)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/space/EditMain/EditSpaceFavoriteObjects?FolderId=" + Model.Id)" ExamineType="Operation.EditVideoMain" OnClickRevoke="OnRevoke" />
}

<CnGalWebSite.Components.Containers.MasaTitleContainer Title="基础信息" Icon="@IconType.Infor.ToIconString()">
    <div class="basic-info-group-card">
        <div>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Count" />总数：@Model.Objects.Count
        </div>

        <div>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Look" />浏览数：@Model.ReaderCount
        </div>
        <div>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.DeterminedTime" />创建时间：@Model.CreateTime.ToString("G")
        </div>
        <div>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.EditTime" />最后编辑时间：@Model.LastEditTime.ToString("G")
        </div>
    </div>

</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {

    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    [Parameter]
    public FavoriteFolderViewModel Model { get; set; }

}
