@inject ToastService ToastService
@inject IHttpService _httpService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="最新动态" Icon="@IconType.News.ToIconString()" Class="mb-4" ShowMoreButton OnClickMore="OnClickMore">
    <div class="row">
        @foreach (var item in Items.Take(6))
        {
            <div class="mb-3 col-12 col-lg-6 pointer d-flex">
                <HomeNewsAloneTip Model="item" OnClickNews="OnClickNews" />
            </div>
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

<CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent @ref="trackEven" />

@code {

    public List<HomeNewsAloneViewModel> Items { get; set; } = new List<HomeNewsAloneViewModel>();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent trackEven;


    protected override async Task OnInitializedAsync()
    {

        try
        {
            Items = await _dataCacheService.HomePageNewsCatche.GetCache(ToolHelper.WebApiPath + "api/home/GetHomeNewsView");

            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取主页动态列表失败");
        }
    }

    public async Task OnClickNews(HomeNewsAloneViewModel model)
    {
        if (trackEven != null)
        {
            await trackEven.SendTrackEvent(TrackEventType.Click, TrackEventDataType.News, model.ArticleId.ToString(), model.Text);
        }
    }

    public void OnClickMore()
    {
        NavigationManager.NavigateTo("/articles/news");
        
    }

}
