<div class=" rounded shadow-sm  bg-opacity rounded">
    <ul class="row nav" style="margin:0px" id="pills-tab" role="tablist">
        <EntryTabAloneTip Icon="fa-home" Index="0" OnTabClick="OnClick" Text="介绍" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
        <EntryTabAloneTip Icon="fa-picture-o" Index="1" OnTabClick="OnClick" Text="图片" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>

        @if (IsSmallScreen && Type == EntryType.Game)
        {
            <EntryTabAloneTip Icon="fa-users" Index="17" OnTabClick="OnClick" Text="STAFF" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
        }
        <EntryTabAloneTip Icon="fa-newspaper-o" Index="10" OnTabClick="OnClick" Text="动态" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>

        <EntryTabAloneTip Icon="fa-link" Index="3" OnTabClick="OnClick" Text="相关" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
        <EntryTabAloneTip Icon="fa-comments-o" Index="12" OnTabClick="OnClick" Text="讨论" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>


        <EntryTabAloneTip Icon="fa-shopping-basket" Index="20" OnTabClick="OnClick" Text="周边" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>

        <EntryTabAloneTip Icon="fa-history" Index="4" OnTabClick="OnClick" Text="历史" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>

        <AuthorizeView>
            <Authorized>
                @if (IsFavorited)
                {
                    <EntryTabAloneTip Icon="fa-star" Index="19" OnTabClick="OnClick" Text="取消收藏" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                }
                else
                {
                    <EntryTabAloneTip Icon="fa-star-o" Index="18" OnTabClick="OnClick" Text="收藏" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                }
                @if (PlayedInfor != null)
                {
                    @if (PlayedInfor.Type == null)
                    {
                        <EntryTabAloneTip Icon="fa-compass" Index="21" OnTabClick="OnClick" Text="" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                    }
                    else if (PlayedInfor.Type == PlayedGameType.WantToPlay)
                    {
                        <EntryTabAloneTip Icon="fa-sign-out" Index="7" OnTabClick="OnClick" Text="退出编辑" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                    }
                    else if (PlayedInfor.Type == PlayedGameType.Playing)
                    {

                    }
                    else if (PlayedInfor.Type == PlayedGameType.Played)
                    {

                    }
                    else if (PlayedInfor.Type == PlayedGameType.Uninterested)
                    {

                    }
                }
                @if (IsEdit)
                {
                    <EntryTabAloneTip Icon="fa-sign-out" Index="7" OnTabClick="OnClick" Text="退出编辑" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                }
                else
                {
                    <EntryTabAloneTip Icon="fa-pencil-square-o" Index="6" OnTabClick="OnClick" Text="编辑" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
                }

            </Authorized>
            <NotAuthorized>
                <EntryTabAloneTip Icon=" fa-sign-in" Index="11" OnTabClick="OnClick" Text="登入编辑" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            @if (IsHidden)
            {
                <EntryTabAloneTip Icon=" fa-map-signs" Index="8" OnTabClick="OnClick" Text="取消隐藏" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
            }
            else
            {
                <EntryTabAloneTip Icon="fa-unlink" Index="9" OnTabClick="OnClick" Text="隐藏" RandomIndex="RandomIndex" DefaultIndex="DefaultIndex"></EntryTabAloneTip>
            }
        </AuthorizeView>
    </ul>

    </div>

@code {
    [Parameter]
    public EventCallback<int> OnTabClick { get; set; }

    [Parameter]
    public bool IsEdit { get; set; } = false;

    [Parameter]
    public bool IsHidden { get; set; } = false;

    [Parameter]
    public int RandomIndex { get; set; }

    [Parameter]
    public int DefaultIndex { get; set; }

    [Parameter]
    public bool IsSmallScreen { get; set; }

    [Parameter]
    public bool IsFavorited { get; set; }

    [Parameter]
    public EntryType Type { get; set; } = EntryType.Game;

    [Parameter]
    public PlayedGameInforModel PlayedInfor { get; set; }


    public void OnClick(int index)
    {
        OnTabClick.InvokeAsync(index);
    }
}
