@if (string.IsNullOrWhiteSpace(Model.Modifier) == false)
{
    <h2 class="h4 mt-3">@Model.Modifier</h2>
}
<div class="row">
    @foreach (var item in Model.Pictures)
    {
        <div class=" col-12 col-md-6 col-lg-6 mt-2 mb-2">
            <div class=" h-100">

                    <img src="@item.Url" class="w-100" alt="..." @onclick="@(()=>OnImage(item))" style="cursor:pointer" >
                @if (string.IsNullOrWhiteSpace(item.Note) == false)
                {
                    <span class="text-center mt-2">@item.Note</span>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public PicturesViewModel Model { get; set; }
    [Parameter]
    public EventCallback<PicturesAloneViewModel> OnClickImage { get; set; }

    public async Task OnImage(PicturesAloneViewModel model)
    {
        await OnClickImage.InvokeAsync(model);
    }
}
