@inject HttpClient Http
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
<AlertTip Type="AlertTip.AlertTipType.ScoreTip"></AlertTip>
    <div class="row">
        <div class="col-12 col-lg-8 mb-3">
            @if (Model.IsScoreEffective)
            {
                <GameTotalScoreView Model="Model"></GameTotalScoreView>
            }
            else
            {
                <GameScoreInvalid IsNeedLayput="true"></GameScoreInvalid>
            }

        </div>
        <div class="col-12 col-lg-4 mb-3">
            <AuthorizeView>
                <Authorized>
                    <UserScoreInGame Model="Model"></UserScoreInGame>
                </Authorized>
                <NotAuthorized>
                    <div class="card h-100  rounded shadow  bg-opacity p-4" style="border:0px">
                        <Button IsOutline="true" Icon="fa fa-sign-in" Color="Color.Success" @onclick="OnLoginClick" Text="  登入后评分"></Button>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>


@code {

    [Parameter]
    public PlayedGameInforModel Model { get; set; } = new PlayedGameInforModel();

    public void OnLoginClick()
    {
        NavigationManager.NavigateTo("/account/login");
    }
}
