@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h2 class="h4" @onclick="ViewAt" style="cursor: pointer;">@Title</h2>
<p @onclick="ViewAt" style="cursor: pointer;">@BriefIntroduction</p>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string BriefIntroduction { get; set; }
    [Parameter]
    public string Link { get; set; }
    [Parameter]
    public DateTime HappenedTime { get; set; }

    public async void ViewAt()
    {
        if(string.IsNullOrWhiteSpace(Title))
        {
            return;
        }
        if (Link.Contains("cngal.org"))
        {
            NavigationManager.NavigateTo(Provider, Link, Title, "fa fa-newspaper-o");

        }
        else
        {
            try
            {
                await JS.InvokeAsync<string>("trackEvent", "动态", "点击", Title, "1", "click");
            }
            catch (Exception exc)
            {

            }
            OpenNewPage(Link);

        }
    }

    #region 新建标签页
    public async void OpenNewPage(string url)
    {
        await JS.InvokeAsync<string>("openNewPage", url);
    }
    #endregion
}
