<div>
    @foreach (var item in Model)
    {
        <div class="mb-4">
            @if (item.entry != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item.entry"></CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip>
            }
            else if (item.article != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip Model="item.article"></CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip>
            }
            else if (item.periphery != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip Model="item.periphery"></CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip>
            }
            else if (item.tag != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.TagInforViewTip Model="item.tag"></CnGalWebSite.Shared.Component.Search.NewVersion.TagInforViewTip>
            }
            else if (item.video != null)
            {
                <CnGalWebSite.Shared.Component.Search.NewVersion.VideoInforViewTip Model="item.video"></CnGalWebSite.Shared.Component.Search.NewVersion.VideoInforViewTip>
            }

        </div>
    }
</div>

@code {
    [Parameter]
    public List<SearchAloneModel> Model { get; set; } = new List<SearchAloneModel>();
}
