<div class="row m-0">
    @foreach (var item in Items)
    {
        <div class="col-6 pe-1 p-0 mb-3">
            <RoleCard Model="item" />

        </div>
    }
</div>

@code {
    public List<RoleCardModel> Items { get; set; } = new List<RoleCardModel>();
    [Parameter]
    public List<EntryInforTipViewModel> Model { get; set; } = new List<EntryInforTipViewModel>();

    protected override async Task OnInitializedAsync()
    {
        foreach(var item in Model)
        {
            Items.Add(new RoleCardModel
            {
                CVs = item.AddInfors.FirstOrDefault()?.Contents??new List<string>(),
                Image = item.MainImage,
                Name = item.DisplayName,
                EntryId=item.Id,
            });
        }
    }
}
