@page "/perfections/home"
@page "/perfections"

@inject IDataCacheService _dataCacheService


<div class="rounded  shadow-sm bg-opacity mb-4">
    <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
           >

        <MTab Value="1">
            概览<MIcon>mdi-image-area</MIcon>
        </MTab>
        <MTab Value="2">
            完善度列表<MIcon>mdi-link</MIcon>
        </MTab>
        <MTab Value="3">
            单项检查列表<MIcon>mdi-alert-circle</MIcon>
        </MTab>
    </MTabs>
</div>
<MTabsItems @bind-Value="TabIndex">
    <MTabItem Value="1">

        <PerfectionHomeCard/>
    </MTabItem>
    <MTabItem Value="2">
        <div class="  rounded shadow-sm p-3 bg-opacity">
            <ListPerfectionsTip />
        </div>
    </MTabItem>
    <MTabItem Value="3">
        <div class="  rounded shadow-sm p-3 bg-opacity">
            <ListPerfectionChecksTip />
        </div>
    </MTabItem>
</MTabsItems>



@code {
    public StringNumber TabIndex { get; set; } = 1;

}

