<MDCard Href="@("lotteries/index/"+Model.Id)" Class="h-100" Style="display: flex; flex-direction: column; justify-content: space-between;">
    <div class="">
        <div style="display:flex;">
            <img class="img-fluid" src="@Model.MainPicture">
        </div>
        <div class="pa-3">
            <header style=" display: flex; align-items: center;" class="mb-2">

                <div class="text-truncate-2 ">

                    @if (DateTime.Now.ToCstTime() < Model.BeginTime)
                    {
                        <span class="type-inline-chip">未开始</span>
                    }
                    else if (DateTime.Now.ToCstTime() > Model.EndTime)
                    {
                        <span class="type-inline-chip">已结束</span>
                    }
                    else
                    {
                        <span class="type-inline-chip">正在进行</span>
                    }

                    <span class="title-medium">@Model.Name</span>

                </div>
            </header>
            <span class=" text-truncate-3 label-large">
                @Model.BriefIntroduction
            </span>

        </div>
    </div>
</MDCard>


@code {
    [Parameter]
    public LotteryCardViewModel Model { get; set; }

}
