@inject IHttpService _httpService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Outline Title="抽奖" Icon="@IconType.Lottery.ToIconString()" ShowMoreButton OnClickMore="OnClickMore">
     <MSlideGroup ShowArrows="true" Class="slide-group-garp">
        <ChildContent>
            @foreach (var item in _dataCacheService.LotteryCardsCatche)
            {
                <MSlideItem>
                    <div style="width:300px;">
                        <LotteryViewTip Model="item" />
                    </div>
                    
                </MSlideItem>
            }
        </ChildContent>

    </MSlideGroup>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            if (_dataCacheService.LotteryCardsCatche.Count == 0)
            {
                _dataCacheService.LotteryCardsCatche = await _httpService.GetAsync<List<LotteryCardViewModel>>("api/lotteries/GetLotteryCards");
                _dataCacheService.LotteryCardsCatche = _dataCacheService.LotteryCardsCatche.OrderByDescending(s => s.EndTime).Take(12).ToList();
            }

        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "获取广场抽奖列表失败");
        }
    }
    public void OnClickMore()
    {
        NavigationManager.NavigateTo("/lotteries/home");
        
    }

}
