@if (Model.MainPageState == EditState.Preview)
{
    <AlertTip Title="编辑词条主页" Type="AlertTip.AlertTipType.preview" Url="@("/entries/EditMainPage/" + Model.Id)" ExamineType="Operation.EstablishMainPage" OnClickRevoke="OnRevoke"></AlertTip>
}

<div class="row">
    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <div class="col mb-4">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="介绍" Icon="fa fa-fw fa-home">
                <MarkdownViewTip Text="@Model.MainPage" IsNeedHighlight="true" />
                <div>
                    <CnGalWebSite.Shared.Component.Votes.Relevances.ListRelatedVotesInforCard Type="VoteOptionType.Entry" Id="Model.Id" />
                </div>
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
        </div>
    }

    @if ((Model.Type == EntryType.Role || Model.Type == EntryType.Staff) && string.IsNullOrWhiteSpace(Model.MainPicture) == false)
    {
        <div class="@(string.IsNullOrWhiteSpace(Model.MainPicture)?"":"col-lg-4") col-12  d-none d-lg-flex mb-4">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.VerticalDrawingCard Model="Model" />
        </div>
    }
</div>



@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }

}
