@if (Model.MainPageState == EditState.Preview)
{
    <AlertTip Title="编辑词条主页" Type="AlertTip.AlertTipType.preview" Url="@("/entries/EditMainPage/" + Model.Id)" ExamineType="Operation.EstablishMainPage" OnClickRevoke="OnRevoke"></AlertTip>
}


    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <div class="mb-4">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="介绍" Icon="fa fa-fw fa-home">
                <MarkdownViewTip Text="@Model.MainPage" IsNeedHighlight="true" />
                <div>
                    <CnGalWebSite.Shared.Component.Votes.Relevances.ListRelatedVotesInforCard Type="VoteOptionType.Entry" Id="Model.Id" />
                </div>
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
        </div>
    }



@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }

}
