
@if ((Model.Type == EntryType.Role || Model.Type == EntryType.Staff) && string.IsNullOrWhiteSpace(Model.MainPage)
    && string.IsNullOrWhiteSpace(Model.MainPicture)==false&& IsLargeScreen==false)
{
    <div class="row">
        <div class="col-12">
            <h2 class="fw-bold pb-2 m-0 font-color h5"><i class="fa fa-paint-brush"></i>&nbsp;&nbsp;@(Model.Type==EntryType.Role? "立绘" : "主图")</h2>
        </div>
        <div class="col-12 col-lg-6">
            <img src="@Model.MainPicture" alt="@Model.Name" style="width:100%" />
        </div>
    </div>
}

<div class="markdown-body" style="margin-bottom:0px">
    @((MarkupString)Model.MainPage)
</div>
<div>
    <CnGalWebSite.Shared.Component.Votes.Relevances.ListRelatedVotesInforCard Type="VoteOptionType.Entry" Id="Model.Id" />
</div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public bool IsLargeScreen { get; set; }

}
