
@if (Model.TagState == EditState.Preview)
{
    <div class="mb-3">

        <AlertTip Title="编辑词条标签" Type="AlertTip.AlertTipType.preview" Url="@("/entries/Edittags/" + Model.Id)" ExamineType="Operation.EstablishTags" OnClickRevoke="OnRevoke"></AlertTip>
    </div>
}


@if (Model.Tags.Count > 0)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="标签" Icon="fa fa-fw fa-tags">
        <div>
            @foreach (var item in Model.Tags)
            {
                <TabLink type="button" class="btn btn-dark m-1 ms-0 me-2 btn-xs ps-2 pe-2 " Url="@("/tags/index/"+item.Id)"
                         Text="@item.Name" Icon="fa fa-tag">
                    @item.Name
                </TabLink>
            }


        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }

}
