
<MDCard Class="w-100 pa-4" Style="border-radius: 0;">
    <div class="cngal-about-card">
        <div class="head">
            <div class="introduce">
                <img src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/footer_logo.png" alt="logo" loading="lazy">
                <div class="text">
                    CnGal是一个非营利性的，立志于收集整理国内制作组创作及中文化的中文Galgame/AVG的介绍、攻略、评测、感想等内容的资料性质的网站。 此外，CnGal官方还会与圈内中文AVG制作组进行友好合作，如免费提供Banner广告位，网站服务器资源等。<br />
                    <br />
                    不良信息举报邮箱：help@cngal.org
                </div>
            </div>
            <div class="links-groups">
                <div class="links-group">
                    <h3>社交平台</h3>
                    <div class="links-item">
                        <a href="https://weibo.com/cngalorg" target="_blank">新浪微博</a>
                        <a href="https://space.bilibili.com/145239325" target="_blank">Bilibili</a>
                        <a href="https://afdian.com/a/CnGal" target="_blank">爱发电</a>
                        <a href="https://www.zhihu.com/people/cngalorg" target="_blank">知乎</a>
                    </div>
                </div>
                <div class="links-group">
                    <h3>关于我们</h3>
                    <div class="links-item">
                        <a href="https://www.cngal.org/about" class="me-2">概述</a>
                        <a href="https://www.cngal.org/structure" class="me-2">组织架构</a>
                        <a href="https://www.cngal.org/privacy" class="me-2">隐私协议</a>
                        <a href="https://github.com/CnGal/CnGalWebSite" target="_blank">源代码仓库</a>
                    </div>
                </div>
                <div class="links-group">
                    <h3>其他</h3>
                    <div class="links-item">
                        <a href="https://open.cngal.org/" target="_blank">开放平台</a>
                        <a href="https://app.cngal.org/" target="_blank">PWA 应用</a>
                        <a href="https://app.cngal.org/data" target="_blank">数据汇总</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="addinfo">
            <div>&copy; 2024 - CnGal企划站</div>
            <a target="_blank" href="http://beian.miit.gov.cn" one-link-mark="yes">粤ICP备2023071243号</a>
        </div>
    </div>

</MDCard>
@code {

}
