@if (Dense)
{
    <MBorder>
        <MCardTitle Class="pt-0">@Title</MCardTitle>
        <MCardSubtitle Class="pb-0">@(string.IsNullOrWhiteSpace(Text) ? ("关联的" + Title) : Text)</MCardSubtitle>
    </MBorder>
}
else
{
    <div>
        <MBorder Class="mt-4 mb-4">
            <MCardTitle Class="pt-0">@Title</MCardTitle>
            <MCardSubtitle Class="pb-0">@(string.IsNullOrWhiteSpace(Text) ? ("关联的" + Title) : Text)</MCardSubtitle>
        </MBorder>
    </div>
}


@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public bool Dense { get; set; }
}
