<div class="pt-2">
    <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="周边" />
    <div class="mt-3">
        <CnGalWebSite.Shared.AppComponent.Pages.Peripheries.Cards.ListPeripheryOverviewCard Model="UserPeripheries" />
    </div>
</div>

@code {
    [Parameter]
    public List<GameOverviewPeripheriesModel> UserPeripheries { get; set; }
}
