<div>
    <div class=" mb-3 ">
        <CnGalWebSite.Shared.Component.Entries.NewVersion.MainInforCard Model="Model" HiddenButton ForceSmall />
    </div>
    @if (Model.SteamId > 0)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.SteamInforCard Model="Model" />

        </div>
    }
    @if (Model.Information.Count > 0)
    {
        <div>
            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforCard Model="Model" />
        </div>

    }
    @if (Model.Tags.Count > 0)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.TagsCard Model="Model" />
        </div>
    }
    @if (Model.Staffs.Count > 0)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.StaffInforCard Model="Model" />

        </div>
    }

    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.MainPageCard Model="Model" />
        </div>

    }

    @if (Model.Pictures.Count > 0)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.ImagesCard Model="Model" />
        </div>


    }
    @if (Model.Audio.Any())
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.AudioCard Model="Model"  AutoPlay="false"/>
        </div>
    }
    @if (Model.NewsOfEntry.Count > 0)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.Component.Entries.NewVersion.NewsTimelineCard Model="Model" />
        </div>

    }
    @if (Model.ArticleRelevances.Count != 0 || Model.EntryRelevances.Count != 0 || Model.OtherRelevances.Count != 0 || Model.StaffGames.Count != 0 || Model.Roles.Count != 0)
    {
        <div>
            <EntryRelevancesNormalListViewTip Model="Model" IsForceSmall="true"></EntryRelevancesNormalListViewTip>
        </div>
    }

</div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; } = new EntryIndexViewModel();

}
