

<TagHeadNavTip TagList="Model.Taglevels" />
<TagMainInforCard Model="Model"/>

@if (Model.ChildrenTags.Count != 0 )
{
    <div class="mb-3">
        <TagListChildTagsViewTip Model="Model"  />
    </div>
}
@if (Model.ChildrenEntries.Count != 0 )
{
    <div class="">
        <TagListChildEntriesViewTip Model="Model" />
    </div>
}

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();

}
