<div>
    <div class=" mb-3 ">
        <CnGalWebSite.Shared.MasaComponent.PC.Videos.MainCard Model="Model" HiddenButton ForceSmall/>
    </div>
      
        <div class="mb-3">
            <CnGalWebSite.Shared.MasaComponent.PC.Videos.BasicInforCard Model="Model" />
        </div>
        @if (Model.Pictures.Count != 0)
        {
            <div class="mb-3">
                <CnGalWebSite.Shared.MasaComponent.PC.Videos.ImagesCard Model="Model" />
            </div>
        }

        <CnGalWebSite.Shared.MasaComponent.PC.Videos.MainPageCard Model="Model" />
        <CnGalWebSite.Shared.MasaComponent.PC.Videos.RelevancesCard Model="Model" />
        <CnGalWebSite.Shared.MasaComponent.PC.Videos.OutlinksCard Model="Model" />
    </div>

    @code {
        [Parameter]
        public VideoViewModel Model { get; set; }

    }
