@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

@if (CatalogItems!=null&& CatalogItems.Any() && string.IsNullOrWhiteSpace(Url) == false)
{
    <MMenu OffsetY @bind-Value="menu" Top>
        <ActivatorContent Context="m">
            <MTooltip Bottom>
                <ActivatorContent Context="c">
                    @{
                        var attrs = new Dictionary<string, object>();
                        m.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                        c.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                    }
                    <MButton Fab Small  Class="@Class" @attributes="@attrs" Dark  Color="@(_dataCacheService.ThemeSetting.IsDark?"":"primary")">
                        <MIcon>mdi-format-list-bulleted-square </MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>目录</span>
                </ChildContent>
            </MTooltip>
        </ActivatorContent>

        <ChildContent>
            <div class="bg-theme p-3 pe-0" style="width:400px;">
                <div class="w-100">
                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.Catalogs.MasaCatalog CatalogItems="CatalogItems" Url="@Url" @ref="masaCatalog"/>
                </div>
            </div>
        </ChildContent>
    </MMenu>
}

@code {

    [Parameter]
    public string Class { get; set; }

    public string Url { get; set; }

    private bool menu { get; set; }

    CnGalWebSite.Shared.MasaComponent.Shared.Components.Catalogs.MasaCatalog masaCatalog;
    List<ArticleCatalogModel> CatalogItems = new List<ArticleCatalogModel>();

    public void Refresh(string text, string url)
    {
        Url = url;
        CatalogItems = text.GetCatalog();

        StateHasChanged();

    }
}
