
@if (Entries.Count > 0)
{
    <div class=" rounded shadow  bg-opacity rounded ps-3 pe-3 pt-3 pb-3 mb-3 mt-3" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2 class="fw-bold font-color h4" style="margin-bottom:auto;margin-top:auto;"><i class="fa fa-codepen"></i>&nbsp;&nbsp;关联词条</h2>
    </div>
    <div class="row">
        @for (int i = 0; i < Entries.Count; i++)
        {
            if (Entries[i].Type == EntryType.Game || Entries[i].Type == EntryType.ProductionGroup)
            {
                <div class="col-12 col-lg-6  col-xl-4   mb-3 ">

                    <RelevanceGameTip Model="Entries[i]"/>
                </div>
            }
            else
            {
                <div class="col-12 col-lg-6  col-xl-4  mb-3 ">

                    <RelevanceStaffTip Model="Entries[i]" />
                    </div>
            }
        }

    </div>
}
@if (Articles.Count > 0)
{
    <div class=" rounded shadow  bg-opacity rounded ps-3 pe-3 pt-3 pb-3 mb-3" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2 class="fw-bold font-color h4" style="margin-bottom:auto;margin-top:auto;"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;关联文章</h2>
    </div>
    <div class="row">
        @for (int i = 0; i < Articles.Count; i++)
        {

                <div class="col-12 col-lg-6  col-xl-4   mb-3 ">

                    <RelevanceArticleTip Model="Articles[i]"/>
                </div>
        }

    </div>
}

@code {
    [Parameter]
    public List<EntryInforTipViewModel> Entries { get; set; }
    [Parameter]
    public List<ArticleInforTipViewModel> Articles { get; set; }

}
