<div class="">
    @if (Model.Roles.Count > 0)
    {
        <div class="mt-3">
            <TitleCollapseCard Icon="fa-child" Title="登场角色">
                <div class="row">
                    @foreach (var item in Model.Roles)
                    {
                        <div class="col-12 col-xxl-6 mt-3 ">
                            <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" ColorNum="@((Model.Roles.IndexOf(item)%11+1).ToString())" />
                        </div>
                    }

                </div>
            </TitleCollapseCard>
        </div>
    }
    @if (Model.StaffGames.Count > 0)
    {
        <div class="mt-3">
            <TitleCollapseCard Icon="fa-paper-plane-o" Title="参与作品">
                <div class="row">
                    @foreach (var item in Model.StaffGames)
                    {
                        <div class="col-12 col-xxl-6 mt-3 ">
                            <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" ColorNum="@((Model.StaffGames.IndexOf(item)%11+1).ToString())" />
                        </div>
                    }

                </div>
            </TitleCollapseCard>
        </div>
    }
    @if (Model.EntryRelevances.Count > 0)
    {
        <div class="mt-3">
            <TitleCollapseCard Icon="fa-codepen" Title="关联词条">
                <div class="row">
                    @foreach (var item in Model.EntryRelevances)
                    {
                        <div class="col-12 col-xxl-6 mt-3 ">
                            <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" ColorNum="@((Model.EntryRelevances.IndexOf(item)%11+1).ToString())" />
                        </div>
                    }

                </div>
            </TitleCollapseCard>
        </div>
    
    }
    @if (Model.ArticleRelevances.Count > 0)
    {
        <div class="mt-3">
            <TitleCollapseCard Icon="fa-newspaper-o" Title="关联文章">
                <div class="row">
                    @foreach (var item in Model.ArticleRelevances)
                    {

                        <div class="col-12 col-xxl-6 mt-3 ">

                            <CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip Model="item" />
                        </div>
                    }

                </div>
            </TitleCollapseCard>
        </div>   
    }
    @if (Model.OtherRelevances.Count > 0)
    {
        <div class="mt-3">
            <TitleCollapseCard Icon="fa-link" Title="外部链接">
                <div class="mt-3">
                    <AlertTip Type="AlertTip.AlertTipType.OtherLink"></AlertTip>
                </div>
                <div class="row">

                    @foreach (var item in Model.OtherRelevances)
                    {
                        <div class="col-12 col-xxl-6  mt-3 ">
                            <RelevanceOtherTip Model="item" />
                        </div>
                    }
                </div>
            </TitleCollapseCard>
        </div>
     
    }
</div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

}
