
<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xxl-3  mb-3 ">

            <EntryGameRevelanceRoleTip Model="Model[i]" ColorNum="@((i%11+1).ToString())" >

            </EntryGameRevelanceRoleTip>
        </div>

    }

</div>
@code {
    [Parameter]
    public List<RoleInforModel> Model { get; set; }
}
