
<div class="row">
    @for (int i=0;i< Model.Count;i++)
    {
    <div class="col-12 col-lg-6  mb-3 ">

        <EntryStaffRelevanceGameTip Model="Model[i]" ColorString="@("bg-context-"+(i%11+1).ToString())" >

        </EntryStaffRelevanceGameTip>
    </div>
      
    }

</div>
@code {
    [Parameter]
    public List<StaffGameModel> Model { get; set; }
}
