<div class="@Class">
    @if (string.IsNullOrWhiteSpace(Title) == false)
    {
        <h5 class="fw-bold mb-4">@Title</h5>

    }
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            int temp = i;
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-2">
                <AutoComplete Items="@AutoCompleteItems" IsLikeMatch="true" IgnoreCase="true" @bind-Value="Model[temp].DisplayName" placeholder="唯一名称" />
            </div>
        }
    </div>
    <Button Color="Color.Primary" IsOutline="true" style="width:100px" @onclick="@(() => OnAddinfor())" Text="添加" Icon="fa fa-plus"></Button>

</div>

@code {
    [Parameter]
    public List<RelevancesModel> Model { get; set; }
    [Parameter]
    public IEnumerable<string> AutoCompleteItems { get; set; }
    [Parameter]
    public string Class { get; set; }


    [Parameter]
    public string Title { get; set; }

    private Task OnAddinfor()
    {
        Model.Add(new RelevancesModel());
        return Task.CompletedTask;
    }

}
