@rendermode InteractiveServer

<CgPopupMenu>
    <TriggerContent>
        <button class="cg-action-btn" aria-label="创建内容">
            <CgMdiIcon Name="mdiPlusCircleOutline" aria-hidden="true" />
        </button>
    </TriggerContent>
    <ChildContent>
        <div class="cg-create-menu-header">
            <span>创建内容</span>
        </div>
        <div class="cg-create-menu-list">
            <a class="cg-create-menu-item" href="/entries/create">
                <CgMdiIcon Name="mdiGamepadVariantOutline" aria-hidden="true" />
                <span>创建词条</span>
            </a>
            <a class="cg-create-menu-item" href="/articles/create">
                <CgMdiIcon Name="mdiFileDocumentOutline" aria-hidden="true" />
                <span>创建文章</span>
            </a>
            <a class="cg-create-menu-item" href="/tags/create">
                <CgMdiIcon Name="mdiTagOutline" aria-hidden="true" />
                <span>创建标签</span>
            </a>
            <a class="cg-create-menu-item" href="/videos/create">
                <CgMdiIcon Name="mdiVideoOutline" aria-hidden="true" />
                <span>发布视频</span>
            </a>
        </div>
    </ChildContent>
</CgPopupMenu>
