@using CnGalWebSite.DataModel.Model

<section class="video-basic-info">
    <div class="video-basic-info-item">
        <CgMdiIcon Name="mdiEyeOutline" />
        <span>@ReaderCount 播放</span>
    </div>
    <div class="video-basic-info-item">
        <CgMdiIcon Name="mdiCommentTextOutline" />
        <span>@CommentCount 评论</span>
    </div>
    @if (!string.IsNullOrWhiteSpace(Type))
    {
        <div class="video-basic-info-item">
            <CgMdiIcon Name="mdiTagOutline" />
            <span>@Type</span>
        </div>
    }
    <div class="video-basic-info-item">
        <CgMdiIcon Name="mdiShieldCheckOutline" />
        <span>@GetCopyrightText()</span>
    </div>
    @if (IsInteractive)
    {
        <div class="video-basic-info-item">
            <CgMdiIcon Name="mdiGestureTapButton" />
            <span>互动视频</span>
        </div>
    }
    @if (LastEditTime != default)
    {
        <div class="video-basic-info-item video-basic-info-item--time">
            <CgMdiIcon Name="mdiClockEditOutline" />
            <span>最后编辑于 @LastEditTime.ToString("yyyy-MM-dd")</span>
        </div>
    }
</section>

@code {
    [Parameter] public int ReaderCount { get; set; }
    [Parameter] public int CommentCount { get; set; }
    [Parameter] public string Type { get; set; } = "";
    [Parameter] public CopyrightType Copyright { get; set; }
    [Parameter] public bool IsInteractive { get; set; }
    [Parameter] public DateTime LastEditTime { get; set; }

    private string GetCopyrightText()
    {
        return Copyright switch
        {
            CopyrightType.Original => "原创",
            CopyrightType.Transshipment => "转载",
            _ => "未知版权"
        };
    }
}
