
    <div style="display:flex;">
        <div class="comment-tx-div m-0">
            <a href="@url" class="new-row-warp no-margin mb-1">
                <RankAloneViewTip Model="rank"></RankAloneViewTip>
                <div class="comment-username a-font-color me-2">@Model.RelatedName</div>
                @if (Model.ApplyTime != null)
                {
                    <div class="comment-username" style="color:gray;">@Model.ApplyTime.ToTimeFromNowString()</div>
                }
            </a>
            <div class="comment-time a-font-color">@Model.Operation.GetDisplayName()</div>
        </div>
    </div>

@code {
    [Parameter]
    public ExaminedNormalListModel Model { get; set; } = new ExaminedNormalListModel();

    RankViewModel rank;

    string url;

    protected override async Task OnInitializedAsync()
    {
        if (Model.IsPassed == true)
        {
            rank = new RankViewModel
            {
                Text = "已通过",
                CSS = "bg-success"
            };
        }
        else if (Model.IsPassed == false)
        {
            rank = new RankViewModel
            {
                Text = "未通过",
                CSS = "bg-danger"
            };
        }
        else
        {
            rank = new RankViewModel
            {
                Text = "待审核",
                CSS = "bg-primary"
            };
        }

        @if (Model.Type == ExaminedNormalListModelType.Entry)
        {
            url = "/entries/index/" + Model.RelatedId;
        }
        else if (Model.Type == ExaminedNormalListModelType.Article)
        {
            url = "/articles/index/" + Model.RelatedId;
        }
        else if (Model.Type == ExaminedNormalListModelType.Tag)
        {
            url = "/tags/index/" + Model.RelatedId;
        }
        else if (Model.Type == ExaminedNormalListModelType.Disambig)
        {
            url = "/disambigs/index/" + Model.RelatedId;
        }
        else if (Model.Type == ExaminedNormalListModelType.Periphery)
        {
            url = "/peripheries/index/" + Model.RelatedId;
        }
        else if (Model.Type == ExaminedNormalListModelType.User)
        {
            url = "/space/index/" + Model.RelatedId;
        }
    }
}
