
@if (Model.ChildTagsState == EditState.Preview)
{
    <div class="pb-1">
        <AlertTip Title="编辑子标签" Type="AlertTip.AlertTipType.preview" Url="@("/tags/EditChildTags/" + Model.Id)" ExamineType="Operation.EditTagChildTags" OnClickRevoke="OnClickRevoke"></AlertTip>
    </div>
}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="子标签" Icon="fa fa-fw fa-tags" Collapable>
    <div class="row">
        @foreach (var item in Model.ChildrenTags)
        {

            <div class="col-6 col-md-6 col-lg-4 col-xxl-3 mt-2">
                <TabLink Text="@item.Name" Url="@("/tags/index/"+item.Id)" Icon="fa fa-tag">@item.Name</TabLink>
                <hr />
            </div>
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();
    [Parameter]
    public EventCallback<Operation> OnClickRevoke { get; set; }
}
