@if (Model.ChildEntriesState == EditState.Preview)
{
        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/tags/EditChildEntries/" + Model.Id)" ExamineType="Operation.EditTagChildEntries" OnClickRevoke="OnClickRevoke"/>
}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="子词条" Icon="fa fa-fw fa-codepen" Collapable Outline>
    <div class="row">
        @foreach (var item in Model.ChildrenEntries)
        {
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3">
                <TagChildEntryInforTip Model="item" />
            </div>
        }

    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();
    [Parameter]
    public EventCallback<Operation> OnClickRevoke { get; set; }

}
