

@inject IHttpService _httpService
<style>
    .modal-footer {
        display: none;
    }
</style>

<div>
    @if (isReady)
    {
        @if (Model.Type == LotteryAwardType.ActivationCode)
        {
            <span style="font-size:large;">激活码：@Model.Context</span>

        }
        else if (Model.Type == LotteryAwardType.RealThing)
        {
            <span style="font-size:large;">单号：@Model.Context</span>

        }
    }
    else
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Cards.ProgressingCard Style="min-height:200px;" />


    }
</div>

@code {
    [Parameter]
    public long Id { get; set; }

    public PrizeViewModel Model { get; set; } = new PrizeViewModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public string Text { get; set; }
    private IEnumerable<long> Value1 { get; set; }
    bool isReady = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await _httpService.GetAsync<PrizeViewModel>("api/lotteries/GetUserPrize/" + Id);

            isReady = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取用户奖品失败");
        }
    }
}
