/*覆盖全局样式*/
.theme--light.m-app-bar.m-toolbar.m-sheet {
     background-color: transparent; 
}
/*自定义样式*/
.text-center {
    text-align: center;
}
/*默认卡片*/
.mdl-card {
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*按钮文字始终白色*/
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: white;
}
.mdl-button--fab.mdl-button--colored {
    color: white;
}
.mdl-button--fab {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Layout*/
footer .infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo-area img{
    height:2.5rem;
    border-radius:50%;
}
.logo-area {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-area .name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    text-decoration: none;
}
footer {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    color:gray!important;
}
.container {
    max-width: 500px;
    margin-top: 100px;
}
#layout-user{
    color:white;
}
.page-content {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
@media screen and (max-width: 768px) {
    .page-content {
        padding: 1rem;
    }
}

/*主页*/

.home-card img {
    height: 15rem;
    width: fit-content;
    margin-top: 2rem;
}
.home-card .date {
    padding: 0;
}

/*登入*/
.login-card img {
    height: 10rem;
    width: fit-content;
    margin: 2rem;
}
.login-card .mdl-textfield{
    width:100%;
}
.login-card .action {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}
.login-card .external {
    display: flex;
    justify-content: space-around;
}
.login-card .external-text {
    display: flex;
    justify-content: center;
}
.login-card .external-text hr {
    width:100%;
}
.login-card .external-text p {
    width: -webkit-fill-available;
}
/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}
