:root {
    --md-source: #CDDC39;
    --md-sys-color-primary-rgb: 91 99 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #1a1d00;
    --md-ref-palette-primary20: #2f3300;
    --md-ref-palette-primary25: #393f00;
    --md-ref-palette-primary30: #444b00;
    --md-ref-palette-primary35: #505700;
    --md-ref-palette-primary40: #5b6300;
    --md-ref-palette-primary50: #737d00;
    --md-ref-palette-primary60: #8c9800;
    --md-ref-palette-primary70: #a6b400;
    --md-ref-palette-primary80: #c1d02c;
    --md-ref-palette-primary90: #dded49;
    --md-ref-palette-primary95: #ecfb57;
    --md-ref-palette-primary98: #f9ffb4;
    --md-ref-palette-primary99: #feffd8;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #1b1d07;
    --md-ref-palette-secondary20: #30321a;
    --md-ref-palette-secondary25: #3b3d24;
    --md-ref-palette-secondary30: #46492e;
    --md-ref-palette-secondary35: #525439;
    --md-ref-palette-secondary40: #5e6044;
    --md-ref-palette-secondary50: #77795b;
    --md-ref-palette-secondary60: #919373;
    --md-ref-palette-secondary70: #acae8c;
    --md-ref-palette-secondary80: #c7c9a6;
    --md-ref-palette-secondary90: #e4e5c1;
    --md-ref-palette-secondary95: #f2f3cf;
    --md-ref-palette-secondary98: #fbfcd7;
    --md-ref-palette-secondary99: #feffda;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #002019;
    --md-ref-palette-tertiary20: #07372d;
    --md-ref-palette-tertiary25: #164337;
    --md-ref-palette-tertiary30: #234e43;
    --md-ref-palette-tertiary35: #2f5a4e;
    --md-ref-palette-tertiary40: #3c665a;
    --md-ref-palette-tertiary50: #547f72;
    --md-ref-palette-tertiary60: #6e9a8b;
    --md-ref-palette-tertiary70: #88b4a6;
    --md-ref-palette-tertiary80: #a2d0c1;
    --md-ref-palette-tertiary90: #beecdc;
    --md-ref-palette-tertiary95: #ccfbea;
    --md-ref-palette-tertiary98: #e6fff5;
    --md-ref-palette-tertiary99: #f3fff9;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1c1c17;
    --md-ref-palette-neutral20: #31312b;
    --md-ref-palette-neutral25: #3c3c36;
    --md-ref-palette-neutral30: #474741;
    --md-ref-palette-neutral35: #53534c;
    --md-ref-palette-neutral40: #5f5f58;
    --md-ref-palette-neutral50: #787770;
    --md-ref-palette-neutral60: #929189;
    --md-ref-palette-neutral70: #adaba3;
    --md-ref-palette-neutral80: #c9c6be;
    --md-ref-palette-neutral90: #e5e2da;
    --md-ref-palette-neutral95: #f3f1e8;
    --md-ref-palette-neutral98: #fcf9f0;
    --md-ref-palette-neutral99: #feffd8;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #1b1c12;
    --md-ref-palette-neutral-variant20: #313126;
    --md-ref-palette-neutral-variant25: #3c3c30;
    --md-ref-palette-neutral-variant30: #47483b;
    --md-ref-palette-neutral-variant35: #535346;
    --md-ref-palette-neutral-variant40: #5f5f52;
    --md-ref-palette-neutral-variant50: #787869;
    --md-ref-palette-neutral-variant60: #929282;
    --md-ref-palette-neutral-variant70: #adac9c;
    --md-ref-palette-neutral-variant80: #c8c7b7;
    --md-ref-palette-neutral-variant90: #e5e3d2;
    --md-ref-palette-neutral-variant95: #f3f1e0;
    --md-ref-palette-neutral-variant98: #fcfae8;
    --md-ref-palette-neutral-variant99: #fffdeb;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #5b6300;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #dded49;
    --md-sys-color-on-primary-container-light: #1a1d00;
    --md-sys-color-secondary-light: #5e6044;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #e4e5c1;
    --md-sys-color-on-secondary-container-light: #1b1d07;
    --md-sys-color-tertiary-light: #3c665a;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #beecdc;
    --md-sys-color-on-tertiary-container-light: #002019;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #feffd8e0;
    --md-sys-color-on-background-light: #1c1c17;
    --md-sys-color-surface-light: #feffd8;
    --md-sys-color-on-surface-light: #1c1c17;
    --md-sys-color-surface-variant-light: #e5e3d2;
    --md-sys-color-on-surface-variant-light: #47483b;
    --md-sys-color-outline-light: #787869;
    --md-sys-color-inverse-on-surface-light: #f3f1e8;
    --md-sys-color-inverse-surface-light: #31312b;
    --md-sys-color-inverse-primary-light: #c1d02c;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #5b6300;
    --md-sys-color-outline-variant-light: #c8c7b7;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #c1d02c;
    --md-sys-color-on-primary-dark: #2f3300;
    --md-sys-color-primary-container-dark: #444b00;
    --md-sys-color-on-primary-container-dark: #dded49;
    --md-sys-color-secondary-dark: #c7c9a6;
    --md-sys-color-on-secondary-dark: #30321a;
    --md-sys-color-secondary-container-dark: #46492e;
    --md-sys-color-on-secondary-container-dark: #e4e5c1;
    --md-sys-color-tertiary-dark: #a2d0c1;
    --md-sys-color-on-tertiary-dark: #07372d;
    --md-sys-color-tertiary-container-dark: #234e43;
    --md-sys-color-on-tertiary-container-dark: #beecdc;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1c1c17a0;
    --md-sys-color-on-background-dark: #e5e2da;
    --md-sys-color-surface-dark: #1c1c17;
    --md-sys-color-on-surface-dark: #e5e2da;
    --md-sys-color-surface-variant-dark: #47483b;
    --md-sys-color-on-surface-variant-dark: #c8c7b7;
    --md-sys-color-outline-dark: #929282;
    --md-sys-color-inverse-on-surface-dark: #1c1c17;
    --md-sys-color-inverse-surface-dark: #e5e2da;
    --md-sys-color-inverse-primary-dark: #5b6300;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #c1d02c;
    --md-sys-color-outline-variant-dark: #47483b;
    --md-sys-color-scrim-dark: #000000;
   
}
