:root {
    --md-source: #F44336;
    --md-sys-color-primary-rgb: 187 22 20;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #410001;
    --md-ref-palette-primary20: #690002;
    --md-ref-palette-primary25: #7e0004;
    --md-ref-palette-primary30: #930005;
    --md-ref-palette-primary35: #a90107;
    --md-ref-palette-primary40: #bb1614;
    --md-ref-palette-primary50: #e0342a;
    --md-ref-palette-primary60: #ff5545;
    --md-ref-palette-primary70: #ff8a7b;
    --md-ref-palette-primary80: #ffb4a9;
    --md-ref-palette-primary90: #ffdad5;
    --md-ref-palette-primary95: #ffedea;
    --md-ref-palette-primary98: #fff8f7;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #2c1512;
    --md-ref-palette-secondary20: #442926;
    --md-ref-palette-secondary25: #513430;
    --md-ref-palette-secondary30: #5d3f3b;
    --md-ref-palette-secondary35: #6a4b46;
    --md-ref-palette-secondary40: #775652;
    --md-ref-palette-secondary50: #926f6a;
    --md-ref-palette-secondary60: #ae8883;
    --md-ref-palette-secondary70: #caa29c;
    --md-ref-palette-secondary80: #e7bdb7;
    --md-ref-palette-secondary90: #ffdad5;
    --md-ref-palette-secondary95: #ffedea;
    --md-ref-palette-secondary98: #fff8f7;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #261a00;
    --md-ref-palette-tertiary20: #3e2e04;
    --md-ref-palette-tertiary25: #4b390e;
    --md-ref-palette-tertiary30: #574419;
    --md-ref-palette-tertiary35: #645023;
    --md-ref-palette-tertiary40: #705c2e;
    --md-ref-palette-tertiary50: #8b7444;
    --md-ref-palette-tertiary60: #a68e5b;
    --md-ref-palette-tertiary70: #c2a873;
    --md-ref-palette-tertiary80: #dfc38c;
    --md-ref-palette-tertiary90: #fcdfa6;
    --md-ref-palette-tertiary95: #ffefd4;
    --md-ref-palette-tertiary98: #fff8f2;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a19;
    --md-ref-palette-neutral20: #362f2e;
    --md-ref-palette-neutral25: #413a39;
    --md-ref-palette-neutral30: #4d4544;
    --md-ref-palette-neutral35: #59504f;
    --md-ref-palette-neutral40: #655c5b;
    --md-ref-palette-neutral50: #7f7573;
    --md-ref-palette-neutral60: #998e8d;
    --md-ref-palette-neutral70: #b4a9a7;
    --md-ref-palette-neutral80: #d0c4c2;
    --md-ref-palette-neutral90: #ede0de;
    --md-ref-palette-neutral95: #fbeeec;
    --md-ref-palette-neutral98: #fff8f7;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #251917;
    --md-ref-palette-neutral-variant20: #3b2d2b;
    --md-ref-palette-neutral-variant25: #473836;
    --md-ref-palette-neutral-variant30: #534341;
    --md-ref-palette-neutral-variant35: #5f4f4c;
    --md-ref-palette-neutral-variant40: #6b5a58;
    --md-ref-palette-neutral-variant50: #857370;
    --md-ref-palette-neutral-variant60: #a08c89;
    --md-ref-palette-neutral-variant70: #bba7a4;
    --md-ref-palette-neutral-variant80: #d8c2be;
    --md-ref-palette-neutral-variant90: #f5ddda;
    --md-ref-palette-neutral-variant95: #ffedea;
    --md-ref-palette-neutral-variant98: #fff8f7;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #bb1614;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffdad5;
    --md-sys-color-on-primary-container-light: #410001;
    --md-sys-color-secondary-light: #775652;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ffdad5;
    --md-sys-color-on-secondary-container-light: #2c1512;
    --md-sys-color-tertiary-light: #705c2e;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #fcdfa6;
    --md-sys-color-on-tertiary-container-light: #261a00;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #201a19;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #201a19;
    --md-sys-color-surface-variant-light: #f5ddda;
    --md-sys-color-on-surface-variant-light: #534341;
    --md-sys-color-outline-light: #857370;
    --md-sys-color-inverse-on-surface-light: #fbeeec;
    --md-sys-color-inverse-surface-light: #362f2e;
    --md-sys-color-inverse-primary-light: #ffb4a9;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #bb1614;
    --md-sys-color-outline-variant-light: #d8c2be;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb4a9;
    --md-sys-color-on-primary-dark: #690002;
    --md-sys-color-primary-container-dark: #930005;
    --md-sys-color-on-primary-container-dark: #ffdad5;
    --md-sys-color-secondary-dark: #e7bdb7;
    --md-sys-color-on-secondary-dark: #442926;
    --md-sys-color-secondary-container-dark: #5d3f3b;
    --md-sys-color-on-secondary-container-dark: #ffdad5;
    --md-sys-color-tertiary-dark: #dfc38c;
    --md-sys-color-on-tertiary-dark: #3e2e04;
    --md-sys-color-tertiary-container-dark: #574419;
    --md-sys-color-on-tertiary-container-dark: #fcdfa6;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #201a19;
    --md-sys-color-on-background-dark: #ede0de;
    --md-sys-color-surface-dark: #201a19;
    --md-sys-color-on-surface-dark: #ede0de;
    --md-sys-color-surface-variant-dark: #534341;
    --md-sys-color-on-surface-variant-dark: #d8c2be;
    --md-sys-color-outline-dark: #a08c89;
    --md-sys-color-inverse-on-surface-dark: #201a19;
    --md-sys-color-inverse-surface-dark: #ede0de;
    --md-sys-color-inverse-primary-dark: #bb1614;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb4a9;
    --md-sys-color-outline-variant-dark: #534341;
    --md-sys-color-scrim-dark: #000000;
}
