:root {
    --md-source: #FF9800;
    --md-sys-color-primary-rgb: 139 80 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #2c1600;
    --md-ref-palette-primary20: #4a2800;
    --md-ref-palette-primary25: #593200;
    --md-ref-palette-primary30: #693c00;
    --md-ref-palette-primary35: #7a4600;
    --md-ref-palette-primary40: #8b5000;
    --md-ref-palette-primary50: #ae6600;
    --md-ref-palette-primary60: #d27c00;
    --md-ref-palette-primary70: #f79300;
    --md-ref-palette-primary80: #ffb870;
    --md-ref-palette-primary90: #ffdcbe;
    --md-ref-palette-primary95: #ffeee1;
    --md-ref-palette-primary98: #fff8f5;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #291806;
    --md-ref-palette-secondary20: #402c18;
    --md-ref-palette-secondary25: #4c3722;
    --md-ref-palette-secondary30: #59422c;
    --md-ref-palette-secondary35: #664e37;
    --md-ref-palette-secondary40: #725a42;
    --md-ref-palette-secondary50: #8d7259;
    --md-ref-palette-secondary60: #a88b71;
    --md-ref-palette-secondary70: #c4a68a;
    --md-ref-palette-secondary80: #e1c1a4;
    --md-ref-palette-secondary90: #ffdcbe;
    --md-ref-palette-secondary95: #ffeee1;
    --md-ref-palette-secondary98: #fff8f5;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #161e01;
    --md-ref-palette-tertiary20: #2b3410;
    --md-ref-palette-tertiary25: #353f1a;
    --md-ref-palette-tertiary30: #414b24;
    --md-ref-palette-tertiary35: #4c572f;
    --md-ref-palette-tertiary40: #58633a;
    --md-ref-palette-tertiary50: #717c50;
    --md-ref-palette-tertiary60: #8a9668;
    --md-ref-palette-tertiary70: #a5b080;
    --md-ref-palette-tertiary80: #c0cc9a;
    --md-ref-palette-tertiary90: #dce8b4;
    --md-ref-palette-tertiary95: #eaf7c2;
    --md-ref-palette-tertiary98: #f3ffcb;
    --md-ref-palette-tertiary99: #faffe2;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201b16;
    --md-ref-palette-neutral20: #352f2b;
    --md-ref-palette-neutral25: #403a35;
    --md-ref-palette-neutral30: #4c4640;
    --md-ref-palette-neutral35: #58514c;
    --md-ref-palette-neutral40: #645d57;
    --md-ref-palette-neutral50: #7e7670;
    --md-ref-palette-neutral60: #988f89;
    --md-ref-palette-neutral70: #b3a9a3;
    --md-ref-palette-neutral80: #cfc5be;
    --md-ref-palette-neutral90: #ebe0d9;
    --md-ref-palette-neutral95: #faefe7;
    --md-ref-palette-neutral98: #fff8f5;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #231a11;
    --md-ref-palette-neutral-variant20: #392e25;
    --md-ref-palette-neutral-variant25: #45392f;
    --md-ref-palette-neutral-variant30: #51453a;
    --md-ref-palette-neutral-variant35: #5d5045;
    --md-ref-palette-neutral-variant40: #695c51;
    --md-ref-palette-neutral-variant50: #837468;
    --md-ref-palette-neutral-variant60: #9d8e81;
    --md-ref-palette-neutral-variant70: #b9a89b;
    --md-ref-palette-neutral-variant80: #d5c3b5;
    --md-ref-palette-neutral-variant90: #f2dfd1;
    --md-ref-palette-neutral-variant95: #ffeee1;
    --md-ref-palette-neutral-variant98: #fff8f5;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #8b5000;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffdcbe;
    --md-sys-color-on-primary-container-light: #2c1600;
    --md-sys-color-secondary-light: #725a42;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ffdcbe;
    --md-sys-color-on-secondary-container-light: #291806;
    --md-sys-color-tertiary-light: #58633a;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #dce8b4;
    --md-sys-color-on-tertiary-container-light: #161e01;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbffe0;
    --md-sys-color-on-background-light: #201b16;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #201b16;
    --md-sys-color-surface-variant-light: #f2dfd1;
    --md-sys-color-on-surface-variant-light: #51453a;
    --md-sys-color-outline-light: #837468;
    --md-sys-color-inverse-on-surface-light: #faefe7;
    --md-sys-color-inverse-surface-light: #352f2b;
    --md-sys-color-inverse-primary-light: #ffb870;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #8b5000;
    --md-sys-color-outline-variant-light: #d5c3b5;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb870;
    --md-sys-color-on-primary-dark: #4a2800;
    --md-sys-color-primary-container-dark: #693c00;
    --md-sys-color-on-primary-container-dark: #ffdcbe;
    --md-sys-color-secondary-dark: #e1c1a4;
    --md-sys-color-on-secondary-dark: #402c18;
    --md-sys-color-secondary-container-dark: #59422c;
    --md-sys-color-on-secondary-container-dark: #ffdcbe;
    --md-sys-color-tertiary-dark: #c0cc9a;
    --md-sys-color-on-tertiary-dark: #2b3410;
    --md-sys-color-tertiary-container-dark: #414b24;
    --md-sys-color-on-tertiary-container-dark: #dce8b4;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #201b16a0;
    --md-sys-color-on-background-dark: #ebe0d9;
    --md-sys-color-surface-dark: #201b16;
    --md-sys-color-on-surface-dark: #ebe0d9;
    --md-sys-color-surface-variant-dark: #51453a;
    --md-sys-color-on-surface-variant-dark: #d5c3b5;
    --md-sys-color-outline-dark: #9d8e81;
    --md-sys-color-inverse-on-surface-dark: #201b16;
    --md-sys-color-inverse-surface-dark: #ebe0d9;
    --md-sys-color-inverse-primary-dark: #8b5000;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb870;
    --md-sys-color-outline-variant-dark: #51453a;
    --md-sys-color-scrim-dark: #000000;
   
}
