:root {
    --md-source: #673AB7;
    --md-sys-color-primary-rgb: 111 67 192;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #250059;
    --md-ref-palette-primary20: #3f008d;
    --md-ref-palette-primary25: #4b169b;
    --md-ref-palette-primary30: #5727a6;
    --md-ref-palette-primary35: #6336b3;
    --md-ref-palette-primary40: #6f43c0;
    --md-ref-palette-primary50: #895edb;
    --md-ref-palette-primary60: #a478f7;
    --md-ref-palette-primary70: #bc99ff;
    --md-ref-palette-primary80: #d3bbff;
    --md-ref-palette-primary90: #ebddff;
    --md-ref-palette-primary95: #f7edff;
    --md-ref-palette-primary98: #fef7ff;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #1f182b;
    --md-ref-palette-secondary20: #342d40;
    --md-ref-palette-secondary25: #3f384c;
    --md-ref-palette-secondary30: #4b4358;
    --md-ref-palette-secondary35: #574f64;
    --md-ref-palette-secondary40: #635b70;
    --md-ref-palette-secondary50: #7c738a;
    --md-ref-palette-secondary60: #968da4;
    --md-ref-palette-secondary70: #b1a7bf;
    --md-ref-palette-secondary80: #cdc2db;
    --md-ref-palette-secondary90: #e9def8;
    --md-ref-palette-secondary95: #f7edff;
    --md-ref-palette-secondary98: #fef7ff;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #31101b;
    --md-ref-palette-tertiary20: #4a2530;
    --md-ref-palette-tertiary25: #57303b;
    --md-ref-palette-tertiary30: #643b46;
    --md-ref-palette-tertiary35: #714652;
    --md-ref-palette-tertiary40: #7e525d;
    --md-ref-palette-tertiary50: #9a6a76;
    --md-ref-palette-tertiary60: #b68390;
    --md-ref-palette-tertiary70: #d39daa;
    --md-ref-palette-tertiary80: #f0b7c5;
    --md-ref-palette-tertiary90: #ffd9e1;
    --md-ref-palette-tertiary95: #ffecef;
    --md-ref-palette-tertiary98: #fff8f8;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1d1b1e;
    --md-ref-palette-neutral20: #323033;
    --md-ref-palette-neutral25: #3d3a3e;
    --md-ref-palette-neutral30: #48464a;
    --md-ref-palette-neutral35: #545155;
    --md-ref-palette-neutral40: #605d61;
    --md-ref-palette-neutral50: #79767a;
    --md-ref-palette-neutral60: #938f94;
    --md-ref-palette-neutral70: #aeaaae;
    --md-ref-palette-neutral80: #cac5ca;
    --md-ref-palette-neutral90: #e6e1e6;
    --md-ref-palette-neutral95: #f5eff4;
    --md-ref-palette-neutral98: #fef8fd;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #1d1a22;
    --md-ref-palette-neutral-variant20: #322f37;
    --md-ref-palette-neutral-variant25: #3e3a43;
    --md-ref-palette-neutral-variant30: #49454e;
    --md-ref-palette-neutral-variant35: #55515a;
    --md-ref-palette-neutral-variant40: #615d66;
    --md-ref-palette-neutral-variant50: #7a757f;
    --md-ref-palette-neutral-variant60: #948f99;
    --md-ref-palette-neutral-variant70: #afa9b4;
    --md-ref-palette-neutral-variant80: #cbc4cf;
    --md-ref-palette-neutral-variant90: #e7e0eb;
    --md-ref-palette-neutral-variant95: #f6eefa;
    --md-ref-palette-neutral-variant98: #fef7ff;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #6f43c0;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ebddff;
    --md-sys-color-on-primary-container-light: #250059;
    --md-sys-color-secondary-light: #635b70;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #e9def8;
    --md-sys-color-on-secondary-container-light: #1f182b;
    --md-sys-color-tertiary-light: #7e525d;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffd9e1;
    --md-sys-color-on-tertiary-container-light: #31101b;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbffe0;
    --md-sys-color-on-background-light: #1d1b1e;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1d1b1e;
    --md-sys-color-surface-variant-light: #e7e0eb;
    --md-sys-color-on-surface-variant-light: #49454e;
    --md-sys-color-outline-light: #7a757f;
    --md-sys-color-inverse-on-surface-light: #f5eff4;
    --md-sys-color-inverse-surface-light: #323033;
    --md-sys-color-inverse-primary-light: #d3bbff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #6f43c0;
    --md-sys-color-outline-variant-light: #cbc4cf;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #d3bbff;
    --md-sys-color-on-primary-dark: #3f008d;
    --md-sys-color-primary-container-dark: #5727a6;
    --md-sys-color-on-primary-container-dark: #ebddff;
    --md-sys-color-secondary-dark: #cdc2db;
    --md-sys-color-on-secondary-dark: #342d40;
    --md-sys-color-secondary-container-dark: #4b4358;
    --md-sys-color-on-secondary-container-dark: #e9def8;
    --md-sys-color-tertiary-dark: #f0b7c5;
    --md-sys-color-on-tertiary-dark: #4a2530;
    --md-sys-color-tertiary-container-dark: #643b46;
    --md-sys-color-on-tertiary-container-dark: #ffd9e1;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1d1b1ea0;
    --md-sys-color-on-background-dark: #e6e1e6;
    --md-sys-color-surface-dark: #1d1b1e;
    --md-sys-color-on-surface-dark: #e6e1e6;
    --md-sys-color-surface-variant-dark: #49454e;
    --md-sys-color-on-surface-variant-dark: #cbc4cf;
    --md-sys-color-outline-dark: #948f99;
    --md-sys-color-inverse-on-surface-dark: #1d1b1e;
    --md-sys-color-inverse-surface-dark: #e6e1e6;
    --md-sys-color-inverse-primary-dark: #6f43c0;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #d3bbff;
    --md-sys-color-outline-variant-dark: #49454e;
    --md-sys-color-scrim-dark: #000000;
}
