:root {
    --md-source: #ff4d4f;
    --md-sys-color-primary-rgb: 186 23 37;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #410005;
    --md-ref-palette-primary20: #68000c;
    --md-ref-palette-primary25: #7d0011;
    --md-ref-palette-primary30: #930016;
    --md-ref-palette-primary35: #a9011b;
    --md-ref-palette-primary40: #ba1725;
    --md-ref-palette-primary50: #de353b;
    --md-ref-palette-primary60: #ff5354;
    --md-ref-palette-primary70: #ff8983;
    --md-ref-palette-primary80: #ffb3ae;
    --md-ref-palette-primary90: #ffdad7;
    --md-ref-palette-primary95: #ffedeb;
    --md-ref-palette-primary98: #fff8f7;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #2f1400;
    --md-ref-palette-secondary20: #4e2600;
    --md-ref-palette-secondary25: #5e2f00;
    --md-ref-palette-secondary30: #6f3800;
    --md-ref-palette-secondary35: #804200;
    --md-ref-palette-secondary40: #924c00;
    --md-ref-palette-secondary50: #b66000;
    --md-ref-palette-secondary60: #dc7600;
    --md-ref-palette-secondary70: #ff8e1f;
    --md-ref-palette-secondary80: #ffb780;
    --md-ref-palette-secondary90: #ffdcc4;
    --md-ref-palette-secondary95: #ffede3;
    --md-ref-palette-secondary98: #fff8f5;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #251a00;
    --md-ref-palette-tertiary20: #3f2e00;
    --md-ref-palette-tertiary25: #4c3800;
    --md-ref-palette-tertiary30: #5a4300;
    --md-ref-palette-tertiary35: #694e00;
    --md-ref-palette-tertiary40: #785a00;
    --md-ref-palette-tertiary50: #967200;
    --md-ref-palette-tertiary60: #b68a00;
    --md-ref-palette-tertiary70: #d6a400;
    --md-ref-palette-tertiary80: #f8be00;
    --md-ref-palette-tertiary90: #ffdf9a;
    --md-ref-palette-tertiary95: #ffefd3;
    --md-ref-palette-tertiary98: #fff8f2;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a1a;
    --md-ref-palette-neutral20: #362f2e;
    --md-ref-palette-neutral25: #413a39;
    --md-ref-palette-neutral30: #4d4544;
    --md-ref-palette-neutral35: #595050;
    --md-ref-palette-neutral40: #655c5b;
    --md-ref-palette-neutral50: #7f7574;
    --md-ref-palette-neutral60: #998e8d;
    --md-ref-palette-neutral70: #b4a9a7;
    --md-ref-palette-neutral80: #d0c4c3;
    --md-ref-palette-neutral90: #ede0de;
    --md-ref-palette-neutral95: #fbeeec;
    --md-ref-palette-neutral98: #fff8f7;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #251918;
    --md-ref-palette-neutral-variant20: #3b2d2c;
    --md-ref-palette-neutral-variant25: #473837;
    --md-ref-palette-neutral-variant30: #534342;
    --md-ref-palette-neutral-variant35: #5f4f4d;
    --md-ref-palette-neutral-variant40: #6b5a59;
    --md-ref-palette-neutral-variant50: #857371;
    --md-ref-palette-neutral-variant60: #a08c8b;
    --md-ref-palette-neutral-variant70: #bba6a5;
    --md-ref-palette-neutral-variant80: #d8c2c0;
    --md-ref-palette-neutral-variant90: #f4dddb;
    --md-ref-palette-neutral-variant95: #ffedeb;
    --md-ref-palette-neutral-variant98: #fff8f7;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #FF4D4F;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffdad7;
    --md-sys-color-on-primary-container-light: #410005;
    --md-sys-color-secondary-light: #FF8D1A;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ffdcc4;
    --md-sys-color-on-secondary-container-light: #2f1400;
    --md-sys-color-tertiary-light: #FFC300;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffdf9a;
    --md-sys-color-on-tertiary-container-light: #251a00;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #201a1a;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #201a1a;
    --md-sys-color-surface-variant-light: #f4dddb;
    --md-sys-color-on-surface-variant-light: #534342;
    --md-sys-color-outline-light: #857371;
    --md-sys-color-inverse-on-surface-light: #fbeeec;
    --md-sys-color-inverse-surface-light: #362f2e;
    --md-sys-color-inverse-primary-light: #ffb3ae;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #ba1725;
    --md-sys-color-outline-variant-light: #d8c2c0;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb3ae;
    --md-sys-color-on-primary-dark: #68000c;
    --md-sys-color-primary-container-dark: #930016;
    --md-sys-color-on-primary-container-dark: #ffdad7;
    --md-sys-color-secondary-dark: #ffb780;
    --md-sys-color-on-secondary-dark: #4e2600;
    --md-sys-color-secondary-container-dark: #6f3800;
    --md-sys-color-on-secondary-container-dark: #ffdcc4;
    --md-sys-color-tertiary-dark: #f8be00;
    --md-sys-color-on-tertiary-dark: #3f2e00;
    --md-sys-color-tertiary-container-dark: #5a4300;
    --md-sys-color-on-tertiary-container-dark: #ffdf9a;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #201a1a;
    --md-sys-color-on-background-dark: #ede0de;
    --md-sys-color-surface-dark: #201a1a;
    --md-sys-color-on-surface-dark: #ede0de;
    --md-sys-color-surface-variant-dark: #534342;
    --md-sys-color-on-surface-variant-dark: #d8c2c0;
    --md-sys-color-outline-dark: #a08c8b;
    --md-sys-color-inverse-on-surface-dark: #201a1a;
    --md-sys-color-inverse-surface-dark: #ede0de;
    --md-sys-color-inverse-primary-dark: #ba1725;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb3ae;
    --md-sys-color-outline-variant-dark: #534342;
    --md-sys-color-scrim-dark: #000000;
}
