:root {
    --md-source: #03A9F4;
    --md-sys-color-primary-rgb: 0 100 147;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #001e30;
    --md-ref-palette-primary20: #00344f;
    --md-ref-palette-primary25: #003f5f;
    --md-ref-palette-primary30: #004b70;
    --md-ref-palette-primary35: #005881;
    --md-ref-palette-primary40: #006493;
    --md-ref-palette-primary50: #007eb8;
    --md-ref-palette-primary60: #0099de;
    --md-ref-palette-primary70: #30b5ff;
    --md-ref-palette-primary80: #8dcdff;
    --md-ref-palette-primary90: #cae6ff;
    --md-ref-palette-primary95: #e6f2ff;
    --md-ref-palette-primary98: #f6f9ff;
    --md-ref-palette-primary99: #fcfcff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #0c1d29;
    --md-ref-palette-secondary20: #22323f;
    --md-ref-palette-secondary25: #2d3d4a;
    --md-ref-palette-secondary30: #384956;
    --md-ref-palette-secondary35: #445462;
    --md-ref-palette-secondary40: #50606e;
    --md-ref-palette-secondary50: #687988;
    --md-ref-palette-secondary60: #8293a2;
    --md-ref-palette-secondary70: #9cadbd;
    --md-ref-palette-secondary80: #b7c9d9;
    --md-ref-palette-secondary90: #d3e5f5;
    --md-ref-palette-secondary95: #e6f2ff;
    --md-ref-palette-secondary98: #f6f9ff;
    --md-ref-palette-secondary99: #fcfcff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #201634;
    --md-ref-palette-tertiary20: #362b4b;
    --md-ref-palette-tertiary25: #413656;
    --md-ref-palette-tertiary30: #4d4162;
    --md-ref-palette-tertiary35: #594d6f;
    --md-ref-palette-tertiary40: #65587b;
    --md-ref-palette-tertiary50: #7e7195;
    --md-ref-palette-tertiary60: #988ab0;
    --md-ref-palette-tertiary70: #b3a5cc;
    --md-ref-palette-tertiary80: #cfc0e8;
    --md-ref-palette-tertiary90: #ebddff;
    --md-ref-palette-tertiary95: #f7edff;
    --md-ref-palette-tertiary98: #fef7ff;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1a1c1e;
    --md-ref-palette-neutral20: #2e3133;
    --md-ref-palette-neutral25: #393c3e;
    --md-ref-palette-neutral30: #454749;
    --md-ref-palette-neutral35: #515255;
    --md-ref-palette-neutral40: #5d5e61;
    --md-ref-palette-neutral50: #75777a;
    --md-ref-palette-neutral60: #8f9193;
    --md-ref-palette-neutral70: #aaabae;
    --md-ref-palette-neutral80: #c6c6c9;
    --md-ref-palette-neutral90: #e2e2e5;
    --md-ref-palette-neutral95: #f0f0f3;
    --md-ref-palette-neutral98: #f9f9fc;
    --md-ref-palette-neutral99: #fcfcff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #161c21;
    --md-ref-palette-neutral-variant20: #2b3137;
    --md-ref-palette-neutral-variant25: #363c42;
    --md-ref-palette-neutral-variant30: #41474d;
    --md-ref-palette-neutral-variant35: #4d5359;
    --md-ref-palette-neutral-variant40: #595f65;
    --md-ref-palette-neutral-variant50: #72787e;
    --md-ref-palette-neutral-variant60: #8b9198;
    --md-ref-palette-neutral-variant70: #a6acb3;
    --md-ref-palette-neutral-variant80: #c1c7ce;
    --md-ref-palette-neutral-variant90: #dde3ea;
    --md-ref-palette-neutral-variant95: #ecf1f9;
    --md-ref-palette-neutral-variant98: #f6f9ff;
    --md-ref-palette-neutral-variant99: #fcfcff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #006493;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #cae6ff;
    --md-sys-color-on-primary-container-light: #001e30;
    --md-sys-color-secondary-light: #50606e;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #d3e5f5;
    --md-sys-color-on-secondary-container-light: #0c1d29;
    --md-sys-color-tertiary-light: #65587b;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ebddff;
    --md-sys-color-on-tertiary-container-light: #201634;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fcfcff;
    --md-sys-color-on-background-light: #1a1c1e;
    --md-sys-color-surface-light: #fcfcff;
    --md-sys-color-on-surface-light: #1a1c1e;
    --md-sys-color-surface-variant-light: #dde3ea;
    --md-sys-color-on-surface-variant-light: #41474d;
    --md-sys-color-outline-light: #72787e;
    --md-sys-color-inverse-on-surface-light: #f0f0f3;
    --md-sys-color-inverse-surface-light: #2e3133;
    --md-sys-color-inverse-primary-light: #8dcdff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #006493;
    --md-sys-color-outline-variant-light: #c1c7ce;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #8dcdff;
    --md-sys-color-on-primary-dark: #00344f;
    --md-sys-color-primary-container-dark: #004b70;
    --md-sys-color-on-primary-container-dark: #cae6ff;
    --md-sys-color-secondary-dark: #b7c9d9;
    --md-sys-color-on-secondary-dark: #22323f;
    --md-sys-color-secondary-container-dark: #384956;
    --md-sys-color-on-secondary-container-dark: #d3e5f5;
    --md-sys-color-tertiary-dark: #cfc0e8;
    --md-sys-color-on-tertiary-dark: #362b4b;
    --md-sys-color-tertiary-container-dark: #4d4162;
    --md-sys-color-on-tertiary-container-dark: #ebddff;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1a1c1e;
    --md-sys-color-on-background-dark: #e2e2e5;
    --md-sys-color-surface-dark: #1a1c1e;
    --md-sys-color-on-surface-dark: #e2e2e5;
    --md-sys-color-surface-variant-dark: #41474d;
    --md-sys-color-on-surface-variant-dark: #c1c7ce;
    --md-sys-color-outline-dark: #8b9198;
    --md-sys-color-inverse-on-surface-dark: #1a1c1e;
    --md-sys-color-inverse-surface-dark: #e2e2e5;
    --md-sys-color-inverse-primary-dark: #006493;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #8dcdff;
    --md-sys-color-outline-variant-dark: #41474d;
    --md-sys-color-scrim-dark: #000000;
}
