:root {
    --md-source: #4CAF50;
    --md-sys-color-primary-rgb: 0 110 28;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #002204;
    --md-ref-palette-primary20: #00390a;
    --md-ref-palette-primary25: #00460f;
    --md-ref-palette-primary30: #005313;
    --md-ref-palette-primary35: #006018;
    --md-ref-palette-primary40: #006e1c;
    --md-ref-palette-primary50: #22892f;
    --md-ref-palette-primary60: #41a447;
    --md-ref-palette-primary70: #5dc05e;
    --md-ref-palette-primary80: #78dc77;
    --md-ref-palette-primary90: #94f990;
    --md-ref-palette-primary95: #c8ffc0;
    --md-ref-palette-primary98: #ecffe4;
    --md-ref-palette-primary99: #f6fff0;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #111f0f;
    --md-ref-palette-secondary20: #253423;
    --md-ref-palette-secondary25: #303f2e;
    --md-ref-palette-secondary30: #3b4b38;
    --md-ref-palette-secondary35: #475743;
    --md-ref-palette-secondary40: #52634f;
    --md-ref-palette-secondary50: #6b7c67;
    --md-ref-palette-secondary60: #84967f;
    --md-ref-palette-secondary70: #9eb099;
    --md-ref-palette-secondary80: #baccb3;
    --md-ref-palette-secondary90: #d5e8cf;
    --md-ref-palette-secondary95: #e4f6dc;
    --md-ref-palette-secondary98: #ecffe5;
    --md-ref-palette-secondary99: #f6fff0;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #002023;
    --md-ref-palette-tertiary20: #00363b;
    --md-ref-palette-tertiary25: #104247;
    --md-ref-palette-tertiary30: #1f4d52;
    --md-ref-palette-tertiary35: #2c595e;
    --md-ref-palette-tertiary40: #38656a;
    --md-ref-palette-tertiary50: #527e83;
    --md-ref-palette-tertiary60: #6b989e;
    --md-ref-palette-tertiary70: #86b3b8;
    --md-ref-palette-tertiary80: #a0cfd4;
    --md-ref-palette-tertiary90: #bcebf0;
    --md-ref-palette-tertiary95: #caf9ff;
    --md-ref-palette-tertiary98: #eafdff;
    --md-ref-palette-tertiary99: #f5feff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1a1c19;
    --md-ref-palette-neutral20: #2f312d;
    --md-ref-palette-neutral25: #3a3c38;
    --md-ref-palette-neutral30: #454743;
    --md-ref-palette-neutral35: #51534f;
    --md-ref-palette-neutral40: #5d5f5a;
    --md-ref-palette-neutral50: #767873;
    --md-ref-palette-neutral60: #90918c;
    --md-ref-palette-neutral70: #aaaca6;
    --md-ref-palette-neutral80: #c6c7c1;
    --md-ref-palette-neutral90: #e2e3dd;
    --md-ref-palette-neutral95: #f0f1eb;
    --md-ref-palette-neutral98: #f9faf4;
    --md-ref-palette-neutral99: #fcfdf6;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #171d16;
    --md-ref-palette-neutral-variant20: #2c322a;
    --md-ref-palette-neutral-variant25: #373d35;
    --md-ref-palette-neutral-variant30: #424940;
    --md-ref-palette-neutral-variant35: #4e544b;
    --md-ref-palette-neutral-variant40: #5a6057;
    --md-ref-palette-neutral-variant50: #72796f;
    --md-ref-palette-neutral-variant60: #8c9388;
    --md-ref-palette-neutral-variant70: #a7ada2;
    --md-ref-palette-neutral-variant80: #c2c9bd;
    --md-ref-palette-neutral-variant90: #dee5d8;
    --md-ref-palette-neutral-variant95: #ecf3e6;
    --md-ref-palette-neutral-variant98: #f5fbef;
    --md-ref-palette-neutral-variant99: #f8fef2;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #006e1c;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #94f990;
    --md-sys-color-on-primary-container-light: #002204;
    --md-sys-color-secondary-light: #52634f;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #d5e8cf;
    --md-sys-color-on-secondary-container-light: #111f0f;
    --md-sys-color-tertiary-light: #38656a;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #bcebf0;
    --md-sys-color-on-tertiary-container-light: #002023;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fcfdf6e0;
    --md-sys-color-on-background-light: #1a1c19;
    --md-sys-color-surface-light: #fcfdf6;
    --md-sys-color-on-surface-light: #1a1c19;
    --md-sys-color-surface-variant-light: #dee5d8;
    --md-sys-color-on-surface-variant-light: #424940;
    --md-sys-color-outline-light: #72796f;
    --md-sys-color-inverse-on-surface-light: #f0f1eb;
    --md-sys-color-inverse-surface-light: #2f312d;
    --md-sys-color-inverse-primary-light: #78dc77;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #006e1c;
    --md-sys-color-outline-variant-light: #c2c9bd;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #78dc77;
    --md-sys-color-on-primary-dark: #00390a;
    --md-sys-color-primary-container-dark: #005313;
    --md-sys-color-on-primary-container-dark: #94f990;
    --md-sys-color-secondary-dark: #baccb3;
    --md-sys-color-on-secondary-dark: #253423;
    --md-sys-color-secondary-container-dark: #3b4b38;
    --md-sys-color-on-secondary-container-dark: #d5e8cf;
    --md-sys-color-tertiary-dark: #a0cfd4;
    --md-sys-color-on-tertiary-dark: #00363b;
    --md-sys-color-tertiary-container-dark: #1f4d52;
    --md-sys-color-on-tertiary-container-dark: #bcebf0;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1a1c19a0;
    --md-sys-color-on-background-dark: #e2e3dd;
    --md-sys-color-surface-dark: #1a1c19;
    --md-sys-color-on-surface-dark: #e2e3dd;
    --md-sys-color-surface-variant-dark: #424940;
    --md-sys-color-on-surface-variant-dark: #c2c9bd;
    --md-sys-color-outline-dark: #8c9388;
    --md-sys-color-inverse-on-surface-dark: #1a1c19;
    --md-sys-color-inverse-surface-dark: #e2e3dd;
    --md-sys-color-inverse-primary-dark: #006e1c;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #78dc77;
    --md-sys-color-outline-variant-dark: #424940;
    --md-sys-color-scrim-dark: #000000;
}
