:root {
    --md-source: #8BC34A;
    --md-sys-color-primary-rgb: 62 106 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #0f2000;
    --md-ref-palette-primary20: #1e3700;
    --md-ref-palette-primary25: #264300;
    --md-ref-palette-primary30: #2e4f00;
    --md-ref-palette-primary35: #365c00;
    --md-ref-palette-primary40: #3e6a00;
    --md-ref-palette-primary50: #52840b;
    --md-ref-palette-primary60: #6a9f2a;
    --md-ref-palette-primary70: #83bb43;
    --md-ref-palette-primary80: #9ed75b;
    --md-ref-palette-primary90: #b9f474;
    --md-ref-palette-primary95: #d2ff9d;
    --md-ref-palette-primary98: #f0ffd8;
    --md-ref-palette-primary99: #f8ffe9;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #151e0b;
    --md-ref-palette-secondary20: #2a331e;
    --md-ref-palette-secondary25: #353f29;
    --md-ref-palette-secondary30: #404a33;
    --md-ref-palette-secondary35: #4c563e;
    --md-ref-palette-secondary40: #576249;
    --md-ref-palette-secondary50: #707b61;
    --md-ref-palette-secondary60: #8a9579;
    --md-ref-palette-secondary70: #a4af93;
    --md-ref-palette-secondary80: #bfcbad;
    --md-ref-palette-secondary90: #dbe7c8;
    --md-ref-palette-secondary95: #eaf5d6;
    --md-ref-palette-secondary98: #f2fede;
    --md-ref-palette-secondary99: #f8ffe9;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #00201e;
    --md-ref-palette-tertiary20: #003735;
    --md-ref-palette-tertiary25: #104240;
    --md-ref-palette-tertiary30: #1f4e4b;
    --md-ref-palette-tertiary35: #2c5a57;
    --md-ref-palette-tertiary40: #386663;
    --md-ref-palette-tertiary50: #517f7c;
    --md-ref-palette-tertiary60: #6b9996;
    --md-ref-palette-tertiary70: #85b4b0;
    --md-ref-palette-tertiary80: #a0d0cc;
    --md-ref-palette-tertiary90: #bbece8;
    --md-ref-palette-tertiary95: #c9faf6;
    --md-ref-palette-tertiary98: #e3fffc;
    --md-ref-palette-tertiary99: #f2fffd;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1b1c18;
    --md-ref-palette-neutral20: #30312c;
    --md-ref-palette-neutral25: #3b3c37;
    --md-ref-palette-neutral30: #464742;
    --md-ref-palette-neutral35: #52534d;
    --md-ref-palette-neutral40: #5e5f59;
    --md-ref-palette-neutral50: #777771;
    --md-ref-palette-neutral60: #91918b;
    --md-ref-palette-neutral70: #abaca5;
    --md-ref-palette-neutral80: #c7c7c0;
    --md-ref-palette-neutral90: #e3e3db;
    --md-ref-palette-neutral95: #f2f1e9;
    --md-ref-palette-neutral98: #fafaf2;
    --md-ref-palette-neutral99: #fdfcf5;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #191d14;
    --md-ref-palette-neutral-variant20: #2e3228;
    --md-ref-palette-neutral-variant25: #393d32;
    --md-ref-palette-neutral-variant30: #44483d;
    --md-ref-palette-neutral-variant35: #505449;
    --md-ref-palette-neutral-variant40: #5c6054;
    --md-ref-palette-neutral-variant50: #75796c;
    --md-ref-palette-neutral-variant60: #8e9285;
    --md-ref-palette-neutral-variant70: #a9ad9f;
    --md-ref-palette-neutral-variant80: #c5c8ba;
    --md-ref-palette-neutral-variant90: #e1e4d5;
    --md-ref-palette-neutral-variant95: #eff2e3;
    --md-ref-palette-neutral-variant98: #f8fbec;
    --md-ref-palette-neutral-variant99: #fbfeee;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #3e6a00;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #b9f474;
    --md-sys-color-on-primary-container-light: #0f2000;
    --md-sys-color-secondary-light: #576249;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #dbe7c8;
    --md-sys-color-on-secondary-container-light: #151e0b;
    --md-sys-color-tertiary-light: #386663;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #bbece8;
    --md-sys-color-on-tertiary-container-light: #00201e;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fdfcf5e0;
    --md-sys-color-on-background-light: #1b1c18;
    --md-sys-color-surface-light: #fdfcf5;
    --md-sys-color-on-surface-light: #1b1c18;
    --md-sys-color-surface-variant-light: #e1e4d5;
    --md-sys-color-on-surface-variant-light: #44483d;
    --md-sys-color-outline-light: #75796c;
    --md-sys-color-inverse-on-surface-light: #f2f1e9;
    --md-sys-color-inverse-surface-light: #30312c;
    --md-sys-color-inverse-primary-light: #9ed75b;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #3e6a00;
    --md-sys-color-outline-variant-light: #c5c8ba;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #9ed75b;
    --md-sys-color-on-primary-dark: #1e3700;
    --md-sys-color-primary-container-dark: #2e4f00;
    --md-sys-color-on-primary-container-dark: #b9f474;
    --md-sys-color-secondary-dark: #bfcbad;
    --md-sys-color-on-secondary-dark: #2a331e;
    --md-sys-color-secondary-container-dark: #404a33;
    --md-sys-color-on-secondary-container-dark: #dbe7c8;
    --md-sys-color-tertiary-dark: #a0d0cc;
    --md-sys-color-on-tertiary-dark: #003735;
    --md-sys-color-tertiary-container-dark: #1f4e4b;
    --md-sys-color-on-tertiary-container-dark: #bbece8;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1b1c18a0;
    --md-sys-color-on-background-dark: #e3e3db;
    --md-sys-color-surface-dark: #1b1c18;
    --md-sys-color-on-surface-dark: #e3e3db;
    --md-sys-color-surface-variant-dark: #44483d;
    --md-sys-color-on-surface-variant-dark: #c5c8ba;
    --md-sys-color-outline-dark: #8e9285;
    --md-sys-color-inverse-on-surface-dark: #1b1c18;
    --md-sys-color-inverse-surface-dark: #e3e3db;
    --md-sys-color-inverse-primary-dark: #3e6a00;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #9ed75b;
    --md-sys-color-outline-variant-dark: #44483d;
    --md-sys-color-scrim-dark: #000000;
   
}
