:root {
    --md-source: #00BCD4;
    --md-sys-color-primary-rgb: 0 104 118;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #001f25;
    --md-ref-palette-primary20: #00363e;
    --md-ref-palette-primary25: #00424c;
    --md-ref-palette-primary30: #004e59;
    --md-ref-palette-primary35: #005b68;
    --md-ref-palette-primary40: #006876;
    --md-ref-palette-primary50: #008394;
    --md-ref-palette-primary60: #009fb4;
    --md-ref-palette-primary70: #00bcd4;
    --md-ref-palette-primary80: #44d8f1;
    --md-ref-palette-primary90: #a1efff;
    --md-ref-palette-primary95: #d4f7ff;
    --md-ref-palette-primary98: #eefcff;
    --md-ref-palette-primary99: #f7fdff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #051f23;
    --md-ref-palette-secondary20: #1c3439;
    --md-ref-palette-secondary25: #273f44;
    --md-ref-palette-secondary30: #334a50;
    --md-ref-palette-secondary35: #3f565b;
    --md-ref-palette-secondary40: #4a6268;
    --md-ref-palette-secondary50: #637b81;
    --md-ref-palette-secondary60: #7c959b;
    --md-ref-palette-secondary70: #96b0b5;
    --md-ref-palette-secondary80: #b1cbd1;
    --md-ref-palette-secondary90: #cde7ed;
    --md-ref-palette-secondary95: #dbf5fb;
    --md-ref-palette-secondary98: #eefcff;
    --md-ref-palette-secondary99: #f7fdff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #101a37;
    --md-ref-palette-tertiary20: #262f4d;
    --md-ref-palette-tertiary25: #313a59;
    --md-ref-palette-tertiary30: #3c4665;
    --md-ref-palette-tertiary35: #485171;
    --md-ref-palette-tertiary40: #545d7e;
    --md-ref-palette-tertiary50: #6d7698;
    --md-ref-palette-tertiary60: #8690b2;
    --md-ref-palette-tertiary70: #a1aace;
    --md-ref-palette-tertiary80: #bcc5eb;
    --md-ref-palette-tertiary90: #dbe1ff;
    --md-ref-palette-tertiary95: #eff0ff;
    --md-ref-palette-tertiary98: #faf8ff;
    --md-ref-palette-tertiary99: #fefbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #191c1d;
    --md-ref-palette-neutral20: #2e3132;
    --md-ref-palette-neutral25: #393c3d;
    --md-ref-palette-neutral30: #444748;
    --md-ref-palette-neutral35: #505354;
    --md-ref-palette-neutral40: #5c5f60;
    --md-ref-palette-neutral50: #747778;
    --md-ref-palette-neutral60: #8e9192;
    --md-ref-palette-neutral70: #a9acac;
    --md-ref-palette-neutral80: #c4c7c8;
    --md-ref-palette-neutral90: #e1e3e3;
    --md-ref-palette-neutral95: #eff1f2;
    --md-ref-palette-neutral98: #f8fafa;
    --md-ref-palette-neutral99: #fbfcfd;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #141d1f;
    --md-ref-palette-neutral-variant20: #293234;
    --md-ref-palette-neutral-variant25: #343d3f;
    --md-ref-palette-neutral-variant30: #3f484a;
    --md-ref-palette-neutral-variant35: #4b5456;
    --md-ref-palette-neutral-variant40: #576062;
    --md-ref-palette-neutral-variant50: #6f797b;
    --md-ref-palette-neutral-variant60: #899295;
    --md-ref-palette-neutral-variant70: #a3adaf;
    --md-ref-palette-neutral-variant80: #bfc8ca;
    --md-ref-palette-neutral-variant90: #dbe4e6;
    --md-ref-palette-neutral-variant95: #e9f2f5;
    --md-ref-palette-neutral-variant98: #f2fbfd;
    --md-ref-palette-neutral-variant99: #f7fdff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #006876;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #a1efff;
    --md-sys-color-on-primary-container-light: #001f25;
    --md-sys-color-secondary-light: #4a6268;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #cde7ed;
    --md-sys-color-on-secondary-container-light: #051f23;
    --md-sys-color-tertiary-light: #545d7e;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #dbe1ff;
    --md-sys-color-on-tertiary-container-light: #101a37;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fbfcfd;
    --md-sys-color-on-background-light: #191c1d;
    --md-sys-color-surface-light: #fbfcfd;
    --md-sys-color-on-surface-light: #191c1d;
    --md-sys-color-surface-variant-light: #dbe4e6;
    --md-sys-color-on-surface-variant-light: #3f484a;
    --md-sys-color-outline-light: #6f797b;
    --md-sys-color-inverse-on-surface-light: #eff1f2;
    --md-sys-color-inverse-surface-light: #2e3132;
    --md-sys-color-inverse-primary-light: #44d8f1;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #006876;
    --md-sys-color-outline-variant-light: #bfc8ca;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #44d8f1;
    --md-sys-color-on-primary-dark: #00363e;
    --md-sys-color-primary-container-dark: #004e59;
    --md-sys-color-on-primary-container-dark: #a1efff;
    --md-sys-color-secondary-dark: #b1cbd1;
    --md-sys-color-on-secondary-dark: #1c3439;
    --md-sys-color-secondary-container-dark: #334a50;
    --md-sys-color-on-secondary-container-dark: #cde7ed;
    --md-sys-color-tertiary-dark: #bcc5eb;
    --md-sys-color-on-tertiary-dark: #262f4d;
    --md-sys-color-tertiary-container-dark: #3c4665;
    --md-sys-color-on-tertiary-container-dark: #dbe1ff;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #191c1d;
    --md-sys-color-on-background-dark: #e1e3e3;
    --md-sys-color-surface-dark: #191c1d;
    --md-sys-color-on-surface-dark: #e1e3e3;
    --md-sys-color-surface-variant-dark: #3f484a;
    --md-sys-color-on-surface-variant-dark: #bfc8ca;
    --md-sys-color-outline-dark: #899295;
    --md-sys-color-inverse-on-surface-dark: #191c1d;
    --md-sys-color-inverse-surface-dark: #e1e3e3;
    --md-sys-color-inverse-primary-dark: #006876;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #44d8f1;
    --md-sys-color-outline-variant-dark: #3f484a;
    --md-sys-color-scrim-dark: #000000;
}
