:root {
    --md-source: #9C27B0;
    --md-sys-color-primary-rgb: 154 37 174;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #35003f;
    --md-ref-palette-primary20: #570066;
    --md-ref-palette-primary25: #69007a;
    --md-ref-palette-primary30: #7b008f;
    --md-ref-palette-primary35: #8c10a1;
    --md-ref-palette-primary40: #9a25ae;
    --md-ref-palette-primary50: #b744ca;
    --md-ref-palette-primary60: #d560e6;
    --md-ref-palette-primary70: #f07eff;
    --md-ref-palette-primary80: #f9abff;
    --md-ref-palette-primary90: #ffd6fe;
    --md-ref-palette-primary95: #ffebfb;
    --md-ref-palette-primary98: #fff7fa;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #251626;
    --md-ref-palette-secondary20: #3b2b3c;
    --md-ref-palette-secondary25: #473647;
    --md-ref-palette-secondary30: #534153;
    --md-ref-palette-secondary35: #5f4d5f;
    --md-ref-palette-secondary40: #6b586b;
    --md-ref-palette-secondary50: #857184;
    --md-ref-palette-secondary60: #a08a9e;
    --md-ref-palette-secondary70: #bba4b9;
    --md-ref-palette-secondary80: #d7bfd5;
    --md-ref-palette-secondary90: #f4dbf1;
    --md-ref-palette-secondary95: #ffebfb;
    --md-ref-palette-secondary98: #fff7fa;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #33110c;
    --md-ref-palette-tertiary20: #4c251f;
    --md-ref-palette-tertiary25: #593029;
    --md-ref-palette-tertiary30: #673b34;
    --md-ref-palette-tertiary35: #74463f;
    --md-ref-palette-tertiary40: #82524a;
    --md-ref-palette-tertiary50: #9e6a62;
    --md-ref-palette-tertiary60: #ba837a;
    --md-ref-palette-tertiary70: #d89d93;
    --md-ref-palette-tertiary80: #f6b8ad;
    --md-ref-palette-tertiary90: #ffdad4;
    --md-ref-palette-tertiary95: #ffedea;
    --md-ref-palette-tertiary98: #fff8f6;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1e1a1d;
    --md-ref-palette-neutral20: #332f32;
    --md-ref-palette-neutral25: #3f3a3d;
    --md-ref-palette-neutral30: #4a4549;
    --md-ref-palette-neutral35: #565154;
    --md-ref-palette-neutral40: #625d60;
    --md-ref-palette-neutral50: #7b7579;
    --md-ref-palette-neutral60: #958f93;
    --md-ref-palette-neutral70: #b0a9ad;
    --md-ref-palette-neutral80: #ccc4c8;
    --md-ref-palette-neutral90: #e9e0e4;
    --md-ref-palette-neutral95: #f7eef3;
    --md-ref-palette-neutral98: #fff7fa;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #201920;
    --md-ref-palette-neutral-variant20: #362e35;
    --md-ref-palette-neutral-variant25: #413940;
    --md-ref-palette-neutral-variant30: #4d444c;
    --md-ref-palette-neutral-variant35: #595058;
    --md-ref-palette-neutral-variant40: #655b64;
    --md-ref-palette-neutral-variant50: #7f747d;
    --md-ref-palette-neutral-variant60: #998d96;
    --md-ref-palette-neutral-variant70: #b4a8b1;
    --md-ref-palette-neutral-variant80: #d0c3cc;
    --md-ref-palette-neutral-variant90: #ecdfe8;
    --md-ref-palette-neutral-variant95: #fbedf7;
    --md-ref-palette-neutral-variant98: #fff7fa;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #9a25ae;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffd6fe;
    --md-sys-color-on-primary-container-light: #35003f;
    --md-sys-color-secondary-light: #6b586b;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #f4dbf1;
    --md-sys-color-on-secondary-container-light: #251626;
    --md-sys-color-tertiary-light: #82524a;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffdad4;
    --md-sys-color-on-tertiary-container-light: #33110c;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbffe0;
    --md-sys-color-on-background-light: #1e1a1d;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1e1a1d;
    --md-sys-color-surface-variant-light: #ecdfe8;
    --md-sys-color-on-surface-variant-light: #4d444c;
    --md-sys-color-outline-light: #7f747d;
    --md-sys-color-inverse-on-surface-light: #f7eef3;
    --md-sys-color-inverse-surface-light: #332f32;
    --md-sys-color-inverse-primary-light: #f9abff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #9a25ae;
    --md-sys-color-outline-variant-light: #d0c3cc;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #f9abff;
    --md-sys-color-on-primary-dark: #570066;
    --md-sys-color-primary-container-dark: #7b008f;
    --md-sys-color-on-primary-container-dark: #ffd6fe;
    --md-sys-color-secondary-dark: #d7bfd5;
    --md-sys-color-on-secondary-dark: #3b2b3c;
    --md-sys-color-secondary-container-dark: #534153;
    --md-sys-color-on-secondary-container-dark: #f4dbf1;
    --md-sys-color-tertiary-dark: #f6b8ad;
    --md-sys-color-on-tertiary-dark: #4c251f;
    --md-sys-color-tertiary-container-dark: #673b34;
    --md-sys-color-on-tertiary-container-dark: #ffdad4;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1e1a1da0;
    --md-sys-color-on-background-dark: #e9e0e4;
    --md-sys-color-surface-dark: #1e1a1d;
    --md-sys-color-on-surface-dark: #e9e0e4;
    --md-sys-color-surface-variant-dark: #4d444c;
    --md-sys-color-on-surface-variant-dark: #d0c3cc;
    --md-sys-color-outline-dark: #998d96;
    --md-sys-color-inverse-on-surface-dark: #1e1a1d;
    --md-sys-color-inverse-surface-dark: #e9e0e4;
    --md-sys-color-inverse-primary-dark: #9a25ae;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #f9abff;
    --md-sys-color-outline-variant-dark: #4d444c;
    --md-sys-color-scrim-dark: #000000;
}
