:root {
    --md-source: #FFC107;
    --md-sys-color-primary-rgb: 120 89 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #261a00;
    --md-ref-palette-primary20: #3f2e00;
    --md-ref-palette-primary25: #4d3800;
    --md-ref-palette-primary30: #5b4300;
    --md-ref-palette-primary35: #6a4e00;
    --md-ref-palette-primary40: #785900;
    --md-ref-palette-primary50: #977100;
    --md-ref-palette-primary60: #b78a00;
    --md-ref-palette-primary70: #d8a300;
    --md-ref-palette-primary80: #fabd00;
    --md-ref-palette-primary90: #ffdf9e;
    --md-ref-palette-primary95: #ffefd4;
    --md-ref-palette-primary98: #fff8f2;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #241a04;
    --md-ref-palette-secondary20: #3a2f15;
    --md-ref-palette-secondary25: #463a1f;
    --md-ref-palette-secondary30: #52452a;
    --md-ref-palette-secondary35: #5f5134;
    --md-ref-palette-secondary40: #6b5d3f;
    --md-ref-palette-secondary50: #857556;
    --md-ref-palette-secondary60: #a08f6e;
    --md-ref-palette-secondary70: #bba987;
    --md-ref-palette-secondary80: #d8c4a0;
    --md-ref-palette-secondary90: #f5e0bb;
    --md-ref-palette-secondary95: #ffefd4;
    --md-ref-palette-secondary98: #fff8f2;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #072109;
    --md-ref-palette-tertiary20: #1d361c;
    --md-ref-palette-tertiary25: #284126;
    --md-ref-palette-tertiary30: #334d31;
    --md-ref-palette-tertiary35: #3e593c;
    --md-ref-palette-tertiary40: #4a6547;
    --md-ref-palette-tertiary50: #627e5e;
    --md-ref-palette-tertiary60: #7b9876;
    --md-ref-palette-tertiary70: #95b390;
    --md-ref-palette-tertiary80: #b0cfaa;
    --md-ref-palette-tertiary90: #ccebc4;
    --md-ref-palette-tertiary95: #dafad2;
    --md-ref-palette-tertiary98: #ecffe4;
    --md-ref-palette-tertiary99: #f6fff0;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1e1b16;
    --md-ref-palette-neutral20: #33302a;
    --md-ref-palette-neutral25: #3f3b35;
    --md-ref-palette-neutral30: #4a4640;
    --md-ref-palette-neutral35: #56524b;
    --md-ref-palette-neutral40: #625e57;
    --md-ref-palette-neutral50: #7c766f;
    --md-ref-palette-neutral60: #969088;
    --md-ref-palette-neutral70: #b1aaa2;
    --md-ref-palette-neutral80: #ccc5bd;
    --md-ref-palette-neutral90: #e9e1d8;
    --md-ref-palette-neutral95: #f7efe7;
    --md-ref-palette-neutral98: #fff8f2;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #201b10;
    --md-ref-palette-neutral-variant20: #363024;
    --md-ref-palette-neutral-variant25: #413b2e;
    --md-ref-palette-neutral-variant30: #4d4639;
    --md-ref-palette-neutral-variant35: #595144;
    --md-ref-palette-neutral-variant40: #655d4f;
    --md-ref-palette-neutral-variant50: #7f7667;
    --md-ref-palette-neutral-variant60: #998f80;
    --md-ref-palette-neutral-variant70: #b4aa99;
    --md-ref-palette-neutral-variant80: #d0c5b4;
    --md-ref-palette-neutral-variant90: #ede1cf;
    --md-ref-palette-neutral-variant95: #fbefdd;
    --md-ref-palette-neutral-variant98: #fff8f2;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #785900;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffdf9e;
    --md-sys-color-on-primary-container-light: #261a00;
    --md-sys-color-secondary-light: #6b5d3f;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #f5e0bb;
    --md-sys-color-on-secondary-container-light: #241a04;
    --md-sys-color-tertiary-light: #4a6547;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ccebc4;
    --md-sys-color-on-tertiary-container-light: #072109;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbffe0;
    --md-sys-color-on-background-light: #1e1b16;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1e1b16;
    --md-sys-color-surface-variant-light: #ede1cf;
    --md-sys-color-on-surface-variant-light: #4d4639;
    --md-sys-color-outline-light: #7f7667;
    --md-sys-color-inverse-on-surface-light: #f7efe7;
    --md-sys-color-inverse-surface-light: #33302a;
    --md-sys-color-inverse-primary-light: #fabd00;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #785900;
    --md-sys-color-outline-variant-light: #d0c5b4;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #fabd00;
    --md-sys-color-on-primary-dark: #3f2e00;
    --md-sys-color-primary-container-dark: #5b4300;
    --md-sys-color-on-primary-container-dark: #ffdf9e;
    --md-sys-color-secondary-dark: #d8c4a0;
    --md-sys-color-on-secondary-dark: #3a2f15;
    --md-sys-color-secondary-container-dark: #52452a;
    --md-sys-color-on-secondary-container-dark: #f5e0bb;
    --md-sys-color-tertiary-dark: #b0cfaa;
    --md-sys-color-on-tertiary-dark: #1d361c;
    --md-sys-color-tertiary-container-dark: #334d31;
    --md-sys-color-on-tertiary-container-dark: #ccebc4;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1e1b16a0;
    --md-sys-color-on-background-dark: #e9e1d8;
    --md-sys-color-surface-dark: #1e1b16;
    --md-sys-color-on-surface-dark: #e9e1d8;
    --md-sys-color-surface-variant-dark: #4d4639;
    --md-sys-color-on-surface-variant-dark: #d0c5b4;
    --md-sys-color-outline-dark: #998f80;
    --md-sys-color-inverse-on-surface-dark: #1e1b16;
    --md-sys-color-inverse-surface-dark: #e9e1d8;
    --md-sys-color-inverse-primary-dark: #785900;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #fabd00;
    --md-sys-color-outline-variant-dark: #4d4639;
    --md-sys-color-scrim-dark: #000000;
   
}
