:root {
    --md-source: #FF5722;
    --md-sys-color-primary-rgb: 176 47 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #3b0900;
    --md-ref-palette-primary20: #5f1500;
    --md-ref-palette-primary25: #731b00;
    --md-ref-palette-primary30: #862200;
    --md-ref-palette-primary35: #9b2800;
    --md-ref-palette-primary40: #b02f00;
    --md-ref-palette-primary50: #db3e03;
    --md-ref-palette-primary60: #ff5722;
    --md-ref-palette-primary70: #ff8b69;
    --md-ref-palette-primary80: #ffb5a0;
    --md-ref-palette-primary90: #ffdbd1;
    --md-ref-palette-primary95: #ffede8;
    --md-ref-palette-primary98: #fff8f6;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #2c150f;
    --md-ref-palette-secondary20: #442a22;
    --md-ref-palette-secondary25: #50352d;
    --md-ref-palette-secondary30: #5d4037;
    --md-ref-palette-secondary35: #6a4b42;
    --md-ref-palette-secondary40: #77574e;
    --md-ref-palette-secondary50: #926f65;
    --md-ref-palette-secondary60: #ae887e;
    --md-ref-palette-secondary70: #caa297;
    --md-ref-palette-secondary80: #e7bdb2;
    --md-ref-palette-secondary90: #ffdbd1;
    --md-ref-palette-secondary95: #ffede8;
    --md-ref-palette-secondary98: #fff8f6;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #231b00;
    --md-ref-palette-tertiary20: #3b2f05;
    --md-ref-palette-tertiary25: #463a0f;
    --md-ref-palette-tertiary30: #534619;
    --md-ref-palette-tertiary35: #5f5124;
    --md-ref-palette-tertiary40: #6c5d2f;
    --md-ref-palette-tertiary50: #857645;
    --md-ref-palette-tertiary60: #a0905c;
    --md-ref-palette-tertiary70: #bcaa74;
    --md-ref-palette-tertiary80: #d8c58d;
    --md-ref-palette-tertiary90: #f5e1a7;
    --md-ref-palette-tertiary95: #fff0c8;
    --md-ref-palette-tertiary98: #fff8f0;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a18;
    --md-ref-palette-neutral20: #362f2d;
    --md-ref-palette-neutral25: #413a38;
    --md-ref-palette-neutral30: #4d4543;
    --md-ref-palette-neutral35: #59514e;
    --md-ref-palette-neutral40: #655c5a;
    --md-ref-palette-neutral50: #7f7572;
    --md-ref-palette-neutral60: #998e8c;
    --md-ref-palette-neutral70: #b4a9a6;
    --md-ref-palette-neutral80: #d0c4c1;
    --md-ref-palette-neutral90: #ede0dc;
    --md-ref-palette-neutral95: #fbeeeb;
    --md-ref-palette-neutral98: #fff8f6;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #251915;
    --md-ref-palette-neutral-variant20: #3b2d29;
    --md-ref-palette-neutral-variant25: #473834;
    --md-ref-palette-neutral-variant30: #53433f;
    --md-ref-palette-neutral-variant35: #5f4f4a;
    --md-ref-palette-neutral-variant40: #6c5b56;
    --md-ref-palette-neutral-variant50: #85736e;
    --md-ref-palette-neutral-variant60: #a08c87;
    --md-ref-palette-neutral-variant70: #bca7a1;
    --md-ref-palette-neutral-variant80: #d8c2bc;
    --md-ref-palette-neutral-variant90: #f5ded8;
    --md-ref-palette-neutral-variant95: #ffede8;
    --md-ref-palette-neutral-variant98: #fff8f6;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #b02f00;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffdbd1;
    --md-sys-color-on-primary-container-light: #3b0900;
    --md-sys-color-secondary-light: #77574e;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ffdbd1;
    --md-sys-color-on-secondary-container-light: #2c150f;
    --md-sys-color-tertiary-light: #6c5d2f;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #f5e1a7;
    --md-sys-color-on-tertiary-container-light: #231b00;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbffe0;
    --md-sys-color-on-background-light: #201a18;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #201a18;
    --md-sys-color-surface-variant-light: #f5ded8;
    --md-sys-color-on-surface-variant-light: #53433f;
    --md-sys-color-outline-light: #85736e;
    --md-sys-color-inverse-on-surface-light: #fbeeeb;
    --md-sys-color-inverse-surface-light: #362f2d;
    --md-sys-color-inverse-primary-light: #ffb5a0;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #b02f00;
    --md-sys-color-outline-variant-light: #d8c2bc;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb5a0;
    --md-sys-color-on-primary-dark: #5f1500;
    --md-sys-color-primary-container-dark: #862200;
    --md-sys-color-on-primary-container-dark: #ffdbd1;
    --md-sys-color-secondary-dark: #e7bdb2;
    --md-sys-color-on-secondary-dark: #442a22;
    --md-sys-color-secondary-container-dark: #5d4037;
    --md-sys-color-on-secondary-container-dark: #ffdbd1;
    --md-sys-color-tertiary-dark: #d8c58d;
    --md-sys-color-on-tertiary-dark: #3b2f05;
    --md-sys-color-tertiary-container-dark: #534619;
    --md-sys-color-on-tertiary-container-dark: #f5e1a7;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #201a18a0;
    --md-sys-color-on-background-dark: #ede0dc;
    --md-sys-color-surface-dark: #201a18;
    --md-sys-color-on-surface-dark: #ede0dc;
    --md-sys-color-surface-variant-dark: #53433f;
    --md-sys-color-on-surface-variant-dark: #d8c2bc;
    --md-sys-color-outline-dark: #a08c87;
    --md-sys-color-inverse-on-surface-dark: #201a18;
    --md-sys-color-inverse-surface-dark: #ede0dc;
    --md-sys-color-inverse-primary-dark: #b02f00;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb5a0;
    --md-sys-color-outline-variant-dark: #53433f;
    --md-sys-color-scrim-dark: #000000;
   
}
