<div class="@($"{Class} icon-title-card")">
    <MIcon Color="primary">@(string.IsNullOrWhiteSpace(IconString) ? Icon.ToIconString() : IconString)</MIcon>
    <div class="fw-bold">@Title</div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public IconType Icon { get; set; }
    [Parameter]
    public string IconString { get; set; }
}
