@inject IDataCacheService _dataCatcheService


<div class="rounded  shadow-sm bg-opacity mb-4">
    @((MarkupString)Model.MainPage)
</div>



@code {

    public ArticleViewModel Model { get; set; } = new ArticleViewModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await _dataCatcheService.ArticleIndexPageCatche.GetCache("3757");
        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "获取获取周年庆活动介绍失败");
        }

    }

}
