<style>
    .divider.divider-horizontal .divider-text.is-center {
        color: white;
        background-color: var(--main-color);
        border-radius: 7.6px;
        padding-bottom: 2px;
    }

    .divider {
        background-color: var(--main-color);
    }
</style>

<div class="font-color mt-4 mb-4 pt-4">
    <Divider Text="其他登入方式" Alignment="Alignment.Center"></Divider>
    <div class="mt-4" style="display: flex; flex-direction: row; justify-content: space-around;">
        <ThirdPartyLogin ReturnUrl="@ReturnUrl" Type="ThirdPartyLoginType.Gitee" OnRedirecting="OnRedirecting"></ThirdPartyLogin>
        <ThirdPartyLogin ReturnUrl="@ReturnUrl" Type="ThirdPartyLoginType.QQ" OnRedirecting="OnRedirecting"></ThirdPartyLogin>
    </div>
</div>

@code {
    [Parameter]
    public string ReturnUrl { get; set; }
    [Parameter]
    public EventCallback OnRedirecting { get; set; }

}
