<div>
    <div class="mt-3">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="基本信息" />
        <div class="row m-0 mt-3">
            <CnGalWebSite.Shared.AppComponent.Pages.Home.Others.TagCard Name="游戏" Id="1" CSS="bg-success" Icon="fa fa-fw fa-gamepad" />
            <CnGalWebSite.Shared.AppComponent.Pages.Home.Others.TagCard Name="角色" Id="2" CSS="bg-primary" Icon="fa fa-fw fa-group" />
            <CnGalWebSite.Shared.AppComponent.Pages.Home.Others.TagCard Name="STAFF" Id="3" CSS="bg-warning" Icon="fa fa-fw fa-star" />
            <CnGalWebSite.Shared.AppComponent.Pages.Home.Others.TagCard Name="制作组" Id="4" CSS="bg-info" Icon="fa fa-fw fa-object-group" />
        </div>
    </div>
    <div>
        <ListEditorCard />
    </div>
    <div >
        <CnGalWebSite.Shared.AppComponent.Pages.Perfections.ListLevelRandomCard Title="已完善" Level="PerfectionLevel.Excellent" />
    </div>
    <div >
        <CnGalWebSite.Shared.AppComponent.Pages.Perfections.ListLevelRandomCard Title="待完善" Level="PerfectionLevel.Good" />
    </div>
    <div >
        <CnGalWebSite.Shared.AppComponent.Pages.Perfections.ListLevelRandomCard Title="急需完善" Level="PerfectionLevel.ToBeImproved" />
    </div>


</div>

@code {

}
