<a class="col-6 a-font-color mb-2 ps-1 pe-1" href="@("/tags/index/"+Id)">
    <div class="@(CSS+" pt-2 pb-2")" style=" display: flex; flex-direction: row; height: 100%; align-items: center; justify-content: center; font-size: medium; color: white; border-radius: 5px; ">
        <i class="@Icon"></i>
        <div class="ms-2" style=" font-weight: bold;">@Name</div>
    </div>
    
</a>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string CSS { get; set; }
}
