
<div class="rounded shadow-sm  p-4 bg-opacity rounded" style="max-width: 600px; margin-left: auto; margin-right: auto;">
    <div style="width: 100%;">
        <img src="https://tucang.cngal.top/api/image/show/47560a67088d68778f872c64ba8ad338?https://image.cngal.org/images/upload/20231108/b10db068dafcc6df54bb6a665a7070d7c7331196.png" style="width: 70%;margin-left: 15%;margin-right: 15%;">
        <h4 class="text-center mt-4" style=" font-weight: 600;">
            这个游戏还没有被收录哦......<br />
            不过你可以在这里<TabLink Text="创建游戏" Url="@(string.IsNullOrWhiteSpace(GameName) ?"/entries/establishentry":"/entries/establishentry?Name="+GameName)" Icon="fa fa-pencil-square" class="alert-link">创建</TabLink><br />
            或者，你也可以<a class="alert-link">请求收录</a>
        </h4>
    </div>
</div>

@code {
    [Parameter]
    public bool IsNeedLayput { get; set; }
    [Parameter]
    public string GameName { get; set; }
}
