<div>
    @foreach (var item in Model)
    {
        <div class="mb-4">
            <EditRecord Model="item" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<ExaminedNormalListModel> Model { get; set; }

}
