
<CnGalWebSite.Components.Containers.MasaTitleContainer Title="参与投票的用户" Icon="@IconType.Users.ToIconString()" Outline Collapable>
    <div class="row">
        @foreach (var item in Model.Users)
        {
            <div class="col-12 col-lg-6 mb-4">
                <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Users.InfoCard Model="item" Small Class="w-100" ShowOnlyOneRank />
             </div>
        }
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {
    [Parameter]
    public VoteViewModel Model { get; set; }
    bool temp = false;
}
