@inject IHttpService _httpService
@inject ToastService? ToastService
@inject NavigationManager NavigationManager


<div class="">
        <div class="mt-2 col-12" style="display:flex;">
            <a style=" max-width:150px;" href="@("/space/index/"+Model.ApplicationUserId)">@(Model.UserName+(string.IsNullOrWhiteSpace(ParentCommentUserName)?"":" 回复 ")+ParentCommentUserName+"：")</a>
            <CnGalWebSite.Shared.AppComponent.Normal.Texts.MarkdownView Text="@Model.Text" ClassName="comment-markdown" Style="display: flex; flex-direction: column; justify-content: flex-end;"/>
        </div>
</div>

@code {
    [Parameter]
    public CommentViewModel Model { get; set; }

    [Parameter]
    public string ParentCommentUserName { get; set; }
}
