

<div style="border-radius: 6px; background-color: #F9F9F9;" class="pt-1 ps-2 pe-2 pb-1 mt-2">
    @foreach (var item in Items)
    {
        <AloneRely Model="item.Key" ParentCommentUserName="@item.Value" />
    }
</div>

@code {
    [Parameter]
    public List<CommentViewModel> Model { get; set; } = new List<CommentViewModel>();

    public List<KeyValuePair<CommentViewModel, string>> Items { get; set; } = new List<KeyValuePair<CommentViewModel, string>>();

    protected override async Task OnInitializedAsync()
    {
        foreach (var item in Model)
        {
            InitComment(item, "");
        }

        Items = Items.OrderByDescending(s => s.Key.CommentTime).Take(5).ToList();
    }

    public void InitComment(CommentViewModel model, string parent)
    {
        Items.Add(new KeyValuePair<CommentViewModel, string>(model, parent));
        foreach (var item in model.InverseParentCodeNavigation)
        {
            InitComment(item, model.UserName);
        }
    }

   

}
