.home-section {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .home-section {
        margin-bottom: 3rem;
    }
}

.home-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
    .home-section-header {
        margin-bottom: 1.5rem;
    }
}

.home-section-title {
    margin: 0;
    font-size: 1.05rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .home-section-title {
        font-size: 1.25rem;
        gap: 1rem;
    }
}

 ::deep .home-section-icon {
    color: var(--cg-color-primary);
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 768px) {
     ::deep .home-section-icon {
        width: 2rem;
        height: 2rem;
    }
}

.home-section-header-append {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
