.home-section {
    margin-bottom: 3rem;
}

.home-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cg-color-border);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.home-section-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-section-icon {
    color: var(--cg-color-primary);
    width: 1.4rem;
    height: 1.4rem;
}

.home-section-header-append {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}