<section class="home-section">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="home-section-header">
            <h2 class="home-section-title">
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <span class="material-symbols-outlined home-section-icon" style="@(!string.IsNullOrWhiteSpace(IconColor) ? $"color: {IconColor}" : "")">@Icon</span>
                }
                @Title
            </h2>
            @if (HeaderAppendContent is not null)
            {
                <div class="home-section-header-append">
                    @HeaderAppendContent
                </div>
            }
        </div>
    }
    @ChildContent
</section>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? IconColor { get; set; }

    [Parameter]
    public RenderFragment? HeaderAppendContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
