<footer class="home-footer">
    <span>&copy; 2025 - CnGal资料站</span>
    <a href="http://beian.miit.gov.cn" target="_blank" rel="noopener noreferrer">粤ICP备15055899号</a>
    <a href="https://icp.gov.moe/?keyword=20225899" target="_blank" rel="noopener noreferrer">萌ICP备20225899号</a>
</footer>