@inject ToastService ToastService
@inject IPopupService PopupService

<div class="@Class">

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Success" Class="mb-3">
        当你点击“完成”按钮时，将会立即发起审核请求，请在点击前确保内容正确无误
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>
    <div class="@(Outline?"":" rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-3 pb-4")">
        <div>
            <MTextarea Label="备注" Rows="3" Color="success"
                       @bind-Value="Model.Note">
            </MTextarea>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="完成" IsAsync="true" OnClick="OnClickSubmit" Icon="mdi-check" Color="success" />
        </div>
    </div>
</div>


@code {
    [Parameter]
    public BaseEditModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool Outline { get; set; }
    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    public async Task OnClickSubmit()
    {
        var result = Model.Validate();
        if (result.Successful)
        {
            await OnSubmit.InvokeAsync();
        }
        else
        {
            await PopupService.ToastAsync(result.Error ?? "某个地方填写有误哦~",  AlertTypes.Error);

           // await ToastService.Error("某个地方填写有误哦~", result.Error ?? "某个地方填写有误哦~");
        }
    }


}
