<div style="display: flex; flex-direction: column; ">
    @foreach (var item in Model)
    {
        <div class="@ClassName">
            <IconText Model="item"></IconText>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<IconTextModel> Model { get; set; }
    [Parameter]
    public string ClassName { get; set; } = "mb-4";


}
