@inject HttpClient Http
@inject IAppHelper _appHelper

<div class="@Class">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="转存图片并整理格式" IsAsync="true" OnClick="OnClick" Icon="mdi-transit-connection-variant " Color="green" />
</div>

@code {
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    public async Task OnClick()
    {
        if (string.IsNullOrWhiteSpace(Text))
        {
            return;
        }

        System.Text.StringBuilder sb = new System.Text.StringBuilder(Text);
        sb.Replace("media.st.dl.pinyuncloud.com", "media.st.dl.eccdnx.com");
        //提取全部图片
        var oldImages = ToolHelper.GetImageLinks(sb.ToString());
        //判断外部图片
        oldImages.RemoveAll(s => s.Contains("image.cngal.org") || s.Contains("pic.cngal.top"));
        //依次转存
        //替换原图片
        foreach (var item in oldImages)
        {

            var result = await Http.PostAsJsonAsync(ToolHelper.ImageApiPath + "api/files/linkToImgUrl", new TransferDepositFileModel
            {
                Url = item,
            });
            if (result.IsSuccessStatusCode)
            {
                var jsonContent = result.Content.ReadAsStringAsync().Result;
                var obj = JsonSerializer.Deserialize<LinkToImgResult>(jsonContent, ToolHelper.options);

                if (obj.Successful)
                {
                    //向用户文件管理添加信息
                    await _appHelper.AddUserLoadedFileInfor(new UploadResult
                    {
                        FileURL = obj.Url,
                    }, UploadFileType.Image);

                    sb.Replace(item, obj.Url);
                }
            }

        }
        //保存
        sb.Replace("<br>", "\n");
        sb.Replace("\\[\\]", "[]");
        Text = sb.ToString();

        await TextChanged.InvokeAsync(Text);
    }

}
