@inject HttpClient Http
@inject IFileUploadService _fileUploadService

<div class="@Class">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="转存图片并整理格式" IsAsync="true" OnClick="OnClick" Icon="mdi-transit-connection-variant " Color="green" />
</div>

@code {
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public async Task OnClick()
    {
        var model =await ToolHelper.TransformImagesAsync(Text, Http);
        Text = model.Text;
        foreach(var item in model.UploadResults)
        {
            //向用户文件管理添加信息
            await _fileUploadService.AddUserLoadedFileInfor(item, UploadFileType.Image);
        }

        await TextChanged.InvokeAsync(Text);
    }

}
