<CnGalWebSite.Components.Containers.MasaTitleContainer Title="@Model.Name" Icon="@IconType.Article.ToIconString()" Collapable>
    <div class="stall-text-card">
        <div class="content-card">
            <div>
                @Model.Content
            </div>
        </div>
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {
    [Parameter]
    public StallTextViewModel Model { get; set; }
}
