@inject HttpClient Http
@inject ToastService ToastService


<div class="" style="display: flex; flex-direction: column;">
    <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="@Title"  ShowButton="true" UrlName="换一批" OnClick="GetNewRandomList" Icon="fa fa-refresh" />

    <div class="row h-100 m-0 mt-1">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="mb-3 ps-1 pe-1 col-12">
                <LevelCard Model="@item"></LevelCard>
            </div>
        }
    </div>
</div>

@code {
    int ItemNum = 4;

    public List<PerfectionInforTipViewModel> Model { get; set; } = new List<PerfectionInforTipViewModel>();

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public PerfectionLevel Level { get; set; }
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await Http.GetFromJsonAsync<List<PerfectionInforTipViewModel>>(ToolHelper.WebApiPath + "api/perfections/GetPerfectionLevelRadomList/" + (int)Level);
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取随机词条完善度列表失败");
        }
    }


    public async Task GetNewRandomList()
    {
        await OnInitializedAsync();
    }



}
