<CnGalWebSite.Shared.MasaComponent.Shared.MaterialDesigns.MDCard Class="@($"md-main-info-card {(Thumbnail?"role":"game")} {Class}")">

    <div class="image-card">
        <img src="@Image" alt="@Name">
    </div>
    <div class="content-card">
        <h1 class="title-large">@Name</h1>

        @ChildContent
        <div class="brief label-large text-truncate-3 ">
            @BriefIntroduction
        </div>
        @ButtonContent
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.MaterialDesigns.MDCard>

@code {
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string BriefIntroduction { get; set; }
    [Parameter]
    public bool Thumbnail { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment ButtonContent { get; set; }
}
