@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager


@if (string.IsNullOrWhiteSpace(Model.Name) == false)
{
    <TitleTip Title="@("编辑 " + Model.Name)"></TitleTip>
}
else
{
    <TitleTip></TitleTip>

}

<CnGalWebSite.Shared.AppComponent.Pages.Account.HeadBar Title="@Model.Name" />

<div style=" margin-top: 45px; width: 100%;margin-bottom:65px;">

    @if (isReady == false)
    {
        <CnGalWebSite.Shared.AppComponent.Normal.Loading.LoadingTip />
    }
    else
    {
        <div class="ps-3 pe-3 pt-2 mb-3">

            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="编辑关联周边" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Normal.Lists.InputListString AutoCompleteItems="@PeripheryItems" Model="Model.Peripheries" Title="周边" />
            </div>
          
        </div>
    }

</div>

<CnGalWebSite.Shared.AppComponent.Pages.Entries.Edits.EditFooter OnSubmit="OnSubmit" />

@code {

    [Parameter]
    public string Id { get; set; }

    private EditPeripheryRelatedPeripheriesViewModel Model { get; set; } = new EditPeripheryRelatedPeripheriesViewModel();

    private bool isReady = false;
    private IEnumerable<string> PeripheryItems { get; set; } = new string[1] { "" };


    private ImagesListEditorViewTip ImagesListEditorView;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取所有周边
            PeripheryItems = await Http.GetFromJsonAsync<List<string>>(ToolHelper.WebApiPath + "api/peripheries/GetAllPeripheries");

            Model = await Http.GetFromJsonAsync<EditPeripheryRelatedPeripheriesViewModel>(ToolHelper.WebApiPath + "api/peripheries/EditRelatedPeripheries/" + Id);
            isReady = true;
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取编辑周边关联周边信息失败");
        }
    }

    private async Task OnSubmit()
    {
        try
        {
            //处理数据

            var result = await Http.PostAsJsonAsync<EditPeripheryRelatedPeripheriesViewModel>(ToolHelper.WebApiPath + "api/peripheries/EditRelatedPeripheries", Model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {

                await ToastService.Error("编辑周边关联周边信息失败", obj.Error);
            }
            else
            {
                await ToastService.Success("编辑周边关联周边信息成功", "编辑周边关联周边信息成功，等待审核通过");
                NavigationManager.NavigateTo(Provider, "/peripheries/index/" + Model.Id, Model.Name, "fa fa-newspaper-o");
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "编辑周边关联周边信息失败");
        }
    }
}
