
<div class="mt-1">
    <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.Relevances.ListGameCard Model="Games" />
</div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public int TabIndex { get; set; }
    public List<CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.Relevances.GameCardModel> Games = new List<Normal.Relevances.GameCardModel>();

    protected override async Task OnInitializedAsync()
    {
        foreach (var item in Model.EntryRelevances.Where(s=>s.Type==EntryType.Game))
        {
            Games.Add(new Normal.Relevances.GameCardModel
            {
                Description = item.BriefIntroduction,
                Image = item.MainImage,
                EntryId =item.Id,
                Title = item.Name
                
            });
        }

    }

}
