@using CnGalWebSite.DataModel.ViewModel

<ul class="entry-tags">
    @foreach (var tag in Tags.Take(MaxCount))
    {
        <li>
            <a href="/tags/index/@tag.Id">@tag.Name</a>
        </li>
    }
</ul>

@code {
    [Parameter] public IReadOnlyList<TagsViewModel> Tags { get; set; } = [];
    [Parameter] public int MaxCount { get; set; } = 24;
}
