@using CnGalWebSite.DataModel.Model
@using CnGalWebSite.DataModel.ViewModel

<ul class="entry-news-list">
    @foreach (var item in News.Take(MaxCount))
    {
        <li>
            <a href="@(GetNewsLink?.Invoke(item) ?? "")" target="@GetTarget?.Invoke(item.Link)" rel="noopener noreferrer">@item.Title</a>
            <span>@item.HappenedTime.ToString("yyyy-MM-dd")</span>
        </li>
    }
</ul>

@code {
    [Parameter] public IReadOnlyList<NewsModel> News { get; set; } = [];
    [Parameter] public int MaxCount { get; set; } = 10;
    // 渲染辅助函数，非事件回调
    [Parameter] public Func<NewsModel, string>? GetNewsLink { get; set; } = _ => "";
    // 渲染辅助函数，非事件回调
    [Parameter] public Func<string?, string?>? GetTarget { get; set; } = _ => null;
}
