@inject ToastService? ToastService
@inject HttpClient Http
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IServiceProvider Provider

<div class="card rounded shadow  bg-opacity p-4" style="border:0px">
    <h4 class="fw-bold">消歧义：@Title</h4>
    <p class="" style="color: gray;margin-top:0.5rem;font-size:16px">
        @Text
    </p>
    <div class="card-footer" style="background-color: transparent; border: 0px; padding: 0px">
        @switch (State)
        {
            case EditState.locked:
                <Button Color="Color.Dark" IsDisabled="true" Text="编辑锁定" Icon="fa fa-pencil"></Button>
                break;
            case EditState.Preview:
                <Button Color="Color.Warning" IsOutline="true" Text="重新编辑" Icon="fa fa-pencil" @onclick="OnEdit"></Button>
                break;
            case EditState.Normal:
                <Button Color="Color.Success" IsOutline="true" Text="编辑" Icon="fa fa-pencil" @onclick="OnEdit"></Button>
                break;
            case EditState.None:
                <Button Color="Color.Primary" IsOutline="true" Text="编辑" Icon="fa fa-pencil" @onclick="OnEdit"></Button>
                break;
        }
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public EditState State { get; set; }

    public void OnEdit()
    {
        NavigationManager.NavigateTo(Provider,"/disambigs/editdisambig/" + Id, Title, "fa fa-pencil");
    }

}
