
<section class="kanban-card">
    <DivideCard/>
    <div class="content">
        <img src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/UserMessagesNotFound.png" alt="看板娘在摸鱼" loading="lazy"/>
        <QuoteCard />
        <img src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/UserMessagesNotFound.png" alt="看板娘在摸鱼" loading="lazy" />
    </div>
    <DivideCard/>
</section>

@code {

}
