
<section class="kanban-card">
    <DivideCard/>
    <div class="content">
        <img src="https://tucang.cngal.top/api/image/show/47560a67088d68778f872c64ba8ad338?https://image.cngal.org/images/upload/20231108/b10db068dafcc6df54bb6a665a7070d7c7331196.png" alt="看板娘在摸鱼" loading="lazy"/>
        <QuoteCard />
        <img src="https://tucang.cngal.top/api/image/show/47560a67088d68778f872c64ba8ad338?https://image.cngal.org/images/upload/20231108/b10db068dafcc6df54bb6a665a7070d7c7331196.png" alt="看板娘在摸鱼" loading="lazy" />
    </div>
    <DivideCard/>
</section>

@code {

}
