

<div class="quote-card">
    <div class="quote-content">@_item.Content</div>
    @if (string.IsNullOrWhiteSpace(_item.Source) == false)
    {
        <div class="quote-by">
           ——<a href="@_item.SourceLink"><i>@_item.Source</i> </a>
        </div>

    }
</div>


@code {


    static QuoteModel[] _items = new QuoteModel[]{
        new QuoteModel
        {
            Content= "“每个人都可以参与到编辑中，同时每个人都能享有编辑后的成果。”",
            Source="CnGal资料站 V3 正式上线后的感谢！",
            SourceLink="/articles/index/257"
        },
        new QuoteModel
        {
            Content= "“愿每一个CnGal创作者的作品都能不被忘记”",
            Source="CnGal资料站 V3 正式上线后的感谢！",
            SourceLink="/articles/index/257"
        },
        new QuoteModel
        {
            Content= "“总要做点自己想做的事，为了自己也好，为了别人也好，两全其美更好。”",
            Source="写在诞生日",
            SourceLink="/articles/index/6"
        },
        new QuoteModel
        {
            Content= "“说起来建立这个网站的初衷并不为别的，只是希望能够对国产galgame的推广，宣传乃至发展能有所帮助。”",
            Source="写在诞生日",
            SourceLink="/articles/index/6"
        }
    };

    QuoteModel _item = _items[new Random().Next(0, _items.Length)];

}
