<h5 class="mt-3">@Model.Modifier</h5>
<div class="row">
    @foreach (var item in Model.Pictures)
    {
        <div class=" col-12  mt-1 mb-1">
            <div class=" h-100">
                <div class="text-black" style="background-color:transparent">
                    <img src="@item.Url" class="card-img" alt="..." @onclick="@(()=>OnImage(item))" style="cursor:pointer">
                </div>
                <p class="text-center mt-2 mb-2" style="word-break: break-word; ">@item.Note</p>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public PicturesViewModel Model { get; set; }
    [Parameter]
    public EventCallback<PicturesAloneViewModel> OnClickImage { get; set; }

    public async Task OnImage(PicturesAloneViewModel model)
    {
        await OnClickImage.InvokeAsync(model);
    }
}
