@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IPopupService PopupService

<MAppBar App Style="background-color: var(--md-sys-color-background)!important;">
    <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip />
    </div>
     <MTabs Class="cngal-main-tab-card" Routable>
        <MTab Href="/" OnClick="@(()=>NavigationManager.NavigateTo("/"))">首页</MTab>
        <MTab OnClick="@(()=> Nav("/#evaluations-card"))">专题推荐</MTab>
        <MTab OnClick="@(()=>  Nav("/#recommends"))">随机推荐</MTab>
        <MTab Href="/cv">CV</MTab>
        <MTab Href="/square">广场</MTab>
         <MTab Href="/sharegames">晒库存</MTab>
    </MTabs>
    <MSpacer></MSpacer>

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Tooltip="搜索" Icon="@IconType.Search.ToIconString()" Class="mr-6" Href="/search" />
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
</MAppBar>

<MMain>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
         <ErrorHandler ShowDetailedErrorInfor="_dataCacheService.ThemeSetting.ShowDetailedErrorInfor" IsSSR="ToolHelper.IsSSR">
            @Body
        </ErrorHandler>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
</MMain>

<MFooter App Padless Absolute>
    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.MainFooterTip />
</MFooter>
<CnGalWebSite.Shared.MasaComponent.Shared.Tips.SynchronousAuthStateCard />

@code {


    public async Task Nav(string url)
    {
        var cur = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        if (string.IsNullOrWhiteSpace(cur) == false && cur.StartsWith('#') == false)
        {
            NavigationManager.NavigateTo("/");
            await Task.Delay(500);
        }
        await JS.InvokeAsync<string>("navigateTo", url);
    }
}
