@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IPopupService PopupService

<MAppBar App Class="elevation-2" Style="background-color: var(--md-sys-color-background)!important;">
    <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip />
    </div>
     <MTabs Class="cngal-main-tab-card" Routable>
        <MTab Href="/">首页</MTab>
        <MTab Href="/#evaluations-card" >专题推荐</MTab>
        <MTab Href="/discount">游戏折扣</MTab>
        <MTab Href="/lotteries">抽奖</MTab>
        <MTab Href="/square">广场</MTab>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MTab Href="/9th">周年庆</MTab>
            </Authorized>
        </AuthorizeView>
    </MTabs>
    <MSpacer></MSpacer>
    <AuthorizeView>
        <Authorized>
            <CnGalWebSite.Components.Buttons.MasaButton Tooltip="任务" Icon="@IconType.Task.ToIconString()" Class="mr-2" Href="/tasks" />
        </Authorized>
    </AuthorizeView>
    <CnGalWebSite.Shared.MasaComponent.PC.Layout.SwitchThemeModeButton Class="mr-2" />
    <CnGalWebSite.Components.Buttons.MasaButton Tooltip="搜索" Icon="@IconType.Search.ToIconString()" Class="mr-2" Href="/search" />
    <CnGalWebSite.Components.Containers.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />
    </CnGalWebSite.Components.Containers.MiniModeContainer>
</MAppBar>

<MMain>
    <CnGalWebSite.Components.Containers.MasaContainer>
         <ErrorHandler ShowDetailedErrorInfor="_dataCacheService.ThemeSetting.ShowDetailedErrorInfor" IsSSR="ToolHelper.IsSSR">
            @Body
        </ErrorHandler>
    </CnGalWebSite.Components.Containers.MasaContainer>
</MMain>

<MFooter App Padless Absolute>
    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.MainFooterTip />
</MFooter>
<CnGalWebSite.Components.Verifications.SynchronousAuthStateCard/>
@code {

}
