@page "/admin/index"
@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Http
@inject ToastService ToastService
@inject IDataCacheService _dataCacheService


<TitleTip Title="网站数据概览"></TitleTip>

<div class="row">
    <div class="col-12">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.ServerInforCard Model="Model" />

    </div>
    <div class="@(ToolHelper.IsWASM ?"col-12":"col-12 col-lg-6")">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.APIServerDataCard />

    </div>
    @if (ToolHelper.IsWASM == false)
    {
        <div class="col-12 col-lg-6">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.BlazorServerDataCard/>
        </div>
    }
    <div class="col-12">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.UserDataCard Model="Model"/>
    </div>
</div>

@code {

    public ServerStaticOverviewModel Model = new ServerStaticOverviewModel();
    bool IsReady = false;
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Model = await Http.GetFromJsonAsync<ServerStaticOverviewModel>(ToolHelper.WebApiPath + "api/admin/GetServerStaticDataOverview", ToolHelper.options);
                IsReady = true;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "刷新网站数据概览失败");
            }

        }
    }


}
