@page "/admin/index"
@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@inject IHttpService _httpService
@inject IDataCacheService _dataCacheService


<TitleTip Title="网站数据概览"></TitleTip>

<div class="row">
    <div class="col-12">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.ServerInforCard Model="APIServerModel" Name="API Server" />

    </div>
    @if (ToolHelper.IsSSR)
    {
        <div class="col-12">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.ServerInforCard Model="BlazorServerModel" Name="Blazor Server" />

        </div>
    }
    <div class="@(ToolHelper.IsSSR ?"col-12 col-lg-6":"col-12")">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.APIServerDataCard />

    </div>
    @if (ToolHelper.IsSSR)
    {
        <div class="col-12 col-lg-6">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.BlazorServerDataCard />
        </div>
    }
    <div class="col-12">
        <CnGalWebSite.Shared.MasaComponent.PC.Admin.Overview.UserDataCard />
    </div>
</div>

@code {

    public ServerStaticOverviewModel APIServerModel = new ServerStaticOverviewModel();
    public ServerStaticOverviewModel BlazorServerModel = new ServerStaticOverviewModel();
    bool IsReady = false;
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                APIServerModel = await _httpService.GetAsync<ServerStaticOverviewModel>("api/admin/GetServerStaticDataOverview");
                if (ToolHelper.IsSSR)
                {
                    BlazorServerModel = SystemEnvironmentHelper.GetServerStaticDataOverview();
                }
                IsReady = true;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "刷新网站数据概览失败");
            }

        }
    }


}
