@page "/admin/listnews"
@attribute [Authorize(Roles = "Editor")]

@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="动态版块" />
<div>
    <MDCard Class="mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow CenterActive>

            <MTab Value="1">
                动态<MIcon>mdi-newspaper-variant</MIcon>
            </MTab>
            <MTab Value="2">
                周报<MIcon>mdi-calendar-range</MIcon>
            </MTab>
        </MTabs>
    </MDCard>

    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.News.GameNews.ListCard />

        </MTabItem>
        <MTabItem Value="2">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.News.WeeklyNews.ListCard />

        </MTabItem>
    </MTabsItems>
</div>

@code {

    public StringNumber TabIndex { get; set; } = 1;


    protected override async Task OnInitializedAsync()
    {

    }

}
