@page "/admin/listusers"
@attribute [Authorize(Roles = "Admin")]

@inject IDataCacheService _dataCacheService




<TitleTip Title="用户版块"></TitleTip>

<div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               Color="@_dataCacheService.ThemeSetting.Theme">

            <MTab Value="1">
                用户<MIcon>mdi-account</MIcon>
            </MTab>
            <MTab Value="2">
                头衔<MIcon>mdi-medal-outline</MIcon>
            </MTab>
            <MTab Value="3">
                操作记录<MIcon>mdi-text-search</MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Users.ListUsers />

            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Users.ListRanks />

            </div>

        </MTabItem>
        <MTabItem Value="3">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Users.ListOperationRecords />

            </div>

        </MTabItem>
    </MTabsItems>
</div>
@code {
    public StringNumber TabIndex { get; set; } = 1;
}
