@page "/admin/listImages"
@attribute [Authorize(Roles = "Admin")]

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<TitleTip Title="图片板块"></TitleTip>

<div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               Color="@_dataCacheService.ThemeSetting.Theme">

            <MTab Value="1">
                信息列表<MIcon>mdi-format-list-bulleted-square </MIcon>
            </MTab>
            <MTab Value="2">
                图库预览<MIcon>mdi-image-multiple </MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <ImageChartListView></ImageChartListView>
            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="">
                <ImageOutlineListView></ImageOutlineListView>
            </div>

        </MTabItem>
    </MTabsItems>
</div>

@code {

    public ListFilesInforViewModel InforModel { get; set; } = new ListFilesInforViewModel();
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    public StringNumber TabIndex { get; set; } = 1;


    protected override async Task OnInitializedAsync()
    {
        //try
        //{
        //    InforModel = await Http.GetFromJsonAsync<ListFilesInforViewModel>(ToolHelper.WebApiPath + "api/admin/listfiles");
        //}
        //catch (Exception ex)
        //{
        //    ErrorHandler.ProcessError(ex, "无法获取图片数据");
        //}

    }
}
