@page "/admin/listentries"
@attribute [Authorize(Roles = "Admin")]

@inject IDataCacheService _dataCacheService

<TitleTip Title="词条版块"></TitleTip>
<div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               >

            <MTab Value="1">
                词条<MIcon>mdi-archive</MIcon>
            </MTab>
            <MTab Value="2">
                游玩记录<MIcon>mdi-star</MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Entries.ListEntries />

            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Entries.ListPlayedGames />
            </div>

        </MTabItem>
    </MTabsItems>
</div>

@code {

    public StringNumber TabIndex { get; set; } = 1;


    protected override async Task OnInitializedAsync()
    {

    }

}
