@page "/admin/listrobots"
@attribute [Authorize(Roles = "Admin")]

@inject IDataCacheService _dataCacheService

<TitleTip Title="这里是看板娘哦"></TitleTip>

<div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               Color="@_dataCacheService.ThemeSetting.Theme">

            <MTab Value="1">
                自动回复<MIcon>mdi-message-reply-text </MIcon>
            </MTab>
            <MTab Value="2">
                事件<MIcon>mdi-calendar</MIcon>
            </MTab>
            <MTab Value="3">
                表情<MIcon>mdi-emoticon-excited-outline </MIcon>
            </MTab>
            <MTab Value="4">
                QQ群<MIcon>mdi-qqchat </MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Robots.ListRobotReplies />

            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Robots.ListRobotEvents />

            </div>

        </MTabItem>
        <MTabItem Value="3">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Robots.ListRobotFaces />
            </div>

        </MTabItem>
        <MTabItem Value="4">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.Robots.ListRobotGroups />
            </div>

        </MTabItem>
    </MTabsItems>
</div>

@code {


    public StringNumber TabIndex { get; set; } = 1;


    protected override async Task OnInitializedAsync()
    {


    }

}
