@page "/admin/listImages"
@attribute [Authorize(Roles = "Admin")]

@inject HttpClient Http
@inject IRoleService _roleService
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager


<TitleTip></TitleTip>

<div class="">
    <div class="" style="padding-right: 0;padding-left: 0;">
        <div class="  rounded shadow  bg-opacity p-3 mb-3">
            <h3 class="fw-bold text-center">图片板块</h3>
            <p class="text-center" style="color: gray;margin-top:20px">
                <i class="fa fa-image fa-fw "></i>
                <span class="article-infor-text">@("总计"+InforModel.All + "个图片")</span>&nbsp;&nbsp;&nbsp;
            </p>
        </div>
        <div class="  rounded shadow  bg-opacity">
            <Tab>
                <TabItem Text="概览" Icon="fa fa-cubes">
                    <ImageChartListView></ImageChartListView>
                </TabItem>
                <TabItem Text="详细信息" Icon="fa fa-image">
                    <ImageOutlineListView OnClickUrl="OnClickUrl"></ImageOutlineListView>
                </TabItem>
            </Tab>


        </div>
    </div>
</div>

@code {

    public ListFilesInforViewModel InforModel { get; set; } = new ListFilesInforViewModel();
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            InforModel = await Http.GetFromJsonAsync<ListFilesInforViewModel>(ToolHelper.WebApiPath + "api/admin/listfiles");
        }
        catch(Exception ex)
        {
            ErrorHandler.ProcessError(ex, "无法获取图片数据");
        }

    }
    public async void OnClickUrl(NavigateModel model)
    {
        try
        {
            NavigationManager.NavigateTo(Provider,model.Url, model.Title, model.Icon);
        }
        catch
        {
            await ToastService.Error("导航失败", "请尝试刷新页面");
        }
    }
}
