@page "/admin/listnews"
@attribute [Authorize(Roles = "Editor")]
@inject HttpClient Http
@inject IDataCacheService _dataCacheService

<TitleTip Title="动态版块"></TitleTip>
<div>
    <div class="rounded  shadow-sm bg-opacity mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive
               Color="@_dataCacheService.ThemeSetting.Theme">

            <MTab Value="1">
                动态<MIcon>mdi-newspaper-variant</MIcon>
            </MTab>
            <MTab Value="2">
                周报<MIcon>mdi-calendar-range</MIcon>
            </MTab>
        </MTabs>
    </div>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.News.ListGameNewsTip />

            </div>

        </MTabItem>
        <MTabItem Value="2">
            <div class="  rounded shadow-sm p-3 bg-opacity">
                <CnGalWebSite.Shared.Component.Admin.News.ListWeeklyNewsTip />

            </div>

        </MTabItem>
    </MTabsItems>
</div>

@code {


    public ListGameNewsInforViewModel InforModel { get; set; } = new ListGameNewsInforViewModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    public StringNumber TabIndex { get; set; } = 1;


    protected override async Task OnInitializedAsync()
    {
        //try
        //{
        //    InforModel = await Http.GetFromJsonAsync<ListGameNewsInforViewModel>(ToolHelper.WebApiPath + "api/news/listgamenews");
        //}
        //catch (Exception ex)
        //{
        //    ErrorHandler.ProcessError(ex, "无法获取动态数据");
        //}

    }

}
