@page "/admin/listentries"
@attribute [Authorize(Roles = "Admin")]

@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="词条版块"/>
<div>
    <MDCard Class="mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow CenterActive SliderColor="primary" ActiveClass="primary--text">

             <MTab Value="1">
                 词条<MIcon>mdi-archive</MIcon>
             </MTab>
             <MTab Value="2">
                 游玩记录<MIcon>mdi-star</MIcon>
             </MTab>
             <MTab Value="3">
                 基础信息类型<MIcon>@IconType.Tag.ToIconString()</MIcon>
             </MTab>
         </MTabs>
    </MDCard>

    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.Entries.ListCard/>

        </MTabItem>
        <MTabItem Value="2">
           <CnGalWebSite.Shared.MasaComponent.PC.Admin.Entries.PlayedGames.ListCard/>
        </MTabItem>
        <MTabItem Value="3">
                <CnGalWebSite.Shared.MasaComponent.PC.Admin.Entries.Informations.ListCard />
        </MTabItem>
    </MTabsItems>
</div>

@code {

    public StringNumber TabIndex { get; set; } = 1;
}
