@page "/admin/managehome"
@attribute [Authorize(Roles = "Admin")]

@inject IHttpService _httpService


@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="其他设置"/>

<div>
    <MDCard Class="mb-4">
        <MTabs @bind-Value="TabIndex" IconsAndText Grow CenterActive>

            <MTab Value="1">
                轮播图<MIcon>mdi-image-area</MIcon>
            </MTab>
            <MTab Value="2">
                友情链接<MIcon>mdi-link</MIcon>
            </MTab>
        </MTabs>

    </MDCard>
    <MTabsItems @bind-Value="TabIndex">
        <MTabItem Value="1">
            <CnGalWebSite.Shared.MasaComponent.PC.Admin.Carousels.ListCard/>
        </MTabItem>
        <MTabItem Value="2">
         <CnGalWebSite.Shared.MasaComponent.PC.Admin.FriendLinks.ListCard/>
        </MTabItem> 
    </MTabsItems>
</div>

@code {

    public StringNumber TabIndex { get; set; } = 1;
}
