@inject IDataCacheService _dataCacheService

<CnGalWebSite.Components.Containers.MasaTitleContainer Title="筛选" Icon="@IconType.Filter.ToIconString()" Collapable @bind-IsCollapsed="_isCollapsed">
    <div class="row">
        <div class="col-12 col-lg-6">
            <SortChipsList Model="Model" OnChanged="OnChanged" />
        </div>
        <div class="col-12 col-lg-6">
            <TimeChipsList FixedModel="Times" InputData="Model.Times" OnChanged="OnChanged" />

        </div>
        <div class="col-12 col-lg-6">
            <TypeChipsList FixedModel="EntryTypes" InputData="Model.Types" OnChanged="OnChanged" />

        </div>
        <div class="col-12 col-lg-6">
            <TypeChipsList FixedModel="ArticleTypes" InputData="Model.Types" OnChanged="OnChanged" />

        </div>
        <div class="col-12 col-lg-6">
            <TypeChipsList FixedModel="PeripheryTypes" InputData="Model.Types" OnChanged="OnChanged" />
        </div>
        <div class="col-12 col-lg-6">
             <TypeChipsList FixedModel="TagTypes" InputData="Model.Types" OnChanged="OnChanged" />
             <TypeChipsList FixedModel="VideoTypes" InputData="Model.Types" OnChanged="OnChanged" />

        </div>
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

 @code {
    [Parameter]
    public SearchInputModel Model { get; set; }
    [Parameter]
    public EventCallback OnChanged { get; set; }

    bool _isCollapsed = true;

    List<SearchType> EntryTypes { get; set; } = SearchInputModel.GetEntryTypes();
    List<SearchType> ArticleTypes { get; set; } = SearchInputModel.GetArticleTypes();
    List<SearchType> PeripheryTypes { get; set; } = SearchInputModel.GetPeripheryTypes();
    List<SearchType> TagTypes { get; set; } = SearchInputModel.GetTagTypes();
    List<SearchType> VideoTypes { get; set; } = SearchInputModel.GetVideoTypes();
    List<SearchTimeModel> Times { get; set; } = SearchInputModel.GetTimes();
}
