@inject IHttpService _httpService



<MDCard Href="@("/entries/index/"+Model.EntryId)" Class="pa-3 h-100" Style="flex-direction: row;gap: .5rem;">
    <div style="display: flex;align-items: center;">
        <MProgressCircular Value="100" Size="50" Width="2" Color="primary">@Model.Grade.ToString("0.0")</MProgressCircular>
    </div>
    <div>
        <div class="title-medium ">@Model.EntryName</div>
        <div class="label-large">@("有" + Model.DefectCount + "个项目待完善，总计" + Model.EditCount + "次编辑")</div>
    </div>
</MDCard>


@code {
    [Parameter]
    public PerfectionInforTipViewModel Model { get; set; }
}
