@inject IHttpService _httpService



<MDCard Href="@("/entries/index/"+Model.EntryId)" Class="pa-3 h-100" Style="flex-direction: row;gap: .5rem;">
    <div style="display: flex;align-items: center;">
        <MProgressCircular Value="100" Size="50" Width="2" Color="primary">@Model.Grade.ToString("0.0")</MProgressCircular>
    </div>
    <div>
        <div class="title-medium ">@("『"+Model.EntryName + "』的" + ToolHelper.GetPerfectionCheckTitle(Model))</div>
        <div class="label-large">@ToolHelper.GetPerfectionCheckContext(Model)</div>
    </div>
</MDCard>



@code {
    [Parameter]
    public PerfectionCheckViewModel Model { get; set; }
}
