
<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="编辑指引"/>

<div class="row">
    <div class="col-12">
        <RecentlyEditListViewTip></RecentlyEditListViewTip>
    </div>


    <div class="col-12 col-xl-8">
        <div class="row">
            <div class="col-12">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.Charts.MasaLineChart Type="LineChartType.StatisticalData"  AllowExtend="false" BaseUrl="@(ToolHelper.WebApiPath + "api/perfections/GetPerfectionLineChart")" Class="mb-4" />
            </div>
            <div class="col-12">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.Charts.MasaLineChart Type="LineChartType.PerfectionLevel" AllowExtend="false" BaseUrl="@(ToolHelper.WebApiPath + "api/perfections/GetPerfectionLineChart")" Class="mb-4" />
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-4">
        <PerfectionOverviewTip></PerfectionOverviewTip>
    </div>

    <div class="col-12 col-xl-4">
        <PerfectionLevelRandomListTip Level="PerfectionLevel.Excellent" Title="已完善的词条" TitleIcon="fa fa-battery-full"></PerfectionLevelRandomListTip>
        <PerfectionCheckLevelRandomListTip Level="PerfectionCheckLevel.High" Title="急需处理的项目" TitleIcon="fa fa-hourglass-end"></PerfectionCheckLevelRandomListTip>

    </div>

    <div class="col-12 col-xl-8">
        <div class="row">
            <div class="col-12">
                <PerfectionLevelRandomListTip Level="PerfectionLevel.ToBeImproved" Title="急需完善的词条" TitleIcon="fa fa-battery-empty" IsTransverse="true"></PerfectionLevelRandomListTip>
            </div>
            <div class="col-12">
                <PerfectionLevelRandomListTip Level="PerfectionLevel.Good" Title="待完善的词条" TitleIcon="fa fa-battery-half" IsTransverse="true"></PerfectionLevelRandomListTip>
            </div>
            <div class="col-12">
                <PerfectionCheckLevelRandomListTip Level="PerfectionCheckLevel.Middle" Title="待处理的项目" TitleIcon="fa fa-hourglass-half" IsTransverse="true"></PerfectionCheckLevelRandomListTip>
            </div>
        </div>
    </div>
</div>

@code {
   
}
