@page "/contact"

<PageTitle>CNGAL线上展示会 - 联系我们</PageTitle>

<div class="contact-card">
    <div class="title-card">
        <span>联系我们</span>
    </div>
    <div>
        CnGal是一个非营利性的，立志于收集整理国内制作组创作及中文化的中文Galgame/AVG的介绍、攻略、评测、感想等内容的资料性质的网站。 此外，CnGal官方还会与圈内中文AVG制作组进行友好合作，如免费提供Banner广告位，网站服务器资源等。<br />
        <br />
        新浪微博：<a href="https://weibo.com/cngalorg">https://weibo.com/cngalorg</a><br />
        <br />
        玩家交流群： 128446539<br />
        <br />
        爱发电：<a href="https://afdian.net/@@CnGal">https://afdian.net/@@CnGal</a><br />
    </div>

</div>

@code {

}
