@page "/lottery"

@inject IHttpService _httpService
@inject IPopupService _popupService

<PageTitle>CNGAL周年庆展示会 - 预约抽奖</PageTitle>

<div class="lottery-page">
    <div class="cngal-card">
        <span>『</span>
        <span>
            别忘了每日签到哦
        </span>
        <span>』</span>
    </div>
    <div class="booking-card">
        <CnGalWebSite.Expo.Components.Cards.Lotteries.GridCard Model="Model" OnChanged="OnChanged" />
        <CnGalWebSite.Expo.Components.Cards.Lotteries.TasksCard Model="Model" OnChanged="OnChanged" />
    </div>
</div>

@code {
    ExpoUserTaskModel Model = new ExpoUserTaskModel();

    protected override async Task OnInitializedAsync()
    {
        await OnChanged();
    }

    public async Task OnChanged()
    {
        try
        {
            Model = await _httpService.GetAsync<ExpoUserTaskModel>("api/expo/GetUserTask");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            // await _popupService.EnqueueSnackbarAsync("获取用户任务失败", ex.Message, AlertTypes.Error);
        }
    }
}
