@page "/anniversary"

@inject IHttpService _httpService
@inject IPopupService _popupService

<PageTitle>CNGAL线上展示会 - 直播抽号</PageTitle>

<div class="lottery-page">
    <CnGalWebSite.Expo.Components.Cards.Lotteries.AnniversaryCard />
</div>

@code {

}
