
<MTooltip Bottom>
    <ActivatorContent>
        <MButton Icon Color="pink lighten-3" Class="@Class" @attributes="@context.Attrs" OnClick="OnClick">
            <MIcon>@Icon</MIcon>
        </MButton>
    </ActivatorContent>
    <ChildContent>
        <span>@Tooltip</span>
    </ChildContent>
</MTooltip>
@code {
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Tooltip { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
}
