@model ChangeEmailViewModel

<div class="account-page">
    <div class="add-phone-card mdl-card mdl-shadow--2dp">
        <img class="head-logo" src="https://app.cngal.org/_content/CnGalWebSite.Shared/images/head_logo_6th.png">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">修改电子邮箱</h2>
        </div>
        <partial name="_ValidationSummary" />
        <div class="mdl-card__supporting-text">
            <form asp-route="AddPhoneNumber">
                <input type="hidden" asp-for="ReturnUrl" />
                <input type="hidden" asp-for="SecondCode" />

                <!--极验-->
                <input id="geetestResult-validate" type="hidden" asp-for="VerifyResult.Validate" />
                <input id="geetestResult-seccode" type="hidden" asp-for="VerifyResult.Seccode" />
                <input id="geetestResult-challenge" type="hidden" asp-for="VerifyResult.Challenge" />

                <div class="d-none" id="geetestCode-challenge">@Model.GeetestCode.Challenge</div>
                <div class="d-none" id="geetestCode-success">@Model.GeetestCode.Success</div>
                <div class="d-none" id="geetestCode-gt">@Model.GeetestCode.Gt</div>

                <div id="captcha-box"></div>
                <button class="d-none" id="geetestCode-submit-button" type="submit"></button>
                <!--极验-->

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" asp-for="Email" autofocus>
                    <label class="mdl-textfield__label" asp-for="Email">电子邮箱</label>
                </div>

                <div class="action">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="callGeetest()" type="button">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
