@model UnBindViewModel

<div class="account-page">
    <div class="select-bind-card mdl-card mdl-shadow--2dp">
        <img class="head-logo" src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/head_logo_6th.png">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">解除绑定 @(string.IsNullOrWhiteSpace(Model.Provider)?"手机号":$"{Model.Provider} 账号")</h2>
        </div>

        <div class="mdl-card__supporting-text text-center">
            此操作将会解除账号绑定，并且不可撤销，请确认
        </div>
        <partial name="_ValidationSummary" />

        <div class="mdl-card__supporting-text">
            <form asp-route="SelectModifyField">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="action">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">确定</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name="button" value="cancel">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
