@if (string.IsNullOrWhiteSpace(Model.BriefIntroduction) == false)
{
    <CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.OfficialWebsite.Others.SectionCard Icon="IconType.Home" Title="INTRODUCE">
        <div class="container introduce">
            @Model.BriefIntroduction
        </div>
    </CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.OfficialWebsite.Others.SectionCard>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
}


