<div class="  rounded shadow-sm  bg-opacity mb-3">
    <PeripheryMainInforTip Model="Model"/>
</div>
<div class="rounded shadow-sm bg-opacity mb-3">
    <PeripheryBasicInforTip Model="Model" />
</div>
@if (Model.Pictures.Count != 0)
{
    <div class="mb-3">
        <PeripheryImagesViewTip Model="Model"/>
    </div>
}
<div class="">
    <PeripheryListRelevancesViewTip Model="Model"/>
</div>
@code {
    [Parameter]
    public PeripheryViewModel Model { get; set; } = new PeripheryViewModel();

}
