<div class=" mb-3">
    <PeripheryMainInforTip Model="Model" ForceSmall HiddenButton/>
 </div>
 <div class="mb-3">
     <PeripheryBasicInforTip Model="Model" />
 </div>
 @if (Model.Pictures.Count != 0)
{
    <PeripheryImagesViewTip Model="Model" />
}
<PeripheryListRelevancesViewTip Model="Model" ShowRelatedPeripheries />
@code {
    [Parameter]
    public PeripheryViewModel Model { get; set; } = new PeripheryViewModel();

}
