
<div class="mb-3">
    <TagHeadNavTip TagList="Model.Taglevels" />

</div>
<div class="mb-3">
    <TagMainInforCard Model="Model" HiddenButton ForceSmall />
</div>

@if (Model.ChildrenTags.Count != 0 )
{
    <div class="mb-3">
        <TagListChildTagsViewTip Model="Model" />
    </div>
}
@if (Model.ChildrenEntries.Count != 0 )
{
    <div class="">
        <TagListChildEntriesViewTip Model="Model" ForceSmall />
    </div>
}

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();

}
