
<div class="pb-1">
    @foreach (var item in Model)
    {
        <div class="mb-2">
            <PeripheryOverviewCard Model="item" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<GameOverviewPeripheriesModel> Model { get; set; } = new List<GameOverviewPeripheriesModel>();

    public Task CollectionChanged(bool collected, long id)
    {
        foreach (var item in Model)
        {
            foreach (var infor in item.Peripheries)
            {
                if (infor.Id == id)
                {
                    infor.IsCollected = collected;
                    if (collected)
                    {
                        infor.CollectedCount++;
                    }
                    else
                    {
                        infor.CollectedCount--;
                    }
                }
            }
        }

        StateHasChanged();

        return Task.CompletedTask;
    }
}
