
<section class="button-group-card">
    <div class="button-group">
        @foreach (var item in _items)
        {
            <div class="button-item">
                <CnGalWebSite.Components.Buttons.MasaButton Fab Icon="@item.Item1.ToIconString()" Href="@item.Item3" OnClick="@(()=>OnClick(item))" />
                <div class="name label-large">@item.Item2</div>
            </div>
        }
    </div>

</section>
<div style="display: flex;justify-content: space-evenly;">
    <MButton Color="#E9F7FE" Fab Class="elevation-0" Href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=xDiiz0aB6eQcfYQnflSsKgOstQYewx0H&authKey=lHTWqnaM07S7E28d97f5T7ZfbmI7qCW5B8MVxooKMz84GPs28O6vZ13W%2FZ8N4CIl&noverify=0&group_code=948774838" Target="_blank">
        <MIcon Color="#74CFFE">mdi-qqchat</MIcon>
    </MButton>
    <MButton Color="#FEEEE6" Fab Class="elevation-0" Href="https://weibo.com/cngalorg" Target="_blank">
        <MIcon Color="#FE7A60">mdi-sina-weibo</MIcon>
    </MButton>
    <MButton Color="#FAC7D9" Fab Class="elevation-0" Href="https://space.bilibili.com/145239325" Target="_blank">
        <MIcon Color="pink">mdi-television-classic</MIcon>
    </MButton>

    <MButton Color="#C0C0C0" Fab Class="elevation-0" Href="https://www.xiaoheihe.cn/app/user/profile/30519991" Target="_blank">
        <MIcon Color="#424242">mdi-package-variant</MIcon>
    </MButton>
</div>
<CnGalWebSite.Shared.MasaComponent.PC.Layout.ThemeSettingCard @ref="themeSettingCard" />

@code {
    List<(IconType, string, string)> _items = new List<(IconType, string, string)>
    {
        (IconType.Steam,"分享库存","/sharegames"),
        (IconType.Game,"免费游戏","/free"),
        (IconType.Discount,"折扣中","/discount"),
        (IconType.News,"每周速报","/weeklynews"),
        (IconType.Age,"国G世代","/sedai"),
        (IconType.Calendar,"时间线","/times"),
        (IconType.Gift,"抽奖","/lotteries"),
        (IconType.Data,"数据汇总","/data"),
        (IconType.Setting,"主题设置",null),
        (IconType.Shape,"关于我们","/about"),
    };
    CnGalWebSite.Shared.MasaComponent.PC.Layout.ThemeSettingCard themeSettingCard;

    public void OnClick((IconType, string, string) model)
    {
        if (model.Item3 != null)
        {
            return;
        }

        themeSettingCard?.Refresh(true);

    }
}
