@inject IHttpService _httpService
@inject IDataCacheService _dataCacheService
@inject IEventService _eventService
@inject IStructuredDataService _structuredDataService
@inject IPageModelCatche<List<CarouselViewModel>> _pageModelCatche
@inject NavigationManager NavigationManager

<section class="carousels-card">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaCarousel Model="Images" OnClick="OnClick" />
</section>


<CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent @ref="trackEven" />

@code {

    private List<CarouselViewModel> Images = new List<CarouselViewModel>();
    private List<CarouselViewModel> Carousels { get; set; } = new List<CarouselViewModel>();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent trackEven;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Carousels = await _pageModelCatche.GetCache(ToolHelper.WebApiPath + "api/home/GetHomeCarouselsView");

            Images = Carousels.OrderByDescending(s => s.Priority).Take(3).ToList();
            if (Carousels.Count >= 6)
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x.Image) == false).ToList().Random().Take(3));

            }
            else
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x.Image) == false));
            }

            //生成轮播结构数据
            //await GenerateCarouselStructuredDataJson();

        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "获取主页轮播图列表失败");
        }
    }


    private async Task OnClick(CarouselViewModel item)
    {
        await trackEven?.SendTrackEvent(TrackEventType.Click, TrackEventDataType.Carousel, item.Id.ToString(), item.Note);
    }

}
