<div>
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <ArticleCrad Model="item" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<ArticleCardModel> Model { get; set; }

}
