<div>
    @foreach (var item in Model)
    {
        <div class="mb-1">
            <WebSitePair Model="item" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<WebSitePairModel> Model { get; set; }

}
