<div>
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.AppComponent.Normal.Cards.NewsThumbnailCard Model="item" />
        </div>
    }
</div>

@code {
    [Parameter]
    public List<CnGalWebSite.Shared.AppComponent.Normal.Cards.NewsThumbnailCardModel> Model { get; set; }

}
