<div style="display:flex;">
    <div style="color: gray; word-break: keep-all;">@(Model.Name + "：")</div>
    <a class="text-truncate" target="_blank " href="@Model.Url">@Model.Url</a>
</div>


@code {
    [Parameter]
    public WebSitePairModel Model { get; set; }
}

