
<div class="row">
    <ExaminesPartViewInforTip DispalyName="名称" DispalyValue="@Model.Name"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="父标签" DispalyValue="@Model.ParentTag"></ExaminesPartViewInforTip>

    <div class="col-12 col-md-12 col-lg-6 pt-2 mt-4">
        <div class="card p-3" style="background-color:transparent">
            <div class="row">
                <label class="col-sm-12 fw-bold mb-2">子标签</label>
                @foreach (var item in Model.ChildrenTags)
                {
    <label class="col-sm-12">@item.Name</label>}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 pt-2 mt-4">
        <div class="card p-3" style="background-color:transparent">
            <div class="row">
                <label class="col-sm-12 fw-bold mb-2">关联词条</label>
                @foreach (var item in Model.ChildrenEntries)
                {
    <label class="col-sm-12">@item.Name</label>}
            </div>
        </div>
    </div>
</div>

@code { [Parameter]
            public TagEdit Model { get; set; } = new TagEdit(); }
