@inject IJSRuntime JS


<style>
    .markdown-body img {
        max-width: 100%;
        background-color:transparent;
    }
    .markdown-body span {
        word-break: break-all;
    }

</style>
<div class="@("markdown-body mb-0 "+ClassName)" style="@Style">
    @((MarkupString)Text)
</div>


@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public string ClassName { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        try
        {
            await JS.InvokeAsync<string>("highlightAllCode");
        }
        catch
        {

        }
    }


}
