
@if (Model.ImagesState == EditState.Preview)
{
    <div class="mb-3">

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton  Url="@("/entries/EditImages/" + Model.Id)" ExamineType="Operation.EstablishImages" OnClickRevoke="OnRevoke"/>
    </div>
}
<CnGalWebSite.Components.Containers.MasaTitleContainer Outline Title="相册" Icon="@IconType.PhotoAlbum.ToIconString()">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.ImageSlideGroup Model="imagesList" />
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }


    public List<EditImageAloneModel> imagesList = new List<EditImageAloneModel>();

    protected override void OnParametersSet()
    {
        imagesList.Clear();
        foreach (var item in Model.Pictures)
        {
            foreach (var infor in item.Pictures)
            {
                imagesList.Add(new EditImageAloneModel
                {
                    Modifier = item.Modifier,
                    Note = infor.Note,
                    Image = infor.Url
                });
            }
        }

    }
}
