
@if (Model.TagState == EditState.Preview)
{
    <div class="mb-3">

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/entries/Edittags/" + Model.Id)" ExamineType="Operation.EstablishTags" OnClickRevoke="OnRevoke"/>
    </div>
}


@if (Model.Tags.Count > 0)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="标签" Icon="@IconType.Tags.ToIconString()">
        <div class="tags-card">
            @foreach (var item in Model.Tags)
            {
                <CnGalWebSite.Shared.MasaComponent.PC.Home.Cards.Shared.IconChip Icon="IconType.None" Text="@item.Name" Href="@("/tags/index/"+item.Id)" />
            }
        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }

}
