<div class="@("ContributionCalendar-day ContributionCalendar-color-" +Leve)" title="@Title"></div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Leve { get; set; }

}
