<div class="mt-1" style="display: flex;justify-content: center;">
    <span class="ContributionCalendar-tip-font">少&nbsp;</span>
    <CalendarHeatMapDay Leve="0"></CalendarHeatMapDay>
    <CalendarHeatMapDay Leve="1"></CalendarHeatMapDay>
    <CalendarHeatMapDay Leve="2"></CalendarHeatMapDay>
    <CalendarHeatMapDay Leve="3"></CalendarHeatMapDay>
    <CalendarHeatMapDay Leve="4"></CalendarHeatMapDay>
    <span class="ContributionCalendar-tip-font">&nbsp;多</span>
</div>

@code {

}
