    &copy; 2023 - CnGal资料站
    &nbsp;&nbsp;&nbsp;<a target="_blank" href="http://beian.miit.gov.cn" one-link-mark="yes">粤ICP备15055899号</a>
    &nbsp;&nbsp;&nbsp;<a href="https://icp.gov.moe/?keyword=20225899" target="_blank" one-link-mark="yes">萌ICP备20225899号</a>
    &nbsp;&nbsp;&nbsp;不良信息举报邮箱：help@cngal.org

@code {

}
