<div>
    <div class="mt-1">

        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="标签层级" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Pages.Tags.Cards.TagLevelCard TagList="@Model.Taglevels" />
            </div>
            <hr class="mt-3" />
        </div>
        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="父标签" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Pages.Tags.Cards.TagCard Model="@Model.ParentTag" />
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; }
}
