
<div style="display: flex; flex-direction: row; align-items: center;" class="ms-3 me-3 pt-2 mb-2">
    <CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLine Model="Model"></CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLine>
</div>
@code {

    [Parameter]
    public int DefaultIndex { get; set; }
    [Parameter]
    public bool IsShowChildTags { get; set; }
    [Parameter]
    public bool IsShowChildEntries { get; set; }
    [Parameter]
    public bool IsShowDetail { get; set; }

    [Parameter]
    public int RandomIndex { get; set; }
    [Parameter]
    public EventCallback<int> OnTabClick { get; set; }

    private CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLineModel Model = new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLineModel { Items = new List<CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel>() };

    protected override async Task OnInitializedAsync()
    {
        Model.Items.Clear();
        int count = 0;
        if (IsShowChildTags)
        {
            count++;
        }
        if (IsShowChildEntries)
        {
            count++;
        }
        if (IsShowDetail)
        {
            count++;
        }
        if (IsShowDetail)
        {
            Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
            {
                DefaultIndex = DefaultIndex,
                Index = 0,
                OnTabClick = OnTabClick,
                RandomIndex = RandomIndex,
                Text = "详情",
                Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
                ClassNames = $"col-{12 / count} p-0"
            });
        }

        if (IsShowChildTags)
        {
            Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
            {
                DefaultIndex = DefaultIndex,
                Index = 1,
                OnTabClick = OnTabClick,
                RandomIndex = RandomIndex,
                Text = "子标签",
                Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
                ClassNames = $"col-{12 / count} p-0"
            });
        }
        if (IsShowChildEntries)
        {
            Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
            {
                DefaultIndex = DefaultIndex,
                Index = 2,
                OnTabClick = OnTabClick,
                RandomIndex = RandomIndex,
                Text = "子词条",
                Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
                ClassNames = $"col-{12 / count} p-0"
            });
        }
    }

    public async Task Refresh(bool isShowChildTags, bool isShowChildEntries, bool isShowDetail)
    {
        IsShowChildTags = isShowChildTags;
        IsShowChildEntries = isShowChildEntries;
        IsShowDetail = isShowDetail;

        await OnInitializedAsync();
        StateHasChanged();
    }
}
