@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager


<div class="mb-4 rounded shadow-sm  bg-opacity d-flex p-3 ">
    <MSpacer></MSpacer>
    <CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard @ref="homeTitleCard" Min />
    <MSpacer></MSpacer>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Tooltip="搜索" Icon="mdi-magnify" Class="mr-6" OnClick="@(()=>NavigationManager.NavigateTo("/search"))" />

    <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />
</div>

@code {
    CnGalWebSite.Shared.MasaComponent.App.Layout.TitleCard homeTitleCard;

    public void ChangeTitle(string title)
    {
        if (homeTitleCard != null)
        {
            homeTitleCard.ChangeTitle(title);
        }
    }

    public void OnNavSearchClick()
    {
        NavigationManager.NavigateTo("/search");
        
    }
}
