@inject ToastService ToastService
@inject DialogService DialogService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IServiceProvider Provider

<style>
    .modal-footer {
        display: none;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>

<div style="display:flex;">
    <Button Color="Color.Success" Icon="fa fa-check" Text="想玩" style="width:100px;" class="mb-2" />
    <Button Color="Color.Success" Icon="fa fa-check" Text="正在玩" style="width:100px;" class="mb-2" />
    <Button Color="Color.Success" Icon="fa fa-check" Text="已玩" style="width:100px;" class="mb-2" />
    <Button Color="Color.Success" Icon="fa fa-check" Text="不感兴趣" style="width:100px;" class="mb-2" />
</div>
<a @onclick="ImportGameFromSteam">
    <i class="fa fa-fw fa-steam"></i>&nbsp; &nbsp;从Steam库中导入游戏
</a>

@code {
    [Parameter]
    public EventCallback OnClickClose { get; set; }
    [Parameter]
    public PlayedGameInforModel Model { get; set; } = new PlayedGameInforModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    private async Task ImportGameFromSteam ()
        {

        }

}
