@inject ToastService ToastService
@inject DialogService DialogService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IServiceProvider Provider

<style>
    .modal-footer {
        display: none;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>

<div>
    @if (isReady)
    {
    <div>
        <div>
            <RadioList @bind-Value="Model.Type" Color="@Color.Primary" DisplayText="状态" ShowLabel="true"></RadioList>
        </div>
        <div class="mt-3">
            <Textarea @bind-Value="Model.PlayImpressions" rows="5" DisplayText="感想" ShowLabel="true" />
        </div>
        <div class="mt-3">
            <Checkbox @bind-Value="Model.IsHidden" DisplayText="折叠" ShowAfterLabel="true"></Checkbox>
        </div>
    </div>

    }
    else
    {
        <div style="min-height:200px;">
            <h3 class="mb-3 text-center">正在加载</h3>
            <div class="d-flex" style="justify-content: center;">
                <Spinner Color="Color.Primary" Size="Size.ExtraLarge"></Spinner>
            </div>
        </div>
    }

</div>

<div class="mt-3" style="display: flex; justify-content: flex-end;">

    <Button Color="Color.Success" Icon="fa fa-save" class="me-1" OnClick="OnSubmit" IsAsync="true" Text="保存"></Button>
</div>


@code {
    [Parameter]
    public EventCallback OnClickClose { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public GameRecordViewModel ViewModel { get; set; }

    public EditGameRecordModel Model = new EditGameRecordModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    bool isReady = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await Http.GetFromJsonAsync<EditGameRecordModel>(ToolHelper.WebApiPath + "api/playedgame/EditGameRecord/" + Id);
            isReady = true;
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取游玩记录失败");
        }
    }

    private async Task OnSubmit()
    {
        try
        {
            var result = await Http.PostAsJsonAsync<EditGameRecordModel>(ToolHelper.WebApiPath + "api/playedgame/EditGameRecord", Model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {

                await ToastService.Error("编辑游玩记录失败", obj.Error);
            }
            else
            {
                await ToastService.Success("编辑游玩记录成功", "编辑游玩记录成功");
                if(ViewModel!=null)
                {
                    ViewModel.Type = Model.Type;
                    ViewModel.PlayImpressions = Model.PlayImpressions;
                    ViewModel.IsHidden = Model.IsHidden;
                }

                await OnClickClose.InvokeAsync();
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "编辑游玩记录失败");
        }
    }
}
