@inject DialogService DialogService

<div class="h-100" @onclick="OnClick">

    <div class="div-shadow rounded  bg-opacity h-100" style="display: flex; flex-direction: column; justify-content: space-between;">

        <div class="">
            <div class="">
                <img class="img-fluid" src="@Model.GameImage" alt="@Model.GameName">
            </div>
            <div class="p-2 pb-0">
                <header class="text-truncate-1 h6 mb-2">
                    <span>@Model.GameName</span>
                </header>
                <div>
                    <GameRecordTagCard Model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public GameRecordViewModel Model { get; set; }
    [Parameter]
    public EventCallback<GameRecordViewModel> OnShow { get; set; }
    [Parameter]
    public bool IsCurrentUser { get; set; }


    public async Task OnClick()
    {
       await OnShow.InvokeAsync(Model);
    }

}
