<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mt-3">
            <GameRecordViewCard Model="item" OnChanged="OnChanged"/>

        </div>
    }
</div>

@code {
    [Parameter]
    public List<GameRecordViewModel> Model { get; set; }

    public Task OnChanged()
    {
        StateHasChanged();
        return Task.CompletedTask;
    }

}
