@inject IDataCacheService _dataCacheService


<MRow>
    <MCol Cols="12" Lg="6" Class="mb-4">
        <MDCard Class="pa-3" Style="display: flex; align-items: center;    flex-direction: row;">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Edit" Large Class="me-3"/>
            <div class="w-100">
                <span>
                    @($"编辑总数：{Model.PassedExamineCount} / {Model.TotalExamine}")
                </span>
                <MProgressLinear Value="@(Model.TotalExamine==0?0:(100.0*Model.PassedExamineCount/Model.TotalExamine))" Height="10"></MProgressLinear>
            </div>
        </MDCard>
    </MCol>
    <MCol Cols="12" Lg="6" Class="mb-4">
         <MDCard Class="pa-3" Style="display: flex; align-items: center;    flex-direction: row;">
             <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Data" Large Class="me-3" />
            <div class="w-100">
                <span>
                    @($"文件空间：{(Model.UsedFilesSpace / (1024 * 1024.0)).ToString("0.0")}MB / {(Model.TotalFilesSpace / (1024 * 1024.0)).ToString("0.0")}MB")
                </span>
                <MProgressLinear Value="@(Model.TotalFilesSpace==0?0:(100.0*Model.UsedFilesSpace/Model.TotalFilesSpace))" Height="10"></MProgressLinear>
            </div>
        </MDCard>
    </MCol>
</MRow>

@code {
    [Parameter]
    public PersonalSpaceViewModel Model { get; set; }
}
