@page "/space/editspacecomments/{Id}"
@attribute [Authorize]


@inject IHttpService _httpService
@inject ToastService? ToastService


<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip/>

<div class="">
        <EditSpaceCommentsTip Id="@Id" Title="管理空间留言" Type="CommentType.CommentUser"></EditSpaceCommentsTip>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    public EditMainPageViewModel Model { get; set; } = new EditMainPageViewModel();
    bool isReady = false;

}
