@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IPopupService PopupService

<MAppBar App Class="elevation-2" Style="background-color: rgba(var(--m-theme-surface-container-low))!important;">
     <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.ProjectSite.Shared.Components.Layout.LogoCard />
    </div>
     <MTabs Class="cngal-main-tab-card" Routable Color="primary">
        <MTab Href="/">首页</MTab>
        <MTab Href="/stall">创作接稿</MTab>
        <MTab Href="/position">企划招募</MTab>
        <MTab Href="/project">企划</MTab>
    </MTabs>
    <MSpacer></MSpacer>
    <CnGalWebSite.ProjectSite.Shared.Components.Themes.SwitchThemeModeButton Class="mr-2" />

    <AuthorizeView>
        <NotAuthorized>
            <CnGalWebSite.Components.Buttons.MasaButton Icon="@IconType.Setting.ToIconString()" Tooltip="设置" OnClick="OnClickSetting" Class="me-2" />
        </NotAuthorized>
    </AuthorizeView>
    <CnGalWebSite.ProjectSite.Shared.Components.Layout.Users.LoginButton/>
</MAppBar>

<MMain>
    <CnGalWebSite.Components.Containers.MasaContainer>
        @Body
    </CnGalWebSite.Components.Containers.MasaContainer>
</MMain>
<MFooter App Padless Absolute>
    <CnGalWebSite.ProjectSite.Shared.Components.Layout.FooterCard />
</MFooter>


<CnGalWebSite.ProjectSite.Shared.Components.Layout.SettingDialog @ref="settingDialog" />

@code {
    CnGalWebSite.ProjectSite.Shared.Components.Layout.SettingDialog settingDialog;

    public void OnClickSetting()
    {
        settingDialog?.Refresh();
    }
}
