<MSnackbar Timeout="-1" @bind-Value="IsLoading" Text Class="nav-loading"
            Style="min-width:180px;" Color="primary"
            Elevation="24">
     <div style="display: flex; justify-content: center; align-items: center;">
         <MProgressCircular Size="@("20px")" Width="2" Class="me-4" Indeterminate Color="primary">
         </MProgressCircular>
         <div>
             正在跳转......
         </div>

     </div>
 </MSnackbar>
 @code {
    [Parameter]
    public bool IsLoading { get; set; }

}
