
<div class="@($"variable {(Small?"container-sm":"container")}")">
        @ChildContent
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool Small { get; set; }
}
