@inject IDataCacheService _dataCacheService
@inject ImagesLargeViewService ImagesLargeViewService


    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="奖品" Icon="fa fa-fw fa-gift" Class="mb-4" Collapable Outline>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-6 col-lg-4 col-xxl-3 mb-4">
                    <AwardCard Model="item" OnClickImage="()=>OnClickImage(item)" />

                </div>
            }
        </div>

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {

    [Parameter]
    public List<LotteryAwardViewModel> Model { get; set; }

    public async void OnClickImage(LotteryAwardViewModel model)
    {
        if (_dataCacheService.IsApp)
        {
            await _dataCacheService.OpenNewPage.InvokeAsync(model.Image);
        }
        else
        {
            await ImagesLargeViewService.ViewLargeImages(new ImagesLargeViewModel
            {
                Index = Model.IndexOf(model),
                Pictures = Model.Select(s => new EditImageAloneModel
                {
                    Image = s.Image,
                    Note = s.Name
                }).ToList()
            });
        }

    }
}
