
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="抽奖信息" Icon="fa fa-fw fa-info-circle" Class="mb-4">
    <div class="ms-1">
        <div class="row">
            @if (DateTime.Now.ToCstTime() < Model.BeginTime)
            {
                <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-clock-o" Text="未开始" Class="col-12  text-truncate-1" />
            }
            else if (DateTime.Now.ToCstTime() > Model.EndTime)
            {
                <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-check-circle" Text="已结束" Class="col-12  text-truncate-1" />
            }
            else
            {
                <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-check-circle-o" Text="正在进行" Class="col-12  text-truncate-1" />
            }
            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-users" Text="@("参与人数："+Model.Count)" Class="col-12  text-truncate-1" />
            @if (Model.ConditionType == LotteryConditionType.GameRecord)
            {
                <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-filter" Text="参与条件：至少有一条游玩记录" Class="col-12 " />
            }
            @if (Model.Type == LotteryType.Automatic)
            {
                <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-calendar-o" Text="@("抽奖时间："+ Model.LotteryTime.ToString("yyyy.M.d HH:mm"))" Class="col-12 " />
            }
            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-calendar-check-o" Text="@("开始时间："+ Model.BeginTime.ToString("yyyy.M.d HH:mm"))" Class="col-12 " />
            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-calendar-times-o" Text="@("结束时间："+ Model.EndTime.ToString("yyyy.M.d HH:mm"))" Class="col-12 " />

        </div>

    </div>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

    @code {
        [Parameter]
        public LotteryViewModel Model { get; set; }
    }
