@inject HttpClient Http
@inject ToastService? ToastService
@inject NavigationManager NavigationManager


<div style="display: flex; justify-content: center;">
    @if (Model.Type == LotteryType.Manual && Model.IsEnd == false&& Model.EndTime < DateTime.Now.ToCstTime())
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab Icon="mdi-wallet-giftcard " Tooltip="抽奖" OnClick="OnDraw" Color="info" Class="me-3"/>
    }

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab Icon="mdi-pencil" Tooltip="编辑" OnClick="OnEdit" Color="success"  Class="me-3"/>
    @if (Model.IsHidden)
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab Icon="mdi-eye" Tooltip="显示" OnClick="@(()=>OnClickLottery(false))" Color="info" />

    }
    else
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab Icon="mdi-eye-off" Tooltip="隐藏" OnClick="@(()=>OnClickLottery(true))" Color="error"  />
    }
</div>

@code {
    [Parameter]
    public LotteryViewModel Model { get; set; }
    [Parameter]
    public EventCallback StateChanged { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public async Task OnClickLottery(bool isHidden)
    {
        string text = isHidden ? "隐藏" : "显示";

        try
        {
            var result = await Http.PostAsJsonAsync<HiddenLotteryModel>(ToolHelper.WebApiPath + "api/lotteries/HiddenLottery", new HiddenLotteryModel { Ids = new long[] { Model.Id }, IsHidden = isHidden });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error(text + "抽奖失败", obj.Error);
            }
            else
            {
                await ToastService.Success(text + "抽奖成功", text + "抽奖成功");
                await StateChanged.InvokeAsync();
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, text + "抽奖失败");
        }
    }

    public Task OnEdit()
    {
        NavigationManager.NavigateTo( "/lotteries/editlottery/" + Model.Id);
        return Task.CompletedTask;
    }
    public Task OnDraw()
    {
        NavigationManager.NavigateTo( "/lotteries/drawlottery/" + Model.Id);
        return Task.CompletedTask;
    }
}
