@inject HttpClient Http
@inject ExamineService _examineService
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject DialogService DialogService
<style>
    .lottery-button button {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        font-size: x-large !important;
    }
</style>
<div class="lottery-button" style=" display: flex; flex-direction: column; align-items: center; ">
    @if (isReady)
    {
        @if (StateModel == null)
        {
            @if (ViewModel.EndTime < DateTime.Now.ToCstTime())
            {
                <Button IsDisabled="true" Color="Color.Dark" Text="未参与" />
            }
            else
            {
                <Button Color="Color.Dark" Text="登入后参与抽奖" OnClick="OnLogin" />
            }
        }
        else
        {
            @if (StateModel.State == UserLotteryState.NotInvolved)
            {
                @if (ViewModel.EndTime < DateTime.Now.ToCstTime())
                {
                    <Button IsDisabled="true" Color="Color.Dark" IsAsync="true" Text="未参与" />
                }
                else
                {
                    <Button Color="Color.Dark" Text="参与抽奖" IsAsync="true" OnClick="OnParticipateInLottery" />
                }
            }
            else if (StateModel.State == UserLotteryState.NoCondition)
            {
                <Button IsDisabled="true" Color="Color.Dark" IsAsync="true" Text="未满足条件" />
            }
            else if (StateModel.State == UserLotteryState.NotWin)
            {
                <Button IsDisabled="true" Color="Color.Dark" IsAsync="true" Text="未中奖" />

            }
            else if (StateModel.State == UserLotteryState.WaitingDraw)
            {
                <Button IsDisabled="true" Color="Color.Dark" IsAsync="true">
                    <div style="display: flex; flex-direction: column;">
                        <span>等待开奖</span>
                        <span>你的号码：@StateModel.Number</span>
                    </div>
                </Button>
            }
            else if (StateModel.State == UserLotteryState.Win && StateModel.Award != null)
            {
                @if (StateModel.Award.Type == LotteryAwardType.ActivationCode)
                {
                    <Button Color="Color.Dark" OnClick="OnLookPrize">
                        <div style="display: flex; flex-direction: column;">
                            <span>恭喜中奖</span>
                            <span>查看激活码</span>
                        </div>
                    </Button>
                }
                else if (StateModel.Award.Type == LotteryAwardType.Integral)
                {
                    <Button Color="Color.Dark">
                        <div style="display: flex; flex-direction: column;">
                            <span>恭喜中奖</span>
                            <span>已发放积分</span>
                        </div>
                    </Button>
                }
            }
            else if (StateModel.State == UserLotteryState.WaitAddress)
            {
                <Button Color="Color.Dark" OnClick="EditUserAddress">
                    <div style="display: flex; flex-direction: column;">
                        <span>恭喜中奖</span>
                        <span>填写收货地址</span>
                    </div>
                </Button>

            }
            else if (StateModel.State == UserLotteryState.WaitShipments)
            {
                <Button Color="Color.Dark" OnClick="EditUserAddress">
                    <div style="display: flex; flex-direction: column;">
                        <span>恭喜中奖</span>
                        <span>等待发货</span>
                    </div>
                </Button>

            }
            else if (StateModel.State == UserLotteryState.Shipped)
            {
                <Button Color="Color.Dark" OnClick="OnLookPrize">
                    <div style="display: flex; flex-direction: column;">
                        <span>恭喜中奖</span>
                        <span>查看单号</span>
                    </div>
                </Button>
            }
            @if (StateModel.Award != null)
            {
                <p class="h5 fw-bold mt-3 font-color">
                    @("已中奖："+StateModel.Award.Name)
                </p>
            }
        }

    }
    else
    {
        <Button Color="Color.Dark" Icon="fa-spinner fa-spin" />
    }

</div>

@code {
    [Parameter]
    public LotteryViewModel ViewModel { get; set; }

    public UserLotteryStateModel StateModel { get; set; }

    bool isReady = false;
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        isReady = true;
    }

    public async Task Refresh()
    {
        var user = await authenticationStateTask;
        if(user.User.Identity.IsAuthenticated)
        {
            try
            {
                StateModel = await Http.GetFromJsonAsync<UserLotteryStateModel>(ToolHelper.WebApiPath + "api/lotteries/GetUserLotteryState/" + ViewModel.Id);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "获取用户抽奖状态失败");
            }
        }

    }

    public async Task OnParticipateInLottery()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<Result>(ToolHelper.WebApiPath + "api/lotteries/ParticipateInLottery/" + ViewModel.Id);
            if(result.Successful)
            {
                await ToastService.Success("参与抽奖成功", "参与抽奖成功");
                await Refresh();
            }
            else
            {
                await ToastService.Error("参与抽奖失败", result.Error);
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "参与抽奖失败");
        }
    }

    public Task OnLogin()
    {
        NavigationManager.NavigateTo("/account/login/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));
        return Task.CompletedTask;
    }

    public async Task OnLookPrize()
    {
        var option = new DialogOption()
        {
            Title = "查看奖品",
            Size= Size.Medium
        };
        option.BodyTemplate = BootstrapDynamicComponent.CreateComponent<PrizePage.LookPrizeTip>(new Dictionary<string, object>
        {
            [nameof(PrizePage.LookPrizeTip.Id)] = ViewModel.Id,
        }).Render();
        await DialogService.Show(option);
    }

    public async Task EditUserAddress()
    {
        var model = new EditUserAddressModel();
        try
        {
            model = await Http.GetFromJsonAsync<EditUserAddressModel>(ToolHelper.WebApiPath + "api/space/EditUserAddress");
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取编辑用户地址信息失败");
        }

        var items = Utility.GenerateEditorItems<EditUserAddressModel>();
        var editItem = items.First(i => i.GetFieldName() == nameof(EditUserAddressModel.Address));
        editItem.Rows = 3;

        var option = new EditDialogOption<EditUserAddressModel>()
        {
            Title = "编辑收货地址",
            Model = model,
            Items = items,

            OnCloseAsync = () =>
            {
                //Trace.Log("关闭按钮被点击");
                return Task.CompletedTask;
            },
            OnEditAsync = async context =>
            {
                // Trace.Log("保存按钮被点击");
                var item = (EditUserAddressModel)context.Model;

                try
                {
                    var result = await Http.PostAsJsonAsync<EditUserAddressModel>(ToolHelper.WebApiPath + "api/space/EditUserAddress", item);
                    string jsonContent = result.Content.ReadAsStringAsync().Result;
                    Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
                    //判断结果
                    if (obj.Successful == false)
                    {
                        await ToastService.Error("编辑收货地址失败", obj.Error);
                        return false;
                    }
                    else
                    {
                        await ToastService.Success( "编辑收货地址成功",  "编辑收货地址成功");
                        await Refresh();
                        return true;
                    }
                }
                catch (Exception ex)
                {
                    ErrorHandler.ProcessError(ex, "编辑收货地址失败");
                    return false;
                }
            }
        };

        await DialogService.ShowEditDialog(option);
    }
}
