@inject NavigationManager NavigationManager
@inject IEventService _eventService

<a @onclick="OnClick"  class="a-font-color">
    <div class="bg-opacity" style="cursor: pointer ">
        <div class="h-100">
            <img loading="lazy" src="@Model.MainImage" class="card-img-top" style=" width: 170px; height: auto;" alt="@Model.Name" />
        </div>
        <div class="mb-2" style="padding: 0px; padding: 0px; padding-top: 0.5rem; ">
            <span class="home-card-name-text" style="font-size:inherit">@Model.Name</span>
        </div>
    </div>
</a>
@code {
    [Parameter]
    public ArticleInforTipViewModel Model { get; set; }

    public async Task OnClick()
    {
        if(string.IsNullOrWhiteSpace(Model.Link))
        {
            NavigationManager.NavigateTo("/articles/index/" + Model.Id);
        }
        else
        {
            await _eventService.OpenNewPage(Model.Link);
        }
    }
}
