@inject IDataCacheService _dataCacheService
@implements IDisposable

<div class="@Class">
    <div style=" display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
        <i class="fa fa-fw fa-bullhorn"></i>&nbsp;&nbsp;

        @if (Index == 0)
        {

            <span>欢迎加入CnGal玩家交流群：</span>
            <u>
                <a href="https://jq.qq.com/?_wv=1027&k=mG6qNvyg" target="_blank" class="word-warp-break a-font-color" rel="noreferrer">128446539</a>
            </u>

        }
        else if (Index == 1)
        {
            @if (_dataCacheService.IsApp)
            {
                <span>编辑者交流与BUG反馈群：</span>
            }
            else
            {
                <span>CnGal资料站编辑者交流与BUG反馈群：</span>
            }

            <u>
                <a href="https://jq.qq.com/?_wv=1027&k=JzuI1IkF" target="_blank" class="word-warp-break a-font-color" rel="noreferrer">761794704</a>
            </u>
            <span>  &nbsp; 欢迎加入</span>
        }
        else if (Index == 2)
        {
            <u>
                <a href="https://qun.qq.com/qqweb/qunpro/share?_wv=3&_wwv=128&inviteCode=onAQQ&from=246610&biz=ka" target="_blank" class="word-warp-break a-font-color" rel="noreferrer">点击加入 CnGal QQ频道</a>
            </u>
        }

    </div>
</div>
@code {

    [Parameter]
    public string Class { get; set; }

    public int Index { get; set; }

    private System.Threading.Timer mytimer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //启动定时器
            mytimer = new System.Threading.Timer(new System.Threading.TimerCallback(Send), null, 0, 1000 * 6);

        }
    }
    public async void Send(object o)
    {
        try
        {
            await InvokeAsync(() =>
            {
                Index = ++Index % 3;

                StateHasChanged();
            });
        }
        catch
        {

        }
    }

    #region 释放实例
    public void Dispose()
    {
        if (mytimer != null)
        {
            mytimer?.Dispose();
        }
        GC.SuppressFinalize(this);
    }
    #endregion
}
