
    <img src="@Model.MainPicture" alt="@Model.Name" style="width:100%"/>
    <div class="m-3 mb-2">
        <div class="">
            <div style=" font-size: larger; ">@Model.Name</div>
            <div style=" font-size: smaller;color:gray; " class="mt-1 mb-2">@Model.BriefIntroduction</div>
            <div class="">
                <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.ListTagButton Names="Model.Tags.Select(s=>s.Name).ToList()" />
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
       
    }
}
