
<div style="display: flex; flex-direction: row; align-items: center;" class="ms-3 me-3 pt-2 mb-2">
    <CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLine Model="Model"></CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLine>
</div>
@code {

    [Parameter]
    public int DefaultIndex { get; set; }
    [Parameter]
    public bool IsShowRole { get; set; }
    [Parameter]
    public bool IsShowStaff { get; set; }
    [Parameter]
    public int RandomIndex { get; set; }
    [Parameter]
    public EventCallback<int> OnTabClick { get; set; }

    private CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLineModel Model = new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabLineModel { Items = new List<CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel>() };

    protected override async Task OnInitializedAsync()
    {
        int count = 2;
        if (IsShowRole)
        {
            count++;
        }
        if (IsShowStaff)
        {
            count++;
        }
        Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
        {
            DefaultIndex = DefaultIndex,
            Index = 0,
            OnTabClick = OnTabClick,
            RandomIndex = RandomIndex,
            Text = "详情",
            Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
            ClassNames = $"col-{12/count} p-0"
        });
        if (IsShowRole)
        {
            Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
            {
                DefaultIndex = DefaultIndex,
                Index = 1,
                OnTabClick = OnTabClick,
                RandomIndex = RandomIndex,
                Text = "角色",
                Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
                ClassNames = $"col-{12 / count} p-0"
            });
        }

        if (IsShowStaff)
        {
            Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
            {
                DefaultIndex = DefaultIndex,
                Index = 2,
                OnTabClick = OnTabClick,
                RandomIndex = RandomIndex,
                Text = "STAFF",
                Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
                ClassNames = $"col-{12/count} p-0"
            });
        }

        Model.Items.Add(new CnGalWebSite.Shared.AppComponent.Normal.Tabs.TabViewItemModel
        {
            DefaultIndex = DefaultIndex,
            Index = 3,
            OnTabClick = OnTabClick,
            RandomIndex = RandomIndex,
            Text = "其他",
            Type = CnGalWebSite.Shared.AppComponent.Normal.Tabs.TableItemType.Pivot,
            ClassNames = $"col-{12/count} p-0"
        });
    }
}
