<div>
    <div class="mt-1">
        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="CnGal资料站" />
            <div class="mt-3">
                CnGal是一个非营利性的，立志于收集整理国内制作组创作的中文Galgame/AVG的介绍、攻略、评测、感想等内容的资料性质的网站。
                此外，CnGal官方还会与圈内中文AVG制作组进行友好合作，如免费提供Banner广告位，网站服务器资源等。

            </div>
            <hr class="mt-3" />
        </div>
        @if (Informations.Count != 0)
        {
            <div class="mb-3  pt-2">
                <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="基本信息" />
                <div class="mt-3">
                    <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.ListBasicInforPair Model="@Informations" />
                </div>
                <hr class="mt-3" />
            </div>
        }

        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="版权信息" />
            <div class="mt-3">
                CnGal资料站全部内容禁止商业使用。<br />
                文本内容除特殊注明外,均在&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="word-warp-break">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>&nbsp;下提供,附加条款亦可能应用。<br />

                其他类型作品版权归原作者所有，如有作者授权则遵照授权协议使用。无作者授权协议情况下，以评论，报道为目的，遵照 <a href="https://flk.npc.gov.cn/detail2.html?ZmY4MDgwODE3NTJiN2Q0MzAxNzVlNDc2NmJhYjE1NTc%3D" target="_blank" class="word-warp-break">《中华人民共和国著作权法》</a>第二十四条、<a href="https://flk.npc.gov.cn/detail.html?ZmY4MDgwODE2ZjNjYmIzYzAxNmY0MTM5OTJiMjFkYjk%3D" target="_blank" class="word-warp-break">《信息网络传播权保护条例》</a>第六条“合理使用”原则使用，标注来源。<br />

                CnGal资料站遵守<a href="https://flk.npc.gov.cn/detail.html?ZmY4MDgwODE2ZjNjYmIzYzAxNmY0MTM5OTJiMjFkYjk%3D" target="_blank" class="word-warp-break">《信息网络传播权保护条例》</a>第十四至十七条“避风港”原则，在正式收到版权人删除内容通知书后，24小时内删除侵权内容。被删除内容的用户也可以提交反通知进行恢复。<br />
            </div>
            <hr class="mt-3" />
        </div>
        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="下载" />
            <div class="mt-3">
                API接口对外开放，欢迎适配：<a href="https://www.cngal.org/swagger/index.html" target="_blank" class="word-warp-break">https://www.cngal.org/swagger/index.html</a><br />
                GitHub仓库：<a href="https://github.com/CnGal/CnGalWebSite" target="_blank" class="word-warp-break">https://github.com/CnGal/CnGalWebSite</a>
            </div>
            <hr class="mt-3" />
        </div>
        <div class="mb-3  pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="未来规划" />
            <div class="mt-3">
                未来将添加游戏周边信息，附加周边收集进度显示
            </div>
        </div>

    </div>
</div>


@code {

    public List<CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel> Informations { get; set; } = new List<CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel>();

    protected override async Task OnInitializedAsync()
    {
        Informations.Add(new CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel
        {
            Name = "组织架构",
            Value = "CnGal中文galgame资料站组织结构",
            Url= "/articles/index/150",
            IsLink=true,
            IsOutLink=true
        });
        Informations.Add(new CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel
        {
            Name = "新浪微博",
            Value = "https://weibo.com/cngalorg",
            IsLink = true,
            IsOutLink = true
        });
        Informations.Add(new CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel
        {
            Name = "玩家交流群",
            Value = "128446539",
            Url = "https://jq.qq.com/?_wv=1027&k=mG6qNvyg",
            IsLink = true,
            IsOutLink = true
        });
        Informations.Add(new CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel
        {
            Name = "爱发电",
            Value = "https://afdian.net/@@CnGal",
            IsLink = true,
            IsOutLink = true
        });
      
    }
}
