<div style="display: flex;flex-direction: column; align-items: center; justify-content: center;">
    <div style=" display: flex; flex-direction: column; align-items: center;">
        <img class="layout-logo"
             src="//app.cngal.org/_content/CnGalWebSite.Shared/images/logo.png" alt="logo"
             style="height:50px;width:50px;" />
        <div class="mt-2" style=" font-size: larger; font-weight: initial; ">CnGal资料站</div>
        <div class="mt-1 text-center" style="color:gray;">已在风雨中运行 @((DateTime.Now.ToCstTime() - new DateTime(2015, 6, 30, 0, 0, 0, DateTimeKind.Utc)).TotalDays.ToString("0.00")) 天</div>
    </div>
</div>

@code {
}
