<div style="display: flex;flex-direction: column; align-items: center; justify-content: center;padding-top:40px;">
    <div style=" display: flex; flex-direction: column; align-items: center;">
        <img class="layout-logo"
             src="//app.cngal.org/_content/CnGalWebSite.Shared/images/logo.png" alt="logo"
             style="height:50px;width:50px;" />
        <div class="mt-2" style=" font-size: larger; font-weight: initial; ">CnGal资料站</div>
        <div class="mt-1 text-center" style="color:gray;">版本：@Version</div>
        <div class="mt-1 text-center" style="color:gray;">最后更新时间：@LastUpdateTime</div>
    </div>
</div>

@code {
    [Parameter]
    public string Version { get; set; }
    [Parameter]
    public string LastUpdateTime { get; set; }

}
