<div style="display: flex; flex-direction: column;">
    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2022年1月15日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 重新设计搜索页面，优化搜索匹配</span>
            <span>b. Steam价格显示小数点后两位</span>
            <span>c. 添加动态自动采集模块</span>
            <span>d. 添加投票模块</span>
            <span>e. 优化词条，周边页面布局</span>
            <span>f. 调低全站阴影等级</span>
            <span>g. APP模式加载时不再显示背景图，重新设计登入页布局框架，避免社死</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年12月2日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 为移动端添加创作中心和消息中心</span>
            <span>b. 添加周边模块</span>
            <span>c. 为标签添加主图和简介，适配移动端视图</span>
            <span>d. 统一记录未知错误信息并弹窗提示</span>
            <span>e. 请求词条文章标签周边主体数据时，优先查找缓存</span>
            <span>f. 修复动态汇总页最多只展示两条的Bug</span>
            <span>g. 为移动端添加主题设置</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年11月6日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 重新设计移动端页面布局</span>
            <span>b. 添加动态汇总页</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年10月13日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加编辑指引与词条完善度检查系统</span>
            <span>b. 添加头衔模块</span>
            <span>c. 优化留言和词条编辑历史展示样式</span>
            <span>d. 主页展示最新动态</span>
            <span>e. 扩大批量导入Staff时通用职位的匹配范围</span>
            <span>f. 接入QQ第三方登入</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年9月20日 公测开启" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 屏蔽用户头像，主图，介绍</span>
            <span>b. 修复注册时无法验证邮箱的bug，登入时未验证邮箱则引导验证</span>
            <span>c. 修改主图等上传方式为图床</span>
            <span>d. 修复创建词条页面自动完成的bug</span>
            <span>e. 修复未登入状态下访问用户主页获取收藏夹失败的bug</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年9月13日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加Gitee第三方登入</span>
            <span>b. 适配motronic主题</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年9月11日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 统一身份验证方式</span>
            <span>b. 表单编辑样式适配深色模式</span>
            <span>c. 优化背景图显示逻辑</span>
            <span>d. 修改编辑关联词条文章页面输入框样式</span>
            <span>e. 修改数据汇总页面缓存方式</span>
            <span>f. 忘记密码允许使用手机号码验证身份</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年9月5日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加收藏功能</span>
            <span>b. 大幅修改验证码机制</span>
            <span>c. 修改游戏Staff信息的储存格式，添加批量导入Staff的功能</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年8月24日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加上传图片前裁剪的功能</span>
            <span>b. 添加全屏查看图片的功能</span>
            <span>c. 添加游戏页面直接发布动态入口</span>
            <span>d. 移动创建词条文章入口</span>
            <span>e. 修复大量标签编辑相关Bug</span>
            <span>f. 为特定字段添加自动完成</span>
        </div>
        <hr class="mt-3" />
    </div>


    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年8月19日 内测开启" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 修改积分、贡献值计算方式</span>
            <span>b. 添加撤销编辑功能</span>
            <span>c. 添加Editor.md编辑器</span>
            <span>d. 大屏幕下可以使用表格编辑游戏Staff信息</span>
            <span>e. 统一词条文章别称储存方式</span>
            <span>f. 重构审核系统，添加编辑备注</span>
            <span>g. 导入历史用户数据</span>
            <span>h. 添加上传大图片到图床功能，可上传最大50MB的图片</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年7月31日 周年庆直播" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 修复大量词条编辑相关Bug</span>
            <span>b. 添加定时备份到互联网档案馆的功能</span>
            <span>c. 添加消歧义页模块</span>
            <span>d. 添加人机验证</span>
            <span>e. 修改主页布局</span>
            <span>f. 升级到Bootsharp v5</span>
        </div>
        <hr class="mt-3" />
    </div>


    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年7月12日 第三版完成" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 优化词条，文章，用户主页布局</span>
            <span>b. 添加评论和消息通知</span>
            <span>c. 修复中文用户名无法登入的Bug</span>
            <span>d. 添加Server模式下Markdown编辑器可能断流的提示</span>

        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年6月26日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加服务端渲染模式</span>
            <span>b. 更换布局框架，适配大屏幕布局</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年6月10日" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 修改游戏Staff信息样式</span>
            <span>b. 添加数据汇总页面</span>
            <span>c. 添加游戏Steam信息显示</span>
        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年5月21日 第二版完成" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 重构项目为前后端完全分离</span>
            <span>b. 修复编辑列表时数据漂移的缺陷</span>
            <span>c. 优化上传图片流程</span>

        </div>
        <hr class="mt-3" />
    </div>

    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="2021年5月6日 第一版完成" />
        <div class="mt-3" style=" display: flex; flex-direction: column;">
            <span>a. 添加词条，文章，标签，用户板块</span>
            <span>b. 添加审核系统</span>
            <span>c. 完成基本界面设计</span>
        </div>
    </div>
</div>

@code {

}
