<div>
    @foreach (var item in Model)
    {
    <div class="mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.Default.RelevanceOtherTip Model="item" />

    </div>
    }
</div>

@code {
    [Parameter]
    public List<RelevancesKeyValueModel> Model { get; set; } = new List<RelevancesKeyValueModel>();
}
