
<div class="@Class">
    @foreach (var item in Model)
    {
        <MDCard Class="mb-4 pa-3 pb-2">
            @if (string.IsNullOrWhiteSpace(item.Modifier) == false)
            {
                <div class="title-large mb-2">@item.Modifier</div>
            }

            <MRow Dense>
                @foreach (var temp in item.Informations)
                {
                    <MCol Cols="12" Lg="6">
                        <TextPair Model="temp" />
                    </MCol>
                }
            </MRow>

        </MDCard>
    }
</div>


@code {
    [Parameter]
    public List<InformationsModel> Model { get; set; } = new List<InformationsModel>();
    [Parameter]
    public string Class { get; set; }

}
