
<span style=" word-break: break-all; white-space: break-spaces;">
    <strong> @Model.DisplayName：</strong>@Model.DisplayValue
</span>

@code {

    [Parameter]
    public KeyValueModel Model { get; set; }


}
