
<div class="@Class">
    @foreach (var item in Model)
    {
        <MDCard Class="mb-4 pa-3 pb-2">
            @if (string.IsNullOrWhiteSpace(item.Modifier) == false)
            {
                <div class="title-large mb-2">@item.Modifier</div>
            }

            <div class="row">
                @foreach (var temp in item.Informations)
                {
                    <div class="col-12 col-lg-6 pb-1">
                        <TextPair Model="temp" />
                    </div>
                }
            </div>

        </MDCard>
    }
</div>


@code {
    [Parameter]
    public List<InformationsModel> Model { get; set; } = new List<InformationsModel>();
    [Parameter]
    public string Class { get; set; }

}
