
<div class="card h-100  rounded shadow  bg-opacity p-4" style="border:0px">
    <div style="height:100%">
        <h4 class="fw-bold">批量导入功能说明</h4>
        <p class="" style="color: gray;margin-top:20px">
             建议仅在迁移网站时使用该功能，从中导入的词条和文章拥有初始审核记录<br />
            在无法找到关联用户时会关联当前执行导入的管理员账户<br />
            导入数据发生错误时不会中断导入
        </p>
    </div>
</div>
@code {

}
