/*背景图*/
#web_bg::after {
    content: "1";
    font-size: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}


/*纸片*/
#home-page .item:hover .m-chip--outlined {
    color: var( --md-sys-color-on-primary-container) !important;
    caret-color: var( --md-sys-color-on-primary-container) !important;
}

#home-page .item:hover .m-chip {
    border-color: var( --md-sys-color-on-primary-container) !important;
}
