:root {
    --md-source: #FFEB3B;
    --md-sys-color-primary-rgb: 105 95 0;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #201c00;
    --md-ref-palette-primary20: #363100;
    --md-ref-palette-primary25: #433c00;
    --md-ref-palette-primary30: #4f4800;
    --md-ref-palette-primary35: #5c5300;
    --md-ref-palette-primary40: #695f00;
    --md-ref-palette-primary50: #847800;
    --md-ref-palette-primary60: #a09200;
    --md-ref-palette-primary70: #bdad00;
    --md-ref-palette-primary80: #dbc90a;
    --md-ref-palette-primary90: #f9e534;
    --md-ref-palette-primary95: #fff39e;
    --md-ref-palette-primary98: #fff9e8;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #1f1c05;
    --md-ref-palette-secondary20: #343117;
    --md-ref-palette-secondary25: #403c21;
    --md-ref-palette-secondary30: #4b472b;
    --md-ref-palette-secondary35: #575336;
    --md-ref-palette-secondary40: #645f41;
    --md-ref-palette-secondary50: #7d7858;
    --md-ref-palette-secondary60: #979170;
    --md-ref-palette-secondary70: #b2ac89;
    --md-ref-palette-secondary80: #cec7a3;
    --md-ref-palette-secondary90: #ebe3bd;
    --md-ref-palette-secondary95: #f9f1cb;
    --md-ref-palette-secondary98: #fff9e8;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #002113;
    --md-ref-palette-tertiary20: #103726;
    --md-ref-palette-tertiary25: #1d4230;
    --md-ref-palette-tertiary30: #294e3b;
    --md-ref-palette-tertiary35: #345a47;
    --md-ref-palette-tertiary40: #406652;
    --md-ref-palette-tertiary50: #597f6a;
    --md-ref-palette-tertiary60: #729983;
    --md-ref-palette-tertiary70: #8cb49d;
    --md-ref-palette-tertiary80: #a7d0b7;
    --md-ref-palette-tertiary90: #c2ecd3;
    --md-ref-palette-tertiary95: #d0fbe1;
    --md-ref-palette-tertiary98: #e8ffef;
    --md-ref-palette-tertiary99: #f4fff6;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1d1c16;
    --md-ref-palette-neutral20: #32302a;
    --md-ref-palette-neutral25: #3d3b35;
    --md-ref-palette-neutral30: #494740;
    --md-ref-palette-neutral35: #54524c;
    --md-ref-palette-neutral40: #615e57;
    --md-ref-palette-neutral50: #7a776f;
    --md-ref-palette-neutral60: #949089;
    --md-ref-palette-neutral70: #afaba3;
    --md-ref-palette-neutral80: #cac6bd;
    --md-ref-palette-neutral90: #e7e2d9;
    --md-ref-palette-neutral95: #f5f0e7;
    --md-ref-palette-neutral98: #fef9f0;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #1e1c11;
    --md-ref-palette-neutral-variant20: #333124;
    --md-ref-palette-neutral-variant25: #3e3c2f;
    --md-ref-palette-neutral-variant30: #4a473a;
    --md-ref-palette-neutral-variant35: #555345;
    --md-ref-palette-neutral-variant40: #625f50;
    --md-ref-palette-neutral-variant50: #7b7768;
    --md-ref-palette-neutral-variant60: #959181;
    --md-ref-palette-neutral-variant70: #b0ab9a;
    --md-ref-palette-neutral-variant80: #cbc6b5;
    --md-ref-palette-neutral-variant90: #e8e2d0;
    --md-ref-palette-neutral-variant95: #f6f1de;
    --md-ref-palette-neutral-variant98: #fff9e8;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #695f00;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #f9e534;
    --md-sys-color-on-primary-container-light: #201c00;
    --md-sys-color-secondary-light: #645f41;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ebe3bd;
    --md-sys-color-on-secondary-container-light: #1f1c05;
    --md-sys-color-tertiary-light: #406652;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #c2ecd3;
    --md-sys-color-on-tertiary-container-light: #002113;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1d1c16;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1d1c16;
    --md-sys-color-surface-variant-light: #e8e2d0;
    --md-sys-color-on-surface-variant-light: #4a473a;
    --md-sys-color-outline-light: #7b7768;
    --md-sys-color-inverse-on-surface-light: #f5f0e7;
    --md-sys-color-inverse-surface-light: #32302a;
    --md-sys-color-inverse-primary-light: #dbc90a;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #695f00;
    --md-sys-color-outline-variant-light: #cbc6b5;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #dbc90a;
    --md-sys-color-on-primary-dark: #363100;
    --md-sys-color-primary-container-dark: #4f4800;
    --md-sys-color-on-primary-container-dark: #f9e534;
    --md-sys-color-secondary-dark: #cec7a3;
    --md-sys-color-on-secondary-dark: #343117;
    --md-sys-color-secondary-container-dark: #4b472b;
    --md-sys-color-on-secondary-container-dark: #ebe3bd;
    --md-sys-color-tertiary-dark: #a7d0b7;
    --md-sys-color-on-tertiary-dark: #103726;
    --md-sys-color-tertiary-container-dark: #294e3b;
    --md-sys-color-on-tertiary-container-dark: #c2ecd3;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1d1c16;
    --md-sys-color-on-background-dark: #e7e2d9;
    --md-sys-color-surface-dark: #1d1c16;
    --md-sys-color-on-surface-dark: #e7e2d9;
    --md-sys-color-surface-variant-dark: #4a473a;
    --md-sys-color-on-surface-variant-dark: #cbc6b5;
    --md-sys-color-outline-dark: #959181;
    --md-sys-color-inverse-on-surface-dark: #1d1c16;
    --md-sys-color-inverse-surface-dark: #e7e2d9;
    --md-sys-color-inverse-primary-dark: #695f00;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #dbc90a;
    --md-sys-color-outline-variant-dark: #4a473a;
    --md-sys-color-scrim-dark: #000000;
    
}
