@inject HttpClient Http
@inject ToastService? ToastService
@inject IJSRuntime JS
@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager

<div class="mb-3 rounded shadow-sm">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaCarousel Model="Images" OnClick="OnClick" HideDelimiters />

</div>
<CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent @ref="trackEven" />

@code {
    private List<CarouselViewModel> Images = new List<CarouselViewModel>();
    private List<CarouselViewModel> Carousels { get; set; } = new List<CarouselViewModel>();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent trackEven;


    protected override async Task OnInitializedAsync()
    {

        try
        {

            Carousels = await _dataCacheService.HomePageCarouselsCatche.GetCache(ToolHelper.WebApiPath + "api/home/GetHomeCarouselsView");

            Images = Carousels.OrderByDescending(s => s.Priority).Take(3).ToList();
            if (Carousels.Count >= 6)
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x.Image) == false).ToList().Random().Take(3));

            }
            else
            {
                Images.AddRange(Carousels.Where(s => Images.Any(x => s.Image == x.Image) == false));
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取轮播图列表失败");
        }
    }



    private async Task OnClick(CarouselViewModel model)
    {
        if (trackEven != null)
        {
            await trackEven.SendTrackEvent(TrackEventType.Click, TrackEventDataType.Carousel, model.Id.ToString(), model.Note);
        }
    }

}
