@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="最新动态" Icon="fa fa-fw fa-newspaper-o" Class="mb-3" Outline Small>
    <ButtonContent>

            <MButton XSmall Text Block Color="@_dataCacheService.ThemeSetting.Theme" OnClick="@(()=>NavigationManager.NavigateTo("/articles/news"))">
                <MIcon Left>mdi-share-all-outline  </MIcon>
                查看更多
            </MButton>
    </ButtonContent>
    <ChildContent>
        <div class="row">
            @foreach (var item in Items)
            {
                <div class="col-12 col-md-6 mb-3">
                    <CnGalWebSite.Shared.AppComponent.Normal.Cards.NewsThumbnailCard Model="@item"></CnGalWebSite.Shared.AppComponent.Normal.Cards.NewsThumbnailCard>
                </div>
            }
        </div>
    </ChildContent>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
@code {
    public int ItemNum { get; set; } = 3;
    public bool IsSmallScreen { get; set; } = true;
    public bool IsNormalScreen { get; set; }
    public bool IsLargeScreen { get; set; }
    public bool IsXLargeScreen { get; set; }

    public List<CnGalWebSite.Shared.AppComponent.Normal.Cards.NewsThumbnailCardModel> Items { get; set; } = new List<Normal.Cards.NewsThumbnailCardModel>();
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {

            try
            {
                var model =await _dataCacheService.HomePageNewsCatche.GetCache(ToolHelper.WebApiPath + "api/home/GetHomeNewsView");

                foreach (var item in model.Take(3))
                {
                    Items.Add(new Normal.Cards.NewsThumbnailCardModel
                    {
                        GroupId = item.GroupId,
                        Image = item.Image,
                        Text = item.Text,
                        Time = item.Time,
                        Title = item.Title,
                        Type = item.Type,
                        Url =item.Link??( "/articles/index/" + item.ArticleId),
                        ArticleId=item.ArticleId,
                        IsOutLink=!string.IsNullOrWhiteSpace(item.Link)
                    });
                }
            }
            catch (Exception ex)
            {
                ErrorHandler.ProcessError(ex, "获取动态列表失败");
            }
    }
}
