<div style="display: flex; justify-content: center;" class="rounded shadow-sm p-2 bg-opacity">
    <div style=" display: flex;">
        @Text1
        <u>
            <a href="@Text3" target="_blank" class="word-warp-break a-font-color"  rel="noreferrer">@Text4</a>
        </u>
        &nbsp; @Text5
    </div>
</div>

@code {
    public string Text1 { get; set; } = "欢迎加入CnGal玩家交流群：";
    public string Text2 { get; set; } = "点击链接加入群聊【CnGal资料站】";
    public string Text3 { get; set; } = "https://jq.qq.com/?_wv=1027&k=mG6qNvyg";
    public string Text4 { get; set; } = "128446539";
    public string Text5 { get; set; } = "";

    public int Index { get; set; }

    private System.Threading.Timer mytimer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //启动定时器
            mytimer = new System.Threading.Timer(new System.Threading.TimerCallback(Send), null, 0, 1000 * 6);

        }
    }
    public async void Send(object o)
    {
        try
        {
            await InvokeAsync(() =>
            {
                Index++;
                Index = Index % 3;


                Text1 = Index switch
                {
                    0 => "欢迎加入CnGal玩家交流群：",
                    1 => "编辑者交流与BUG反馈群：",
                    2 => "",
                };
                Text2 = Index switch
                {
                    0 => "点击链接加入群聊【CnGal资料站】",
                    1 => "点击链接加入群聊【CnGal-NewType反馈群】",
                    2 => "点击加入 CnGal QQ频道",
                };
                Text3 = Index switch
                {
                    0 => "https://jq.qq.com/?_wv=1027&k=mG6qNvyg",
                    1 => "https://jq.qq.com/?_wv=1027&k=JzuI1IkF",
                    2 => "https://qun.qq.com/qqweb/qunpro/share?_wv=3&_wwv=128&inviteCode=onAQQ&from=246610&biz=ka",
                };
                Text4 = Index switch
                {
                    0 => "128446539",
                    1 => "761794704",
                    2 => "点击加入 CnGal QQ频道",
                };
                Text5 = Index switch
                {
                    0 => "",
                    1 => "欢迎加入",
                    2 => "",
                };
                StateHasChanged();
                StateHasChanged();
            });
        }
        catch
        {

        }
    }

}
