<div class="pa-3 pt-2 pb-2">
    <div class="title-medium">
        @($"『{ Model.Id.ToString("00000")}』{Model.Operation.GetDisplayName()}")
    </div>
    <div class="label-large" style="display: flex;justify-content: space-between;">
        <div>
             @Model.UserName
        </div>
        <div>
           @Model.ApplyTime.ToString("yyyy/M/d HH:mm")
        </div>
    </div>

</div>

@code {
    [Parameter]
    public EditRecordAloneViewModel Model { get; set; }


}
