

<TitleTip Title="文章" Description="查看CnGal每周速报，游戏评测，制作组动态等众多内容"></TitleTip>
<div class="mb-4">
    <CnGalWebSite.Shared.MasaComponent.PC.Articles.Home.RandomArticleGroup />
</div>
<div class="mb-4">
    <CnGalWebSite.Shared.MasaComponent.PC.Articles.Home.WeeklyNewsGroup />

</div>
<div>
    <CnGalWebSite.Shared.MasaComponent.PC.Articles.Home.GameEvaluationGroup />
</div>

@code {

}

