<div style="@($"display: flex; height:{Height}; width: 100%; flex-direction: column; justify-content: center; align-items: center;")">
    <i style=" font-size: xx-large; " class="fa fa-spinner fa-pulse font-color"></i>
</div>

@code {
    [Parameter]
    public string Height { get; set; } = "calc(100vh)";
}
