<div style="display: flex; height: calc(100vh); width: 100%; flex-direction: column; justify-content: center; align-items: center;">
    <i style=" font-size: xx-large; " class="fa fa-spinner fa-pulse font-color"></i>
</div>

@code {

}
