@inject ToastService ToastService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<MDialog @bind-Value="Dialog"
         MaxWidth="1200">
    <MCard>
        <MCardTitle Class="text-h5">
            @Model.Game.Name
        </MCardTitle>
        <MCardText Class="pb-2">
            @Model.Game.BriefIntroduction
        </MCardText>
        @if (showChart)
        {
            <MCardText Class="pb-0">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <TotalScoreCard Model="Model" Outline />
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <ScoreCountChart Model="Model" Outline/>
                    </div>
                </div>
            </MCardText>

        }

        <MCardText>
            <UserScoreGroup Model="Model" OnEdit="OnEdit" ShowBlankAction/>
        </MCardText>
    </MCard>
</MDialog>


@code {

    public PlayedGameOverviewModel Model { get; set; }

    bool Dialog { get; set; }
    bool showChart { get; set; }

    [Parameter]
    public EventCallback OnEdit { get; set; }


    public async Task Refresh(bool dialog, PlayedGameOverviewModel model)
    {
        Dialog = dialog;
        Model = model;

        await Task.Delay(500);
        showChart = true;

        StateHasChanged();
    }

}
