@if (isReady)
{
    <div class="@(Outline?"":"rounded shadow-sm  bg-opacity h-100")">
        @if (Model.UserScores.Any() || Model.MyScores.Socres.IsScored)
        {
            <div>
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.Charts.MasaRadarChart Model="model" MaxHeight="@("350px")" MaxWidth="@("300px")"/>
            </div>

        }
        else
        {
            <div class="mb-2" style=" display: flex; justify-content: center;">
                暂无记录
            </div>
        }
    </div>
}




@code {
    [Parameter]
    public bool Outline { get; set; }

    [Parameter]
    public PlayedGameOverviewModel Model { get; set; }

    EChartsRadarOptionModel model = new EChartsRadarOptionModel();
    bool isReady;
    protected override async Task OnParametersSetAsync()
    {
        if (Model.UserScores.Any() == false && Model.MyScores.Socres.IsScored == false)
        {
            isReady = true;
            return;
        }

        if (model.Radar.Indicator.Any() == false)
        {
            model.Radar.Indicator.Add(new EChartsRadarOptionIndicator
            {
                Name = "总评"
            });
            model.Radar.Indicator.Add(new EChartsRadarOptionIndicator
            {
                Name = "剧本"
            });
            model.Radar.Indicator.Add(new EChartsRadarOptionIndicator
            {
                Name = "演出"
            });
            model.Radar.Indicator.Add(new EChartsRadarOptionIndicator
            {
                Name = "美术"
            });

            model.Radar.Indicator.Add(new EChartsRadarOptionIndicator
            {
                Name = "音乐"
            });

            model.Series.Add(new EChartsRadarOptionSery
            {
                Name = "评分"
            });
        }
        model.Legend.Data.Clear();
        model.Legend.Data.Add("所有");
        model.Legend.Data.Add("过滤后");

        var series = model.Series.First().Data;
        series.Clear();
        series.Add(new EChartsRadarOptionSeryData
        {
            Name = "所有",
            Value = new List<double> { Model.GameTotalScores.TotalSocre, Model.GameTotalScores.ScriptSocre, Model.GameTotalScores.ShowSocre, Model.GameTotalScores.PaintSocre, Model.GameTotalScores.MusicSocre }
        });
        series.Add(new EChartsRadarOptionSeryData
        {
            Name = "过滤后",
            Value = new List<double> { Model.GameReviewsScores.TotalSocre, Model.GameReviewsScores.ScriptSocre, Model.GameReviewsScores.ShowSocre, Model.GameReviewsScores.PaintSocre, Model.GameReviewsScores.MusicSocre }
        });


        if (Model.MyScores != null && Model.MyScores.Socres.IsScored)
        {
            model.Legend.Data.Add("我的");
            series.Add(new EChartsRadarOptionSeryData
            {
                Name = "我的",
                Value = new List<double> { Model.MyScores.Socres.TotalSocre, Model.MyScores.Socres.ScriptSocre, Model.MyScores.Socres.ShowSocre, Model.MyScores.Socres.PaintSocre, Model.MyScores.Socres.MusicSocre }
            });
        }

        isReady = true;
    }

}
