@inject IHttpService _httpService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

@if (Model.Any())
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Outline Title="相关视频" Icon="@IconType.Video.ToIconString()" Class="mb-4">
            <ChildContent>
                 <MSlideGroup ShowArrows="true" Class="slide-group-garp mb-4">
                    <ChildContent>
                        @foreach (var item in Model)
                        {
                            <MSlideItem>
                                <div style="width:200px">
                                    <InforCard Model="item" />
                                </div>
                            </MSlideItem>
                        }
                    </ChildContent>

                </MSlideGroup>
            </ChildContent>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
   
}


@code {
    [Parameter]
    public List<VideoInforTipViewModel> Model { get; set; }

}
