
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="参与投票的用户" Icon="fa fa-fw fa-users" Outline Collapable>
    <div class="row">
        @foreach (var item in Model.Users)
        {
            <div class="col-12 col-lg-6 pb-2">
                <UserInforCard Model="item" />
            </div>
            temp = !temp;
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public VoteViewModel Model { get; set; }
    bool temp = false;
}
