<div>
    <div class="shadow rounded  bg-opacity ps-3 pe-3 mb-3">
        <div style="display: block;">
            <h2 class="fw-bold pt-3 pb-3 m-0 font-color h4"><i class="fa fa-codepen"></i>&nbsp;&nbsp;参与投票的用户</h2>
        </div>
    </div>
    <div>
        @foreach (var item in Model.Users)
        {
            <UserInforCard Model="item" />
        }
    </div>
</div>

@code {
    [Parameter]
    public VoteViewModel Model { get; set; }
}
