<div class="mb-4">
    <div class="shadow-sm rounded  bg-opacity ps-3 pe-3 mb-2">
        <div style="display: block;">
            <h2 class="fw-bold pt-2 pb-2 m-0 font-color h5"><i class="fa fa-codepen"></i>&nbsp;&nbsp;相关推荐</h2>
        </div>
    </div>
    <div>
        @foreach (var item in Model.Entries)
        {
            <div class="mt-2">
                <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" ColorNum="main"/>

            </div>
        }
    </div>
    <div>
        @foreach (var item in Model.Artciles)
        {<div class="mt-2">
                <CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip Model="item" />

            </div>
        }
    </div>
    <div>
        @foreach (var item in Model.Peripheries)
        {
            <div class="mt-2">
                <CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip Model="item" />

            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public VoteViewModel Model { get; set; }
}
