@inject HttpClient Http

@inject ToastService? ToastService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

@if (DateTime.Now.ToCstTime() > Model.BeginTime && DateTime.Now.ToCstTime() < Model.EndTime)
{
    <div style="display: flex; flex-direction: column; align-content: center;">
        @if (Model.ShowResult == false)
        {
            <Checkbox TValue="string" State="CheckboxState.UnChecked" DisplayText="匿名参与投票" ShowAfterLabel="true" class="ms-1 mb-2" OnStateChanged="OnSeletedItemChanged"></Checkbox>
            <div style=" display: flex; justify-content: center; ">
                <Button Icon="fa fa-check" Text="投票" Color="Color.Dark" IsAsync="true" OnClick="OnClickVoted" style=" width: 100px;" />
            </div>
        }
        else
        {
            <div style=" display: flex; justify-content: center; ">
                <Button Icon="fa fa-refresh" Text="重新投票" Color="Color.Dark" IsAsync="true" OnClick="OnClickReVoted" style=" width: 100px;" />
            </div>
        }
    </div>

}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.DeviceIdentification @ref="deviceIdentification" />

@code {
    [Parameter]
    public VoteViewModel Model { get; set; }
    [Parameter]
    public EventCallback OnVoted { get; set; }
    [Parameter]
    public EventCallback OnReVoted { get; set; }

    public CheckboxState IsAnonymous { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    CnGalWebSite.Shared.MasaComponent.Shared.Components.DeviceIdentification deviceIdentification;


    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    public async Task OnClickReVoted()
    {
        await OnReVoted.InvokeAsync();
    }

    public async Task OnClickVoted()
    {
        //判断用户是否登录
        var user = await authenticationStateTask;
        if (user.User.Identity.IsAuthenticated == false)
        {
            if (_dataCacheService.IsApp == true)
            {
                NavigationManager.NavigateTo("account/apps/login/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));

            }
            else
            {
                NavigationManager.NavigateTo("account/login/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));

            }
            return;
        }
        try
        {

            var result = await Http.PostAsJsonAsync<UserVoteModel>(ToolHelper.WebApiPath + "api/votes/UserVote", new UserVoteModel
            {
                IsAnonymous = IsAnonymous == CheckboxState.Checked,
                VoteId = Model.Id,
                VoteOptionIds = Model.UserSelections,
                Identification = await deviceIdentification.GetDeviceIdentificationModel()
            });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("投票失败", obj.Error);
            }
            else
            {
                await ToastService.Success("投票成功", "投票成功");
                await OnVoted.InvokeAsync();
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "投票失败");
        }
    }

    public async Task OnSeletedItemChanged(CheckboxState state, string str)
    {

        IsAnonymous = state;
    }
}
