@inject ToastService ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager


<div>
    @if (Model.RelatedEntries.Any())
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa-codepen" Title="相关词条" Outline Collapable>
            <div class="mt-3">


                <div>
                    @foreach (var item in Model.RelatedEntries)
                    {
                        <div class="mb-3">
                            <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" ShowType />
                        </div>
                    }

                </div>
            </div>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    }
    @if (Model.RelatedArticles.Any())
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw  fa-newspaper-o" Title="相关文章" Outline Collapable>
            <div class="mt-3">


                <div>
                    @foreach (var item in Model.RelatedArticles)
                    {
                        <div class="mb-3">
                            <CnGalWebSite.Shared.Component.Search.NewVersion.ArticleInforViewTip Model="item" />
                        </div>
                    }

                </div>
            </div>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    }

</div>


@code {
    [Parameter]
    public ArticleViewModel Model { get; set; } = new ArticleViewModel();
}
