@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace CnGalWebSite.RobotClientX.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="_content/Masa.Blazor/css/masa-blazor.min.css" rel="stylesheet" />
    <link href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css" rel="stylesheet">

    <link href="css/site.css" rel="stylesheet" />
    <link href="CnGalWebSite.RobotClientX.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        发生了一个未知错误，请加群 761794704 反馈，或者按下F12查看控制台输出
        <a href="" class="reload">刷新</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
