@inject IJSRuntime JS
@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@implements IDisposable

<div style="height:800px">
    <div id="editor">
    </div>
</div>
@code {
    [Parameter]
    public string Context { get; set; }
    [Parameter]
    public EventCallback<string> ContextChanged { get; set; }

    private System.Threading.Timer mytimer;

    public async Task<string> GetContext()
    {
        if (isLoaded)
        {
            Context = await JS.InvokeAsync<string>("getEditorMdContext");
        }
        return Context;
    }
    public async Task AddContext(string context)
    {
        if (isLoaded)
        {
            await JS.InvokeAsync<string>("addEditorMdContext", context);
        }
        Context += context;
    }
    bool isLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            //初始化编辑器
            await JS.InvokeAsync<string>("initEditorMd", Context);
            isLoaded = true;
            //启动定时器
            mytimer = new System.Threading.Timer(new System.Threading.TimerCallback(Send), null, 0, 1000 * 1);

        }
    }
    private async void Send(object o)
    {
        await InvokeAsync(async () =>
        {
            try
            {
                var context = Context;
                await GetContext();

                if (context != Context)
                {
                    await ContextChanged.InvokeAsync(Context);
                }
            }
            catch
            {

            }
        });

    }
    public void Dispose()
    {
        if (mytimer != null)
        {
            mytimer.Dispose();
            mytimer = null;
        }
        GC.SuppressFinalize(this);
    }
}
