
#web_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.bg-opacity {
    background-color: white!important;
}
.bg-theme {
    background-color: white!important;
}

/*自动换行*/
.word-warp-break {
    word-wrap: break-word;
    word-break: break-all;
}
/*文章信息展示*/
.article-infor-text {
    font-size: 13px;
}

/*评论样式*/
.comment-tag {
    width: fit-content;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
    word-break: keep-all;
    height: fit-content;
}

.comment-layout-child {
    width: 100%;
    background-color: rgba(255, 253, 241, 0.7) !important;
}

.comment-layout {
    width: 100%;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.comment-username {
    cursor: pointer;
}

.comment-time {
}

.comment-tx-div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-reply {
    margin-top: 0px;
    margin-left:10px;
    padding: 0 10px;
    border: 1px solid #00A4FF;
    border-radius: 2px;
    box-shadow: none;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.comment-reply-color {
    border-color: #D979A2;
    color: white;
    background-color: #D979A2;
}


    .comment-reply-color:hover {
        border-color: #D979A2;
        color: #D979A2;
        background-color: transparent;
    }

.comment-reply-layout-btn {
    padding: 0 10px;
    height: 35px;
    width: 100%;
    border: 1px solid #00A4FF;
    border-radius: 2px;
    box-shadow: none;
    color: #00A4FF;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


.message-link {
    margin: 0 0px;
    padding: 0 10px;
    height: 23px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: none;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/*评论输入框样式*/
.comment-rely-textarea {
    height: 120px;
    font-size: 19px;
    font-weight: 300;
}
/*消息通知样式*/
.message-link {
    padding: 0px 5px;
    border: 1px solid #e87461;
    border-radius: 0;
    box-shadow: none;
    color: #e87461;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    height:23px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 5px;
}


    /*主页文章列表样式*/
.aticle-home-layout {
    transition: all .6s ease;
}


.article-home-username {
    font-size: 22px;
    margin-left: 10px;
    font-weight: 600;
}

.article-home-text {
    font-size: 15px;
    margin-left: 0px;
    padding: 0px;
    font-weight: 100;
}

.article-home-tag {
    color: white;
    border-radius: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 8px;
    word-break: keep-all;
}

.article-home-infor-text {
    font-size: 13px;
}

.article-home-layout-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

}

@media(min-width: 576px){
    .d-sm-inline {
        display: inline !important;
    }
    .d-sm-flex {
        display: flex !important;
    }
}
@media(max-width: 576px) {
    .bg-d-lg-block {
        display: block !important;
    }
}

/*评论渐变样式*/
.comment-layout-transition {
    transition: all .6s ease;
}
.div-shadow {
    transition: all .6s ease;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    cursor: pointer;
}

.div-shadow:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}
/*不换行样式 替换row*/
.new-row-warp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.real-time-p{
    color:gray;
}


/*大图预览*/
.largeimage-bg {
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0,0,0,.7);
    position: fixed;
    z-index: 1050;
}



.largeimage-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.largeimage-btn-close {
    font-size: 50px;
    position: fixed;
    right: 0px;
    color: white;
    top: 0px;
}

.largeimage-layout-in {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.largeimage-btn-left {
    font-size: 50px;
    color: white;
}

.largeimage-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    /*height: fit-content;*/
    align-self: center;
}

.largeimage-a {
    max-height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.largeimage-layout-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a-font-color {
    color: var(--bs-body-color) !important;
}

.a-font-color:hover {
    color: var(--bs-body-color) !important;
}
.home-card-name-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:16px;
}
@media(max-width: 789px) {
    .home-listview-small {
        display: block;
    }
    .home-listview-normal {
        display: none;
    }
    .home-listview-large {
        display: none;
    }
}
@media(min-width: 789px) {
    .home-listview-small {
        display: none;
    }

    .home-listview-normal {
        display: block;
    }

    .home-listview-large {
        display: none;
    }
}
@media(min-width: 1517px) {
    .home-listview-small {
        display: none;
    }

    .home-listview-normal {
        display: none;
    }

    .home-listview-large {
        display: block;
    }
}

/*SSR错误提示*/
 .components-reconnect-show {
    top: 0;
    display: flex !important;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1080;
    background-color: rgba(0,0,0,.4);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
#components-reconnect-modal{
    display: none;
}

/*固定行数*/
.text-truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.text-truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.text-truncate-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.outline-button-title {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 25px;
    font-size: small !important;
    padding-top: 6px;
    font-weight: normal;
}
.outline-button-null-url {
    transition: all .6s ease;
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}
.outline-button-normal {
    transition: all .6s ease;
    word-break: keep-all;
    margin-top: 0px;
    height: 25px;
    margin-bottom: 5px;
    font-size: small !important;
    padding-top: 2px;
    font-weight: normal;
}
/*页脚*/
.load-footer a:hover {
    color: var(--hover-color)!important;
}

.load-footer a {
    color: gray!important;
}

.pointer{
    cursor:pointer!important;
}

.login-h1-text{  
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
}
/*相册查看组件*/
.image-overlays {
    opacity: .4;
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
}

.image-overlays.active {
    opacity: 1!important;
}

.image-overlays:hover {
    opacity: 1;
}
.image-contain {
    height: 100%;
    background-position: center top;
    background-size: cover;
}

/*移动端 小卡片 标签样式*/
.app-card-tag {
    background-color:  var(--main-color);
    color: #fff;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}

body {
    background-color: #f5f6f7;
}

/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
}
/*视觉反馈*/
a:focus-visible {
    outline: thin dotted;
}

code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
/*wasm加载*/
.loading-progress {
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.3rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #F06292;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    font-weight: bold;
    color: #F06292;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
/*图片注释*/
img + strong {
    display: flex;
    justify-content: center;
    font-weight: inherit !important;
    margin-top: .66667em;
    color: #999;
    font-size: .9em
}

a img + strong {
    color: var(--main-color) !important;
}

p > img {
    display: flex;
    justify-content: center;
}

/*视频注释*/
.aspect-ratio + p > strong {
    display: flex;
    justify-content: center;
    font-weight: inherit !important;
    margin-top: .66667em;
    color: #999;
    font-size: .9em
}

a .aspect-ratio + p > strong {
    color: var(--main-color) !important;
}
/* 这个规则规定了iframe父元素容器的尺寸，我们要去它的宽高比应该是 25:14 */
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%; /* 高度应该是宽度的56% */
}

    /* 设定iframe的宽度和高度，让iframe占满整个父元素容器 */
    .aspect-ratio iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
/*旋转*/
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.icon-rotate {
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

.ContributionCalendar-day {
    margin: 0.15rem;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 2px;
}

.ContributionCalendar-color-x {
    background-color: transparent
}

.ContributionCalendar-color-0 {
    background-color: #ECEDEF
}

.ContributionCalendar-color-1 {
    background-color: #C7E293
}

.ContributionCalendar-color-2 {
    background-color: #75CC6B
}

.ContributionCalendar-color-3 {
    background-color: #209A3B
}

.ContributionCalendar-color-4 {
    background-color: #1F5B21
}

.ContributionCalendar-font {
    font-size: 12px;
    align-content: center;
    margin-bottom: 0.1rem;
    color: #666666;
}

.ContributionCalendar-tip-font {
    font-size: 11px;
    color: #666666;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow : 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1080;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.page-layout-demo-footer-link {
    color: #ebeef5;
}

.page-layout-demo-footer-link:hover {
    color: #fff;
}

.page-layout-demo-option {
    margin-top: 1.5rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    padding: 1.5rem 1rem 1rem 1rem;
    position: relative;
}

.page-layout-demo-option > p {
    position: absolute;
    top: -10px;
    padding: 0 0.5rem;
    background: #fff;
}

.page-layout-demo-option .page-layout-demo-option-height {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-layout-demo-option .tabs-body-content {
    margin: 0 -1rem -2rem -1rem;
}

.layout-drawer {
    padding: 13px;
    margin-right: -1rem;
    cursor: pointer;
}

.layout-drawer:hover {
    background-color: #1893a7;
}

.layout-drawer-body {
    padding: 1rem;
}

.layout-item {
    cursor: pointer;
    border: 2px solid #e9ecef;
    padding: 4px;
    border-radius: 4px;
    height: 80px;
    width: 120px;
    transition: border .3s linear;
}

    .layout-item:hover,
    .layout-item.active {
        border: 2px solid #28a745;
    }

    .layout-item .layout-left {
        width: 30%;
    }

        .layout-item .layout-left .layout-left-header {
            height: 16px;
            background-color: #367fa9;
        }

        .layout-item .layout-left .layout-left-body,
        .layout-item .layout-body .layout-left {
            background-color: #2f4050;
        }

    .layout-item .layout-right .layout-right-header,
    .layout-item .layout-top {
        background-color: #17a2b8;
        height: 16px;
    }

    .layout-item .layout-right .layout-right-footer,
    .layout-item .layout-footer {
        background-color: #5b6e84;
        height: 12px;
    }

    .layout-item .layout-top,
    .layout-item .layout-body,
    .layout-item .layout-footer {
        width: 100%;
    }

.layout.is-page .layout-right,
.layout.is-page .layout-main {
    background-color: #fff;
}

.color {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    cursor: pointer;
    border: 2px solid #e9ecef;
    border-radius: 4px;
    transition: border .3s linear;
}

    .color:hover {
        border: 2px solid #28a745;
    }

.color1,
.layout.is-page.color1 .layout-header {
    background-color: #409eff;
}

.layout.is-page.color1 .layout-side .layout-banner {
    background-color: #3e84d0
}

.layout.is-page.color1 .layout-side {
    background-color: #212529;
    color: #ebeef5;
}

.layout.is-page.color1 .layout-footer {
    background-color: #343a40;
}

.layout.is-page.color1 .layout-header-bar {
    background-color: #2b7cd0;
    border-color: #014186;
}

.layout.is-page.color1 .layout-drawer:hover {
    background-color: #3184dc;
}

.color2,
.layout.is-page.color2 .layout-header {
    background-color: #28a745;
}

.layout.is-page.color2 .layout-side .layout-banner {
    background-color: #24903d
}

.layout.is-page.color2 .layout-side {
    background-color: #212529;
    color: #ebeef5;
}

.layout.is-page.color2 .layout-footer {
    background-color: #343a40;
}

.layout.is-page.color2 .layout-header-bar {
    background-color: #258c3c;
    border-color: #014186;
}

.layout.is-page.color2 .layout-drawer:hover {
    background-color: #24903d;
}

.color3,
.layout.is-page.color3 .layout-header {
    background-color: #e83e8c;
}

.layout.is-page.color3 .layout-side .layout-banner {
    background-color: #c5417e
}

.layout.is-page.color3 .layout-side {
    background-color: #212529;
    color: #ebeef5;
}

.layout.is-page.color3 .layout-footer {
    background-color: #343a40;
}

.layout.is-page.color3 .layout-header-bar {
    background-color: #c73477;
    border-color: #014186;
}

.layout.is-page.color3 .layout-drawer:hover {
    background-color: #c5417e;
}

.color4,
.layout.is-page.color4 .layout-header {
    background-color: #ffc107;
}

.layout.is-page.color4 .layout-side .layout-banner {
    background-color: #e4af10
}

.layout.is-page.color4 .layout-side {
    background-color: #212529;
    color: #ebeef5;
}

.layout.is-page.color4 .layout-footer {
    background-color: #343a40;
}

.layout.is-page.color4 .layout-header-bar {
    background-color: #e2b221;
    border-color: #014186;
}

.layout.is-page.color4 .layout-drawer:hover {
    background-color: #e4af10;
}

.color5,
.layout.is-page.color5 .layout-header {
    background-color: #17a2b8;
}

.color6,
.layout.is-page.color6 .layout-header {
    background-color: #6610f2;
}

.layout.is-page.color6 .layout-side .layout-banner {
    background-color: #4b0cb3
}

.layout.is-page.color6 .layout-side {
    background-color: #212529;
    color: #ebeef5;
}

.layout.is-page.color6 .layout-footer {
    background-color: #343a40;
}

.layout.is-page.color6 .layout-header-bar {
    background-color: #4b0ab5;
    border-color: #014186;
}

.layout.is-page.color6 .layout-drawer:hover {
    background-color: #4b0cb3;
}

.widget .dropdown-body h3 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
}

.widget .dropdown-body h4 {
    color: #444444;
    font-size: 15px;
    margin: 0;
}

.widget .dropdown-body small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.widget .dropdown-item > div:not(.progress):last-child {
    width: calc(100% - 40px);
}

.widget .dropdown-item {
    padding: 0.5rem 1rem;
}

.widget .progress {
    height: 7px;
}

.widget .dropdown-item.active,
.widget .dropdown-item:active {
    color: inherit;
}

.widget .dropdown-item:not(:nth-of-type(odd)):active {
    background-color: inherit;
}


#top {
    position: relative;
    height: calc(100vh - 64px);
    min-height: calc(100vw * 0.5);
    max-height: calc(100vw * 0.7);
    background-size: cover;
    background-position: center 70%;
    color: #fff;
    overflow: hidden;
    transition: all .6s ease;
}
@media screen and (max-width: 768px) {
    #top {
        max-height: none;
        height: calc(100vh - 48px);
    }
}
    #top .copy {
        position: absolute;
        left: 8%;
        top: 20%;
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 0.3rem;
    }

    #top .infor {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    #top .logo-area .lead {
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        padding: 0 30px;
    }

    #top .logo-area {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 4vh;
    }
@media screen and (max-width: 768px) {
    #top .logo-area {
        bottom: 18%;
    }
        #top .logo-area .lead {
            font-size: 1rem;
        }

    #top .copy {
        font-size: 1rem;
    }
}
        #top .logo-area h1 {
            color: #fff;
            width: 100%;
            display: flex;
            justify-content: center;
        }

            #top .logo-area h1 img {
                color: #fff;
                width: 50%;
                min-width: 300px;
            }

            #top .logo-area h1 span {
                font-size: 7rem;
                display: flex;
                text-align: center;
                justify-content: center;
                font-family: 华文行楷;
                width: 70%;
                min-width: 300px;
            }

    .official-website {
        background-color: rgba(255, 255, 255, 0.8) !important;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.05rem !important;
        line-height: 1.8rem !important;
    }

        .official-website section h2::before {
            display: block;
            content: " ";
            height: 2px;
            width: calc((100% - 1200px) / 2 - 20px);
            min-width: 20px;
            background: var(--main-color);
            margin-right: 20px;
        }

        .official-website section h2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 0 6rem;
            font-family: "Lato", sans-serif;
            letter-spacing: 0.5rem;
            font-weight: bold;
            color: var(--main-color);
        }

        .official-website section {
            margin: 0 0 10rem;
        }

    @media screen and (max-width: 768px) {
        .official-website section {
            margin: 0 0 4rem;
        }
        #top .logo-area h1 span {
            font-size: 4rem;
        }
    }

    @media screen and (max-width: 768px) {
        .official-website section h2 {
            padding-bottom: 3rem;
        }
    }

    .official-website .markdown-body h2 {
        padding: 0 0 .3rem;
    }

    .character-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        padding: 30px 80px 0 80px;
        gap: 10px 3%;
    }

    @media screen and (max-width: 768px) {
        .character-card {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0 20px;
        }
    }

    .character-card img {
        align-self: center;
        height: 45%;
        max-height: 666px;
    }

    .character-card .caption {
        max-width: 460px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        border-left: 2px solid var(--main-color);
        padding-left: 20px;
        letter-spacing: 0.05rem !important;
        line-height: 1.8rem !important;
        font-size: 1rem !important;
    }

    @media screen and (max-width: 768px) {
        .character-card .caption {
            max-width: 450px;
            width: 100%;
            padding: 20px 0 0px;
            border-left: none;
            border-top: 2px solid var(--main-color);
            line-height: 1.25rem !important;
            font-size: .875rem !important;
        }
    }

    .character-card .caption .name {
        font-size: 2.5rem;
        color: var(--main-color);
        letter-spacing: 0.2rem;
        line-height: 3rem;
        font-weight: bold;
    }

    .character-card .caption .cv {
        letter-spacing: 0.1rem;
        margin-top: 15px;
    }

    .character-card .caption .audio {
        margin-top: 15px;
    }

        .character-card .caption .audio + .infor {
            margin-top: 15px;
        }

    .character-card .caption .infor {
        margin-top: 35px;
    }

        .character-card .caption .infor div {
            letter-spacing: 0.1rem;
            margin-top: 5px;
            font-weight: bold;
        }

    .character-card .caption .description {
        margin-top: 40px;
        white-space: pre-line;
    }

    .character-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .character-list .m-card {
        border-radius: 50%;
        margin: 16px;
    }

    @media screen and (max-width: 768px) {
        .character-card .caption .name {
            font-size: 1.5rem;
        }

        .character-card .caption .cv {
            margin-top: 0;
        }

        .character-card .caption .audio {
            margin-top: 10px;
        }

        .character-card .caption .infor div {
            margin-top: 0;
            letter-spacing: 0;
        }

        .character-card .caption .audio + .infor {
            margin-top: 10px;
        }

        .character-card .caption .infor {
            margin-top: 20px;
        }

        .character-card .caption .description {
            margin-top: 20px;
        }

        .character-icon {
            width: 50px;
            height: 50px;
        }

        .character-list .m-card {
            margin: 6px;
        }
    }



    .character-icon.active {
        background-color: var(--main-color);
    }

    .official-website .m-slide-group__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .staff-card {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: space-between;
    }

        .staff-card .group {
            margin: 2rem;
        }

            .staff-card .group > .name {
                background-color: var(--main-color);
                color: white;
                display: flex;
                justify-content: center;
                font-weight: bold;
                margin: 0 0.5rem 1.5rem 0.5rem;
                padding: 0 1rem;
            }

        .staff-card .posts {
            display: flex;
        }

            .staff-card .posts > .name {
                margin-right: 1rem;
                width: 84px;
                font-weight: bold;
            }

        .staff-card .group-no {
            width: 100%;
        }

            .staff-card .group-no > .items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

                .staff-card .group-no > .items > .posts {
                    margin: 0 2rem;
                }

        .staff-card .staff-name {
            width: 84px;
        }

    .official-website .information {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 30px;
    }

    .information .jacket {
        width: 40%;
        max-width: 450px;
    }

    @media screen and (max-width: 768px) {
        .information .jacket {
            width: 100%;
            max-width: 350px;
        }

        .information .description {
            width: 100%;
            max-width: 350px;
        }
    }

    .information .description .detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.6rem;
        margin-bottom: 0;
        border-left: 2px solid var(--main-color);
        font-size: 1rem;
    }

        .information .description .detail > div.title {
            margin-bottom: 20px;
            color: var(--main-color);
        }

        .information .description .detail > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 20px;
            padding-left: 20px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .information .description .detail > div dt {
                width: 4.5rem;
            }

            .information .description .detail > div.title dd {
                font-size: 2rem;
                line-height: 2.5rem;
            }

            .information .description .detail > div dd {
                font-weight: bold;
                margin-bottom: 0;
            }

    #top .button-area {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 7%;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        gap: 4vh;
        justify-content: center;
    }

        #top .button-area > div {
            min-width: 200px;
        }
@media screen and (max-width: 768px) {
    #top .button-area > div {
        min-width: 100px;
    }
}
.official-website .introduce {
    white-space: pre-line;
    font-size: 1rem;
}
.pre-img {
    width: 0;
    height: 0;
}
