@inject IDataCacheService _dataCacheService

<div class="h-100 rounded shadow-sm  bg-opacity pt-4" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div>
        <MBorder >
            <MCardTitle Class="pt-0">@Title</MCardTitle>
            <MCardSubtitle Class="pb-0">@BriefIntroduction</MCardSubtitle>
        </MBorder>
    </div>
    <div class="p-4">
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="执行" IsAsync="true" OnClick="OnToolClick" Icon="mdi-send" />
    </div>

</div>

@code { [Parameter]
    public EventCallback OnToolClick { get; set; }

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string BriefIntroduction { get; set; }
}
