@inject IDataCacheService _dataCacheService

<MDCard Class="h-100 pt-4" Style=" flex-direction: column; justify-content: space-between;">
    <div>
        <MBorder >
            <MCardTitle Class="pt-0">@Title</MCardTitle>
            <MCardSubtitle Class="pb-0">@BriefIntroduction</MCardSubtitle>
        </MBorder>
    </div>
    <div class="p-4">
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Rounded Text="执行" IsAsync="true" OnClick="OnToolClick" Icon="mdi-send" />
    </div>

</MDCard>

@code { [Parameter]
    public EventCallback OnToolClick { get; set; }

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string BriefIntroduction { get; set; }
}
