
    <div class="shadow apps-footer-layout">
        <div style="display: flex; height: 45px; flex-direction: row; align-items: center;" class="ms-2 me-2">
            <Textarea style="width: 100%;background-color: #F1F1F1; border-radius: 15px; padding-top: 8px;height: -7px;border:0;"
                 class="me-2" @bind-Value="Text" rows="1" placeholder="写一些备注......" >
            </Textarea>
            <Button Color="Color.Dark" ButtonStyle="ButtonStyle.Round" Size="Size.Small" style=" width:85px" Icon="fa fa-check" IsAsync="true"  @onclick="OnClickInput" Text="提交"></Button>
        </div>
    </div>

@code {
    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    public string Text { get; set; }

    private async Task OnClickInput()
    {
        await OnSubmit.InvokeAsync(Text);
    }


}
