<div>
    @if (Model.Any(s => s.Level == PerfectionCheckLevel.High))
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="急需完善" />
            <div class="mt-3">
                @foreach (var item in Model.Where(s => s.Level == PerfectionCheckLevel.High))
                {
                    <PerfectionCheckAloneViewTip Model="@item"></PerfectionCheckAloneViewTip>
                }
            </div>
        </div>
    }
    @if (Model.Any(s => s.Level != PerfectionCheckLevel.High && s.Level != PerfectionCheckLevel.None))
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="待完善" />
            <div class="mt-3">
                @foreach (var item in Model.Where(s => s.Level != PerfectionCheckLevel.High && s.Level != PerfectionCheckLevel.None))
                {
                    <PerfectionCheckAloneViewTip Model="@item"></PerfectionCheckAloneViewTip>
                }
            </div>
        </div>
    }
    @if (Model.Any(s => s.Level == PerfectionCheckLevel.None))
    {
        <div class="mb-3">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="已完善" />
            <div class="mt-3">
                @foreach (var item in Model.Where(s => s.Level == PerfectionCheckLevel.None))
                {
                    <PerfectionCheckAloneViewTip Model="@item"></PerfectionCheckAloneViewTip>
                }
            </div>
        </div>
    }

</div>

@code {

    [Parameter]
    public List<PerfectionCheckViewModel> Model { get; set; } = new List<PerfectionCheckViewModel>();

}
