@page "/home/random"


<TitleTip></TitleTip>


<div class="">
    <div class="" style="padding-right: 0; padding-left: 0">
        <EntryRandomListCardTip APIUrl="api/articles/GetRandomArticleListView" Title="文章" TitleIcon="fa fa-newspaper-o"  Type="articles" />

        <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/0" Title="游戏" TitleIcon="fa fa-gamepad"  />

        <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/2" Title="制作组" TitleIcon="fa fa-object-group" />

        <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/1" Title="角色" TitleIcon="fa fa-group"  IsRole="true" />

        <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/3" Title="STAFF" TitleIcon="fa fa-star" IsRole="true" />

    </div>
</div>

@code {

}
