@page "/home/random"


<TitleTip Title="随机" Description="随机的词条与文章"></TitleTip>


<div>

    <EntryRandomListCardTip APIUrl="api/articles/GetRandomArticleListView" Title="文章" TitleIcon="fa fa-newspaper-o" Type="articles" IsFrist="true" />

    <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/0" Title="游戏" TitleIcon="fa fa-gamepad" />

    <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/2" Title="制作组" TitleIcon="fa fa-object-group" />

    <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/1" Title="角色" TitleIcon="fa fa-group" IsRole="true" />

    <EntryRandomListCardTip APIUrl="api/entries/GetRandomEntryListView/3" Title="STAFF" TitleIcon="fa fa-star" IsRole="true" />


</div>

@code {

}
