@page "/sharegames/new"

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="分享游玩记录" />
<div class="anniversary-page">

    <CnGalWebSite.Shared.MasaComponent.PC.Home.Anniversaries.PlayedGames.MainCard Anniversaries/>
</div>
@code {

}
