@page "/sharegames"

<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="分享游戏库" />
<div class="anniversary-page">

    <CnGalWebSite.Shared.MasaComponent.PC.Home.Anniversaries.PlayedGames.MainCard />
</div>
@code {

}
