@page "/square"


<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="广场" Description="查看编辑概览，抽奖，投票，随机展示，数据汇总等众多内容"/>

<div class="row">
    <div class="col-12 mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Tags.Home.RandomTagGroup />
    </div>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <div class="col-12 mb-4">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.Square.UserRatingGroup />
        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>


    <div class="col-12 mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Square.EditOverviewCard />
    </div>
    <div class="co-12" style="width:100%">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Square.NavLinkGroup />
    </div>
    <div class="col-12 mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Square.LotteryGroup />
    </div>
    <div class="col-12 mb-4">
        <CnGalWebSite.Shared.MasaComponent.PC.Home.Square.VoteGroup />
    </div>

</div>

@code {

}

