
<div>
    <TitleCollapseCard Icon="fa-shopping-basket" Title="周边合集">
        <div class="mt-3">
            @foreach (var item in Model)
            {
                <div class=" rounded shadow-sm  bg-opacity mb-3 ps-3 pt-3 pb-1 pe-3">
                    <PeripheryOverViewTip Model="item" />
                </div>
            }
        </div>

    </TitleCollapseCard>

</div>

@code {
    [Parameter]
    public List<GameOverviewPeripheriesModel> Model { get; set; } = new List<GameOverviewPeripheriesModel>();

    public Task CollectionChanged(bool collected, long id)
    {
        foreach (var item in Model)
        {
            foreach (var infor in item.Peripheries)
            {
                if (infor.Id == id)
                {
                    infor.IsCollected = collected;
                    if (collected)
                    {
                        infor.CollectedCount++;
                    }
                    else
                    {
                        infor.CollectedCount--;
                    }
                }
            }
        }

        StateHasChanged();

        return Task.CompletedTask;
    }
}
