@if (Model.MainState == EditState.Preview)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/peripheries/EditMain/" + Model.Id)" ExamineType="Operation.EditPeripheryMain" OnClickRevoke="OnRevoke"/>
}

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="基础信息" Icon="fa fa-fw fa-info-circle">
    <div class="row">

        <div class="col-12 col-md-6">
            <i class="fa fa-fw  fa-tag font-color "></i>&nbsp;&nbsp;@Model.Type.GetDisplayName()
        </div>
        @if (string.IsNullOrWhiteSpace(Model.Category) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa  fa-fw font-color fa-hashtag"></i>&nbsp;&nbsp;@Model.Category
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Size) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa  fa-fw font-color fa-cube"></i>&nbsp;&nbsp;尺寸：@Model.Size
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Brand) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa fa-fw font-color fa-trademark"></i>&nbsp;&nbsp;品牌：@Model.Brand
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Author) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa  fa-fw font-color fa-trademark"></i>&nbsp;&nbsp;作者：@Model.Author
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Material) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa fa-fw font-color fa-puzzle-piece"></i>&nbsp;&nbsp;材质：@Model.Material
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.IndividualParts) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa fa-fw font-color fa-signal"></i>&nbsp;&nbsp;单独部件数量：@Model.IndividualParts
            </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Price) == false)
        {
            <div class="col-12 col-md-6">
                <i class="fa font-color fa-fw fa-money"></i>&nbsp;&nbsp;价格：@Model.Price
            </div>
        }
        @if (Model.IsReprint)
        {
            <div class="col-12 col-md-6">
                <i class="fa font-color fa-fw fa-check-square-o"></i>&nbsp;&nbsp;已再版
            </div>
        }
        else
        {
            <div class="col-12 col-md-6">
                <i class="fa font-color fa-fw fa-minus-square-o"></i>&nbsp;&nbsp;未再版
            </div>

        }

        @if (Model.IsAvailableItem)
        {
            <div class="col-12 col-md-6">
                <i class="fa font-color fa-fw  fa-tag"></i>&nbsp;&nbsp;@(Model.IsAvailableItem ? "装饰品":"")
            </div>

        }

        @if (Model.Type == PeripheryType.SetorAlbumEtc)
        {
            @if (Model.PageCount != 0)
            {
                <div class="col-12 col-md-6">
                    <i class="fa fa-fw font-color fa-file-text-o"></i>&nbsp;&nbsp;页数：@Model.PageCount
                </div>
            }
        }
        @if (Model.Type == PeripheryType.Ost)
        {
            @if (Model.SongCount != 0)
            {
                <div class="col-12 col-md-6">
                    <i class="fa fa-fw font-color fa-file-text-o"></i>&nbsp;&nbsp;歌曲数：@Model.SongCount
                </div>
            }
        }
        @if (string.IsNullOrWhiteSpace(Model.SaleLink) == false)
        {
            <div class="col-12 text-truncate">
                <i class="fa fa-fw font-color fa-link"></i>&nbsp;&nbsp;贩售链接：<a href="@Model.SaleLink" style="word-break: break-all;" target="_blank">@Model.SaleLink</a>
            </div>
        }
    </div>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {

    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    [Parameter]
    public PeripheryViewModel Model { get; set; }

}
