
<div>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa-codepen" Title="相关词条" Collapable Outline>
        <div class="mt-3">
            <div>
                @foreach (var item in Model.Entries)
                {
                    <div class="mb-3">
                        <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item"  BigCardStyle/>
                    </div>
                }

            </div>
        </div>

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

    @if ((Model.Peripheries.Count > 0 && Model.Type != PeripheryType.Set))
    {
        <div class="mt-3">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa-shopping-basket" Title="相关周边" Collapable Outline>
                <div class="mt-3">

                    @if (Model.Type != PeripheryType.Set)
                    {
                        @foreach (var item in Model.Peripheries)
                        {
                            <div class="mb-3">
                                <CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip Model="item" />
                            </div>
                        }
                    }
                </div>

            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
        </div>
    }


</div>

@code {
    [Parameter]
    public PeripheryViewModel Model { get; set; }

}
