@inject IDataCacheService _dataCacheService
@implements IDisposable

@if (Model.Tags.Any())
{
    <div class="rounded shadow-sm p-2 bg-opacity mb-4">
        <div class="row">
            @{ var i = 0;}
            @foreach (var item in Model.Tags.OrderByDescending(s => s.Children.Count))
            {

                <div class="col-12 col-lg-6">
                    <TagsRow Model="item" OnChanged="OnChanged" Color="@GetColor(i)" TotalCount="Model.CVInfors.Count" />
                </div>
                i++;
            }
        </div>

    </div>
}


@code {
    [Parameter]
    public CVThematicPageViewModel Model { get; set; } = new CVThematicPageViewModel();
    [Parameter]
    public EventCallback OnChanged { get; set; }

    public string GetColor(int index)
    {
        return index switch { 0 => "red", 1 => "pink", 2 => "purple", 3 => "deep-purple", 4 => "indigo", 5 => "blue", 6 => "cyan", _ => "teal" };
    }

    protected override async Task OnInitializedAsync()
    {
        _dataCacheService.RefreshRequsted -= RefreshRequsted;
        _dataCacheService.RefreshRequsted += RefreshRequsted;

    }

    public async void RefreshRequsted(object sender, EventArgs args)
    {
        await InvokeAsync(StateHasChanged);

    }
    #region 释放实例

    public void Dispose()
    {

        _dataCacheService.RefreshRequsted -= RefreshRequsted;

        GC.SuppressFinalize(this);
    }
    #endregion
}
