<div class="rounded  shadow-sm bg-opacity mb-4">
        <a href="/Anniversaries/Lottery">
            <img loading="lazy" style="width:100%" src="https://tucang.cc/api/image/show/8394e75c9094cd50384bbf4358851991?https://image.cngal.org/images/2022/06/30/0fbc4950e06e.png">
        </a>
        <a target="_blank" href="//live.bilibili.com/4622426">
            <img loading="lazy" style="width:100%" src="https://tucang.cc/api/image/show/9f18c012c7ebe683605d4db75eebd91d?https://image.cngal.org/images/2022/07/01/9b627a822af1.png">
        </a>
        <a href="/Anniversaries/Rating">
            <img loading="lazy" style="width:100%" src="https://tucang.cc/api/image/show/f3418fd7a8c91882e76b39b00d35b928?https://image.cngal.org/images/2022/07/01/ac2ebf501a9b.png">
            <img loading="lazy" style="width:100%" src="https://tucang.cc/api/image/show/e6bde7cd852902901a0f8ec1980e0001?https://image.cngal.org/images/2022/07/01/7c6a07dfec91.png">
        </a>
</div>
@if (isReady)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="留言板" Icon="fa fa-fw fa-sticky-note-o" Outline>
        <CnGalWebSite.Shared.MasaComponent.PC.Comments.CommentTip CanComment CanDeleted="CanDeleted" ObjectId="3" Type="CommentType.CommentLottery" />
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

}

@code {

    bool CanDeleted;
    bool isReady;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userState = await authenticationStateTask;
            var user = userState.User;
            if (user.IsInRole("Admin"))
            {
                CanDeleted = true;
            }

            isReady = true;
        }
        catch (Exception exc)
        {
            //isNotFound = true;
            //isReady = true;
            //StateHasChanged();
        }

    }

}
