@inject IDataCacheService _dataCatcheService

<div class="rounded  shadow-sm bg-opacity mb-4">
    @((MarkupString)Model.MainPage)
</div>



@if (isReady)
{
        <CnGalWebSite.Shared.MasaComponent.PC.Comments.CommentTip CanComment CanDeleted="CanDeleted" ObjectId="1220" Type="CommentType.CommentArticle" />

}

@code {

    bool CanDeleted;
    bool isReady;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public ArticleViewModel Model { get; set; } = new ArticleViewModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userState = await authenticationStateTask;
            var user = userState.User;
            if (user.IsInRole("Admin"))
            {
                CanDeleted = true;
            }
            Model = await _dataCatcheService.ArticleIndexPageCatche.GetCache("1220");
            isReady = true;
        }
        catch (Exception exc)
        {
            //isNotFound = true;
            //isReady = true;
            //StateHasChanged();
        }

    }

}
