

<a class="d-flex" href="/">
    <div style="display: flex; align-items: center;">
        <img src="https://res.cngal.org/_content/CnGalWebSite.Shared/images/logo.png" style="height:35px;width:35px;border-radius: var(--md-card-border-radius);" alt="logo">

        <div style="font-size:24px;" class="ms-2 fw-bold d-none d-md-flex primary-text">
            CnGal资料站
        </div>
    </div>
</a>

@code {
    [Parameter]
    public bool Admin { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
}
