
<div class="@(IsShadow?"shadow-sm":"")" style=" position: fixed; top: 0;width:100%;z-index:10000;background-color:white;color:gray;">
    <div style="display: flex; height: 45px; flex-direction: row; align-items: center;" class="ms-2 me-2">
        <div style=" display: flex; flex-direction: column; justify-content: center;" class="me-2" @onclick="OnClickGoBack">
            <i class="fa fa-chevron-left fa-fw " style=" font-size: 17px;"></i>
        </div>
        <div style=" width: 100%; font-size: 16px; text-align: center; margin-right: 30px; " class="text-truncate">
            @Title
        </div>
        <div style=" display: flex; flex-direction: column; justify-content: center;" class="me-2" @onclick="OnClickEdit">
            <i class="fa fa-pencil  fa-fw " style=" font-size: 17px;"></i>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public bool IsShadow { get; set; }
    [Parameter]
    public EventCallback OnClickGoBack { get; set; }
    [Parameter]
    public EventCallback OnClickEdit { get; set; }
}

