@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IEventService _eventService

<CnGalWebSite.Components.Containers.MasaTitleContainer Title="账户安全" Icon="@IconType.Security.ToIconString()" Class="h-100">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <span>修改密码、邮箱、手机号、第三方登入等信息</span>

        <div style="display: flex; justify-content: flex-end;">
            <div>
                <MButton Text Block OnClick="OnClick" Color="primary">
                    <MIcon Left>@IconType.Security.ToIconString()</MIcon>
                    前往安全中心
                </MButton>
            </div>

        </div>
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {

    public void OnClick()
    {
        _eventService.OpenNewPage("https://oauth2.cngal.org/Account/SelectModifyField");

    }
}
