@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Components.Containers.MasaTitleContainer Title="电子邮箱" Icon="fa fa-fw fa-envelope" Class="h-100">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <span>电子邮箱：@Model.Email</span>

        <div style="display: flex; justify-content: flex-end;">
            <div>
                <MButton Text Block  OnClick="OnClick" Color="primary">
                    <MIcon Left>mdi-link-variant-plus</MIcon>
                    更换绑定
                </MButton>
            </div>

        </div>
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {
    [Parameter]
    public EditUserDataViewModel Model { get; set; } = new EditUserDataViewModel();

    public void OnClick()
    {
        NavigationManager.NavigateTo("/account/ChangeEmail/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));
        
    }
}
