<CnGalWebSite.Components.Containers.MiniModeContainer>
    <section class="support-card">
        <h2>支持我们</h2>
        <div class="group">

            <MDCard Class="item" Href="https://space.bilibili.com/145239325" Target="_blank">
                <MIcon Size="@("2rem")">@IconType.Flash.ToIconString()</MIcon>
                <div class="content">
                    <div class="name">为TA充电</div>
                    <div class=" label-large">CnGal 中文GalGame资料站 的日常运营</div>
                </div>
            </MDCard>
        </div>
    </section>
</CnGalWebSite.Components.Containers.MiniModeContainer>

@code {

}
