<div class="home-brief-card">
    <div class="actions-card">
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-1.jpg" Name="前往抽奖" Url="https://www.cngal.org" ShowName />
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-2.jpg" Name="直播间" Url="https://www.cngal.org" ShowName />
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-3.jpg" Name="活动须知" Url="https://www.cngal.org" ShowName />
    </div>
    <div class="content-card">
        <div class="title-card">
            <span>
                简介
            </span>
        </div>
        <div class="text-card">
            本活动旨在借资料站周年之际让玩家了解到最新的中文美少女游戏资讯<br />
            节目将在<a href="https://live.bilibili.com/4622426" target="_blank">Bilibili</a>进行直播<br />
            这里有新作首曝，也有久候再见，有新锐创意，也有熟悉的身影。
            期待你的关注！
        </div>
    </div>
</div>

@code {

}
