<div class="home-brief-card">
    <div class="actions-card">
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-1.jpg" Name="前往抽奖" Url="https://www.cngal.org" ShowName />
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-2.jpg" Name="直播间" Url="https://www.cngal.org" ShowName />
        <ImageButtonCard Image="https://res.cngal.org/images/expo/home-image-3.jpg" Name="活动须知" Url="https://www.cngal.org" ShowName />
    </div>
    <div class="content-card">
        <div class="title-card">
            <span>
                简介
            </span>
        </div>
        <div class="text-card">
            本节目旨在介绍最新的中文美少女游戏资讯<br />
            节目将在Bilibili平台进行直播，迄今已展出过超1145款游戏<br />
            备受CNGAL游戏玩家的关注
        </div>
    </div>
    <img class="image-card" src="https://res.cngal.org/images/expo/home-image-4.jpg" alt="宣传图4" loading="lazy" />
</div>

@code {

}
