@inject MasaBlazor MasaBlazor
@implements IDisposable

<div class="home-head-card">
    <div class="image-card">
        @if (MasaBlazor.Breakpoint.Name >= Breakpoints.Md)
        {
            <img src="https://res.cngal.org/images/expo/cover_time.png" alt="左侧主视觉图" loading="lazy" />
            <a class="img-btn" href="/lottery"></a>
        }
        else
        {
            <a href="/lottery">
                <img src="https://res.cngal.org/images/expo/cover_time.png" alt="左侧主视觉图" loading="lazy" />
                <a class="img-btn" href="/lottery"></a>
            </a>
        }
    </div>

    <div class="cngal-card">
        <span>『</span>
        <span>
            近百个制作组齐聚一堂，带来他们的热情、梦想与热爱<br />
            <br />
            无论你是刚踏入这里的新朋友<br />
            还是一直默默关注CNGAL的老玩家<br />
            这场直播，都不容错过<br />
        </span>
        <span>』</span>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();

        MasaBlazor.BreakpointChanged += BreakpointOnOnUpdate;
    }

    private void BreakpointOnOnUpdate(object? sender, BreakpointChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        MasaBlazor.BreakpointChanged -= BreakpointOnOnUpdate;
    }
}
