<div class="home-head-card">
    <div class="image-card">
        <img src="https://res.cngal.org/images/expo/kv_left1.png" alt="左侧主视觉图" loading="lazy" />
        <img src="https://res.cngal.org/images/expo/kv_right1.png" alt="右侧宣传海报" loading="lazy" />
    </div>
    <div class="post-card">
        <div>活动抽奖任务进行中</div>
        <div class="button-card">前往抽奖</div>
    </div>
    <div class="cngal-card">
        <span>『</span>
        <span>
            近百个制作组齐聚一堂，带来他们的热情、梦想与热爱<br />
            <br />
            无论你是刚踏入这里的新朋友<br />
            还是一直默默关注CNGAL的老玩家<br />
            这场直播，都不容错过<br />
        </span>
        <span>』</span>
    </div>
</div>

@code {

}
