<div class="home-head-card">
    <div class="image-card">
        <img src="https://res.cngal.org/images/expo/kv_left1.png" alt="左侧主视觉图" loading="lazy" />
        <img src="https://res.cngal.org/images/expo/kv_right1.png" alt="右侧宣传海报" loading="lazy" />
    </div>
    <div class="post-card">
        <div>参展作品报名中</div>
        <div>报名截止：06月30日</div>
        <div class="button-card">前往报名</div>
    </div>
    <div class="cngal-card">
        <span>『</span>
        <span>
            大概是一段慷慨激昂，不觉明历的宣传语<br />
            让大伙看了之后都非常感动<br />
            传达了CNGAL的宗旨和理念喵
        </span>
        <span>』</span>
    </div>
</div>

@code {

}
