<div class="home-sponsors-card">
    <div class="sponsors-card">
        <div class="title-card">
            <span>赞助商</span>
        </div>
        <div class="items-card">
            无
           @*  <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
      *@   </div>
    </div>
    <div class="media-partners-card">
        <div class="title-card">
            <span>合作媒体</span>
        </div>
        <div class="items-card">
            虚位以待 @* <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
            <ImageButtonCard Image="https://tucang.cngal.top/api/image/show/5f61e77b8edc85350cf4ba00e20b7f55?https://image.cngal.org/images/upload/20241024/3e02fac028ecc73055466066ef7ea2a4eeea75b4.jpg" Name="CnGal鉴赏家" Url="https://www.cngal.org" />
         *@</div>
    </div>
</div>

@code {

}
