
<div class="@Class">
    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <MDCard Outline Class="mb-4 pa-3 ">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.Markdown.MarkdownViewTip Text="@Model.MainPage" IsNeedHighlight="true" />
        </MDCard>
    }
    @if (Model.Pictures.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.ImageListCard Model="Model.Pictures" />
    }
    @if (Model.Texts.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.TextListCard Model="Model.Texts" />
    }
    @if (Model.Relevances.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.RelevanceListCard Model="Model.Relevances" />
    }
    @if (Model.Outlinks.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.OutlinkListCard Model="Model.Outlinks" />
    }
    @if (Model.Audio.Count > 0)
    {
        <CnGalWebSite.Shared.Component.Admin.Examines.Parts.AudioCard Model="Model.Audio" />
    }
</div>


@code {
    [Parameter]
    public ExaminePreDataModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }

}
