<div class="rounded  rounded shadow  bg-opacity  p-3">
    <h3 class="mb-3 text-center">@Title</h3>
    <p class="mb-4 text-center">@Subtitle</p>
    <div class="d-flex" style="justify-content: center;">
        <Spinner Color="Color.Primary" Size="Size.ExtraLarge"></Spinner>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
}
