<div class="p-3">
    <h1 class=" login-h1-text mb-3 text-center">@Title</h1>
    <p class="mb-4 text-center">@Subtitle</p>
    <div class="d-flex" style="justify-content: center;">
        <Spinner Color="Color.Primary" Size="Size.ExtraLarge"></Spinner>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
}
