

<div>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaDivider Text="其他登入方式"/>
    <div class="mt-2" style="display: flex; flex-direction: row; justify-content: center;">
        <ThirdPartyLoginButton ReturnUrl="@ReturnUrl" Type="ThirdPartyLoginType.QQ" OnRedirecting="OnRedirecting"/>
    </div>
</div>

@code {
    [Parameter]
    public string ReturnUrl { get; set; }
    [Parameter]
    public EventCallback OnRedirecting { get; set; }

}
