@inject IAuthService AuthService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

@inject ToastService? ToastService

@inject IAuthService AuthService
@inject SwalService SwalService
@inject HttpClient Http
@inject IDataCacheService _dataCacheService


<div class="p-3">
    <h1 class="h4 mb-3 text-center">@Title</h1>
    <p class="mb-4 text-center">@Subtitle</p>
    <div class="row">
        <div class="form-group col-12">
            <Button Color="Color.Primary" style="width:100%" Text=" 登入现有账户" IsOutline="true" Icon="fa fa-sign-in" Size="Size.None" @onclick="OnClickLogin"></Button>
        </div>
        <div class="form-group col-12">
            <Button Color="Color.Primary" style="width:100%" Text=" 创建新的账户" IsOutline="true" Icon="fa fa-user-plus" Size="Size.None" @onclick="OnClickRegister"></Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnPassed { get; set; }
    [Parameter]
    public string ReturnUrl { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationStateTask;
            var user = authState.User;
            if (user.Identity.IsAuthenticated)
            {
                await OnPassed.InvokeAsync();
                return;
            }
        }
        catch
        {
            await SwalService.ShowModal(new SwalOption()
            {
                
                Category = SwalCategory.Error,
                Title = "尝试验证身份失败",
                Content = "无法连接到服务器，请确保网络正常后联系开发人员"
            });
            NavigationManager.NavigateTo(string.IsNullOrWhiteSpace(ReturnUrl) ? "/" : ToolHelper.Base64DecodeUrl(ReturnUrl));
        }
    }

    private void OnClickLogin()
    {
        _dataCacheService.IsOnThirdPartyLogin = false;
        NavigationManager.NavigateTo("/account/login/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));
        
    }

    private void OnClickRegister()
    {
        _dataCacheService.IsOnThirdPartyLogin = false;
        NavigationManager.NavigateTo("/account/register/" + ToolHelper.Base64EncodeUrl(NavigationManager.Uri));
        
    }
}
